Repository PowerDNS/pdns, pull requests merged in 2018-09, with the labels that each got.

#6881 Keep track of what destinations are causing the most timeouts
  pdns/pdns_recursor.cc
  pdns/rec_channel.hh
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/recursordist/html/index.html
  pdns/recursordist/html/local.js
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/ws-recursor.cc
Labels: enhancement, rec

#6901 Added Prometheus stats support for dnsdist
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/guides/webserver.rst
Labels: dnsdist, enhancement, needs review

#6848 recursor: Add pdnslog to Lua configuration scripts
  pdns/rec-lua-conf.cc
  pdns/recursordist/docs/lua-config/index.rst
Labels: backport to stable?, enhancement, rec

#6882 Dump the throttle map
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/syncres.cc
  pdns/syncres.hh
Labels: enhancement, rec

#6919 recursor 4.1: Add pdnslog to Lua configuration scripts
  pdns/rec-lua-conf.cc
Labels: backport to stable?, enhancement, rec

#6921 Remove GOST support and Botan in the process
  build-scripts/travis.sh
  configure.ac
  docs/appendices/crypto-export.rst
  docs/dnssec/pkcs11.rst
  m4/pdns_enable_botan.m4
  pdns/Makefile.am
  pdns/botansigners.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/botansigners.cc
  pdns/recursordist/configure.ac
  pdns/recursordist/m4/pdns_enable_botan.m4
  pdns/recursordist/test-syncres_cc.cc
  pdns/test-signers.cc
  pdns/version.cc
Labels: auth, rec

#6915 make negcache-tests-dotted-cname test portable between Python versions
  regression-tests.nobackend/negcache-tests-dotted-cname/command
  regression-tests.nobackend/negcache-tests-dotted-cname/pipe.py
Labels: auth, enhancement

#6895 ixfrdist: Fix TTL, optimize the construction of answers
  docs/manpages/ixfrdist.yml.5.rst
  pdns/ixfrdist.cc
  pdns/ixfrdist.example.yml
Labels: defect, enhancement, needs review

#6905 Update boost.m4
  m4/boost.m4
Labels: backport to stable?

#6913 actually truncate truncated responses; fixes #6912
  pdns/dnspacket.cc
  regression-tests/tests/too-big-for-udp-query/expected_result
Labels: auth, backport to stable?, defect

#6917 Release memory in case of error in the OpenSSL ECDSA constructor
  pdns/opensslsigners.cc
Labels: auth, backport to stable?, rec

#6847 dnsdist: Set a correct EDNS OPT RR for self-generated answers
  pdns/dnsdist-console.cc
  pdns/dnsdist-ecs.cc
  pdns/dnsdist-ecs.hh
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/test-dnsdistrules_cc.cc
  pdns/dnsparser.cc
  pdns/dnsparser.hh
  pdns/test-dnsdist_cc.cc
  pdns/test-dnsdistpacketcache_cc.cc
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_Basics.py
  regression-tests.dnsdist/test_EDNSSelfGenerated.py
Labels: dnsdist, enhancement

#6925 rec: rec_control/ws toLogString
  pdns/rec_channel_rec.cc
  pdns/syncres.cc
  pdns/ws-recursor.cc
Labels: backport to stable?, defect, rec

#6929 Update rec_channel_rec.cc
  pdns/rec_channel_rec.cc
Labels: defect, rec

#6930 rec: fix outgoingProtobufServer config instantiation
  pdns/rec-lua-conf.cc
  regression-tests.recursor-dnssec/test_Protobuf.py
Labels: defect, rec

#6933 Fixed small spelling mistakes in serverselection.rst
  pdns/dnsdistdist/docs/guides/serverselection.rst
Labels: defect, dnsdist, docs

#6931 Document authoritative server cache endpoint
  docs/http-api/cache.rst
  docs/http-api/index.rst
  docs/http-api/swagger/authoritative-api-swagger.yaml
Labels: auth, docs

#6926 rec: Minor nit
  pdns/ws-recursor.cc
Labels: enhancement, rec

#6922 document direct-dnskey setting also affects CDS and CDNSKEY records
  docs/settings.rst
  pdns/common_startup.cc
  pdns/pdnsutil.cc
Labels: auth, docs, enhancement

#6948 Fix compilation with LibreSSL 2.7.0+
  pdns/opensslsigners.cc
Labels: auth, backport to stable?, enhancement, rec

#6945 realign ucontext stack after #6719
  pdns/mtasker_ucontext.cc
Labels: backport to stable?, defect, rec

#6960 rec: Cleanup the netmask trees used for the ECS index on removals
  pdns/recursor_cache.hh
Labels: backport to stable?, defect, rec

#6961 rec-4.1.x: Cleanup the netmask trees used for the ECS index on removals
  pdns/recursor_cache.hh
Labels: defect, rec

#6956 dnsdist: Fix compilation when SO_REUSEPORT is not defined
  pdns/dnsdist.cc
Labels: defect, dnsdist

#6951 rec: clear all caches on (N)TA changes.
  pdns/rec_channel_rec.cc
Labels: backport to stable?, defect, rec

#6811 [do not merge] apply ALIAS scopemask after chasing
  pdns/dnsproxy.cc
  pdns/dnsproxy.hh
  pdns/packethandler.cc
Labels: auth, enhancement

#6968 Sphinx 1.8.0 seems broken, use any other version available instead
  docs/requirements.txt
  pdns/dnsdistdist/docs/requirements.txt
  pdns/recursordist/docs/requirements.txt
Labels: auth, backport to stable?, dnsdist, docs, rec

#6972 auth-4.1.x: Sphinx 1.8.0 seems broken, use any other version available instead
  docs/requirements.txt
  pdns/dnsdistdist/docs/requirements.txt
  pdns/recursordist/docs/requirements.txt
Labels: auth, docs

#6971 rec-4.1.x: Sphinx 1.8.0 seems broken, use any other version available instead
  docs/requirements.txt
  pdns/dnsdistdist/docs/requirements.txt
  pdns/recursordist/docs/requirements.txt
Labels: rec

#6976 apply ALIAS scopemask after chasing
  pdns/dnsproxy.cc
  pdns/dnsproxy.hh
  pdns/packethandler.cc
Labels: auth

#6970 Update the required version of ffi in the remote backend
  modules/remotebackend/Gemfile.lock
  modules/remotebackend/regression-tests/Gemfile.lock
Labels: auth, backport to stable?

#6963 rec-4.1.x: Make sure that the ECS scope from the auth is < to the source
  pdns/lwres.cc
  regression-tests.recursor-dnssec/test_ECS.py
Labels: rec

#6946 align mthread stacks on 16-byte boundaries
  pdns/mtasker.hh
Labels: enhancement, rec

#6940 rec: Drop incoming queries with a qdcount of 0
  pdns/pdns_recursor.cc
  pdns/rec-snmp.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/metrics.rst
  pdns/syncres.hh
Labels: backport to stable?, rec

#6938 If master doesnt support IPv4/IPv6, but slave does
  docs/settings.rst
Labels: auth, docs, needs review

#6984 rec: Delay the creation of RPZ threads until we have dropped privileges
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/rec_channel_rec.cc
Labels: defect, rec

#6977 rec: Show elapsed time in rec_control current-queries
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/syncres.hh
Labels: enhancement, rec

#6939 dnsdist: do not iterate over hash map for chashed based query distribution
  pdns/dnsdist.cc
Labels: defect, dnsdist

#6973 ixfrdist regression tests
  .travis.yml
  build-scripts/travis.sh
  docs/manpages/ixfrdist.yml.5.rst
  pdns/ixfrdist.cc
  pdns/ixfrdist.example.yml
  regression-tests.ixfrdist/ixfrdisttests.py
  regression-tests.ixfrdist/requirements.txt
  regression-tests.ixfrdist/runtests
  regression-tests.ixfrdist/test_IXFR.py
Labels: enhancement

#6975 Enhance query-logging with timing for MySQL, PostgreSQL and SQLite
  modules/gmysqlbackend/smysql.cc
  modules/gpgsqlbackend/spgsql.cc
  pdns/ssqlite3.cc
Labels: auth, enhancement

#6822 add incremental slave-check backoff also for failed AXFR
  docs/modes-of-operation.rst
  pdns/slavecommunicator.cc
Labels: auth, enhancement
