Repository PowerDNS/pdns, pull requests merged in 2018-02, with the labels that each got.

#6253 dnsdist: fix build without protobuf
  pdns/dnsdist.cc
Labels: defect, dnsdist

#6259 dnsdist: avoid port reuse in tests
  regression-tests.dnsdist/test_Dnstap.py
Labels: defect, dnsdist

#6258 ixfrdist: Check the serial even if verbose is off
  pdns/ixfrdist.cc
Labels: defect

#6237 Retry loading RPZ zones from server.
  pdns/filterpo.hh
  pdns/rec-lua-conf.cc
  pdns/reczones.cc
  pdns/rpzloader.hh
Labels: defect, rec

#6257 dnsdist: fix error formatting
  regression-tests.dnsdist/dnsdisttests.py
Labels: defect, dnsdist

#6266 dnsdist: Backports for 1.2.1
  modules/remotebackend/.bundle/config
  pdns/Makefile.am
  pdns/dnsdist-lua.cc
  pdns/dnsdist-lua2.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/dnsdistdist/test-iputils_hh.cc
  pdns/dnsrulactions.hh
  pdns/misc.cc
  pdns/mplexer.hh
  pdns/recursordist/Makefile.am
  pdns/test-iputils_hh.cc
  regression-tests.dnsdist/test_Advanced.py
  regression-tests.dnsdist/test_DynBlocks.py
  regression-tests.dnsdist/test_TCPKeepAlive.py
Labels: dnsdist

#6260 backport: forbid label compression in ALIAS wire format
  pdns/dnsrecords.cc
Labels: auth, defect

#6267 dnsdist: Update the ChangeLog for the 1.2.1 release
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist, docs

#6272 dnsdist: Only run dnsdist's tests on rel/dnsdist-1.2.x
  .travis.yml
Labels: dnsdist, enhancement

#6268 ixfrdist: Allow setting the inbound AXFR timeout
  pdns/ixfrdist.cc
  pdns/resolver.cc
  pdns/resolver.hh
Labels: enhancement

#6279 dnsdist: Clean up QTag code
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdist.hh
Labels: dnsdist, enhancement

#6283 dnsdist: Report Lua(Response)Action failures
  pdns/dnsdist-lua-vars.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdist-snmp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/DNSDIST-MIB.txt
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/dnsdistdist/docs/statistics.rst
  regression-tests.dnsdist/test_API.py
Labels: dnsdist, enhancement

#6287 dnsdist: Move Lua(Response)Action operator() out of header file
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua.hh
Labels: dnsdist

#6284 dnsdist: In tests use protobuf3 on macOS
  regression-tests.dnsdist/requirements.txt
Labels: dnsdist, enhancement

#6282 Ignore *.service in pdns/
  pdns/.gitignore
Labels: enhancement

#6293 rec: Ensure we don't hammer the RPZ master server
  pdns/reczones.cc
Labels: defect, rec

#6292 ixfrdist: Keep latest AXFR and `--keep` IXFR's in memory
  pdns/ixfrdist.cc
  pdns/ixfrutils.hh
Labels: enhancement, tools

#6128 GeoIPbackend improvements
  .gitignore
  build-scripts/travis.sh
  docs/backends/geoip.rst
  m4/pdns_with_geo.m4
  modules/geoipbackend/Makefile.am
  modules/geoipbackend/OBJECTFILES
  modules/geoipbackend/OBJECTLIBS
  modules/geoipbackend/geoipbackend.cc
  modules/geoipbackend/geoipbackend.hh
  modules/geoipbackend/geoipinterface-dat.cc
  modules/geoipbackend/geoipinterface-mmdb.cc
  modules/geoipbackend/geoipinterface.cc
  modules/geoipbackend/geoipinterface.hh
  modules/geoipbackend/regression-tests/GeoLiteCity-Blocks.csv
  modules/geoipbackend/regression-tests/GeoLiteCity-Location.csv
  modules/geoipbackend/regression-tests/GeoLiteCity.dat.b64
  modules/geoipbackend/regression-tests/GeoLiteCity.mmdb.b64
  modules/geoipbackend/regression-tests/apex-record/command
  modules/geoipbackend/regression-tests/empty-record-resolution/command
  modules/geoipbackend/regression-tests/empty-record-resolution/description
  modules/geoipbackend/regression-tests/empty-record-resolution/expected_result
  modules/geoipbackend/regression-tests/loc-resolution/command
  modules/geoipbackend/regression-tests/loc-resolution/description
  modules/geoipbackend/regression-tests/loc-resolution/expected_result
  modules/geoipbackend/regression-tests/region-a-resolution/command
  modules/geoipbackend/regression-tests/region-cname-resolution/command
  modules/geoipbackend/regression-tests/write-mmdb.pl
  regression-tests/backends/geoip-master
Labels: auth, enhancement

#6290 rec: Implement settable AXFR timeout for RPZ
  pdns/rec-lua-conf.cc
  pdns/recursordist/docs/lua-config/rpz.rst
  pdns/reczones.cc
  pdns/rpzloader.cc
  pdns/rpzloader.hh
Labels: backport to stable?, rec

#6299 dnsdist: Fix the documentation for MaxQPSRule()
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: defect, dnsdist, docs

#6302 ixfrdist: Also respect the AXFR timeout for the chunk's length
  pdns/resolver.cc
  pdns/resolver.hh
Labels: auth, backport to stable?, defect, rec, tools

#6303 Backport 6302: ixfrdist: Also respect the AXFR timeout for the chunk's length
  pdns/resolver.cc
  pdns/resolver.hh
Labels: defect, rec

#6301 Remove leftover -I ext/rapidjson
  pdns/recursordist/Makefile.am
Labels: rec

#6300 Fix ECS-based cache entry refresh code
  pdns/recursor_cache.cc
Labels: defect, rec

#6297 make check-zone error on rows that have content but shouldn't
  pdns/pdnsutil.cc
Labels: auth, backport to stable?, defect

#6278 pkcs11signers: Fix yubikey NEO to work
  pdns/dnssecinfra.cc
  pdns/pdnsutil.cc
  pdns/pkcs11signers.cc
  pdns/pkcs11signers.hh
Labels: auth, enhancement

#6243 Auth: fix rectify (ordername) for non dnssec zones
  pdns/dbdnsseckeeper.cc
Labels: auth, enhancement

#6276 dnsupdate: Reject updates if they would lead to CNAME+Other data
  pdns/rfc2136handler.cc
  regression-tests/tests/1dyndns-cname-and-other-data/command
  regression-tests/tests/1dyndns-cname-and-other-data/description
  regression-tests/tests/1dyndns-cname-and-other-data/expected_result
  regression-tests/tests/1dyndns-cname-and-other-data/skip.nodyndns
Labels: auth, backport to stable?, enhancement
