Repository PowerDNS/pdns, pull requests merged in 2018-11, with the labels that each got.

#7106 Make travis use a modern python
  .travis.yml
Labels: enhancement

#7130 fix el6 recursor build by disabling protobuf support
  builder-support/specs/pdns-recursor.spec
Labels: rec

#7120 Recursor 4.1.5 backports
  contrib/ProtobufLogger.py
  pdns/dnsmessage.proto
  pdns/lwres.cc
  pdns/mtasker_ucontext.cc
  pdns/opensslsigners.cc
  pdns/pdns_recursor.cc
  pdns/protobuf.cc
  pdns/protobuf.hh
  pdns/rec_channel_rec.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/ws-recursor.cc
Labels: rec

#7121 Authoritative 4.1.5 backports
  pdns/dnspacket.cc
  pdns/opensslsigners.cc
  regression-tests/tests/too-big-for-udp-query/expected_result
Labels: auth

#7126 api tests: update requests to 2.20.0
  regression-tests.api/requirements.txt
Labels: auth, rec

#7081 rec: extend the validity period of signatures by a number of seconds
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
  pdns/validate.cc
  pdns/validate.hh
Labels: enhancement, rec

#7140 Add a PoolAvailableRule to easily add backup pools
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: dnsdist, enhancement

#7159 rec-4.1.x: Revert "rec: Authority records in AA=1 CNAME answer are authoritative"
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
Labels: defect, rec

#7165 dnsdist: Add 1.3.3 ChangeLog, update the secpoll zone
  docs/secpoll.zone
  pdns/dnsdist-cache.cc
  pdns/dnsdist-cache.hh
  pdns/dnsdist-console.cc
  pdns/dnsdist-ecs.cc
  pdns/dnsdist-ecs.hh
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist-xpf.cc
  pdns/dnsdist-xpf.hh
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-xpf.cc
  pdns/dnsdistdist/dnsdist-xpf.hh
  pdns/dnsdistdist/docs/advanced/ecs.rst
  pdns/dnsdistdist/docs/changelog.rst
  pdns/dnsdistdist/docs/security-advisories/powerdns-advisory-for-dnsdist-2018-08.rst
  pdns/dnsparser.cc
  pdns/test-dnsdist_cc.cc
  pdns/test-dnsdistpacketcache_cc.cc
  pdns/test-dnsparser_cc.cc
  regression-tests.dnsdist/test_Caching.py
Labels: dnsdist

#7080 dnsdist: Add my key to the list of those authorized to sign releases
  pdns/dnsdistdist/docs/_static/dnsdist-keyblock.asc
  pdns/dnsdistdist/docs/install.rst
Labels: defect, dnsdist, docs

#7174 rec-4.1.x: Refuse queries for all meta-types
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
Labels: rec

#7172 rec: Revert 'Keep the EDNS status of a server on FormErr with EDNS'
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
Labels: rec

#7167 Fix compiler warning about returning garbage
  pdns/dnsdist.cc
Labels: defect, dnsdist

#7161 Revert "rec: Authority records in AA=1 CNAME answer are authoritative"
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
Labels: defect, rec

#7177 Correct versionadded for getEDNSOptions and EDNSOptionView
  pdns/dnsdistdist/docs/reference/dq.rst
Labels: defect, dnsdist, docs

#7171 rec: Refuse queries for all meta-types
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
Labels: enhancement, rec

#7166 Fix some links in the dnsdist install docs
  pdns/dnsdistdist/docs/install.rst
Labels: defect, dnsdist, docs

#7168 dnsdist: Fix warnings, mostly unused parameters, reported by -Wextra
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/tcpiohandler.cc
Labels: dnsdist

#7111 Rename skipLabel function to skipDomainName
  pdns/dnsparser.cc
Labels: auth, dnsdist, enhancement, rec

#7088 rec: Add support for more than one protobuf server
  pdns/lwres.cc
  pdns/lwres.hh
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/recursordist/docs/lua-config/protobuf.rst
  pdns/recursordist/test-syncres_cc.cc
  pdns/remote_logger.hh
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/test_Protobuf.py
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: enhancement, rec

#6871 auth: api - Check DNSNames that should be hostnames
  pdns/dnsrecords.cc
  pdns/dnsrecords.hh
  pdns/pdnsutil.cc
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, defect, rest-api

#7190 Remove trailing \n from runtime_error message
  pdns/dnssecinfra.cc
Labels: defect, rec

#7183 Improve the reading of the time value section
  pdns/dnsdistdist/docs/guides/cache.rst
Labels: dnsdist, docs, enhancement

#7179 Changed .com.com to .com on line #134
  docs/migration.rst
Labels: auth, defect, docs

#6952 rec: Avoid setting a root NX unless we have AA=1
  pdns/syncres.cc
Labels: backport to stable?, defect, rec

#7198 auth-4.0.x: switch to patched jdnssec from more reliable web server
  build-scripts/travis.sh
Labels: auth

#7191 dnsdist: add optional UUID column to showServers()
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/guides/serverselection.rst
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, docs, enhancement

#7213 upgrade to jdnssec-tools 0.14
  build-scripts/travis.sh
Labels: auth

#6958 Improve RSA key warnings
  pdns/dbdnsseckeeper.cc
  pdns/dnssecinfra.hh
  pdns/dnsseckeeper.hh
  pdns/opensslsigners.cc
  pdns/pdnsutil.cc
  pdns/test-signers.cc
Labels: auth, backport to stable?

#7067 SOA-check: reject nxdomain response and check label of RR against qname
  pdns/resolver.cc
Labels: auth, backport to stable?, defect

#7087 dnsdist: Allow NoRecurse for use in dynamic blocks or lua rules
  pdns/dnsdist-lua-vars.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/constants.rst
Labels: dnsdist, enhancement, needs review

#7197 dnsdist: expose secpoll status
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-snmp.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/DNSDIST-MIB.txt
  pdns/dnsdistdist/dnsdist-secpoll.cc
  pdns/dnsdistdist/docs/statistics.rst
  regression-tests.dnsdist/test_API.py
Labels: dnsdist, enhancement

#7216 auth 4.0.x: upgrade to jdnssec-tools 0.14
  build-scripts/travis.sh
Labels: auth

#7215 dnsdist: Remove useless uint64_t* type from DNSDistStats::entry_t
  pdns/dnsdist.hh
Labels: dnsdist

#7217 auth: geoip, properly delete libGeoIP return values
  modules/geoipbackend/geoipinterface-dat.cc
Labels: auth, backport to stable?, defect

#7221 rec-4.1.x: Fix an out-of-bounds read in the packet cache
  pdns/packetcache.hh
  pdns/test-packetcache_hh.cc
Labels: defect, rec

#7222 Update changelog and secpol for rec-4.1.8
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.1.rst
  pdns/recursordist/docs/security-advisories/powerdns-advisory-2018-09.rst
Labels: rec

#7223 rec: Fix an out-of-bounds read in the packet cache
  pdns/packetcache.hh
  pdns/test-packetcache_hh.cc
Labels: defect, rec

#6869 Auth: Remove out-of-zone-additional-processing setting
  docs/appendices/FAQ.rst
  docs/settings.rst
  modules/remotebackend/regression-tests/apex-test/expected_result
  modules/remotebackend/regression-tests/ns-at-delegation/expected_result
  modules/tinydnsbackend/data
  modules/tinydnsbackend/data.cdb
  pdns/common_startup.cc
  pdns/packethandler.cc
  regression-tests.nobackend/tinydns-data-check/expected_result
  regression-tests/tests/any-nxdomain/expected_result.dnssec
  regression-tests/tests/cname-to-nxdomain/expected_result.dnssec
  regression-tests/tests/direct-nsec-nxdomain/expected_result.dnssec
  regression-tests/tests/ds-at-apex-noerror/expected_result.dnssec
  regression-tests/tests/no-out-of-zone-data/command
  regression-tests/tests/no-out-of-zone-data/description
  regression-tests/tests/no-out-of-zone-data/expected_result
  regression-tests/tests/nsec-glue/expected_result
  regression-tests/tests/nsec-middle/expected_result
  regression-tests/tests/nsec-wraparound/expected_result
  regression-tests/tests/nsec-wrong-type-at-apex/expected_result
  regression-tests/tests/nsec3-hash-query/expected_result.dnssec
  regression-tests/tests/space-name/expected_result
  regression-tests/tests/two-level-nxdomain/expected_result
  regression-tests/zones/example.com
Labels: auth, enhancement

#7235 rec: Use the SyncRes time when computing the RRSIG validity time
  pdns/recursordist/test-syncres_cc.cc
Labels: backport to stable?, defect, rec

#7224 geoip: store binary blobs instead of base64 sources
  .gitignore
  modules/geoipbackend/regression-tests/GeoLiteCity.dat
  modules/geoipbackend/regression-tests/GeoLiteCity.dat.b64
  modules/geoipbackend/regression-tests/GeoLiteCity.mmdb
  modules/geoipbackend/regression-tests/GeoLiteCity.mmdb.b64
  regression-tests.auth-py/runtests
  regression-tests/backends/geoip-master
Labels: auth, enhancement

#6838 auth: remove autoserial
  docs/backends/generic-mysql.rst
  docs/backends/generic-odbc.rst
  docs/backends/generic-oracle.rst
  docs/backends/generic-postgresql.rst
  docs/backends/generic-sql.rst
  docs/backends/oracle.rst
  modules/gmysqlbackend/4.1.0_to_4.2.0_schema.mysql.sql
  modules/gmysqlbackend/Makefile.am
  modules/gmysqlbackend/gmysqlbackend.cc
  modules/gmysqlbackend/schema.mysql.sql
  modules/godbcbackend/4.0.0_to_4.2.0_schema.mssql.sql
  modules/godbcbackend/Makefile.am
  modules/godbcbackend/godbcbackend.cc
  modules/godbcbackend/schema.mssql.sql
  modules/goraclebackend/goraclebackend.cc
  modules/goraclebackend/schema.goracle.sql
  modules/gpgsqlbackend/4.1.0_to_4.2.0_schema.pgsql.sql
  modules/gpgsqlbackend/Makefile.am
  modules/gpgsqlbackend/gpgsqlbackend.cc
  modules/gpgsqlbackend/schema.pgsql.sql
  modules/gsqlite3backend/3.4.0_to_4.0.0_schema.sqlite3.sql
  modules/gsqlite3backend/4.0.0_to_4.2.0_schema.sqlite3.sql
  modules/gsqlite3backend/Makefile.am
  modules/gsqlite3backend/gsqlite3backend.cc
  modules/gsqlite3backend/schema.sqlite3.sql
  modules/luabackend/luabackend.hh
  modules/luabackend/minimal.cc
  modules/mydnsbackend/mydnsbackend.cc
  modules/mydnsbackend/mydnsbackend.hh
  modules/opendbxbackend/odbxbackend.cc
  modules/opendbxbackend/odbxbackend.hh
  modules/oraclebackend/oraclebackend.cc
  modules/oraclebackend/schema.oracle.sql
  modules/remotebackend/httpconnector.cc
  modules/remotebackend/regression-tests/test-schema.sql
  modules/remotebackend/remotebackend.cc
  modules/remotebackend/remotebackend.hh
  modules/remotebackend/test-remotebackend.cc
  modules/remotebackend/unittest.rb
  pdns/backends/gsql/gsqlbackend.cc
  pdns/backends/gsql/gsqlbackend.hh
  pdns/dnsbackend.cc
  pdns/dnsbackend.hh
  pdns/rfc2136handler.cc
  pdns/ueberbackend.cc
  pdns/ueberbackend.hh
  pdns/ws-auth.cc
  regression-tests/backends/godbc_sqlite3-master
Labels: auth, defect, enhancement

#7233 Make api changes do a rectify by default, add an option to disable
  docs/domainmetadata.rst
  docs/settings.rst
  pdns/common_startup.cc
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
  regression-tests.api/test_helper.py
Labels: auth, enhancement, rest-api

#6731 Address Auth LUA Records issues
  docs/indexTOC.rst
  docs/lua-records/functions.rst
  docs/lua-records/index.rst
  docs/lua-records/reference/comboaddress.rst
  docs/lua-records/reference/dnsheader.rst
  docs/lua-records/reference/dnsname.rst
  docs/lua-records/reference/dnsrecord.rst
  docs/lua-records/reference/dnsresourcerecord.rst
  docs/lua-records/reference/index.rst
  docs/lua-records/reference/misc.rst
  docs/lua-records/reference/netmask.rst
  docs/lua-records/reference/qtype.rst
  pdns/lua-base4.cc
  pdns/lua-record.cc
  pdns/packethandler.cc
  pdns/pdnsutil.cc
  regression-tests.auth-py/test_LuaRecords.py
Labels: auth, enhancement

#6823 On incoming NOTIFY load our serial from backend to have it available …
  pdns/packethandler.cc
Labels: auth, defect

#7225 ixfrdist: Preserve the correct TTL for SOA records
  pdns/ixfrdist.cc
  pdns/ixfrutils.cc
  pdns/ixfrutils.hh
  regression-tests.ixfrdist/test_IXFR.py
Labels: defect, ixfrdist

#7246 auth: docs - increase latex maximum list depth
  docs/conf.py
Labels: auth, defect, docs

#6894 Improved Lua records - Added all selector, and backupSelector fallbacks
  docs/lua-records/functions.rst
  pdns/lua-record.cc
  regression-tests.auth-py/test_LuaRecords.py
Labels: auth, enhancement, needs review
