Repository PowerDNS/pdns, pull requests merged in 2018-07, with the labels that each got.

#6765 Document that BIND backend hosted zones can't be altered from the API
  docs/backends/bind.rst
Labels: auth, docs

#6720 rec: Allow the SNMP thread to retrieve statistics
  build-scripts/travis.sh
  pdns/pdns_recursor.cc
  regression-tests.recursor-dnssec/requirements.txt
  regression-tests.recursor-dnssec/snmpd.conf
  regression-tests.recursor-dnssec/test_SNMP.py
Labels: backport to stable?, defect, rec

#6771 rec: Reorder more headers to be able to build with Boost 1.67+
  pdns/recursordist/test-syncres_cc.cc
  pdns/test-recpacketcache_cc.cc
Labels: rec

#6760 dnsdist: Add netmask-based {ex,in}clusions to DynBlockRulesGroup
  pdns/dnsdist-dynblocks.hh
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/guides/dynblocks.rst
  pdns/dnsdistdist/docs/reference/config.rst
  regression-tests.dnsdist/test_DynBlocks.py
Labels: dnsdist, enhancement

#6776 dnsdist: Add DNSAction.NoOp to debug Dynamic Blocks
  pdns/dnsdist-lua-vars.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/guides/dynblocks.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/constants.rst
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_API.py
  regression-tests.dnsdist/test_DynBlocks.py
  regression-tests.dnsdist/test_HealthChecks.py
  regression-tests.dnsdist/test_TCPLimits.py
Labels: dnsdist, enhancement

#6775 dnsdist: Implement NoneAction()
  pdns/dnsdist-lua-actions.cc
  regression-tests.dnsdist/test_Advanced.py
Labels: dnsdist, enhancement

#6754 dnsdist: Detect ECS collisions in the packet cache
  pdns/dnsdist-cache.cc
  pdns/dnsdist-cache.hh
  pdns/dnsdist-ecs.cc
  pdns/dnsdist-ecs.hh
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/test-dnsdistpacketcache_cc.cc
  regression-tests.dnsdist/test_Caching.py
Labels: dnsdist, enhancement

#6773 dnsdist: Fix an outstanding counter race when reusing states
  pdns/dnsdist.cc
  pdns/dnsdist.hh
Labels: defect, dnsdist

#6734 dnsdist: Add SetECSAction to set an arbitrary outgoing ECS value
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/ednssubnet.cc
  regression-tests.dnsdist/test_EdnsClientSubnet.py
Labels: dnsdist, enhancement

#6726 dnsdist: Use LRU to clean the MaxQPSIPRule's store
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/cachecleaner.hh
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/dnsdistdist/test-dnsdistrules_cc.cc
Labels: dnsdist, enhancement

#6764 dnsdist: Add support for rotating certificates and keys
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/tcpiohandler.cc
  pdns/dnsdistdist/tcpiohandler.hh
Labels: dnsdist, enhancement

#6782 dnsdist: Fix detection of NoData / NXDomain answers in the cache
  pdns/dnsparser.cc
  pdns/test-dnsparser_cc.cc
Labels: defect, dnsdist

#6784 dnsdist: Add ChangeLog for dnsdist 1.3.1
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#6785 dnsdist: Add missing include for PRId64, fix build on CentOS 6 / SLES 12
  pdns/dnsdist-cache.cc
Labels: defect, dnsdist

#6787 dnsdist: Add ChangeLog for dnsdist 1.3.2
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist, docs

#6789 [DOC] fix botan lib link
  docs/appendices/crypto-export.rst
Labels: auth, defect, docs

#6788 dnsdist: Fix the type of maxNegativeTTL (int, not bool) in the doc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: defect, dnsdist, docs

#6780 avoid concurrent records/comments iteration from running out of sync
  pdns/ws-auth.cc
Labels: auth, backport to stable?, defect

#6738 auth: Reset the TSIG state between queries
  pdns/dnspacket.cc
Labels: auth, backport to stable?, defect, needs-tests

#6719 rec: Allocate one more stack byte to make _GLIBCXX_ASSERTIONS happy
  pdns/mtasker.cc
  pdns/mtasker_fcontext.cc
Labels: backport to stable?, rec

#6694 Assorted tiny cleanups
  pdns/buildroot.sh.in
  pdns/common_startup.cc
  pdns/dnsbackend.hh
  pdns/nameserver.cc
  pdns/receiver.cc
Labels: auth, enhancement

#6728 Newly Observed Domain Support
  build-scripts/travis.sh
  ext/probds/.gitignore
  ext/probds/Makefile.am
  ext/probds/murmur3.cc
  ext/probds/murmur3.h
  pdns/nod.cc
  pdns/nod.hh
  pdns/pdns_recursor.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/configure.ac
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/ext/Makefile.am
  pdns/recursordist/ext/probds/.gitignore
  pdns/recursordist/ext/probds/Makefile.am
  pdns/recursordist/ext/probds/murmur3.cc
  pdns/recursordist/ext/probds/murmur3.h
  pdns/recursordist/m4/pdns_enable_nod.m4
  pdns/recursordist/make-ext-symlinks.py
  pdns/recursordist/nod.cc
  pdns/recursordist/nod.hh
  pdns/recursordist/stable-bloom.hh
  pdns/recursordist/test-nod_cc.cc
Labels: enhancement, rec

#6796 geoipbackend: Document that MMDB support has been added in v4.2
  docs/backends/geoip.rst
Labels: auth, docs, enhancement

#6804 skip recursor SNMP testing in buildbot
  build-scripts/test-recursor
Labels: rec
