Repository PowerDNS/pdns, pull requests merged in 2018-04, with the labels that each got.

#6429 dnsdist: reorder headers to fix OpenBSD build
  pdns/dnsdist-lua.cc
Labels: defect, dnsdist

#6435 dnsdist cli option improvements
  pdns/dnsdist.cc
  pdns/dnsdistdist/docs/manpages/dnsdist.1.rst
Labels: dnsdist, enhancement

#6436 Split PDNS_ENABLE_UNIT_TESTS
  configure.ac
  m4/pdns_enable_backend_unit_tests.m4
  m4/pdns_enable_unit_tests.m4
Labels: auth, dnsdist, enhancement, rec

#6437 Fix reorder warning: field 'd_rname' will be initialized after field 'd_st'
  pdns/dnsrecords.hh
Labels: auth, defect, rec

#6438 make clean: rm generated .service and .conf-dist files
  pdns/Makefile.am
  pdns/dnsdistdist/Makefile.am
  pdns/recursordist/Makefile.am
Labels: auth, defect, dnsdist, rec

#6427 auth: avoid an isane amount of new backend connections during an AXFR
  pdns/signingpipe.cc
  pdns/tcpreceiver.cc
Labels: auth, backport to stable?, enhancement

#6449 fix url to gpg keyblocks
  docs/common/tarball-pgp-keys.rst
  pdns/dnsdistdist/docs/install.rst
Labels: docs

#6448 Restrict value range for weight parameter, avoid sum overflows dropping queries
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/docs/guides/serverselection.rst
  pdns/dnsdistdist/docs/reference/config.rst
  regression-tests.dnsdist/test_Routing.py
Labels: dnsdist, enhancement

#6456 rec: print the actual name of the failing file
  pdns/reczones.cc
Labels: enhancement, rec

#6021 query silliness
  docs/modes-of-operation.rst
  docs/settings.rst
  modules/bindbackend/bindbackend2.cc
  modules/bindbackend/bindbackend2.hh
  modules/geoipbackend/geoipbackend.cc
  modules/geoipbackend/geoipbackend.hh
  modules/gmysqlbackend/gmysqlbackend.cc
  modules/godbcbackend/godbcbackend.cc
  modules/goraclebackend/goraclebackend.cc
  modules/gpgsqlbackend/gpgsqlbackend.cc
  modules/gsqlite3backend/gsqlite3backend.cc
  modules/ldapbackend/ldapbackend.cc
  modules/ldapbackend/ldapbackend.hh
  modules/lua2backend/lua2api2.hh
  modules/luabackend/luabackend.hh
  modules/luabackend/private.cc
  modules/luabackend/slave.cc
  modules/opendbxbackend/odbxbackend.cc
  modules/opendbxbackend/odbxbackend.hh
  modules/opendbxbackend/odbxprivate.cc
  modules/oraclebackend/oraclebackend.cc
  modules/oraclebackend/oraclebackend.hh
  modules/remotebackend/httpconnector.cc
  modules/remotebackend/remotebackend.cc
  modules/remotebackend/remotebackend.hh
  modules/remotebackend/test-remotebackend.cc
  pdns/backends/gsql/gsqlbackend.cc
  pdns/backends/gsql/gsqlbackend.hh
  pdns/bindparser.yy
  pdns/bindparserclasses.hh
  pdns/common_startup.cc
  pdns/communicator.hh
  pdns/dbdnsseckeeper.cc
  pdns/dnsbackend.hh
  pdns/dnspacket.cc
  pdns/dnspacket.hh
  pdns/dnsseckeeper.hh
  pdns/dynhandler.cc
  pdns/iputils.hh
  pdns/logger.cc
  pdns/packethandler.cc
  pdns/packethandler.hh
  pdns/pdnsutil.cc
  pdns/resolver.cc
  pdns/resolver.hh
  pdns/rfc2136handler.cc
  pdns/slavecommunicator.cc
  pdns/test-bindparser_cc.cc
  pdns/ueberbackend.cc
  pdns/ueberbackend.hh
  pdns/ws-auth.cc
  pdns/zone2sql.cc
  regression-tests.nobackend/supermaster-signed/command
  regression-tests.nobackend/supermaster-unsigned/command
  regression-tests/backends/godbc_sqlite3-master
Labels: auth, enhancement

#5821 Ldap misc updates
  modules/ldapbackend/Makefile.am
  modules/ldapbackend/OBJECTFILES
  modules/ldapbackend/exceptions.hh
  modules/ldapbackend/ldapauthenticator.cc
  modules/ldapbackend/ldapauthenticator_p.hh
  modules/ldapbackend/ldapbackend.cc
  modules/ldapbackend/ldapbackend.hh
  modules/ldapbackend/ldaputils.cc
  modules/ldapbackend/master.cc
  modules/ldapbackend/native.cc
  modules/ldapbackend/pdns-domaininfo.schema
  modules/ldapbackend/powerldap.cc
  modules/ldapbackend/powerldap.hh
  pdns/zone2ldap.cc
  regression-tests/backends/ldap-master
  regression-tests/tests/8bit-txt-unescaped/fail.ldap-simple
  regression-tests/tests/8bit-txt-unescaped/fail.ldap-tree
  regression-tests/tests/8bit-txt-unescaped/skip.ldap-strict
  regression-tests/tests/any-query/fail.ldap-simple
  regression-tests/tests/any-query/fail.ldap-tree
  regression-tests/tests/any-query/skip.ldap-strict
  regression-tests/tests/basic-ns-resolution/fail.ldap-simple
  regression-tests/tests/basic-ns-resolution/fail.ldap-tree
  regression-tests/tests/basic-ns-resolution/skip.ldap-strict
  regression-tests/tests/ds-at-parent/fail.ldap-simple
  regression-tests/tests/ds-at-parent/fail.ldap-strict
  regression-tests/tests/mx-case-sensitivy-with-ap/fail.ldap-simple
  regression-tests/tests/mx-case-sensitivy-with-ap/fail.ldap-tree
  regression-tests/tests/mx-case-sensitivy-with-ap/skip.ldap-strict
  regression-tests/tests/mx-with-simple-additional-processing/fail.ldap-simple
  regression-tests/tests/mx-with-simple-additional-processing/fail.ldap-tree
  regression-tests/tests/mx-with-simple-additional-processing/skip.ldap-strict
  regression-tests/tests/root-mx/skip.ldap-strict
  regression-tests/tests/root-srv/skip.ldap-strict
  regression-tests/tests/secure-delegation/fail.ldap-simple
  regression-tests/tests/secure-delegation/skip.ldap-strict
Labels: auth

#6467 we increase "dnssec-validations" counter even when running with process-no-validate
  pdns/syncres.cc
Labels: backport to stable?, defect, rec

#6465 rec: Don't account chained queries more than once
  pdns/lwres.cc
  pdns/lwres.hh
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: defect, rec

#6464 auth: Allocate new statements after reconnecting to PostgreSQL
  modules/gpgsqlbackend/gpgsqlbackend.cc
  pdns/backends/gsql/gsqlbackend.hh
Labels: auth, defect

#6458 rec: Enable the ghost tests again, add a corresponding unit test
  build-scripts/travis.sh
  pdns/recpacketcache.cc
  pdns/recpacketcache.hh
  pdns/recursor_cache.cc
  pdns/recursor_cache.hh
  pdns/recursordist/test-recursorcache_cc.cc
  regression-tests.recursor/config.sh
  regression-tests.recursor/ghost-1/skip
  regression-tests.recursor/ghost-2/skip
Labels: enhancement, rec

#6443 rec: Use a separate protobuf exporter thread per worker thread
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/remote_logger.cc
  pdns/remote_logger.hh
  pdns/syncres.cc
  pdns/syncres.hh
Labels: backport to stable?, enhancement, rec

#6469 rec: Respect the AXFR timeout while connecting to the RPZ server
  pdns/misc.cc
  pdns/resolver.cc
  pdns/resolver.hh
  pdns/rpzloader.cc
Labels: backport to stable?, defect, rec

#6475 Fix compilation and use of getrandom() when available
  pdns/dns_random.cc
Labels: auth, defect, rec

#6484 recheck serial when AXFR is done
  pdns/communicator.cc
  pdns/packethandler.cc
  pdns/slavecommunicator.cc
Labels: auth, defect

#6490 Backport: recheck serial when AXFR is done
  pdns/communicator.cc
  pdns/packethandler.cc
  pdns/slavecommunicator.cc
Labels: auth

#6487 auth: Link dnspcap2protobuf against librt when needed
  pdns/Makefile.am
Labels: auth, backport to stable?, defect, tools

#6481 Add return 0 for correct exit of set-kind and set-account
  pdns/pdnsutil.cc
Labels: auth, backport to stable?, defect

#6480 Fix the dns_random unit tests, test all available backends
  pdns/dns_random.cc
  pdns/dns_random.hh
  pdns/recursordist/Makefile.am
  pdns/recursordist/test-syncres_cc.cc
  pdns/test-dns_random_hh.cc
Labels: auth, needs review, rec

#6502 dnsdist: Be more permissive in wrandom tests, log values on failure
  regression-tests.dnsdist/test_Routing.py
Labels: defect, dnsdist

#6511 rec: Add -rdynamic to C{,XX}FLAGS when we build with LuaJIT
  pdns/recursordist/configure.ac
Labels: backport to stable?, defect, rec

#6509 Remove compiler warnings pointed by Aki
  modules/ldapbackend/ldapbackend.hh
  modules/ldapbackend/powerldap.cc
Labels: auth, defect

#6507 autoconf: fix quoting; fix lua2 backend liblua check
  configure.ac
Labels: auth

#6506 rec: Stop the obsolete RPZ threads after a Lua configuration reload
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/rpzloader.cc
  pdns/rpzloader.hh
Labels: backport to stable?, enhancement, rec

#6514 rec-4.1.x: Add -rdynamic to C{,XX}FLAGS when we build with LuaJIT
  pdns/recursordist/configure.ac
Labels: defect, rec

#6508 rec: Add the possibility to preload RPZ from file, dump updates to a file
  pdns/rec-lua-conf.cc
  pdns/recursordist/docs/lua-config/rpz.rst
  pdns/rpzloader.cc
  pdns/rpzloader.hh
Labels: enhancement, needs review, rec

#6519 switch travis to luajit; lower luajit required version to 2.0.2
  build-scripts/travis.sh
  m4/pdns_with_lua.m4
Labels: auth, dnsdist, enhancement, rec

#6523 dnsdist tests: avoid failure on not-so-optimal distribution
  pdns/dnsdistdist/test-dnsdistrings_cc.cc
Labels: defect, dnsdist

#6171 LUA Records (yes we know it is Lua)
  build-scripts/build-auth-rpm
  build-scripts/debian-authoritative/control.in
  build-scripts/travis.sh
  configure.ac
  docs/conf.py
  docs/indexTOC.rst
  docs/lua-records.rst
  docs/settings.rst
  ext/luawrapper/include/LuaContext.hpp
  m4/libcurl.m4
  m4/pdns_with_lua_records.m4
  modules/geoipbackend/geoipbackend.cc
  modules/geoipbackend/geoipinterface.hh
  modules/geoipbackend/regression-tests/GeoLiteCity.mmdb.b64
  modules/geoipbackend/regression-tests/write-mmdb.pl
  pdns/Makefile.am
  pdns/common_startup.cc
  pdns/common_startup.hh
  pdns/dnsbackend.cc
  pdns/dnsrecords.cc
  pdns/dnsrecords.hh
  pdns/iputils.cc
  pdns/iputils.hh
  pdns/lua-auth4.cc
  pdns/lua-auth4.hh
  pdns/lua-base4.cc
  pdns/lua-record.cc
  pdns/minicurl.cc
  pdns/minicurl.hh
  pdns/packethandler.cc
  pdns/pdnsutil.cc
  pdns/qtype.hh
  pdns/sstuff.hh
  regression-tests.auth-py/.gitignore
  regression-tests.auth-py/authtests.py
  regression-tests.auth-py/clientsubnetoption.py
  regression-tests.auth-py/pylintrc
  regression-tests.auth-py/requirements.txt
  regression-tests.auth-py/runtests
  regression-tests.auth-py/test_LuaRecords.py
  regression-tests.nobackend/counters/expected_result
Labels: auth

#6525 calidns: Add a maximum-qps option to stay at a given stable load
  docs/manpages/calidns.1.rst
  pdns/calidns.cc
Labels: enhancement, tools

#6530 Add missing overrides
  modules/godbcbackend/sodbc.hh
  pdns/ssqlite3.hh
Labels: auth, enhancement

#6531 avoid interleaved access to B (via d_dk)
  pdns/packethandler.cc
Labels: auth, defect

#6524 dnsdist: Add support for more than one TLS certificate
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/guides/dns-over-tls.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/tcpiohandler.cc
  pdns/dnsdistdist/tcpiohandler.hh
Labels: dnsdist, enhancement

#6503 rec: Remove some unnecessary allocations and copies in the UDP path
  pdns/pdns_recursor.cc
Labels: enhancement, rec

#6526 calidns: Add an option to read ECS values from the query file, skip comments
  docs/manpages/calidns.1.rst
  pdns/calidns.cc
Labels: enhancement, tools

#6539 document undocumented config vars
  pdns/common_startup.cc
Labels: auth, backport to stable?, enhancement
