Repository PowerDNS/pdns, pull requests merged in 2018-05, with the labels that each got.

#6558 bindbackend: refuse launch suffixes
  docs/settings.rst
  modules/bindbackend/bindbackend2.cc
Labels: auth

#6557 make rec_control respect include-dir; closes #6536
  pdns/rec_control.cc
Labels: backport to stable?, rec

#6552 Auth 4.1.x: unbreak build
  build-scripts/build-auth-rpm
  build-scripts/debian-authoritative/pdns-server.install
  docs/Makefile.am
  modules/luabackend/test2/pdns
  modules/luabackend/test2/pdns_control
  modules/luabackend/test2/runtest.pl
Labels: auth

#6551 auth: Allocate new statements after reconnecting to PostgreSQL
  modules/gpgsqlbackend/gpgsqlbackend.cc
  pdns/backends/gsql/gsqlbackend.hh
Labels: auth

#6549 Fix a warning on botan >= 2.5.0
  pdns/botansigners.cc
Labels: auth, enhancement

#6548 auth: Link dnspcap2protobuf against librt when needed
  pdns/Makefile.am
Labels: auth

#6546 Backport: Debian Authoritative packaging fixes for 4.1
  build-scripts/debian-authoritative/pdns-backend-mysql.postinst
  build-scripts/debian-authoritative/pdns-backend-mysql.postrm
  build-scripts/debian-authoritative/pdns-server.config
  build-scripts/debian-authoritative/pdns-server.postinst
  build-scripts/debian-authoritative/pdns-server.templates
Labels: auth

#6545 auth: lower 'packet too short' loglevel in another place
  pdns/dnspacket.cc
Labels: auth, backport to stable?, enhancement

#6543 backport: Update EDNS Option code list
  pdns/ednsoptions.hh
Labels: auth, defect

#6542 move includes around to avoid boost L conflict
  pdns/protobuf.cc
  pdns/protobuf.hh
Labels: auth, defect

#6537 Cleanup small issues found by lgtm.com
  pdns/backends/gsql/gsqlbackend.cc
  pdns/dnspacket.cc
  pdns/dnspcap.cc
  pdns/ixfr.hh
  pdns/opensslsigners.hh
  pdns/ws-auth.cc
Labels: auth, enhancement, rec

#6528 docs: geoip-database-files has not been dropped in v4.2.0
  docs/backends/geoip.rst
Labels: auth, docs

#6571 auth-api: increase serial after dnssec related updates
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, defect

#6570 auth-bindbackend: only compare ips in isMaster()
  modules/bindbackend/bindbackend2.cc
Labels: auth

#6573 auth: lower 'packet too short' loglevel
  pdns/dnspacket.cc
Labels: auth, enhancement

#6572 Backport 6571
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, defect

#6577 Add syntax to dns.proto to silence compilation warning.
  pdns/dnstap.proto
Labels: dnsdist, enhancement

#6580 dnsreplay: Bail out on a too small outgoing buffer
  pdns/dnsreplay.cc
Labels: defect, tools

#6581 Add PowerDNS Advisory 2018-02 for CVE-2018-1046 in dnsreplay
  docs/security-advisories/powerdns-advisory-2018-02.rst
Labels: docs

#6590 Fix warnings reported by GCC 8.1.0
  modules/remotebackend/remotebackend.hh
  pdns/communicator.hh
  pdns/dbdnsseckeeper.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsrecords.cc
  pdns/ednssubnet.cc
  pdns/iputils.cc
  pdns/iputils.hh
  pdns/misc.cc
  pdns/nameserver.cc
  pdns/pdns_recursor.cc
  pdns/syncres.hh
  pdns/test-iputils_hh.cc
Labels: auth, dnsdist, rec

#6586 rec: Use canonical ordering in the ECS index
  pdns/recursor_cache.hh
  pdns/recursordist/test-recursorcache_cc.cc
Labels: defect, rec

#6583 Backport 6574 to 4.1.x: rec: Add _raw versions for qname / ComboAddresses to the FFI API
  pdns/lua-recursor4-ffi.hh
  pdns/lua-recursor4.cc
Labels: enhancement, rec

#6568 Disable parallel build for docs
  docs/Makefile.am
Labels: enhancement

#6564 Add dnspcap2calidns, to convert PCAP to the calidns format
  build-scripts/build-auth-rpm
  build-scripts/debian-authoritative/pdns-tools.install
  build-scripts/debian-authoritative/pdns-tools.manpages
  docs/conf.py
  docs/manpages/dnspcap2calidns.1.rst
  pdns/.gitignore
  pdns/Makefile.am
  pdns/dnspcap2calidns.cc
Labels: enhancement, tools

#6562 rec api: add subtree option to the cache flush endpoint
  pdns/recursordist/docs/http-api/endpoint-cache.rst
  pdns/ws-recursor.cc
  regression-tests.api/runtests.py
  regression-tests.api/test_Cache.py
  regression-tests.api/test_helper.py
Labels: enhancement, rec

#6599 add dnspcap2calidns manpage to build
  docs/Makefile.am
Labels: auth, defect

#6592 docs: document setVerboseHealthChecks()
  pdns/dnsdistdist/docs/guides/downstreams.rst
  pdns/dnsdistdist/docs/guides/webserver.rst
  pdns/dnsdistdist/docs/reference/config.rst
Labels: defect, dnsdist, docs

#6601 calidns: Add quiet, minimum-success-rate options to use from a script
  docs/manpages/calidns.1.rst
  pdns/calidns.cc
Labels: enhancement, tools

#6602 dnstap.rst: Fix some editing errors
  pdns/dnsdistdist/docs/reference/dnstap.rst
Labels: backport to stable?, dnsdist, docs

#6505 rec: Add hashed indexes to the caches, for faster retrieval
  pdns/recursor_cache.cc
  pdns/recursor_cache.hh
  pdns/recursordist/negcache.cc
  pdns/recursordist/negcache.hh
  pdns/recursordist/test-negcache_cc.cc
  pdns/recursordist/test-recursorcache_cc.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: enhancement, needs review, rec

#6604 revive validns testing, closes #3097
  build-scripts/travis.sh
  regression-tests.nobackend/rectify-axfr/expected_result
  regression-tests/tests/verify-dnssec-zone/command
  regression-tests/tests/verify-dnssec-zone/expected_result
  regression-tests/tests/verify-dnssec-zone/expected_result.nsec3-optout
Labels: auth, backport to stable?

#6594 pdnsutil: also load modules through the load-modules directive
  pdns/pdnsutil.cc
  pdns/receiver.cc
  pdns/ueberbackend.cc
  pdns/ueberbackend.hh
Labels: auth, enhancement

#6609 our recursor lua policy override example did not work
  pdns/recursordist/docs/lua-scripting/hooks.rst
Labels: defect, docs, rec

#6612 rec: backport #6562, #6566, #6567 and #6588 to 4.1.x
  pdns/misc.cc
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/rec-snmp.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/http-api/endpoint-cache.rst
  pdns/recursordist/docs/metrics.rst
  pdns/resolver.cc
  pdns/resolver.hh
  pdns/rpzloader.cc
  pdns/rpzloader.hh
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/ws-recursor.cc
  regression-tests.api/runtests
  regression-tests.api/runtests.py
  regression-tests.api/test_Cache.py
  regression-tests.api/test_helper.py
Labels: rec

#6605 rec: Make sure that the ECS scope from the auth is < to the source
  pdns/lwres.cc
  regression-tests.recursor-dnssec/test_ECS.py
Labels: backport to stable?, defect, needs review, rec

#6588 rec: Delay the loading of RPZ zones until the parsing is done, fix race
  pdns/rec-lua-conf.cc
  pdns/rpzloader.cc
  pdns/rpzloader.hh
Labels: defect, rec

#6566 rec: Use a separate, non-blocking pipe to distribute queries
  pdns/pdns_recursor.cc
  pdns/rec-snmp.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/metrics.rst
  pdns/syncres.hh
Labels: enhancement, rec

#6561 Fix some minor issues for presigned (large) bind zones
  modules/bindbackend/bindbackend2.cc
  pdns/tcpreceiver.cc
Labels: auth, enhancement

#6614 auth-api: restrict creation of OPT and TSIG rrsets
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, backport to stable?, defect, rest-api

#6567 rec: Move carbon/webserver/control/stats handling to a separate thread
  pdns/pdns_recursor.cc
  pdns/syncres.hh
Labels: enhancement, needs review, rec

#6617 calidns: Don't issue socket buffer or SCHED_FIFO warnings in quiet mode
  pdns/calidns.cc
Labels: defect, tools

#6610 Backport 6130 to auth-4.1.x: Update copyright years to 2018
  README.md
  docs/conf.py
  pdns/dnsdistdist/docs/conf.py
  pdns/recursordist/README.md
  pdns/recursordist/docs/conf.py
  pdns/version.cc
  pdns/ws-auth.cc
Labels: auth

#6611 Backport 6130 to rec-4.1.x: Update copyright years to 2018
  README.md
  docs/conf.py
  pdns/dnsdistdist/docs/conf.py
  pdns/recursordist/README.md
  pdns/recursordist/docs/conf.py
  pdns/version.cc
  pdns/ws-auth.cc
Labels: rec

#6595 reorder includes to avoid Boost L conflict
  pdns/lua-recursor4.cc
  pdns/lwres.cc
  pdns/pdns_recursor.cc
  pdns/protobuf.cc
  pdns/protobuf.hh
  pdns/rec-carbon.cc
  pdns/rec-lua-conf.cc
  pdns/rec_channel_rec.cc
  pdns/recpacketcache.hh
  pdns/recursor_cache.cc
  pdns/rpzloader.cc
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/validate-recursor.cc
  pdns/ws-recursor.cc
Labels: enhancement, rec

#6630 -rdynamic is for the linker
  pdns/recursordist/configure.ac
Labels: backport to stable?, rec

#6646 -rdynamic is for the linker
  pdns/recursordist/configure.ac
Labels: enhancement, rec

#6642 rec-4.1.x: Fix 'adding an integer to a string does not append to it' error
  pdns/pdns_recursor.cc
Labels: defect, rec

#6644 ChangeLog and secpoll update for rec 4.1.3
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.1.rst
Labels: docs, rec

#6659 Ensure ALIAS answers over TCP have correct name
  pdns/dnsproxy.cc
  regression-tests/tests/alias-address/command
  regression-tests/tests/alias-address/expected_result
Labels: auth, backport to stable?

#6662 API: Send correct response codes for the CryptoKey endpoints
  pdns/ws-auth.cc
  regression-tests.api/test_cryptokeys.py
Labels: auth

#6649 API export function output change to add IN to the output
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, enhancement, rest-api

#6648 gmysql: Use future-proof statement for transaction isolation
  modules/gmysqlbackend/smysql.cc
Labels: auth, backport to stable?, defect

#6647 API: Remove ENTs when "replacing" new records
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, defect, rest-api

#6640 rec: Fix 'adding an integer to a string does not append to it' error
  pdns/pdns_recursor.cc
Labels: defect, rec

#6637 Don't copy unitialized values of SuffixMatchTree
  pdns/dnsname.hh
Labels: defect, dnsdist

#6633 reject duplicate RRsets in patchZone
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, enhancement

#6629 zero the must-be-zero bits
  pdns/pdns_recursor.cc
Labels: rec

#6623 API docs: zone delete returns 204
  docs/http-api/swagger/authoritative-api-swagger.yaml
Labels: auth, defect, docs, rest-api

#6518 rec: Add a new max-udp-queries-per-round setting
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
Labels: backport to stable?, defect, rec

#6499 stubresolver: Improve locking
  pdns/stubresolver.cc
Labels: auth, defect

#6541 dnsdist: allow known exception types to be converted to string
  pdns/dnsdist-lua-bindings.cc
Labels: dnsdist, enhancement

#6631 Add -Werror=string-plus-int to Travis clang testing
  build-scripts/travis.sh
Labels: enhancement

#6677 geoipbackend: Check GeoIP_id_by_addr_gl and GeoIP_id_by_addr_v6_gl return value
  modules/geoipbackend/geoipinterface-dat.cc
Labels: auth, defect

#6682 Allow running "brew bundle" to fetch deps on macOS
  Brewfile
Labels: auth, dnsdist, easy, enhancement, rec

#6678 geoipbackend: Check GeoIP_id_by_addr_gl and GeoIP_id_by_addr_v6_gl return value
  modules/geoipbackend/geoipbackend.cc
Labels: auth, defect

#6687 Enable Address (dnsdist, rec) and Undefined Behavior (dnsdist) Sanitizers in Travis
  .travis.yml
  build-scripts/travis.sh
  pdns/recursordist/test-negcache_cc.cc
Labels: dnsdist, enhancement, rec

#6686 Initialize some missed qtypes
  pdns/qtype.hh
Labels: auth, backport to stable?, defect

#6684 dnsdist: Expose toString of various objects to Lua
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist.hh
  pdns/fstrm_logger.hh
  pdns/remote_logger.hh
Labels: dnsdist, enhancement

#6674 dnsdist: Remove 'expired' states from MaxQPSIPRule
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: dnsdist, enhancement

#6672 dnsdist: Fix reconnection handling
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
Labels: defect, dnsdist

#6658 luawrapper: report caught std::exception as lua_error
  ext/luawrapper/include/LuaContext.hpp
Labels: auth, dnsdist, enhancement, needs review, rec

#6655 auth: sign CDS/CDNSKEY RRsets with the KSK
  pdns/dnssecsigner.cc
  regression-tests/tests/publishing-cds-cdnskey/expected_result
Labels: auth, defect, needs review

#6653 pdnsutil: occlusion and auth check improvements
  pdns/pdnsutil.cc
Labels: auth, enhancement

#6628 implement the EDNS camel diet (draft-spacek-edns-camel-diet)
  pdns/lwres.cc
  pdns/lwres.hh
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
Labels: enhancement, rec

#6688 dnsdist: Mark the remote member of DownstreamState as const
  pdns/dnsdist.cc
  pdns/dnsdist.hh
Labels: dnsdist

#6281 Recursor: properly truncate with EDNS, do what `server-id` promises and add NSID support
  pdns/dns.hh
  pdns/dnsdist-ecs.cc
  pdns/dnspacket.cc
  pdns/dnsrecords.cc
  pdns/dnsrecords.hh
  pdns/dnsreplay.cc
  pdns/dnsscope.cc
  pdns/dnswriter.cc
  pdns/dnswriter.hh
  pdns/packethandler.cc
  pdns/pdns_recursor.cc
  pdns/receiver.cc
  pdns/recursordist/docs/settings.rst
  pdns/syncres.cc
  regression-tests.nobackend/edns1/test-edns.py
  regression-tests.recursor-dnssec/test_EDNS.py
  regression-tests.recursor-dnssec/test_EDNSBufferSize.py
  regression-tests.recursor-dnssec/test_LargeAnswer.py
  regression-tests.recursor-dnssec/test_ServerNames.py
Labels: defect, rec

#6691 pdns_control notify: handle slave w/o renotify properly
  pdns/dynhandler.cc
Labels: auth, backport to stable?
