Repository PowerDNS/pdns, pull requests merged in 2018-12, with the labels that each got.

#7250 Fixed typos around DNS64 lua docs
  pdns/recursordist/docs/dns64.rst
  pdns/recursordist/docs/lua-scripting/hooks.rst
Labels: defect, docs, rec

#7242 rec: Use the timeout passed to rec_control for sending too
  pdns/rec_channel.cc
  pdns/rec_channel.hh
  pdns/rec_control.cc
Labels: defect, rec

#7256 dnsdist: Protect GnuTLS tickets key rotation with a read-write lock
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/tcpiohandler.cc
  pdns/dnsdistdist/tcpiohandler.hh
Labels: defect, dnsdist

#7257 dnsdist: Make getMsgLen32 and putMsgLen32 static
  pdns/dnsdist-console.cc
  pdns/dnsdist.hh
Labels: dnsdist

#7240 rec-4.1.x: Use the SyncRes time when computing the RRSIG validity time
  pdns/recursordist/test-syncres_cc.cc
Labels: defect, rec

#7226 Add fuzzing targets for integration into OSS-Fuzz
  build-scripts/travis.sh
  configure.ac
  fuzzing/README.md
  fuzzing/corpus/raw-dns-packets/basic.raw
  fuzzing/corpus/raw-dns-packets/ecs.raw
  fuzzing/corpus/raw-dns-packets/powerdns-ds.raw
  fuzzing/corpus/raw-dns-packets/powerdns-referral-com.raw
  fuzzing/corpus/raw-dns-packets/root-ns-answer.raw
  fuzzing/corpus/zones/basic.rpz
  m4/pdns_enable_fuzz_targets.m4
  pdns/.gitignore
  pdns/Makefile.am
  pdns/dnsdist-cache.hh
  pdns/dnsdistdist/tcpiohandler.hh
  pdns/fuzz_dnsdistcache.cc
  pdns/fuzz_moadnsparser.cc
  pdns/fuzz_packetcache.cc
  pdns/fuzz_zoneparsertng.cc
  pdns/standalone_fuzz_target_runner.cc
  pdns/tcpiohandler.hh
Labels: enhancement

#7264 Update and re-sort feature list in --version output
  modules/bindbackend/bindbackend2.cc
  pdns/version.cc
Labels: auth, easy, rec

#7263 README.md: fix typo in macOS instructions
  README.md
Labels: auth, docs

#7265 auth: make --enable-lua-records switch plural
  docs/lua-records/index.rst
  docs/settings.rst
  pdns/common_startup.cc
  pdns/packethandler.cc
  regression-tests.auth-py/authtests.py
Labels: auth, enhancement

#7266 auth ubuntu trusty: enable LUA records
  builder-support/debian/authoritative/ubuntu-trusty/control
  builder-support/debian/authoritative/ubuntu-trusty/rules
Labels: auth, enhancement

#7267 dnsdist: Check that SO_ATTACH_BPF is defined before enabling eBPF
  m4/pdns_with_ebpf.m4
Labels: defect, dnsdist

#7261 builder-support: finish up ucf removal for sql backends
  builder-support/debian/authoritative/debian-jessie/pdns-backend-mysql.postinst
  builder-support/debian/authoritative/debian-jessie/pdns-backend-mysql.postrm
  builder-support/debian/authoritative/debian-jessie/pdns-backend-pgsql.postinst
  builder-support/debian/authoritative/debian-jessie/pdns-backend-pgsql.postrm
  builder-support/debian/authoritative/debian-jessie/pdns-backend-sqlite3.postinst
  builder-support/debian/authoritative/debian-jessie/pdns-backend-sqlite3.postrm
  builder-support/debian/authoritative/debian-jessie/pdns-server.preinst
  builder-support/debian/authoritative/debian-stretch/pdns-backend-mysql.postinst
  builder-support/debian/authoritative/debian-stretch/pdns-backend-mysql.postrm
  builder-support/debian/authoritative/debian-stretch/pdns-backend-pgsql.postinst
  builder-support/debian/authoritative/debian-stretch/pdns-backend-pgsql.postrm
  builder-support/debian/authoritative/debian-stretch/pdns-backend-sqlite3.postinst
  builder-support/debian/authoritative/debian-stretch/pdns-backend-sqlite3.postrm
  builder-support/debian/authoritative/debian-stretch/pdns-server.preinst
  builder-support/debian/authoritative/ubuntu-trusty/pdns-backend-mysql.postinst
  builder-support/debian/authoritative/ubuntu-trusty/pdns-backend-mysql.postrm
  builder-support/debian/authoritative/ubuntu-trusty/pdns-backend-pgsql.postinst
  builder-support/debian/authoritative/ubuntu-trusty/pdns-backend-pgsql.postrm
  builder-support/debian/authoritative/ubuntu-trusty/pdns-backend-sqlite3.postinst
  builder-support/debian/authoritative/ubuntu-trusty/pdns-backend-sqlite3.postrm
  builder-support/debian/authoritative/ubuntu-trusty/pdns-server.preinst
Labels: auth, defect

#7268 docs: link to 4.1 gsql schemas
  docs/backends/generic-mysql.rst
  docs/backends/generic-odbc.rst
  docs/backends/generic-oracle.rst
  docs/backends/generic-postgresql.rst
  docs/backends/generic-sqlite3.rst
Labels: auth, docs

#7272 Ensure a valid range to string::assign() in PacketReader::xfrBlob()
  pdns/dnsparser.cc
Labels: auth, backport to stable?, defect, rec

#7271 dnsdist: Remove a possible timing issue in the DynBlock unit tests
  pdns/dnsdistdist/test-dnsdistdynblocks_hh.cc
Labels: defect, dnsdist

#7278 auth: Prevent more than one CNAME/SOA record in the same RRset
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, backport to stable?, defect

#7280 auth-4.1.x: Use a realistic RSA key size for testing rsasha256 via the API
  regression-tests.api/test_cryptokeys.py
Labels: auth, defect

#7279 auth-4.1.x: Prevent more than one CNAME/SOA record in the same RRset
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, defect

#7259 4.2.0-alpha1 changelog and secpol
  docs/backends/opendbx.rst
  docs/changelog/4.2.rst
  docs/changelog/index.rst
  docs/secpoll.zone
Labels: auth, docs

#7281 auth: Fix the default value of max-signature-cache-entries in the doc
  docs/settings.rst
Labels: auth, defect, docs

#7287 recursor: Fix typo in help text of signature-inception-skew option
  pdns/pdns_recursor.cc
Labels: backport to stable?, defect, rec

#7290 rec: reduce log message urgency of non pertinent errors
  pdns/pdns_recursor.cc
Labels: defect, rec

#7284 auth: Fallback to sha1 for the signatures cache if md5 is not available
  modules/goraclebackend/soracle.cc
  pdns/Makefile.am
  pdns/digests.hh
  pdns/dnssecsigner.cc
  pdns/md5.hh
  pdns/test-digests_hh.cc
  pdns/tsig-tests.cc
Labels: auth

#7283 Add missing insertion operators for libcrypto's features
  pdns/version.cc
Labels: auth, defect, rec

#7247 pdnsutil documentation ECC algorithm updates
  docs/manpages/pdnsutil.1.rst
  pdns/pdnsutil.cc
Labels: auth, defect

#7294 prevent leak of file descriptor if running out of ports for incoming AXFR
  pdns/resolver.cc
Labels: auth, backport to stable?, defect
