Repository PowerDNS/pdns, pull requests merged in 2018-08, with the labels that each got.

#6816 auth: Make sure that we use strict weak records ordering in the API
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, backport to stable?, defect

#6820 Update config.rst
  pdns/dnsdistdist/docs/reference/config.rst
Labels: defect, dnsdist, docs

#6793 Backport rec-4.1.x: Fix warnings reported by GCC 8.1.0
  modules/remotebackend/remotebackend.hh
  pdns/communicator.hh
  pdns/dbdnsseckeeper.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsrecords.cc
  pdns/ednssubnet.cc
  pdns/iputils.cc
  pdns/iputils.hh
  pdns/misc.cc
  pdns/nameserver.cc
  pdns/pdns_recursor.cc
  pdns/syncres.hh
  pdns/test-iputils_hh.cc
Labels: rec

#6827 Update index.rst
  pdns/dnsdistdist/docs/index.rst
Labels: defect, dnsdist, docs

#6817 auth-4.1.x: Backport #6816: Make sure that we use strict weak records ordering in the API
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, defect

#6813 dnsdist: DSTPortRule
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/docs/rules-actions.rst
  regression-tests.dnsdist/test_Advanced.py
Labels: dnsdist, enhancement

#6826 Make getOutstanding be usable from both lua and console
  pdns/dnsdist-lua-bindings.cc
Labels: dnsdist, enhancement

#6792 rec: Delay the creation of RPZ threads until we have dropped privileges
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/rec_channel_rec.cc
Labels: backport to stable?, defect, rec

#6698 rec: Refactor Protobuf options, add query/response selection
  pdns/lua-recursor4-ffi.hh
  pdns/lua-recursor4.cc
  pdns/lua-recursor4.hh
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/recursordist/docs/lua-config/protobuf.rst
  pdns/recursordist/docs/lua-scripting/dq.rst
  regression-tests.recursor-dnssec/.gitignore
  regression-tests.recursor-dnssec/requirements.txt
  regression-tests.recursor-dnssec/runtests
  regression-tests.recursor-dnssec/test_Protobuf.py
Labels: enhancement, rec

#6768 rec: Add support for several distributor threads
  pdns/lua-recursor4.hh
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
Labels: enhancement, needs review, rec

#6824 Add the serials when logging the final result of a slave-check
  pdns/slavecommunicator.cc
Labels: auth, enhancement

#6830 recursor testing: upgrade pip
  regression-tests.recursor-dnssec/runtests
Labels: defect, rec

#6809 recursor tests: replace awk command by perl
  build-scripts/test-recursor
Labels: backport to stable?, defect, rec

#6831 Get rid of some allocs/copies in DNS parsing
  modules/tinydnsbackend/tinydnsbackend.cc
  pdns/dnsdist-ecs.cc
  pdns/dnsdist-ecs.hh
  pdns/dnsdist.cc
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsparser.cc
  pdns/dnsparser.hh
  pdns/lwres.cc
  pdns/lwres.hh
  pdns/pdns_recursor.cc
  pdns/protobuf.cc
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/test-dnsdist_cc.cc
Labels: auth, dnsdist, enhancement, needs review, rec

#6803 dnsdist: add EDNSOptionRule
  pdns/dnsdist-console.cc
  pdns/dnsdist-ecs.cc
  pdns/dnsdist-ecs.hh
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdist-lua-vars.cc
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/docs/reference/constants.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  regression-tests.dnsdist/test_Advanced.py
Labels: dnsdist, enhancement

#6835 dnsdist: Display DynBlocks' default action, None, as the global one
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
Labels: defect, dnsdist

#6844 Workaround MariaDB pretending to be MySQL
  modules/gmysqlbackend/smysql.cc
Labels: auth, backport to stable?, defect, rec

#6834 check-zone: allow null MX, SRV
  pdns/pdnsutil.cc
Labels: auth, defect

#6843 check-all-zones: find duplicate zones and SOAs
  pdns/pdnsutil.cc
Labels: auth, enhancement

#6841 rec: Fix compilation without protobuf support
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
Labels: defect, rec

#6856 added :excludeRange and :includeRange methods to DynBPFFilter class
  pdns/dnsdist-dynbpf.cc
  pdns/dnsdist-dynbpf.hh
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/ebpf.rst
Labels: dnsdist, enhancement

#6860 auth regression test: language/content nits
  regression-tests/tests/1dyndns-big-package/description
  regression-tests/tests/1dyndns-big-packet/command
  regression-tests/tests/1dyndns-big-packet/description
  regression-tests/tests/1dyndns-big-packet/expected_result
  regression-tests/tests/1dyndns-big-packet/expected_result.dnssec
  regression-tests/tests/1dyndns-big-packet/expected_result.narrow
  regression-tests/tests/1dyndns-big-packet/expected_result.nsec3
  regression-tests/tests/1dyndns-big-packet/skip.nodyndns
  regression-tests/tests/pretty-big-packet/description
Labels: auth

#6859 make edit-zone catch zoneparser exceptions as well
  pdns/pdnsutil.cc
Labels: auth, defect

#6825 add option send-signed-notify to send NOTIFYs without TSIG signature
  docs/settings.rst
  pdns/common_startup.cc
  pdns/mastercommunicator.cc
Labels: auth, enhancement

#6850 rec: Disable only our own TCP listening socket when reuseport is enabled
  pdns/pdns_recursor.cc
Labels: backport to stable?, defect, rec

#6861 do not leak requests for addzone.com to the Internet
  regression-tests/tests/00dnssec-grabkeys/command
Labels: auth

#6851 rec-4.1.x: Backport #6850: Disable only our own TCP listening socket when reuseport is enabled
  pdns/pdns_recursor.cc
Labels: defect, rec

#6810 remove version information from dnsdist doc title
  pdns/dnsdistdist/docs/conf.py
Labels: defect, dnsdist, docs

#6870 dnsdist: Fix DoT docs to clarify we only listen on TCP, not UDP
  pdns/dnsdistdist/docs/guides/dns-over-tls.rst
Labels: defect, dnsdist, docs

#6737 dnsdist: add consistent hash builtin policy
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/guides/serverselection.rst
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, enhancement

#6887 dnsdist: Test retrieving address from any-address binds
  regression-tests.dnsdist/test_Advanced.py
Labels: dnsdist, enhancement

#6890 ixfrdist: Reduce memory usage and lock contention
  pdns/ixfrdist.cc
  pdns/ixfrutils.cc
  pdns/ixfrutils.hh
  pdns/resolver.cc
Labels: enhancement

#6879 ixfrdist: fix doc nit
  docs/manpages/ixfrdist.yml.5.rst
Labels: auth, docs

#6877 dnsdist: Fix a sign-comparison warning in isEDNSOptionInOpt()
  pdns/dnsdist-ecs.cc
Labels: defect, dnsdist

#6873 Purge all auth/forward zone data including subtree.
  pdns/reczones.cc
Labels: auth, backport to stable?, enhancement

#6863 Changelog + secpoll for auth 4.1.4
  docs/changelog/4.1.rst
  docs/secpoll.zone
Labels: auth

#6898 changelog: 4.1.4 back-ported #6648 not #6848
  docs/changelog/4.1.rst
Labels: auth, defect, docs

#6668 Auth API: add zone lookup by /zones?zone=example.org.
  docs/http-api/swagger/authoritative-api-swagger.yaml
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, enhancement, rest-api

#6867 Recursor 4.1.4 backports
  build-scripts/test-recursor
  configure.ac
  m4/pdns_enable_backend_unit_tests.m4
  m4/pdns_enable_unit_tests.m4
  pdns/lua-recursor4.hh
  pdns/lwres.cc
  pdns/lwres.hh
  pdns/pdns_recursor.cc
  pdns/rec_control.cc
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/test-syncres_cc.cc
  pdns/reczones.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec
