Repository PowerDNS/pdns, pull requests merged in 2018-06, with the labels that each got.

#6699 Revert EDNS0Record to a trivial type
  pdns/dns.hh
Labels: auth, dnsdist, rec

#6701 Fix minor warnings reported by the compiler or cppcheck
  modules/geoipbackend/geoipbackend.hh
  pdns/dnssecsigner.cc
  pdns/ixfrdist.cc
  pdns/lwres.cc
  pdns/lwres.hh
  pdns/rec-lua-conf.cc
  pdns/recursordist/test-syncres_cc.cc
Labels: auth, rec, tools

#6706 Dynamic blocks were being created with the wrong duration
  pdns/dnsdist-dynblocks.hh
Labels: defect, dnsdist

#6707 rec: Fix some warnings reported by GCC
  pdns/dnssecinfra.cc
  pdns/lua-base4.cc
  pdns/misc.cc
  pdns/pdns_recursor.cc
  pdns/rec_channel.cc
  pdns/recursor_cache.cc
Labels: rec

#6710 dnsdist: Test the content of dynamic blocks using the API
  regression-tests.dnsdist/test_DynBlocks.py
Labels: dnsdist, enhancement

#6711 dnsdist: default set "Connection: close" header for web requests
  pdns/dnsdist-web.cc
  pdns/dnsdistdist/docs/guides/webserver.rst
Labels: defect, dnsdist

#6717 Update timedipsetrule.rst
  pdns/dnsdistdist/docs/advanced/timedipsetrule.rst
Labels: defect, dnsdist, docs

#6716 dnsdist: Don't access the TCP buffer vector past its size
  pdns/dnsdist-tcp.cc
Labels: defect, dnsdist

#6627 rec: Drop queries truncated because they were larger than our buffer
  pdns/pdns_recursor.cc
  pdns/rec-snmp.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/metrics.rst
  pdns/syncres.hh
Labels: enhancement, rec

#6718 dnsdist: Limit QPS and latency to two decimals in the web view
  pdns/dnsdistdist/html/local.js
Labels: defect, dnsdist

#6729 auth: Increase the packet cache TTL in our unit tests
  pdns/test-packetcache_cc.cc
Labels: auth

#6715 dnsdist: Refuse console connection without a proper key set
  pdns/dnsdist-console.cc
  pdns/dnsdist-console.hh
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/docs/guides/console.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dolog.hh
  pdns/sodcrypto.cc
  pdns/sodcrypto.hh
  pdns/test-dnscrypt_cc.cc
  pdns/test-dnsdist_cc.cc
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_Console.py
Labels: defect, dnsdist

#6722 rec: Add some regression tests for RPZ over AXFR and IXFR
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: rec

#6735 rec: Add full AXFR in the middle of IXFR, API checks in RPZ tests
  regression-tests.recursor-dnssec/requirements.txt
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: enhancement, rec

#6730 Implement a smarter dedup for filling packets in auth
  pdns/dnspacket.cc
  pdns/dnspacket.hh
Labels: auth, enhancement

#6725 docs/dnssec: improve HTML rendering of table
  pdns/recursordist/docs/dnssec.rst
Labels: docs

#6695 Tiny Recursor dnssec doc improvements
  pdns/recursordist/docs/dnssec.rst
Labels: docs, rec

#6692 auth: reorder SUBDIRS
  Makefile.am
Labels: auth, enhancement

#6589 rec: Add lua maintenance callback
  build-scripts/test-recursor
  pdns/lua-recursor4.cc
  pdns/lua-recursor4.hh
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/lua-scripting/hooks.rst
  pdns/recursordist/docs/settings.rst
Labels: enhancement, rec

#6713 rec: add bogus ring to make it more easy to detect high profile domains with broken dnssec
  pdns/pdns_recursor.cc
  pdns/rec_channel.hh
  pdns/rec_channel_rec.cc
  pdns/recpacketcache.cc
  pdns/recpacketcache.hh
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/recursordist/html/index.html
  pdns/recursordist/html/local.js
  pdns/syncres.hh
  pdns/ws-recursor.cc
Labels: enhancement, rec

#6495 only parse resolv.conf once - this avoids race conditions
  pdns/lua-auth4.cc
  pdns/stubresolver.cc
Labels: auth, defect

#6745 Fix a typo in the recursor docs
  pdns/recursordist/docs/running.rst
Labels: defect, docs, rec

#6741 rec: Don't require authoritative answers for forward-recurse zones
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: backport to stable?, defect, rec

#6740 dnsdist: Add a negative TTL option to the packet cache
  pdns/Makefile.am
  pdns/dnsdist-cache.cc
  pdns/dnsdist-cache.hh
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/test-dnsparser_cc.cc
  pdns/dnsparser.cc
  pdns/dnsparser.hh
  pdns/dnswriter.cc
  pdns/test-dnsdistpacketcache_cc.cc
  pdns/test-dnsparser_cc.cc
  regression-tests.dnsdist/test_Caching.py
Labels: dnsdist, enhancement

#6733 rec: Add support for multiple rpz masters as failover
  pdns/rec-lua-conf.cc
  pdns/recursordist/docs/lua-config/rpz.rst
  pdns/rpzloader.cc
  pdns/rpzloader.hh
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: enhancement, rec

#6744 rec: Support multiple values for the same EDNS option in gettag
  pdns/dnsrecords.cc
  pdns/ednsoptions.cc
  pdns/ednsoptions.hh
  pdns/lua-recursor4.cc
  pdns/lua-recursor4.hh
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/lua-scripting/dq.rst
  pdns/recursordist/test-ednsoptions_cc.cc
  regression-tests.recursor-dnssec/cookiesoption.py
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_Lua.py
Labels: enhancement, rec

#6747 dnsdist: Check the flags to detect collisions in the packet cache
  pdns/dnsdist-cache.cc
  pdns/dnsdist-cache.hh
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/test-dnsdistpacketcache_cc.cc
Labels: defect, dnsdist
