Repository PowerDNS/pdns, pull requests merged in 2018-10, with the labels that each got.

#7013 rec: Fix the allow-from-file test in the API regression tests
  regression-tests.api/runtests.py
  regression-tests.api/test_RecursorConfig.py
Labels: defect, rec

#7012 DNS over TLS is only possible via TCP/IP
  pdns/dnsdistdist/docs/reference/config.rst
Labels: defect, dnsdist, docs

#7004 rec: Export outgoing ECS value and Server ID in protobuf if any
  contrib/ProtobufLogger.py
  pdns/dnsmessage.proto
  pdns/lwres.cc
  pdns/pdns_recursor.cc
  pdns/protobuf.cc
  pdns/protobuf.hh
  regression-tests.recursor-dnssec/test_Protobuf.py
Labels: backport to stable?, enhancement, rec

#6068 dnsdist: Add DNSQuestion:getEDNSOptions() to access incoming EDNS options
  pdns/dnsdist-cache.cc
  pdns/dnsdist-ecs.cc
  pdns/dnsdist-ecs.hh
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua-vars.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/reference/dq.rst
  pdns/test-dnsdist_cc.cc
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_EDNSOptions.py
Labels: dnsdist, enhancement

#7011 various ixfrdist fixes/improvements
  pdns/ixfrdist.cc
  regression-tests.ixfrdist/test_IXFR.py
Labels: enhancement, ixfrdist

#7007 dnsdist: export Prometheus metric about number of alive servers in pool
  pdns/dnsdist-web.cc
Labels: dnsdist, enhancement

#7018 document explicitly that the dnsdist 'responses' metric is actually 'backend responses'
  pdns/dnsdistdist/docs/statistics.rst
Labels: dnsdist, docs

#6910 Add support for OpenSSL 1.1.1's ed25519 and ed448 for signing and verifying
  configure.ac
  m4/pdns_check_libcrypto_eddsa.m4
  pdns/opensslsigners.cc
  pdns/recursordist/configure.ac
  pdns/recursordist/m4/pdns_check_libcrypto_eddsa.m4
  pdns/test-signers.cc
Labels: auth, feature request

#6727 ALIAS: Respond SERVFAIL on non-NOERRORs from resolver
  pdns/dnsproxy.cc
  regression-tests.auth-py/authtests.py
  regression-tests.auth-py/test_ALIAS.py
Labels: auth, backport to stable?, enhancement

#6997 Name threads in the programs
  configure.ac
  m4/ac_pthread_set_name.m4
  pdns/Makefile.am
  pdns/auth-carbon.cc
  pdns/common_startup.cc
  pdns/communicator.cc
  pdns/delaypipe.cc
  pdns/distributor.hh
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/configure.ac
  pdns/dnsdistdist/m4/ac_pthread_set_name.m4
  pdns/dnsdistdist/threadname.cc
  pdns/dnsdistdist/threadname.hh
  pdns/dnsproxy.cc
  pdns/dnstcpbench.cc
  pdns/dynlistener.cc
  pdns/ixfrdist.cc
  pdns/nod.cc
  pdns/pdns_recursor.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/configure.ac
  pdns/recursordist/m4/ac_pthread_set_name.m4
  pdns/recursordist/threadname.cc
  pdns/recursordist/threadname.hh
  pdns/remote_logger.cc
  pdns/rpzloader.cc
  pdns/snmp-agent.cc
  pdns/tcpreceiver.cc
  pdns/threadname.cc
  pdns/threadname.hh
  pdns/webserver.cc
  pdns/ws-auth.cc
Labels: auth, backport to stable?, dnsdist, needs review, rec, tools

#6708 rec: Support exporting more record types via protobuf
  pdns/dnsrecords.hh
  pdns/lwres.cc
  pdns/lwres.hh
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/rec-protobuf.cc
  pdns/rec-protobuf.hh
  pdns/recursordist/docs/lua-config/protobuf.rst
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/test_Protobuf.py
Labels: enhancement, rec

#7023 Clarify meaning of dnsdist statistics
  pdns/dnsdistdist/docs/statistics.rst
Labels: dnsdist, docs, enhancement

#4598 auth: Add support for "NONE" SOA-EDIT kind
  pdns/serialtweaker.cc
Labels: auth, backport to stable?, defect

#7029 pdnsbuilder: Make the version number even better
  builder-support/gen-version
Labels: auth, dnsdist, rec

#7017 Make sure we escape 127 in TXT records
  pdns/dnsparser.cc
  pdns/test-dnsrecords_cc.cc
Labels: auth, backport to stable?, defect, easy, rec

#7030 dnsdist did not set TCP_NODELAY, causing needless latency
  pdns/dnsdist-tcp.cc
Labels: dnsdist, enhancement

#7015 dnsdist: Add support for exporting a server ID in protobuf
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/docs/reference/protobuf.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  regression-tests.dnsdist/test_Protobuf.py
Labels: dnsdist, enhancement

#7032 Move delaypipe tests from auth to dnsdist
  builder-support/specs/dnsdist.spec
  pdns/Makefile.am
  pdns/delaypipe.cc
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/test-delaypipe_hh.cc
Labels: dnsdist, enhancement

#7034 Fix several sphinx warnings in the dnsdist docs.
  pdns/dnsdistdist/docs/guides/webserver.rst
Labels: defect, dnsdist, docs

#6962 Store NetmaskTree nodes in a set for faster removal
  pdns/iputils.hh
  pdns/test-iputils_hh.cc
Labels: enhancement

#6979 rec: Authority records in AA=1 CNAME answer are authoritative
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
Labels: backport to stable?, defect, rec

#6980 rec-4.1.x: Authority records in AA=1 CNAME answer are authoritative
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
Labels: defect, rec

#7044 rec: Fix a compilation issue in the SyncRes unit tests
  pdns/recursordist/test-syncres_cc.cc
Labels: defect, rec

#7042 document how multiple RPZs are consulted
  pdns/recursordist/docs/lua-config/rpz.rst
Labels: docs, enhancement, rec

#7045 rec-4.0.x: Backport tests: lower dnsbulktest threshold in travis
  build-scripts/travis.sh
Labels: rec

#7046 slightly improve rfc2136 error message on failed prerequisite: what name
  pdns/rfc2136handler.cc
Labels: auth, enhancement

#7025 remove api-logfile flag and grep API endpoint
  docs/common/api/endpoint-logging.rst
  docs/http-api/search.rst
  docs/http-api/swagger/authoritative-api-swagger.yaml
  pdns/common_startup.cc
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/http-api/index.rst
  pdns/recursordist/docs/settings.rst
  pdns/ws-api.cc
  pdns/ws-api.hh
  pdns/ws-auth.cc
  pdns/ws-recursor.cc
Labels: auth, enhancement, rec

#7050 auth: fix el6 build with default boost
  pdns/dnsscope.cc
Labels: auth, defect

#7053 rec: fix all warnings in the docs
  pdns/recursordist/docs/settings.rst
Labels: defect, docs, rec

#7055 rec: RPZ - Include zone name in loading and indexed message
  pdns/rpzloader.cc
Labels: enhancement, rec

#7060 dnsdist: Release memory on DNS over TLS handshake failure
  pdns/dnsdistdist/tcpiohandler.cc
Labels: defect, dnsdist

#7070 pdns-recursor: avoid a memory leak in catch-all exception handler
  pdns/pdns_recursor.cc
Labels: backport to stable?, defect, rec

#6986 dnsdist: Add warning rates to dynBlockRulesGroup rules
  pdns/dnsdist-dynblocks.hh
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-rings.hh
  pdns/dnsdist-web.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/docs/guides/dynblocks.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/test-dnsdistdynblocks_hh.cc
  regression-tests.dnsdist/test_DynBlocks.py
Labels: dnsdist, enhancement

#7072 pdns-recursor: properly handle exceptions thrown from lua-recursor4
  pdns/syncres.cc
Labels: backport to stable?, defect, rec

#7073 rec-4.1.x: avoid a memory leak in catch-all exception handler
  pdns/pdns_recursor.cc
Labels: defect, rec

#7089 dnsdist: Add HELP and TYPE for dnsdist_server_ stats
  pdns/dnsdist-web.cc
Labels: dnsdist

#7069 Use unique pointers in the OpenSSL signer
  pdns/opensslsigners.cc
Labels: auth, enhancement, needs review, rec

#7095 dnsdist: Nodes in NMG are now ordered, fix the API regression tests
  regression-tests.dnsdist/test_API.py
Labels: defect, dnsdist

#7092 dnsdist: Fix return-type detection with boost 1.69's tribool
  pdns/dnsdist-lua.cc
Labels: defect, dnsdist

#7083 Documentation for Reverse DNS functions, using Lua with generic SQL, plus README improvements
  README.md
  docs/lua-records.rst
Labels: auth, docs, enhancement

#7103 rec: Wrap our DNSComboWriter objects in smart pointers
  pdns/pdns_recursor.cc
Labels: enhancement, rec

#7104 Fix format string issue on 32bits arm
  pdns/dnsdist-cache.cc
Labels: defect, dnsdist

#7075 dnsdist: Support the NXDomain action with dynamic blocks
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/docs/reference/config.rst
  regression-tests.dnsdist/test_DynBlocks.py
Labels: dnsdist, enhancement

#7074 auth: Print the content of pdns.log when the regression tests fail
  build-scripts/travis.sh
Labels: auth, enhancement

#7059 Recursor: Allow reading root DNSSEC keys from file
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/recursordist/docs/dnssec.rst
  pdns/recursordist/docs/lua-config/dnssec.rst
  pdns/validate-recursor.cc
  pdns/validate-recursor.hh
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/root.keys
  regression-tests.recursor-dnssec/test_NTA.py
  regression-tests.recursor-dnssec/test_ReadTrustAnchorsFromFile.py
Labels: enhancement, rec

#7043 fixes for el7 on arm64
  builder-support/specs/dnsdist.spec
  builder-support/specs/pdns-recursor.spec
  builder-support/specs/pdns.spec
Labels: auth, dnsdist, enhancement, rec

#7024 geoipbackend: Handle read error for config file
  modules/geoipbackend/geoipbackend.cc
Labels: auth, backport to stable?, defect

#7110 dnsdist docs: update documentation on updating ACLs via the API
  pdns/dnsdistdist/docs/guides/webserver.rst
Labels: defect, dnsdist, docs

#7108 dnsdist: Wrap TCP connection objects in smart pointers
  pdns/dnsdist-tcp.cc
Labels: dnsdist, enhancement

#7109 dnsdist: add setConsoleOutputMaxMsgSize function
  pdns/dnsdist-console.cc
  pdns/dnsdist-console.hh
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, enhancement

#7117 dnsdist: add ability to update webserver credentials
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/guides/webserver.rst
  pdns/dnsdistdist/docs/reference/config.rst
  regression-tests.dnsdist/test_API.py
Labels: dnsdist, enhancement

#7078 dnsdist: Add a 'creationOrder' field to rules
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdist-web.cc
  pdns/dnsdist.hh
  regression-tests.dnsdist/test_API.py
Labels: dnsdist, enhancement

#7115 dnsdist: Add security polling
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/configure.ac
  pdns/dnsdistdist/dnsdist-secpoll.cc
  pdns/dnsdistdist/dnsdist-secpoll.hh
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/misc.cc
  pdns/misc.hh
  pdns/stubresolver.cc
Labels: dnsdist, enhancement, needs review
