Repository PowerDNS/pdns, pull requests merged in 2019-10, with the labels that each got.

#8359 dnsdist: Fix the creation order of rules when inserted via SetRules()
  pdns/dnsdist-lua-rules.cc
Labels: defect, dnsdist

#8361 dnsdist: Refactor DoH prometheus metrics again
  pdns/dnsdist-web.cc
Labels: dnsdist

#8360 rec: chmod/own recursor.conf for the systemd case
  builder-support/debian/recursor/debian-buster/pdns-recursor.postinst
  builder-support/debian/recursor/debian-buster/rules
  builder-support/debian/recursor/debian-jessie/pdns-recursor.postinst
  builder-support/debian/recursor/debian-jessie/rules
  builder-support/debian/recursor/debian-stretch/pdns-recursor.postinst
  builder-support/debian/recursor/debian-stretch/rules
Labels: enhancement, rec

#8364 dnsdist: Check the address supplied to 'webserver' in check-config
  pdns/dnsdist-lua.cc
Labels: defect, dnsdist

#8366 rec: Build Newly Observerd Domain (NOD) support by default.
  pdns/pdns_recursor.cc
  pdns/recursordist/configure.ac
  pdns/recursordist/m4/pdns_enable_nod.m4
Labels: enhancement, rec

#8365 dnsdist: Lowercase custom DoH header names
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua.cc
  regression-tests.dnsdist/test_DOH.py
Labels: dnsdist, enhancement

#8368 dnsdist: More prometheus fixes
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
Labels: defect, dnsdist

#8369 Printing a pthread_t on platforms having a non-int pthread_id requires a cast to uintptr_t.
  modules/luabackend/reload.cc
Labels: auth, easy

#8342 pipebackend: remove unused variable
  modules/pipebackend/coprocess.cc
Labels: auth

#8378 dnsdist: Fix a typo in the prometheus description of 'senderrors'
  pdns/dnsdist-web.cc
Labels: defect, dnsdist, easy

#8377 dnsdist: Compile with -Wall -Wextra -Wshadow by default
  .circleci/config.yml
  ext/yahttp/yahttp/cookie.hpp
  pdns/dnsdist.hh
  pdns/dnsdistdist/configure.ac
  pdns/misc.cc
  pdns/test-dnsdistpacketcache_cc.cc
Labels: dnsdist, enhancement

#8375 Implement python's to_text() for Cookies and Client Subnet options
  regression-tests.dnsdist/clientsubnetoption.py
  regression-tests.dnsdist/cookiesoption.py
Labels: enhancement

#8381 dnsdist: Add a prometheus 'thread' label to distinguish identical frontends
  pdns/dnsdist-web.cc
Labels: dnsdist, enhancement

#8382 dnsdist: Add a 'preferServerCiphers' option for DoH and DoT
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/tcpiohandler.cc
  pdns/doh.hh
  pdns/tcpiohandler.hh
Labels: dnsdist, enhancement

#8351 auth statbag: move to std::mutex, avoid copies
  pdns/statbag.cc
  pdns/statbag.hh
Labels: auth, backport to auth-4.2.x?, defect

#7719 better assertEqual for dnspython
  contrib/assert-equal-DNSMessage/eqdnsmessage.py
  regression-tests.auth-py/authtests.py
  regression-tests.auth-py/eqdnsmessage.py
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/eqdnsmessage.py
  regression-tests.ixfrdist/eqdnsmessage.py
  regression-tests.ixfrdist/ixfrdisttests.py
  regression-tests.recursor-dnssec/eqdnsmessage.py
  regression-tests.recursor-dnssec/recursortests.py
Labels: auth, dnsdist, enhancement, rec

#8388 dnsdist: Clear the DoH Session Ticket Encryption Key in the ctor
  pdns/doh.hh
Labels: defect, dnsdist

#8395 dnsdist: Count the number of concurrent connections for DoH as well
  pdns/dnsdistdist/doh.cc
Labels: dnsdist, enhancement

#8396 Do not use variable printf format strings
  pdns/test-zoneparser_tng_cc.cc
  pdns/zoneparser-tng.cc
  regression-tests/zones/unit2.test
Labels: auth, rec

#8404 dnsdist: Add a missing line before SuffixMatchNode's 'versionadded'
  pdns/dnsdistdist/docs/reference/config.rst
Labels: defect, dnsdist, docs

#8387 dnsdist: Add metrics about TLS versions with DNS over TLS
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/tcpiohandler.cc
  pdns/doh.hh
  pdns/libssl.hh
  pdns/tcpiohandler.hh
Labels: dnsdist, enhancement

#8398 dnsdist: Check that tickets have really been written in the tests, really disable tickets when asked
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/m4/dnsdist_with_libssl.m4
  pdns/dnsdistdist/tcpiohandler.cc
  regression-tests.dnsdist/test_TLSSessionResumption.py
Labels: defect, dnsdist

#8407 auth: A few shadowing cases.
  pdns/lua-record.cc
Labels: auth, enhancement

#8406 dnsdist: Add metrics about unknown/inactive TLS ticket keys
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/tcpiohandler.cc
  pdns/doh.hh
  pdns/tcpiohandler.hh
Labels: dnsdist, enhancement

#8410 Fix typo in setQueryRate docs
  pdns/dnsdistdist/docs/guides/dynblocks.rst
Labels: defect, dnsdist, docs

#8409 dnsdist: Add missing prometheus descriptions for cache-related metrics
  pdns/dnsdist-web.cc
Labels: defect, dnsdist

#8372 dnsdist: Use SO_BINDTODEVICE when available for newServer's source itf
  pdns/capabilities.cc
  pdns/capabilities.hh
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
Labels: dnsdist, enhancement, needs review

#8413 Work around CMSG_SPACE somehow not being a constexpr on macOS
  pdns/misc.cc
Labels: auth, defect, dnsdist, rec

#8415 dnsdist: Fix formatting in showTCPStats()
  pdns/dnsdist-lua-inspection.cc
Labels: defect, dnsdist, easy

#8417 Add regression-tests/zones/unit2.test to EXTRA_DIST
  Makefile.am
Labels: auth, defect

#8408 dnsdist: Fix the caching of large entries
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/doh.cc
  regression-tests.dnsdist/test_Caching.py
  regression-tests.dnsdist/test_DOH.py
  regression-tests.dnsdist/test_TLS.py
Labels: defect, dnsdist

#8383 dnsdist: Merge the setup of TLS contexts in Doh and DoT
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/libssl.cc
  pdns/dnsdistdist/tcpiohandler.cc
  pdns/doh.hh
  pdns/libssl.hh
  pdns/tcpiohandler.hh
Labels: dnsdist, enhancement, needs review

#8411 dnsdist: Add more options to LogAction (non-verbose mode, timestamps)
  contrib/DNSDistLogActionReader.py
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: dnsdist, enhancement

#8421 dnsdist: Fix merge issue (d_ticketsKeyRotationDelay)
  pdns/dnsdist-lua.cc
Labels: defect, dnsdist

#8325 auth API: make disabled optional for Record
  docs/http-api/swagger/authoritative-api-swagger.yaml
  pdns/ws-auth.cc
Labels: auth

#8400 Add CentOS 8 as builder target
  builder-support/dockerfiles/Dockerfile.target.centos-8
  builder-support/specs/dnsdist.spec
  builder-support/specs/pdns-recursor.spec
  builder-support/specs/pdns.spec
Labels: backport to auth-4.2.x?, backport to rec-4.2.x?

#8429 add Ubuntu eoan builder target
  builder-support/dockerfiles/Dockerfile.target.ubuntu-eoan
Labels: backport to auth-4.2.x?, backport to rec-4.2.x?

#8433 dns64: stop hiding PTR indirection
  pdns/lua-recursor4.cc
Labels: enhancement, rec

#8445 auth ds-at-apex-noerror test: do not run unbound-host
  regression-tests/tests/ds-at-apex-noerror/skip-unboundhost
Labels: auth

#8367 Implement RFC 8020 "NXDOMAIN: There Really Is Nothing Underneath"
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc2.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: enhancement, rec

#8391 rec: Allow multiple simultaneous incoming TCP queries over a connection
  .circleci/config.yml
  build-scripts/travis.sh
  docs/manpages/sdig.1.rst
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
  pdns/sdig.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_OOOTCP.py
  regression-tests.recursor-dnssec/test_SimpleTCP.py
Labels: enhancement, rec

#8451 Basic validation of $GENERATE parameters
  pdns/zoneparser-tng.cc
Labels: auth, defect, rec

#8447 dnsdist: Add metrics about TLS handshake failures for DoH and DoT
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/libssl.cc
  pdns/dnsdistdist/tcpiohandler.cc
  pdns/doh.hh
  pdns/libssl.hh
  pdns/tcpiohandler.hh
Labels: dnsdist, enhancement

#8416 dnsdist: Implement ref counting for the DOHUnit object
  pdns/dnsdistdist/doh.cc
  pdns/doh.hh
Labels: defect, dnsdist

#8442 dnsdist: Add support dumping TLS keys via keyLogFile
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/libssl.cc
  pdns/dnsdistdist/m4/dnsdist_with_libssl.m4
  pdns/doh.hh
  pdns/libssl.hh
Labels: dnsdist, enhancement

#8458 dnsdist: Small changes suggested by cppcheck and clang's static analyzer
  ext/lmdb-safe/lmdb-safe.hh
  pdns/dnsdist.cc
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/tcpiohandler.cc
Labels: dnsdist

#8444 sdig: make query class selectable
  docs/manpages/sdig.1.rst
  pdns/sdig.cc
Labels: auth, enhancement, tools

#8426 openssl eddsa signers: report correct key size
  pdns/dnssecinfra.cc
  pdns/opensslsigners.cc
Labels: auth, defect

#8461 Small improvements to changelog-from-pr
  build-scripts/changelog-from-pr.py
Labels: tools

#8452 rec: Backport 8451 to rec 4.2.x: Basic validation of $GENERATE parameters
  pdns/zoneparser-tng.cc
Labels: rec

#8424 Ixfrdist: handle reading of empty files gracefully
  pdns/ixfrdist.cc
  pdns/ixfrutils.cc
  pdns/ixfrutils.hh
  pdns/ixplore.cc
Labels: auth, backport to auth-4.2.x?, defect

#8471 dnsdist: Increment the DOHUnit ref count when it's set in the IDState
  pdns/dnsdist.cc
  pdns/dnsdistdist/doh.cc
  pdns/doh.hh
Labels: defect, dnsdist

#8465 dnsdist: Rename the 'address' label to 'frontend' for DoH metrics
  pdns/dnsdist-web.cc
Labels: dnsdist

#8466 dnsdist: Add regression tests for our prometheus export
  .circleci/config.yml
  build-scripts/travis.sh
  regression-tests.dnsdist/test_Prometheus.py
Labels: dnsdist, enhancement

#8469 Illegal -> Invalid
  pdns/zoneparser-tng.cc
Labels: auth, rec

#8439 geoipbackend: Use Netmask instead of string
  modules/geoipbackend/geoipbackend.cc
  modules/geoipbackend/geoipbackend.hh
Labels: auth, backport to auth-4.2.x?, defect

#8473 rec: Fix OOO tests on CircleCI and enable DNSSEC for them as well.
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_OOOTCP.py
Labels: rec

#8476 rec: Fix max-concurrent-requests-per-tcp-connection's underline
  pdns/recursordist/docs/settings.rst
Labels: defect, docs, easy, rec

#8470 rec: prime NS records of root-servers.net parent (.net)
  pdns/pdns_recursor.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/reczones.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: backport to rec-4.1.x?, backport to rec-4.2.x?, rec

#8480 rec: Do not wipe . NS records from cache
  pdns/reczones.cc
Labels: rec

#8481 rec: 4.3.0 alpha3 prep
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.3.rst
Labels: rec

#8472 Remove deprecated floating_point_comparison.hpp header
  pdns/recursordist/test-mtasker.cc
  pdns/recursordist/test-recursorcache_cc.cc
  pdns/test-packetcache_cc.cc
Labels: auth, enhancement, rec

#8482 rec: Add generated dnstap.pb.{cc,h} to the 'clean' target
  pdns/recursordist/Makefile.am
Labels: backport to rec-4.2.x?, easy, rec

#8488 dnsdist: Update secpoll zone and ChangeLog for 1.4.0-rc5
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#8418 Deb: Load DNSSEC Keys from disk by default
  builder-support/debian/recursor/debian-buster/lua-config/rootkeys.lua
  builder-support/debian/recursor/debian-buster/pdns-recursor.dirs
  builder-support/debian/recursor/debian-buster/recursor.lua
  builder-support/debian/recursor/debian-buster/rules
  builder-support/debian/recursor/debian-jessie/lua-config/rootkeys.lua
  builder-support/debian/recursor/debian-jessie/pdns-recursor.dirs
  builder-support/debian/recursor/debian-jessie/recursor.lua
  builder-support/debian/recursor/debian-jessie/rules
  builder-support/debian/recursor/debian-stretch/lua-config/rootkeys.lua
  builder-support/debian/recursor/debian-stretch/pdns-recursor.dirs
  builder-support/debian/recursor/debian-stretch/recursor.lua
  builder-support/debian/recursor/debian-stretch/rules
Labels: backport to rec-4.2.x?

#8457 auth: api: avoid a large number of new database connections
  pdns/ws-auth.cc
Labels: auth, enhancement

#8495 rec: backport to 4.2.x: Add generated dnstap.pb.{cc,h} to the 'clean' target
  pdns/recursordist/Makefile.am
Labels: rec

#8493 Rec: backport to 4.2.x: Fix #8338: Issue with "zz" abbreviation for IPv6 RPZ triggers
  pdns/recursordist/Makefile.am
  pdns/recursordist/test-rpzloader_cc.cc
  pdns/rpzloader.cc
  pdns/rpzloader.hh
Labels: defect, rec

#8499 auth 4.0.x: ds-at-apex-noerror test: do not run unbound-host
  regression-tests/tests/ds-at-apex-noerror/skip-unboundhost
Labels: auth
