Repository PowerDNS/pdns, pull requests merged in 2019-09, with the labels that each got.

#8262 docs: suggest putting bind dnssec db in /var/lib/powerdns
  docs/dnssec/modes-of-operation.rst
Labels: auth, docs

#8210 rec: Lua pdns_features table
  pdns/lua-base4.cc
  pdns/lua-base4.hh
  pdns/lua-recursor4.cc
  pdns/lua-recursor4.hh
  pdns/recursordist/docs/lua-scripting/features.rst
  pdns/recursordist/docs/lua-scripting/index.rst
  regression-tests.recursor-dnssec/test_Lua.py
Labels: enhancement, rec

#8255 dnsdist: Update the ChangeLog and secpoll for 1.4.0-rc2
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#8266 dnsdist: Do not use addLuaAction in example config
  pdns/dnsdistconf.lua
Labels: defect, dnsdist, docs

#8265 dnsdist: Remove 'blockfilter' stat from the web view
  pdns/dnsdistdist/docs/guides/webserver.rst
  pdns/dnsdistdist/html/index.html
  pdns/dnsdistdist/html/local.js
Labels: defect, dnsdist

#8269 fix typo in DNSName reference documentation
  pdns/dnsdistdist/docs/reference/dnsname.rst
Labels: defect, dnsdist, docs

#7984 Add SLAVE-RENOTIFY zone metadata support
  docs/domainmetadata.rst
  docs/settings.rst
  pdns/slavecommunicator.cc
  pdns/ws-auth.cc
Labels: auth, backport to auth-4.2.x?, enhancement

#8258 auth: Don't link lmdb needlessly
  pdns/Makefile.am
Labels: auth

#7989 auth: bindbackend: use metadata for also-notifies as well
  modules/bindbackend/bindbackend2.cc
Labels: auth, backport to auth-4.2.x?, enhancement, needs review

#8270 Parameterize dnstap configure default (rec=no, dndist=auto)
  m4/pdns_check_dnstap.m4
  pdns/dnsdistdist/configure.ac
  pdns/recursordist/configure.ac
Labels: dnsdist, rec

#8256 rec: fix two coverity issues
  pdns/arguments.cc
  pdns/pdns_recursor.cc
Labels: rec

#8273 rec: rm obsolete service file; we generate one these days
  pdns/recursordist/contrib/systemd-pdns-recursor.service
Labels: rec

#8272 rec: changelog and secpoll update for rec-4.3.0-alpha1
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.3.rst
  pdns/recursordist/docs/changelog/index.rst
Labels: rec

#8095 auth: register a few known types and remove an unknown one
  pdns/dnsrecords.cc
  pdns/qtype.hh
Labels: backport to auth-4.2.x?

#8271 auth: add configurable timeout for inbound AXFR
  docs/settings.rst
  pdns/common_startup.cc
  pdns/slavecommunicator.cc
Labels: auth, backport to auth-4.2.x?, enhancement

#7983 Add script for generating repo files.
  build-scripts/docker/generate-repo-files.sh
Labels: auth, rec, tools

#8283 dnsdist: Allow configure CDB_CFLAGS to work
  pdns/dnsdistdist/Makefile.am
Labels: defect, dnsdist

#8285 dnsdist: dnsdistconf.lua use non-deprecated versions for 1.4.0
  pdns/dnsdistconf.lua
Labels: dnsdist, enhancement

#8291 dnsdist kvs.rst: format code blocks correctly
  pdns/dnsdistdist/docs/reference/kvs.rst
Labels: defect, dnsdist, docs

#8298 Documentation fix. filename is mandatory for LogAction() in 1.3.3.
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: defect, dnsdist, docs

#8297 dnsdist: Fix 'tls-1*' should be 'tls1.*' instead
  pdns/dnsdistdist/docs/reference/config.rst
Labels: defect, dnsdist, docs

#8281 Update dnsdist-console.cc
  pdns/dnsdist-console.cc
Labels: dnsdist, enhancement

#8264 dnsdist: Display the DoH and DoT binds in the web view
  pdns/dnsdist-web.cc
Labels: defect, dnsdist

#8307 auth: register lua functions only once
  pdns/lua-record.cc
Labels: auth, enhancement

#5572 Fixed up luabackend
  build-scripts/travis.sh
  docs/Makefile.am
  docs/backends/lua.rst
  modules/luabackend/README
  modules/luabackend/dnssec.cc
  modules/luabackend/lua_functions.cc
  modules/luabackend/lua_functions.hh
  modules/luabackend/luabackend.cc
  modules/luabackend/luabackend.hh
  modules/luabackend/minimal.cc
  modules/luabackend/private.cc
  modules/luabackend/reload.cc
  modules/luabackend/slave.cc
  modules/luabackend/supermaster.cc
  modules/luabackend/test/powerdns-luabackend.lua
  modules/luabackend/test2/pdns-luabackend.lua
  regression-tests/backends/common
  regression-tests/backends/lua-master
  regression-tests/modules/libluabackend.so
  regression-tests/start-test-stop
Labels: auth

#6496 #3814 - Add question for to increase-soa after non SOA edit
  pdns/pdnsutil.cc
Labels: auth, enhancement

#8288 Move to buster on circlci and rec: install fstream-dev and enable libfstrm
  .circleci/config.yml
  build-scripts/travis.sh
  builder-support/debian/recursor/debian-buster/control
  builder-support/specs/pdns-recursor.spec
  pdns/dnsparser.cc
  pdns/recursordist/configure.ac
  regression-tests.recursor-dnssec/printlogs.py
  regression-tests.recursor-dnssec/test_RecDnstap.py
Labels: rec

#7455 auth: remove the oracle backends
  builder-support/debian/authoritative/debian-jessie/copyright
  builder-support/debian/authoritative/debian-stretch/copyright
  builder-support/debian/authoritative/ubuntu-trusty/copyright
  configure.ac
  docs/appendices/FAQ.rst
  docs/backends/generic-odbc.rst
  docs/backends/index.rst
  docs/conf.py
  docs/dnsupdate.rst
  docs/index.rst
  docs/manpages/zone2sql.1.rst
  docs/modes-of-operation.rst
  m4/pdns_with_oracle.m4
  modules/Makefile.am
  modules/goraclebackend/Makefile.am
  modules/goraclebackend/OBJECTFILES
  modules/goraclebackend/OBJECTLIBS
  modules/goraclebackend/drop-schema.goracle.sql
  modules/goraclebackend/goraclebackend.cc
  modules/goraclebackend/goraclebackend.hh
  modules/goraclebackend/schema.goracle.sql
  modules/goraclebackend/soracle.cc
  modules/goraclebackend/soracle.hh
  modules/oraclebackend/ChangeLog
  modules/oraclebackend/INSTALL
  modules/oraclebackend/Makefile.am
  modules/oraclebackend/OBJECTFILES
  modules/oraclebackend/OBJECTLIBS
  modules/oraclebackend/README
  modules/oraclebackend/TODO
  modules/oraclebackend/drop-schema.oracle.sql
  modules/oraclebackend/oraclebackend.cc
  modules/oraclebackend/oraclebackend.hh
  modules/oraclebackend/schema.oracle.sql
  pdns/Makefile.am
  pdns/zone2json.cc
  pdns/zone2sql.cc
  regression-tests/.gitignore
  regression-tests/backends/common
  regression-tests/backends/goracle-master
  regression-tests/backends/goracle-slave
  regression-tests/backends/oracle-master
  regression-tests/backends/oracle-slave
  regression-tests/modules/libgoraclebackend.so
  regression-tests/modules/liboraclebackend.so
  regression-tests/start-test-stop
Labels: auth

#8241 rec AuthDomain unit test for a wildcard in combinaton with an ent
  pdns/recursordist/test-syncres_cc4.cc
Labels: rec

#7758 recursor webhandler for prometheus metrics
  pdns/recursordist/Makefile.am
  pdns/recursordist/docs/http-api/index.rst
  pdns/recursordist/docs/http-api/prometheus.rst
  pdns/recursordist/rec_metrics.hh
  pdns/ws-recursor.cc
  regression-tests.api/test_Servers.py
  regression-tests.api/test_helper.py
Labels: enhancement, rec

#8267 dnsdist: Allow accepting DoH queries over HTTP instead of HTTPS
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/doh.cc
  regression-tests.dnsdist/test_DOH.py
Labels: dnsdist, enhancement

#8303 dnsdist: Fix warning message on invalid secpoll answer
  pdns/dnsdistdist/dnsdist-secpoll.cc
Labels: defect, dnsdist

#8290 Improve commandline error reporting for non-opts
  pdns/pdns_recursor.cc
  pdns/receiver.cc
Labels: auth, enhancement, rec

#7973 docs: Add missing words in pdns_control man page
  docs/manpages/pdns_control.1.rst
Labels: auth, defect, docs

#8304 dnsdist: Don't connect to remote logger in client/command mode
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-protobuf.cc
Labels: defect, dnsdist

#8044 add key make time to pdnsutil test-all-algorithms, cleanup return type
  pdns/dnssecinfra.cc
  pdns/dnssecinfra.hh
Labels: auth, enhancement

#8316 dnsdist: Add more leeway in the health checks tests
  regression-tests.dnsdist/test_HealthChecks.py
Labels: dnsdist, enhancement

#8159 auth: Emulate a buffered read in the pipe backend, ~3x faster
  modules/pipebackend/coprocess.cc
  modules/pipebackend/coprocess.hh
  modules/pipebackend/pipebackend.cc
Labels: auth, enhancement, needs review

#8322 circleci coverity target: fix cwd for dnsdist and rec when uploading tarballs
  .circleci/config.yml
Labels: dnsdist, rec

#8320 dnsdist: Make KVS lookup text read better
  pdns/dnsdistdist/dnsdist-kvs.hh
Labels: defect, dnsdist

#7956 Auth: Don't start as root on systemd
  builder-support/debian/authoritative/debian-buster/pdns-server.pdns.init
  builder-support/debian/authoritative/debian-buster/pdns-server.postinst
  builder-support/debian/authoritative/debian-buster/rules
  builder-support/debian/authoritative/debian-jessie/pdns-server.pdns.init
  builder-support/debian/authoritative/debian-jessie/pdns-server.postinst
  builder-support/debian/authoritative/debian-jessie/rules
  builder-support/debian/authoritative/debian-stretch/pdns-server.pdns.init
  builder-support/debian/authoritative/debian-stretch/pdns-server.postinst
  builder-support/debian/authoritative/debian-stretch/rules
  builder-support/debian/authoritative/ubuntu-trusty/pdns-server.pdns.init
  builder-support/specs/pdns.init
  configure.ac
  pdns/Makefile.am
  pdns/common_startup.cc
  pdns/dynlistener.cc
  pdns/dynloader.cc
  pdns/pdns.init.in
  pdns/pdns.service.in
  pdns/receiver.cc
Labels: auth, enhancement

#8324 pipebackend coprocess: initialise d_pid
  modules/pipebackend/coprocess.cc
Labels: auth

#8317 Retry getrandom() on EINTR
  pdns/dns_random.cc
Labels: auth, backport to auth-4.2.x?, backport to rec-4.2.x?, defect, rec

#8050 Improved version of #8031 and some other fixes and optimizations.
  modules/bindbackend/bindbackend2.cc
  modules/bindbackend/bindbackend2.hh
  modules/geoipbackend/geoipbackend.cc
  modules/geoipbackend/geoipbackend.hh
  modules/ldapbackend/ldapbackend.hh
  modules/ldapbackend/native.cc
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
  modules/lua2backend/lua2api2.hh
  modules/luabackend/luabackend.hh
  modules/luabackend/minimal.cc
  modules/mydnsbackend/mydnsbackend.cc
  modules/mydnsbackend/mydnsbackend.hh
  modules/opendbxbackend/odbxbackend.cc
  modules/opendbxbackend/odbxbackend.hh
  modules/pipebackend/pipebackend.cc
  modules/pipebackend/pipebackend.hh
  modules/randombackend/randombackend.cc
  modules/remotebackend/remotebackend.cc
  modules/remotebackend/remotebackend.hh
  modules/tinydnsbackend/tinydnsbackend.cc
  modules/tinydnsbackend/tinydnsbackend.hh
  pdns/backends/gsql/gsqlbackend.cc
  pdns/backends/gsql/gsqlbackend.hh
  pdns/communicator.cc
  pdns/communicator.hh
  pdns/dbdnsseckeeper.cc
  pdns/dnsbackend.cc
  pdns/dnsbackend.hh
  pdns/dynhandler.cc
  pdns/lua-record.cc
  pdns/mastercommunicator.cc
  pdns/packethandler.cc
  pdns/pdnsutil.cc
  pdns/rfc2136handler.cc
  pdns/slavecommunicator.cc
  pdns/tcpreceiver.cc
  pdns/ueberbackend.cc
  pdns/ueberbackend.hh
  pdns/ws-auth.cc
Labels: auth, enhancement

#8332 Remove version number in man page footer
  pdns/recursordist/docs/conf.py
Labels: backport to rec-4.2.x?, docs, rec

#8337 backport to rec -4.2.x: Remove version number in man page footer
  pdns/recursordist/docs/conf.py
Labels: docs, rec

#8336 auth: remove version number from man page footers
  docs/conf.py
Labels: auth, docs

#8328 auth: gmysql backend, add an option to send the SSL capability flag t…
  docs/backends/generic-mysql.rst
  modules/gmysqlbackend/gmysqlbackend.cc
  modules/gmysqlbackend/smysql.cc
  modules/gmysqlbackend/smysql.hh
Labels: auth, backport to auth-4.2.x?, enhancement

#8340 Fix #8338: Issue with "zz" abbreviation for IPv6 RPZ triggers
  pdns/recursordist/Makefile.am
  pdns/recursordist/test-rpzloader_cc.cc
  pdns/rpzloader.cc
  pdns/rpzloader.hh
Labels: backport to rec-4.1.x?, backport to rec-4.2.x?, defect, rec

#8208 auth: Get rid of most remaining naked pointers
  modules/bindbackend/bindbackend2.hh
  modules/bindbackend/binddnssec.cc
  modules/gpgsqlbackend/gpgsqlbackend.cc
  modules/pipebackend/pipebackend.cc
  modules/pipebackend/pipebackend.hh
  pdns/auth-carbon.cc
  pdns/auth-packetcache.cc
  pdns/auth-packetcache.hh
  pdns/backends/gsql/gsqlbackend.hh
  pdns/calidns.cc
  pdns/common_startup.cc
  pdns/common_startup.hh
  pdns/communicator.hh
  pdns/distributor.hh
  pdns/dnspacket.cc
  pdns/dnspacket.hh
  pdns/dnsproxy.cc
  pdns/dnsproxy.hh
  pdns/dnsreplay.cc
  pdns/dnsscope.cc
  pdns/dnstcpbench.cc
  pdns/lua-auth4.cc
  pdns/lua-auth4.hh
  pdns/nameserver.cc
  pdns/nameserver.hh
  pdns/nsec3dig.cc
  pdns/packethandler.cc
  pdns/packethandler.hh
  pdns/pkcs11signers.cc
  pdns/receiver.cc
  pdns/rfc2136handler.cc
  pdns/saxfr.cc
  pdns/sdig.cc
  pdns/signingpipe.cc
  pdns/signingpipe.hh
  pdns/slavecommunicator.cc
  pdns/statbag.cc
  pdns/statbag.hh
  pdns/tcpreceiver.cc
  pdns/tcpreceiver.hh
  pdns/test-distributor_hh.cc
  pdns/test-dnsrecords_cc.cc
  pdns/test-lock_hh.cc
  pdns/test-lua_auth4_cc.cc
  pdns/test-packetcache_cc.cc
  pdns/test-signers.cc
  pdns/tkey.cc
  pdns/toysdig.cc
  pdns/ueberbackend.hh
  pdns/unix_semaphore.cc
  pdns/utility.hh
  pdns/webserver.hh
  pdns/ws-recursor.cc
  pdns/ws-recursor.hh
Labels: auth, enhancement, needs review

#8348 auth: Add NoNewPrivileges, PrivateDevices and PrivateTmp back
  pdns/pdns.service.in
Labels: auth, backport to auth-4.2.x?, defect

#8350 bind backend: pthread_mutex_t should be inited and destroyed and not be copied
  modules/bindbackend/bindbackend2.cc
  modules/bindbackend/bindbackend2.hh
Labels: backport to auth-4.2.x?

#8349 dnsdist: Implement TLS Session Ticket Keys management for DoH
  build-scripts/travis.sh
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/libssl.cc
  pdns/dnsdistdist/tcpiohandler.cc
  pdns/doh.hh
  pdns/libssl.hh
  regression-tests.dnsdist/test_TLSSessionResumption.py
Labels: dnsdist, enhancement

#8318 dnsdist: Better use of labels in our DoH prometheus export
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/tcpiohandler.cc
  pdns/tcpiohandler.hh
Labels: dnsdist, enhancement

#8356 dnsdist: ChangeLog and secpoll update for 1.4.0-rc3
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
  pdns/dnsdistdist/docs/conf.py
Labels: dnsdist
