Repository PowerDNS/pdns, pull requests merged in 2019-01, with the labels that each got.

#7295 geoipbackend: Add libmaxminddb-devel dependency for CentOS
  builder-support/specs/pdns.spec
Labels: auth, enhancement

#7227 auth: geoip - forbid 0 as weight value
  docs/backends/geoip.rst
  modules/geoipbackend/geoipbackend.cc
Labels: auth, backport to stable?, defect

#7312 Update rubygems in travis
  build-scripts/travis.sh
Labels: auth, backport to stable?

#7304 rec: Add some basic regression tests for the root-nx-trust feature
  regression-tests.recursor-dnssec/test_RootNXTrust.py
Labels: enhancement, rec

#7303 rec-4.1.x: Enable the ghost tests again, add a corresponding unit test
  build-scripts/travis.sh
  pdns/recursordist/test-recursorcache_cc.cc
  regression-tests.recursor/config.sh
  regression-tests.recursor/ghost-1/skip
  regression-tests.recursor/ghost-2/skip
Labels: rec

#7300 rec: Add basic regression tests for most of the Lua hooks
  regression-tests.recursor-dnssec/test_Lua.py
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: backport to stable?, rec

#7299 rec: Add support for loading the Public Suffix List from a file
  pdns/pdns_recursor.cc
  pdns/pubsuffix.hh
  pdns/rec_channel.hh
  pdns/rec_channel_rec.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/pubsuffixloader.cc
Labels: enhancement, rec

#7298 rec: Add counters for incoming AD and CD queries
  pdns/pdns_recursor.cc
  pdns/rec-snmp.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/metrics.rst
  pdns/syncres.hh
Labels: enhancement, rec

#7291 dnsscope: Fix boost's version detection, build with histograms
  configure.ac
  pdns/Makefile.am
Labels: auth, defect

#7286 Fix a couple of Swagger / OpenAPI issues
  docs/http-api/swagger/authoritative-api-swagger.yaml
Labels: auth, defect, docs, rec, rest-api

#7275 dnsdist: Update DNSCrypt's regression tests for Python 3
  regression-tests.dnsdist/dnscrypt.py
  regression-tests.dnsdist/requirements.txt
Labels: dnsdist, needs review

#7324 auth-4.0.x: Update rubygems in travis (for bundler)
  build-scripts/travis.sh
Labels: auth

#7325 auth-4.1.x: Update rubygems in travis (for bundler)
  build-scripts/travis.sh
Labels: auth

#7308 Improve error on sending non-TC response that should be TC
  pdns/nameserver.cc
Labels: auth

#7316 Use a template to log basic types
  pdns/logger.cc
  pdns/logger.hh
Labels: needs review

#7311 Rec: Set socket buf size for control socket.
  pdns/rec_channel.cc
Labels: rec

#7327 rec: Fix a possible timing issue w/ RRSIGs in the SyncRes unit tests
  pdns/recursordist/test-syncres_cc.cc
Labels: backport to stable?, defect, rec

#7330 dnsdist: Remove rmPool() from the doc and add showPools() to it
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, docs

#7329 ixfrdist: Enable UndefinedBehaviorSanitizer in Travis CI
  build-scripts/UBSan.supp
  build-scripts/travis.sh
Labels: enhancement, ixfrdist

#7307 rec: Lower default EDNS0 buffersizes to 1232 bytes
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
Labels: rec

#7138 dnsdist/rec: Drop remaining capabilities after startup
  builder-support/debian/dnsdist/debian-jessie/control
  builder-support/debian/dnsdist/debian-jessie/rules
  builder-support/debian/dnsdist/debian-stretch/control
  builder-support/debian/dnsdist/debian-stretch/rules
  builder-support/debian/recursor/debian-jessie/control
  builder-support/debian/recursor/debian-jessie/rules
  builder-support/debian/recursor/debian-stretch/control
  builder-support/debian/recursor/debian-stretch/rules
  builder-support/specs/dnsdist.spec
  builder-support/specs/pdns-recursor.spec
  m4/pdns_with_libcap.m4
  pdns/capabilities.cc
  pdns/capabilities.hh
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/capabilities.cc
  pdns/dnsdistdist/capabilities.hh
  pdns/dnsdistdist/configure.ac
  pdns/dnsdistdist/m4/pdns_with_libcap.m4
  pdns/pdns_recursor.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/capabilities.cc
  pdns/recursordist/capabilities.hh
  pdns/recursordist/configure.ac
  pdns/recursordist/m4/pdns_with_libcap.m4
Labels: dnsdist, enhancement, rec

#7341 Fix replying from ANY address for non-standard port
  pdns/nameserver.cc
Labels: auth, backport to stable?, defect

#7344 simplify log message to avoid compile error
  pdns/packethandler.cc
Labels: auth

#7345 Use a bitset for NSEC(3) records with lots of types
  pdns/dnsrecords.hh
  pdns/nsec3dig.cc
  pdns/nsecrecords.cc
  pdns/packethandler.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/slavecommunicator.cc
  pdns/tcpreceiver.cc
  pdns/test-dnsrecords_cc.cc
  pdns/validate.cc
Labels: auth, backport to stable?, enhancement, rec

#7244 pdns_notify: Support hostname for notification
  docs/manpages/pdns_notify.1.rst
  pdns/notify.cc
  regression-tests.nobackend/supermaster-signed/expected_result
Labels: auth, enhancement

#7289 Fix minor warnings reported by the compiler or cppcheck
  pdns/backends/gsql/ssql.hh
  pdns/comfun.cc
  pdns/distributor.hh
  pdns/dnsbulktest.cc
  pdns/dnsdist-dnscrypt.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnspacket.cc
  pdns/dynhandler.cc
  pdns/dynlistener.cc
  pdns/filterpo.cc
  pdns/ixfrdist-web.cc
  pdns/ixfrdist.cc
  pdns/ixfrutils.cc
  pdns/lua-record.cc
  pdns/misc.cc
  pdns/misc.hh
  pdns/pdnsexception.hh
  pdns/pdnsutil.cc
  pdns/pkcs11signers.cc
  pdns/rcpgenerator.cc
  pdns/rfc2136handler.cc
  pdns/rpzloader.cc
  pdns/rpzloader.hh
  pdns/signingpipe.hh
  pdns/sillyrecords.cc
  pdns/ssqlite3.cc
  pdns/statbag.cc
  pdns/syncres.hh
  pdns/tcpreceiver.cc
  pdns/utility.hh
  pdns/webserver.cc
  pdns/ws-auth.cc
  pdns/zone2ldap.cc
  pdns/zoneparser-tng.cc
Labels: auth, rec

#7269 Remove some misunderstanding of adding several masters in slave zones
  docs/manpages/pdnsutil.1.rst
Labels: auth, docs, enhancement

#7260 Optimizing and more descriptive rpzMaster ip array
  pdns/recursordist/docs/lua-config/rpz.rst
Labels: docs, enhancement, rec

#7321 dnsupdate: Update documentation to indicate that both source IP and T…
  docs/dnsupdate.rst
Labels: auth, defect, docs

#7293 pdns_control notify * also notify slaves zones
  pdns/dynhandler.cc
Labels: auth, enhancement

#7356 rec: Fix an invalid use if cls._PREFIX in the ECS regression tests
  regression-tests.recursor-dnssec/test_ECS.py
Labels: backport to stable?, defect, rec

#7209 Make recursor & dnsdist communicate (ECS) 'variable' status
  pdns/dnsdist-cache.hh
  pdns/dnsdist-ecs.cc
  pdns/dnsdist-ecs.hh
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/pdns_recursor.cc
  pdns/rec-snmp.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/metrics.rst
  pdns/syncres.hh
  pdns/test-dnsdist_cc.cc
  regression-tests.dnsdist/test_Caching.py
Labels: dnsdist, enhancement, rec

#6689 logger: Use a function-level static var for the logger object
  pdns/logger.cc
  pdns/logger.hh
Labels: auth, rec

#6625 logger: Use thread_local instead of pthread_getspecific()
  pdns/logger.cc
  pdns/logger.hh
Labels: auth, rec

#7238 rec: Fix DNSSEC validation with forward-zone-recurse
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: backport to stable?, defect, needs review, rec

#7346 auth: Print the correct pdns.log when the py regression tests fail
  build-scripts/travis.sh
Labels: auth, enhancement

#7323 dnsdist: Add an optional 'checkTimeout' parameter to 'newServer()'
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, enhancement

#7296 rec: Support several types for local RPZ records
  pdns/filterpo.cc
  pdns/filterpo.hh
  pdns/lua-recursor4.cc
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/test-filterpo_cc.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/rpzloader.cc
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: enhancement, needs review, rec

#7334 Travis integrated spelling checker - based on a whitelist
  .travis.yml
  build-scripts/jsoref-spellchecker/exclude.pl
  build-scripts/jsoref-spellchecker/rpm2cpio.sh
  build-scripts/jsoref-spellchecker/whitelist.words
  build-scripts/test-spelling-unknown-words
  build-scripts/travis.sh
  pdns/dnsdistdist/docs/advanced/luaaction.rst
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/docs/settings.rst
Labels: docs, enhancement

#7367 rec: Appease the Gods of spell checking
  pdns/filterpo.cc
Labels: rec

#7320 auth: lower udp-truncation-threshold by default to 1232
  docs/settings.rst
  pdns/common_startup.cc
  regression-tests.nobackend/edns1/test-edns.py
Labels: auth

#7369 dnsdist: Fix compilation without DNSCrypt support enabled
  pdns/dnscrypt.hh
  pdns/dnsdist.cc
Labels: defect, dnsdist

#7371 auth: Fix 'minumum' typo in the docs
  docs/settings.rst
Labels: auth, defect, docs

#7178 rec: Skip NS for the exact zone in CNAME answers
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
Labels: backport to stable?, needs review, rec

#7376 “third party” is adjective and needs hyphen
  docs/appendices/crypto-export.rst
Labels: defect, docs

#7382 Fix dns_random() always returning 0 when the minimum acceptable value is 0
  pdns/dns_random.cc
Labels: auth, defect, rec

#7383 rec: Try another worker before failing if the first pipe was full
  pdns/pdns_recursor.cc
Labels: enhancement, rec

#7364 Dnsscope off-by-one + domain-filter
  docs/manpages/dnsscope.1.rst
  pdns/dnsscope.cc
Labels: defect, tools

#7335 Tell people to use --with-modules=... when they use --without-mysql
  m4/pdns_with_mysql.m4
Labels: auth, enhancement

#7322 dnsdist: Add a 'rise' parameter to 'newServer()'
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, enhancement

#7310 dnsdist: Add a 'keepStaleData' option to the packet cache
  pdns/dnsdist-cache.cc
  pdns/dnsdist-cache.hh
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/guides/cache.rst
  pdns/dnsdistdist/docs/reference/config.rst
  regression-tests.dnsdist/test_Caching.py
Labels: dnsdist, enhancement

#7340 auth: error on DNSSEC default misconfiguration
  pdns/common_startup.cc
Labels: auth

#7148 sdig: handle non-IN class records better
  pdns/sdig.cc
Labels: backport to stable?, defect, tools

#7056 rec: remove the old dnssec root key, goodbye 19036 ....
  pdns/root-dnssec.hh
Labels: backport to stable?, rec

#6967 dnsdist: Expose trailing data
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdistdist/docs/reference/dq.rst
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_Trailing.py
Labels: dnsdist, enhancement

#7377 rec-4.1.x: Try another worker before failing if the first pipe was full
  pdns/pdns_recursor.cc
Labels: enhancement, rec

#7391 dnsdist: Fix 'collisons' typo in the docs
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, docs

#7397 rec-4.1.x: Load the Lua script in the distributor thread, check signature for AA=0 answers
  pdns/pdns_recursor.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/cookiesoption.py
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_Lua.py
Labels: rec

#7399 rec: Add ChangeLog and secpoll update for the 4.1.9 release
  build-scripts/jsoref-spellchecker/whitelist.words
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.1.rst
  pdns/recursordist/docs/security-advisories/powerdns-advisory-2019-01.rst
  pdns/recursordist/docs/security-advisories/powerdns-advisory-2019-02.rst
Labels: docs, rec

#7375 Fix -Wextra warnings, mostly about members initialization order
  build-scripts/jsoref-spellchecker/whitelist.words
  pdns/bpf-filter.cc
  pdns/dnsdist-ecs.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnspacket.cc
  pdns/dnspacket.hh
  pdns/dnsrecords.cc
  pdns/dnsscope.cc
  pdns/dynlistener.cc
  pdns/dynlistener.hh
  pdns/notify.cc
  pdns/ssqlite3.cc
  pdns/ssqlite3.hh
  pdns/ws-auth.cc
  pdns/ws-auth.hh
Labels: auth, dnsdist, rec

#7370 Fix output packets when using getFakeAAAARecords
  build-scripts/jsoref-spellchecker/whitelist.words
  pdns/lua-recursor4.cc
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_Lua.py
Labels: backport to stable?, rec

#7402 note in docs that oracle gets no free support
  docs/backends/generic-oracle.rst
  docs/backends/oracle.rst
Labels: docs

#7403 rec-4.1.x: Fix compilation in handleRunningTCPQuestion without protobuf support
  pdns/pdns_recursor.cc
Labels: defect, rec

#6634 More sandboxing using systemd's features
  build-scripts/jsoref-spellchecker/whitelist.words
  configure.ac
  m4/systemd.m4
  pdns/Makefile.am
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/configure.ac
  pdns/dnsdistdist/dnsdist.service.in
  pdns/pdns.service.in
  pdns/recursordist/Makefile.am
  pdns/recursordist/configure.ac
  pdns/recursordist/pdns-recursor.service.in
Labels: auth, dnsdist, enhancement, rec

#7404 rec: Sanitize records received before doing anything else
  build-scripts/jsoref-spellchecker/whitelist.words
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: enhancement, rec

#7414 Update changelog and secpoll for rec-4.1.10.
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.1.rst
Labels: docs, rec

#7415 Backport #7327: rec: Fix a possible timing issue w/ RRSIGs in the SyncRes unit tests
  pdns/recursordist/test-syncres_cc.cc
Labels: rec

#7416 Use perl instead of sed to conditionally remove lines from Makefiles
  pdns/Makefile.am
  pdns/dnsdistdist/Makefile.am
  pdns/recursordist/Makefile.am
Labels: auth, defect, dnsdist, rec

#7426 fix off-by-one in mvRule counting
  pdns/dnsdist-lua-rules.cc
Labels: defect, dnsdist

#7422 LUA: report nested exception
  pdns/lua-record.cc
Labels: auth, enhancement

#7430 rec-4.1.x: Reduce systemcall usage in protobuf logging
  pdns/namespaces.hh
  pdns/rec-lua-conf.cc
  pdns/remote_logger.cc
  pdns/remote_logger.hh
  regression-tests.recursor-dnssec/.gitignore
  regression-tests.recursor-dnssec/requirements.txt
  regression-tests.recursor-dnssec/runtests
  regression-tests.recursor-dnssec/test_Protobuf.py
Labels: rec

#7428 Reduce systemcall usage in protobuf logging
  pdns/dnsdist-lua-bindings.cc
  pdns/namespaces.hh
  pdns/pdns_recursor.cc
  pdns/remote_logger.cc
  pdns/remote_logger.hh
Labels: dnsdist, rec

#7400 Several documentation fixes and a small fix for the NOD `configure.ac`
  docs/settings.rst
  pdns/recursordist/configure.ac
  pdns/recursordist/docs/changelog/4.1.rst
  pdns/recursordist/docs/settings.rst
Labels: docs

#7434 rec-4.1.x: Add an option to export only responses over protobuf
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/recursordist/docs/lua-config/protobuf.rst
  regression-tests.recursor-dnssec/test_Protobuf.py
Labels: enhancement, rec
