Repository PowerDNS/pdns, pull requests merged in 2019-04, with the labels that each got.

#5932 Improve logging in the webserver
  configure.ac
  docs/manpages/ixfrdist.yml.5.rst
  docs/settings.rst
  pdns/Makefile.am
  pdns/common_startup.cc
  pdns/ixfrdist-web.cc
  pdns/ixfrdist-web.hh
  pdns/ixfrdist.cc
  pdns/ixfrdist.example.yml
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
  pdns/webserver.cc
  pdns/webserver.hh
  pdns/ws-auth.cc
  pdns/ws-recursor.cc
Labels: auth, rec, response needed

#7647 This provides CPU usage statistics per thread (worker & distributor).
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/metrics.rst
  pdns/syncres.hh
Labels: enhancement, rec

#7634 rec-4.1.x: Use a bounded load-balancing algo to distribute queries
  pdns/mtasker.cc
  pdns/mtasker.hh
  pdns/pdns_recursor.cc
  pdns/rec-snmp.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/docs/settings.rst
  pdns/syncres.hh
Labels: enhancement, rec

#7507 rec: Use a bounded load-balancing algo to distribute queries
  pdns/mtasker.cc
  pdns/mtasker.hh
  pdns/pdns_recursor.cc
  pdns/rec-snmp.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/docs/settings.rst
  pdns/syncres.hh
Labels: enhancement, needs review, rec

#7651 Backport Rec ecs cache limit with tt (7631)
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/test_ECS.py
Labels: enhancement, rec

#7631 Rec ecs cache limit with ttl
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/test_ECS.py
Labels: backport to stable?, enhancement, rec

#7654 Update changelog and secpoll for rec-4.1.12.
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.1.rst
Labels: docs, rec

#7656 dnsdist README: update macOS instructions
  pdns/README-dnsdist.md
Labels: dnsdist, docs, enhancement

#7586 dnsdist: Gracefully handle a null latency in the webserver's JS
  pdns/dnsdistdist/html/local.js
Labels: defect, dnsdist

#7585 dnsdist: Prevent 0-TTL cache hits
  pdns/dnsdist-cache.cc
  regression-tests.dnsdist/test_Caching.py
Labels: dnsdist

#7343 dnsdist: Add addDynBlockSMT() support to dynBlockRulesGroup
  pdns/dnsdist-dynblocks.hh
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/configure.ac
  pdns/dnsdistdist/dnsdist-lua-inspection-ffi.cc
  pdns/dnsdistdist/dnsdist-lua-inspection-ffi.hh
  pdns/dnsdistdist/test-dnsdistdynblocks_hh.cc
  pdns/statnode.hh
Labels: dnsdist, enhancement, needs review

#7578 dnsdist: add frontend response statistics
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/statistics.rst
  regression-tests.dnsdist/test_API.py
Labels: dnsdist, enhancement

#7652 dnsdist, recursor: EDNSOptionView improvements
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/docs/reference/dq.rst
  pdns/lua-recursor4.cc
  regression-tests.dnsdist/test_EDNSOptions.py
Labels: defect, dnsdist, docs, rec

#7620 Correct dnsdist & recursor information in README
  README.md
Labels: defect, dnsdist, docs, rec

#7481 Add support for encrypting IP addresses #gdpr
  configure.ac
  docs/manpages/dnswasher.1.rst
  docs/manpages/pdnsutil.1.rst
  ext/Makefile.am
  ext/ipcrypt/.gitignore
  ext/ipcrypt/LICENSE
  ext/ipcrypt/Makefile.am
  ext/ipcrypt/ipcrypt.c
  ext/ipcrypt/ipcrypt.h
  m4/pdns_check_libcrypto.m4
  pdns/Makefile.am
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/configure.ac
  pdns/dnsdistdist/docs/reference/comboaddress.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/dnsdistdist/ext/ipcrypt/LICENSE
  pdns/dnsdistdist/ext/ipcrypt/Makefile.am
  pdns/dnsdistdist/ext/ipcrypt/ipcrypt.c
  pdns/dnsdistdist/ext/ipcrypt/ipcrypt.h
  pdns/dnsdistdist/ipcipher.cc
  pdns/dnsdistdist/ipcipher.hh
  pdns/dnswasher.cc
  pdns/ipcipher.cc
  pdns/ipcipher.hh
  pdns/pdnsutil.cc
  pdns/test-ipcrypt_cc.cc
  regression-tests.dnsdist/test_Protobuf.py
Labels: auth, dnsdist, enhancement

#7670 dnsdist: remove addLuaAction and addLuaResponseAction
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdistdist/docs/advanced/luaaction.rst
  pdns/dnsdistdist/docs/advanced/timedipsetrule.rst
  pdns/dnsdistdist/docs/reference/constants.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/dnsdistdist/docs/upgrade_guide.rst
  regression-tests.dnsdist/test_EDNSOptions.py
  regression-tests.dnsdist/test_EDNSSelfGenerated.py
  regression-tests.dnsdist/test_Trailing.py
Labels: dnsdist

#7559 dnsdist: Refactoring of the TCP stack
  pdns/Makefile.am
  pdns/devpollmplexer.cc
  pdns/dnscrypt.hh
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-ecs.cc
  pdns/dnsdist-ecs.hh
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-idstate.cc
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/docs/advanced/tuning.rst
  pdns/dnsdistdist/docs/reference/tuning.rst
  pdns/dnsdistdist/tcpiohandler.cc
  pdns/dnsdistdist/test-dnsdistrules_cc.cc
  pdns/dnsdistdist/test-mplexer.cc
  pdns/epollmplexer.cc
  pdns/iputils.cc
  pdns/iputils.hh
  pdns/kqueuemplexer.cc
  pdns/mplexer.hh
  pdns/pdns_recursor.cc
  pdns/pollmplexer.cc
  pdns/portsmplexer.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/test-mplexer.cc
  pdns/sstuff.hh
  pdns/tcpiohandler.hh
  pdns/test-dnsdist_cc.cc
  pdns/test-mplexer.cc
  regression-tests.dnsdist/test_API.py
  regression-tests.dnsdist/test_AXFR.py
  regression-tests.dnsdist/test_Advanced.py
  regression-tests.dnsdist/test_Basics.py
  regression-tests.dnsdist/test_Caching.py
  regression-tests.dnsdist/test_Carbon.py
  regression-tests.dnsdist/test_DynBlocks.py
  regression-tests.dnsdist/test_EDNSOptions.py
  regression-tests.dnsdist/test_EDNSSelfGenerated.py
  regression-tests.dnsdist/test_EdnsClientSubnet.py
  regression-tests.dnsdist/test_Protobuf.py
  regression-tests.dnsdist/test_RecordsCount.py
  regression-tests.dnsdist/test_Responses.py
  regression-tests.dnsdist/test_Routing.py
  regression-tests.dnsdist/test_Spoofing.py
  regression-tests.dnsdist/test_TCPKeepAlive.py
  regression-tests.dnsdist/test_TCPLimits.py
  regression-tests.dnsdist/test_TLS.py
  regression-tests.dnsdist/test_Tags.py
  regression-tests.dnsdist/test_Trailing.py
Labels: dnsdist, enhancement, needs review

#7668 bump boost requirement to 1.42 unconditionally
  pdns/dnsdistdist/configure.ac
  pdns/recursordist/configure.ac
Labels: dnsdist, rec

#7673 Disable smap switch
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/settings.rst
Labels: enhancement, rec

#7679 dnsdist: Add missing overrides
  pdns/dnsdistdist/tcpiohandler.cc
Labels: dnsdist

#7674 dnsdist: honor libcrypto include path
  pdns/dnsdistdist/Makefile.am
Labels: defect, dnsdist

#7658 always link in uuid-utils because webserver logging needs it now
  pdns/recursordist/Makefile.am
Labels: defect, rec

#7649 rec: This provides CPU usage statistics per thread (worker & distributor).
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/metrics.rst
  pdns/syncres.hh
Labels: enhancement, rec

#7614 auth-4.0.x: set up circleCI testing for auth+godbc+mssql
  .circleci/config.yml
  build-scripts/circleci.sh
Labels: auth

#7677 dnsdist: Add 'setSyslogFacility()'
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dolog.hh
Labels: dnsdist, enhancement

#7684 Fix 7680: gmysql-thread-cleanup option documented incorrectly
  docs/backends/generic-mysql.rst
Labels: docs

#7686 dnsdist: Fix compilation and tests on FreeBSD
  pdns/dnsdist.cc
  pdns/iputils.cc
  pdns/kqueuemplexer.cc
  regression-tests.dnsdist/dnsdisttests.py
Labels: defect, dnsdist

#7685 dnsdist: collected portability fixes
  pdns/iputils.cc
  pdns/pollmplexer.cc
  pdns/tcpreceiver.cc
  regression-tests.dnsdist/test_TCPLimits.py
Labels: defect, dnsdist

#7691 Any order is good for SetACL test
  regression-tests.dnsdist/test_API.py
Labels: dnsdist

#7689 dnsdist: Switch to the new 'newPacketCache()' syntax for 1.4.0
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  regression-tests.dnsdist/test_CacheHitResponses.py
  regression-tests.dnsdist/test_Caching.py
  regression-tests.dnsdist/test_DNSCrypt.py
  regression-tests.dnsdist/test_TCPKeepAlive.py
Labels: dnsdist, enhancement

#7698 Rec edsn unaligned test
  pdns/recursordist/test-ednsoptions_cc.cc
Labels: defect, rec

#7676 dnsdist: Add 'reloadAllCertificates()'
  pdns/dnscrypt.cc
  pdns/dnscrypt.hh
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, enhancement

#7697 LMDB defaulted to port 0 for master addresses unless explicitly set
  modules/lmdbbackend/lmdbbackend.cc
Labels: auth, defect

#7678 dnsdist: Move constants to proper namespace
  pdns/dnsdist-lua-vars.cc
  pdns/dnsdistdist/docs/advanced/axfr.rst
  pdns/dnsdistdist/docs/guides/cache.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/constants.rst
  pdns/dnsdistdist/docs/reference/dq.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  regression-tests.dnsdist/test-include-dir/test.conf
  regression-tests.dnsdist/test_Advanced.py
  regression-tests.dnsdist/test_Basics.py
  regression-tests.dnsdist/test_Caching.py
  regression-tests.dnsdist/test_CheckConfig.py
  regression-tests.dnsdist/test_Dnstap.py
  regression-tests.dnsdist/test_DynBlocks.py
  regression-tests.dnsdist/test_EDNSSelfGenerated.py
  regression-tests.dnsdist/test_HealthChecks.py
  regression-tests.dnsdist/test_Protobuf.py
  regression-tests.dnsdist/test_RecordsCount.py
  regression-tests.dnsdist/test_Responses.py
  regression-tests.dnsdist/test_TCPKeepAlive.py
  regression-tests.dnsdist/test_TeeAction.py
Labels: dnsdist, enhancement

#7702 dnsdist: Fix small issues reported by cppcheck and clang's static analyzer
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/iputils.hh
  pdns/misc.cc
  pdns/test-dnsdist_cc.cc
  regression-tests.dnsdist/test_Protobuf.py
Labels: dnsdist, enhancement

#7695 dnsdist: Add 'setRoundRobinFailOnNoServer()'
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/guides/serverselection.rst
  regression-tests.dnsdist/test_Routing.py
Labels: dnsdist, enhancement

#7694 dnsdist: Unify the management of DNS/DNSCrypt/DoT frontends
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/tcpiohandler.hh
Labels: dnsdist, enhancement

#7710 Dnsdist runtests cleanup
  regression-tests.dnsdist/runtests
Labels: dnsdist, enhancement

#7718 dnsdist: exit when setting ciphers fails (GNUTLS)
  pdns/dnsdistdist/tcpiohandler.cc
Labels: defect, dnsdist

#7717 remove --with-modules from recursor README
  pdns/recursordist/README.md
Labels: defect, docs, rec

#7715 dnsdist: Update the syntax of newPacketCache() in the caching guide
  pdns/dnsdistdist/docs/guides/cache.rst
Labels: defect, dnsdist, docs

#7701 dnsdist: Prepare secpoll, changelog and upgrade guide for 1.4.0a1
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
  pdns/dnsdistdist/docs/upgrade_guide.rst
Labels: dnsdist

#7704 Boost string_view only appeared in Boost 1.61, not 1.54 as we were assuming
  modules/lmdbbackend/lmdb-safe.hh
  modules/lmdbbackend/lmdbbackend.cc
Labels: auth

#7700 Reduce mmap size for lmdb on 32 bits plus restrict number of shards
  modules/lmdbbackend/lmdb-safe.cc
  modules/lmdbbackend/lmdbbackend.cc
Labels: auth

#7708 Alternative solution to the unaligned accesses.
  pdns/Makefile.am
  pdns/iputils.hh
  pdns/speedtest.cc
Labels: defect, rec

#7703 Use a smaller test size to not fill the pipe buffer on systems with small buffer
  pdns/test-distributor_hh.cc
Labels: auth, defect

#7724 Fix unittest order deps
  pdns/dnsdistdist/test-delaypipe_hh.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/testrunner.cc
  pdns/test-distributor_hh.cc
  pdns/test-dnsrecordcontent.cc
  pdns/test-dnsrecords_cc.cc
  pdns/test-packetcache_cc.cc
  pdns/testrunner.cc
Labels: auth, dnsdist, enhancement, rec

#7696 b2b-migrate did not open a transaction, breaking it for lmdb
  pdns/pdnsutil.cc
Labels: auth

#7727 fix formatting for thread distribution stats message
  pdns/pdns_recursor.cc
Labels: enhancement, rec

#7669 set --enable-option-checking=fatal on all package builds, enable SNMP in RPMs
  builder-support/debian/dnsdist/debian-jessie/rules
  builder-support/debian/dnsdist/debian-stretch/rules
  builder-support/debian/dnsdist/ubuntu-trusty/rules
  builder-support/specs/dnsdist.spec
  builder-support/specs/pdns-recursor.spec
  builder-support/specs/pdns.spec
Labels: enhancement, rec

#7732 block stdin when spawning dnsdist for testing
  regression-tests.dnsdist/dnsdisttests.py
Labels: dnsdist, enhancement

#7731 rec: Fix the cache cleaning code being only run once for workers
  pdns/pdns_recursor.cc
Labels: defect, rec

#7644 remotebackend: fix SOA in unittests
  modules/remotebackend/test-remotebackend.cc
  modules/remotebackend/unittest.rb
Labels: auth

#7410 Ignore Path MTU Discovery on UDP server socket
  pdns/dnsdist.cc
  pdns/iputils.cc
  pdns/iputils.hh
  pdns/nameserver.cc
  pdns/pdns_recursor.cc
Labels: auth, dnsdist, enhancement, rec

#7508 rec: Add 'protobuf-use-kernel-timestamp' for sharper latencies
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
Labels: enhancement, rec

#7726 dnsdist: Add DNS over HTTPS support based on libh2o
  build-scripts/travis.sh
  builder-support/debian/dnsdist/debian-stretch/rules
  builder-support/dockerfiles/Dockerfile.debbuild-prepare
  builder-support/dockerfiles/Dockerfile.rpmbuild
  builder-support/specs/dnsdist.spec
  pdns/Makefile.am
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/configure.ac
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/doh.hh
  pdns/dnsdistdist/libssl.cc
  pdns/dnsdistdist/libssl.hh
  pdns/dnsdistdist/m4/dnsdist_enable_doh.m4
  pdns/dnsdistdist/m4/dnsdist_with_libssl.m4
  pdns/dnsdistdist/m4/pdns_check_libh2o_evloop.m4
  pdns/dnsdistdist/tcpiohandler.cc
  pdns/doh.hh
  pdns/tcpiohandler.hh
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/requirements.txt
  regression-tests.dnsdist/test_DOH.py
  regression-tests.dnsdist/test_EDNSOptions.py
  regression-tests.dnsdist/test_EDNSSelfGenerated.py
  regression-tests.dnsdist/test_EdnsClientSubnet.py
Labels: dnsdist, enhancement

#7741 dnsdist: remove maxEntries from newPacketCache opts
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: defect, dnsdist

#7746 dnsdist: Fix destination matching with DoH
  pdns/dnsdistdist/doh.cc
Labels: defect, dnsdist

#7713 auth: export TAs and forward zones for rec testing with auth zones
  regression-tests/.gitignore
  regression-tests/tests/00dnssec-grabkeys/command
Labels: auth, enhancement

#7748 dnsdist: Fix doc for checkInterval, setECSOverride and the ACL
  pdns/dnsdistdist/docs/advanced/acl.rst
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, docs

#7749 refactor tls/https lib handling to cover all option combinations
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/configure.ac
Labels: defect, dnsdist

#7480 rec: implement a way to disallow throtteling of auths
  pdns/dnsname.hh
  pdns/pdns_recursor.cc
  pdns/rec_channel.hh
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/test-syncres_cc.cc
  pdns/sholder.hh
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/test-dnsname_cc.cc
Labels: enhancement, rec

#6341 recursor: Add DNAME support
  pdns/dnsrecords.hh
  pdns/packethandler.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/basicDNSSEC.py
  regression-tests.recursor-dnssec/recursortests.py
Labels: rec

#7744 dnsdist: Prepare secpoll and ChangeLog updates for 1.4.0-alpha2
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#7756 dnsdist: Include dnsnameset.rst in the reference index
  pdns/dnsdistdist/docs/reference/constants.rst
  pdns/dnsdistdist/docs/reference/index.rst
Labels: defect, dnsdist, docs

#7714 rec: Fix DNSSEC validation of non-expanded wildcards
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/validate.cc
  pdns/validate.hh
Labels: backport to stable?, defect, rec

#7571 rec: Add a distribution-pipe-buffer-size setting
  pdns/misc.cc
  pdns/misc.hh
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
Labels: enhancement, rec

#7730 rec: Move replaced negcache entries to the back of the expunge queue
  pdns/cachecleaner.hh
  pdns/dbdnsseckeeper.cc
  pdns/recursordist/negcache.cc
  pdns/recursordist/test-negcache_cc.cc
Labels: backport to stable?, defect, rec
