Repository PowerDNS/pdns, pull requests merged in 2019-08, with the labels that each got.

#8149 auth: stop using select() in places where FDs can be >1023
  modules/pipebackend/coprocess.cc
  modules/remotebackend/pipeconnector.cc
Labels: auth, backport to auth-4.2.x?, defect

#8148 dnsdist: Add support for custom DoH headers
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/doh.cc
  pdns/doh.hh
  regression-tests.dnsdist/test_DOH.py
Labels: dnsdist, enhancement

#8142 Restore the Lua binding for DNSName::wirelength()
  pdns/lua-base4.cc
Labels: backport to rec-4.2.x?, defect, rec

#8140 rec: Document that the special-memory-usage stat is excluded by default
  pdns/recursordist/docs/settings.rst
Labels: defect, docs, rec

#8158 dnsdist: Fix signedness issue in isEDNSOptionInOpt()
  pdns/dnsdist-ecs.cc
  pdns/test-dnsdist_cc.cc
Labels: defect, dnsdist

#8117 dnsdist: Implement ContinueAction()
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/rules-actions.rst
  regression-tests.dnsdist/test_Advanced.py
Labels: dnsdist, enhancement

#8129 auth lmdb: add schema versioning
  modules/lmdbbackend/lmdbbackend.cc
Labels: auth, backport to auth-4.2.x?

#8163 auth 4.2.x: stop using select() in places where FDs can be >1023
  modules/pipebackend/coprocess.cc
  modules/remotebackend/pipeconnector.cc
Labels: auth, defect

#8164 pdnsutil increase-serial: set right ordername
  pdns/pdnsutil.cc
  regression-tests/tests/pdnsutil-increase-serial/command
  regression-tests/tests/pdnsutil-increase-serial/description
  regression-tests/tests/pdnsutil-increase-serial/expected_result
  regression-tests/tests/pdnsutil-increase-serial/skip.nodyndns
Labels: auth, backport to auth-4.2.x?, defect

#8154 dnsdist: Use a counter to mark IDState usage instead of the FD
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/doh.cc
Labels: dnsdist, enhancement, needs review

#8153 dnsdist: Add Lua bindings, rules and action for DoH
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/docs/reference/dq.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/dnsdistdist/doh.cc
  pdns/doh.hh
  regression-tests.dnsdist/test_DOH.py
Labels: dnsdist, enhancement, needs review

#8157 gpgsqlbackend: add missing schema file to Makefile
  modules/gpgsqlbackend/Makefile.am
Labels: auth

#8162 auth 4.1.x: stop using select() in places where FDs can be >1023
  modules/pipebackend/coprocess.cc
  modules/remotebackend/pipeconnector.cc
Labels: auth, defect

#8168 auth 4.2.x: packethandler: Compare TSIG key name using DNSName
  pdns/packethandler.cc
Labels: auth

#8170 auth 4.1.13: changelog and secpoll
  docs/changelog/4.1.rst
  docs/secpoll.zone
Labels: auth

#8141 dnsdist: Add OCSP stapling (from files) for DoT and DoH
  build-scripts/travis.sh
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/libssl.cc
  pdns/dnsdistdist/libssl.hh
  pdns/dnsdistdist/m4/dnsdist_with_libssl.m4
  pdns/dnsdistdist/tcpiohandler.cc
  pdns/doh.hh
  pdns/tcpiohandler.hh
  regression-tests.dnsdist/.gitignore
  regression-tests.dnsdist/runtests
  regression-tests.dnsdist/test_OCSP.py
Labels: dnsdist, enhancement

#8175 dnsdist: Increase the default value of setMaxUDPOutstanding to 65535
  pdns/dnsdist.cc
  pdns/dnsdistdist/docs/advanced/tuning.rst
  pdns/dnsdistdist/docs/reference/tuning.rst
Labels: dnsdist, enhancement

#8127 changelog and secpoll for auth 4.2.0-rc3
  docs/backends/index.rst
  docs/backends/lmdb.rst
  docs/changelog/4.2.rst
  docs/secpoll.zone
Labels: auth, docs

#8030 dnsdist: Handle ENOTCONN on read() over TCP
  pdns/dnsdist-tcp.cc
  pdns/tcpiohandler.hh
Labels: defect, dnsdist

#8180 dnsdist: Update the ChangeLog and secpoll for 1.4.0-rc1
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist, docs

#8091 Some unneeded float<->double conversions.
  pdns/syncres.hh
Labels: rec

#8121 Recursor 4.2: Backport #8008 #8047 test improvements
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc.hh
  pdns/recursordist/test-syncres_cc4.cc
  pdns/recursordist/test-syncres_cc5.cc
Labels: defect, rec

#8122 Bail out when no Context library is available
  pdns/recursordist/configure.ac
Labels: backport to rec-4.1.x?, backport to rec-4.2.x?

#8188 dnsdist: Add an OCSP stapling guide
  pdns/dnsdistdist/docs/guides/index.rst
  pdns/dnsdistdist/docs/guides/ocsp-stapling.rst
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, docs, enhancement

#8200 Update h2o to 2.2.6, fixing CVE-2019-9512, CVE-2019-9514 and CVE-2019-9515
  builder-support/dockerfiles/Dockerfile.debbuild-prepare
  builder-support/dockerfiles/Dockerfile.rpmbuild
Labels: dnsdist

#8196 Gracefully handle the mplexer test pipe having only room for one
  pdns/test-mplexer.cc
Labels: auth, backport to stable?, defect, dnsdist, rec

#8198 dnsdist: Remove flaky healthcheck regression test
  regression-tests.dnsdist/test_HealthChecks.py
Labels: backport to stable?, defect, dnsdist

#7941 rec: Add bindings to craft answers from the FFI version of gettag
  pdns/lua-recursor4-ffi.hh
  pdns/lua-recursor4.cc
  pdns/lua-recursor4.hh
  pdns/pdns_recursor.cc
  pdns/syncres.hh
Labels: enhancement, rec

#8209 dnsdist: clarify in the examples that DelayAction is UDP-only
  pdns/dnsdistdist/docs/advanced/qpslimits.rst
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: defect, dnsdist, docs

#8219 bind getAllDomains: ignore per-zone exceptions
  modules/bindbackend/bindbackend2.cc
Labels: auth, backport to auth-4.2.x?, defect

#8227 Fix inverse handler registration logic for SNMP.
  pdns/rec-snmp.cc
Labels: backport to rec-4.2.x?, defect, rec

#8230 rec: backport Fix inverse handler registration logic for SNMP.
  pdns/rec-snmp.cc
Labels: defect, rec

#8207 dnsdist: Add minTLSVersion for DoH and DoH
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/libssl.cc
  pdns/dnsdistdist/libssl.hh
  pdns/dnsdistdist/tcpiohandler.cc
  pdns/doh.hh
  pdns/libssl.hh
  pdns/tcpiohandler.hh
Labels: dnsdist, enhancement

#8229 auth backport: bind getAllDomains: ignore per-zone exceptions
  modules/bindbackend/bindbackend2.cc
Labels: auth, defect

#8236 Add missing inc in rpz findClientPolicy loop.
  pdns/filterpo.cc
Labels: backport to rec-4.2.x?, defect, easy, rec

#8238 rec: backport 8236: Add missing inc in rpz findClientPolicy loop.
  pdns/filterpo.cc
Labels: defect, easy, rec

#8239 dnsdist: Fix some syntax errors in the OCSP stapling guide
  pdns/dnsdistdist/docs/guides/ocsp-stapling.rst
Labels: defect, dnsdist, docs

#8139 dnsdist: Add a KeyValueStoreLookup action based on CDB or LMDB
  .circleci/config.yml
  build-scripts/travis.sh
  configure.ac
  ext/lmdb-safe/.gitignore
  ext/lmdb-safe/LICENSE
  ext/lmdb-safe/Makefile.am
  ext/lmdb-safe/lmdb-safe.cc
  ext/lmdb-safe/lmdb-safe.hh
  ext/lmdb-safe/lmdb-typed.cc
  ext/lmdb-safe/lmdb-typed.hh
  m4/pdns_check_cdb.m4
  m4/pdns_check_lmdb.m4
  m4/systemd.m4
  modules/lmdbbackend/Makefile.am
  modules/lmdbbackend/OBJECTFILES
  modules/lmdbbackend/lmdbbackend.hh
  modules/tinydnsbackend/Makefile.am
  modules/tinydnsbackend/OBJECTFILES
  modules/tinydnsbackend/cdb.cc
  modules/tinydnsbackend/tinydnsbackend.cc
  modules/tinydnsbackend/tinydnsbackend.hh
  pdns/Makefile.am
  pdns/cdb.cc
  pdns/cdb.hh
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/cdb.cc
  pdns/dnsdistdist/cdb.hh
  pdns/dnsdistdist/configure.ac
  pdns/dnsdistdist/dnsdist-kvs.cc
  pdns/dnsdistdist/dnsdist-kvs.hh
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/docs/reference/index.rst
  pdns/dnsdistdist/docs/reference/kvs.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/dnsdistdist/ext/lmdb-safe/LICENSE
  pdns/dnsdistdist/ext/lmdb-safe/Makefile.am
  pdns/dnsdistdist/ext/lmdb-safe/lmdb-safe.cc
  pdns/dnsdistdist/ext/lmdb-safe/lmdb-safe.hh
  pdns/dnsdistdist/m4/pdns_check_cdb.m4
  pdns/dnsdistdist/m4/pdns_check_lmdb.m4
  pdns/dnsdistdist/test-dnsdistkvs_cc.cc
  regression-tests.dnsdist/kvs.cdb.1
  regression-tests.dnsdist/kvs.cdb.2
  regression-tests.dnsdist/requirements.txt
  regression-tests.dnsdist/test_CDB.py
  regression-tests.dnsdist/test_LMDB.py
Labels: dnsdist, enhancement

#8250 dnsdist: Split dnsdist-lua-bindings.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-lua-bindings-dnscrypt.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-kvs.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-packetcache.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-protobuf.cc
Labels: dnsdist

#8248 dnsdist: Fix KVS compilation on Boost < 1.56
  pdns/dnsdistdist/dnsdist-kvs.cc
Labels: defect, dnsdist

#8237 dnsdist: TLS 1.3 requires OpenSSL 1.1.1.
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/libssl.cc
  pdns/dnsdistdist/tcpiohandler.cc
  pdns/libssl.hh
Labels: defect, dnsdist

#8252 dnsdist: Add a Lua binding for `DynBlockRulesGroup:setQuiet(quiet)`
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, enhancement

#8206 dnsdist: Add support for early DoH HTTP responses
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/dnsdistdist/doh.cc
  pdns/doh.hh
  regression-tests.dnsdist/test_DOH.py
Labels: dnsdist, enhancement

#8251 dnsdist: Build packages with CDB and LMDB when possible
  builder-support/debian/dnsdist/debian-buster/control
  builder-support/debian/dnsdist/debian-jessie/control
  builder-support/debian/dnsdist/debian-stretch/control
  builder-support/specs/dnsdist.spec
Labels: dnsdist

#8124 Backport #7951 to rec 4.2.x
  builder-support/dockerfiles/Dockerfile.authoritative
  builder-support/dockerfiles/Dockerfile.dnsdist
  builder-support/dockerfiles/Dockerfile.recursor
  builder-support/dockerfiles/Dockerfile.target.sdist
  m4/boost.m4
  pdns/recursordist/configure.ac
Labels: rec

#8123 Backport #7951 to recursor 4.1.x
  m4/boost.m4
  pdns/recursordist/configure.ac
Labels: rec

#8260 Set type of Cryptokey ID to integer
  docs/http-api/swagger/authoritative-api-swagger.yaml
Labels: auth, docs
