Repository PowerDNS/pdns, pull requests merged in 2019-02, with the labels that each got.

#7440 Update changelog and secpol for rec-4.1.11 and rec-4.2.0-alpha1.
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.1.rst
  pdns/recursordist/docs/changelog/4.2.rst
  pdns/recursordist/docs/changelog/index.rst
Labels: docs, rec

#7441 [dnsdist] Fix wrong version numbering of new features
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: defect, dnsdist, docs

#7438 travis auth: install dnsmasq, configure it on 127.0.0.53
  build-scripts/travis.sh
  regression-tests/backends/gsql-common
  regression-tests/backends/ldap-master
  regression-tests/start-test-stop
Labels: auth, enhancement

#7453 Authortitative LMDB backend
  build-scripts/travis.sh
  builder-support/debian/authoritative/debian-stretch/control
  builder-support/debian/authoritative/debian-stretch/pdns-backend-lmdb.examples
  builder-support/debian/authoritative/debian-stretch/pdns-backend-lmdb.install
  builder-support/debian/authoritative/debian-stretch/pdns-backend-lmdb.postinst
  builder-support/debian/authoritative/debian-stretch/rules
  configure.ac
  m4/pdns_check_lmdb.m4
  modules/Makefile.am
  modules/lmdbbackend/Makefile.am
  modules/lmdbbackend/OBJECTFILES
  modules/lmdbbackend/OBJECTLIBS
  modules/lmdbbackend/lmdb-safe.cc
  modules/lmdbbackend/lmdb-safe.hh
  modules/lmdbbackend/lmdb-typed.cc
  modules/lmdbbackend/lmdb-typed.hh
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
  pdns/pdnsutil.cc
  regression-tests/.gitignore
  regression-tests/backends/common
  regression-tests/backends/lmdb-master
  regression-tests/backends/lmdb-slave
  regression-tests/modules/liblmdbbackend.so
  regression-tests/runtests
  regression-tests/start-test-stop
  regression-tests/tests/00dnssec-grabkeys/expected_result.lmdb
  regression-tests/tests/basic-nonzone/skip.lmdb
Labels: auth, enhancement

#7433 Resync yahttp code to cmouse/yahttp@11be77a1fc4032
  ext/yahttp/README.md
  ext/yahttp/yahttp/exception.hpp
  ext/yahttp/yahttp/reqresp.cpp
  ext/yahttp/yahttp/router.hpp
  ext/yahttp/yahttp/url.hpp
  ext/yahttp/yahttp/utility.hpp
Labels: auth, dnsdist, rec

#7421 Hack in support for GitHub access tokens.
  build-scripts/changelog-from-pr.py
Labels: enhancement, tools

#7432 Clarify documentation to reflect actual behavior of includeDirectory
  pdns/dnsdistdist/docs/reference/config.rst
Labels: defect, dnsdist, docs

#7142 dnsdist: Add option to set interval between health checks
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, enhancement

#7470 auth: lmdb-backend avoid duplicate NSEC3 records in presigned zones
  modules/bindbackend/bindbackend2.cc
  modules/bindbackend/bindbackend2.hh
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
  modules/luabackend/luabackend.hh
  modules/luabackend/slave.cc
  modules/opendbxbackend/odbxbackend.cc
  modules/opendbxbackend/odbxbackend.hh
  modules/remotebackend/remotebackend.cc
  modules/remotebackend/remotebackend.hh
  pdns/backends/gsql/gsqlbackend.cc
  pdns/backends/gsql/gsqlbackend.hh
  pdns/dnsbackend.hh
  pdns/slavecommunicator.cc
Labels: auth, defect, needs review

#7472 Do not compress the root
  pdns/dnswriter.cc
Labels: auth, backport to stable?, defect

#7475 Avoid infinite loop in mydnsbackend.
  modules/mydnsbackend/mydnsbackend.cc
Labels: auth, backport to stable?, defect

#7463 Auth. API: improve RRset validation
  pdns/ws-auth.cc
  regression-tests.api/requirements.txt
  regression-tests.api/test_Zones.py
Labels: auth, backport to stable?, rest-api

#7459 auth: fix dot stripping in setContent()
  pdns/dnsrecords.cc
Labels: auth, backport to stable?, defect

#7451 Make sure that the systemd binaries are available during the build
  builder-support/debian/authoritative/debian-jessie/control
  builder-support/debian/authoritative/debian-stretch/control
  builder-support/debian/dnsdist/debian-jessie/control
  builder-support/debian/dnsdist/debian-stretch/control
  builder-support/debian/recursor/debian-jessie/control
  builder-support/debian/recursor/debian-stretch/control
  builder-support/specs/dnsdist.spec
  builder-support/specs/pdns.spec
Labels: auth, defect, dnsdist, rec

#7352 respect packet size limits, even with ECS and TSIG
  pdns/dnspacket.cc
  regression-tests/tests/too-big-for-udp-query-no-truncate-additional/expected_result
Labels: auth, defect

#7482 pdnsutil: Fix output order of pdnsutil add-record
  pdns/pdnsutil.cc
Labels: auth, defect

#7487 dnsdist: don't test or show unneeded TLS libs
  pdns/dnsdistdist/configure.ac
Labels: dnsdist, enhancement

#7488 API: improve handling of out of range modified_at value
  pdns/json.cc
  regression-tests.api/test_Zones.py
Labels: auth, defect, rest-api

#7491 store masters with comma separated and without trailing space
  pdns/ws-auth.cc
Labels: auth, enhancement

#7485 Fix some warning reported by Clang's static analyzer
  pdns/dnsdist.cc
  pdns/dnssecinfra.cc
  pdns/misc.cc
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/recpacketcache.cc
  pdns/recpacketcache.hh
  pdns/recursor_cache.cc
  pdns/reczones.cc
  pdns/rpzloader.cc
  pdns/syncres.cc
  pdns/test-dnsdist_cc.cc
  pdns/test-recpacketcache_cc.cc
Labels: defect, dnsdist, rec

#7483 dnsdist: Preserve configuration and log files in regression tests
  regression-tests.dnsdist/.gitignore
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/runtests
Labels: dnsdist, enhancement

#7479 rec: Document addRecord
  pdns/recursordist/docs/lua-scripting/dq.rst
Labels: defect, docs, rec

#7476 rec: Add an option to not override custom RPZ types with the default policy
  pdns/filterpo.cc
  pdns/filterpo.hh
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/recursordist/docs/lua-config/rpz.rst
  pdns/rpzloader.cc
  pdns/rpzloader.hh
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: enhancement, rec

#7492 Lua: expose `dns_random` as `pdnsrandom`
  docs/lua-records/reference/misc.rst
  pdns/lua-base4.cc
  pdns/recursordist/docs/lua-scripting/functions.rst
  regression-tests.recursor-dnssec/test_Lua.py
Labels: auth, rec

#7478 rec: Add a new 'max-cache-bogus-ttl' option
  pdns/pdns_recursor.cc
  pdns/recursor_cache.cc
  pdns/recursor_cache.hh
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/negcache.cc
  pdns/recursordist/negcache.hh
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/basicDNSSEC.py
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_Flags.py
  regression-tests.recursor-dnssec/test_TTL.py
Labels: enhancement, rec

#7495 rec-4.1.x: Correctly interpret an empty AXFR response to an IXFR query
  pdns/ixfr.cc
  pdns/test-ixfr_cc.cc
  regression-tests.recursor-dnssec/requirements.txt
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: defect, rec

#7505 auth: Fix compilation of speedtest with GCC 8.0+
  pdns/speedtest.cc
Labels: auth, backport to stable?, defect

#7494 Correctly interpret an empty AXFR response to an IXFR query
  pdns/ixfr.cc
  pdns/test-ixfr_cc.cc
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: auth, backport to stable?, defect, rec

#7406 Add EDNS unknown version handling
  pdns/dnsdist-console.cc
  pdns/dnsdist-ecs.cc
  pdns/dnsdist-ecs.hh
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/docs/rules-actions.rst
  regression-tests.dnsdist/test_Advanced.py
Labels: dnsdist, enhancement

#7511 Minor capitalization cleanup
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: defect, dnsdist, docs

#7448 remotebackend: Implement getUpdatedMasters
  docs/backends/remote.rst
  modules/remotebackend/remotebackend.cc
  modules/remotebackend/remotebackend.hh
  modules/remotebackend/test-remotebackend.cc
  modules/remotebackend/unittest.rb
Labels: auth, enhancement

#7490 LUA records: Add "useragent" option to `ifurlup` and set a default
  docs/lua-records/functions.rst
  pdns/lua-record.cc
  pdns/minicurl.cc
  pdns/minicurl.hh
Labels: auth, enhancement

#7359 Add Rcode response statistics on API
  docs/changelog/4.2.rst
  docs/http-api/statistics.rst
  docs/http-api/swagger/authoritative-api-swagger.yaml
  pdns/responsestats-auth.cc
  pdns/responsestats.cc
  pdns/responsestats.hh
  pdns/ws-api.cc
  regression-tests.api/test_Servers.py
Labels: enhancement

#7431 pass empty response
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/reference/config.rst
  regression-tests.dnsdist/test_Advanced.py
Labels: dnsdist

#7326 Add type filter to search-data api. Closes #5430
  docs/http-api/swagger/authoritative-api-swagger.yaml
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, rest-api

#6872 ixfrdist: Add option to limit AXFR record count
  docs/manpages/ixfrdist.yml.5.rst
  pdns/ixfrdist.cc
  pdns/ixfrdist.example.yml
Labels: enhancement, tools

#7496 auth: Catch exception when parsing a zone's SOA in getUnfreshSlaveInfos()
  pdns/backends/gsql/gsqlbackend.cc
Labels: auth, backport to stable?, defect

#7531 Add changelog and secpoll for auth-4.2.0-beta1.
  docs/backends/remote.rst
  docs/changelog/4.2.rst
  docs/secpoll.zone
Labels: auth, docs
