Repository PowerDNS/pdns, pull requests merged in 2019-11, with the labels that each got.

#8492 Add a parameter to limit the number of '$GENERATE' steps
  docs/settings.rst
  modules/bindbackend/bindbackend2.cc
  pdns/comfun.cc
  pdns/common_startup.cc
  pdns/fuzz_zoneparsertng.cc
  pdns/ixfrutils.cc
  pdns/pdns_recursor.cc
  pdns/pdnsutil.cc
  pdns/recursordist/docs/settings.rst
  pdns/reczones.cc
  pdns/rpzloader.cc
  pdns/validate-recursor.cc
  pdns/ws-auth.cc
  pdns/zone2json.cc
  pdns/zone2ldap.cc
  pdns/zone2sql.cc
  pdns/zoneparser-tng.cc
  pdns/zoneparser-tng.hh
Labels: auth, enhancement, rec

#8235 rfc2136, pdnsutil: somewhat improve duplicate record handling
  pdns/pdnsutil.cc
  pdns/rfc2136handler.cc
  regression-tests/tests/1dyndns-content-casemix/command
  regression-tests/tests/1dyndns-content-casemix/description
  regression-tests/tests/1dyndns-content-casemix/expected_result
  regression-tests/tests/1dyndns-content-casemix/skip.nodyndns
Labels: auth, backport to auth-4.2.x?, defect

#8289 pdnsutil increase-serial: under SOA-EDIT=INCEPTION-EPOCH, bump as if it is EPOCH
  docs/dnsupdate.rst
  pdns/serialtweaker.cc
  regression-tests/tests/pdnsutil-increase-serial-inception-epoch/command
  regression-tests/tests/pdnsutil-increase-serial-inception-epoch/description
  regression-tests/tests/pdnsutil-increase-serial-inception-epoch/expected_result
  regression-tests/tests/pdnsutil-increase-serial-inception-epoch/skip.nodyndns
  regression-tests/tests/pdnsutil-increase-serial/command
Labels: auth, backport to auth-4.2.x?

#8509 Fix typo: settting to setting
  pdns/dnsdist.cc
  pdns/recursordist/docs/settings.rst
Labels: dnsdist, rec

#8510 rec: Avoid mthread race when using the set of rootNSZones.
  pdns/reczones.cc
Labels: backport to rec-4.2.x?, defect, rec

#8511 Rec: do RFC 8020 only if cache entry is dnssec validated
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc2.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec

#8477 rec: enable qname minimization
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/test_EDNSBufferSize.py
  regression-tests.recursor-dnssec/test_Protobuf.py
  regression-tests.recursor-dnssec/test_RootNXTrust.py
  regression-tests.recursor/config.sh
Labels: rec

#8425 pdnsutil: correctly report ed* algo availability
  pdns/pdnsutil.cc
Labels: auth, defect

#8518 Rec 8020 docs fix
  pdns/pdns_recursor.cc
  pdns/rec_channel.cc
  pdns/rec_channel.hh
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/settings.rst
Labels: docs, easy, rec

#8520 rec: markup fix
  pdns/recursordist/docs/settings.rst
Labels: docs, easy, rec

#8526 dnsdist: Prefer the cipher suite from the server by default (DoH, DoT)
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/libssl.hh
Labels: dnsdist

#8522 dnsdist: Add bindings for the noerrors and drops members of StatNode
  pdns/dnsdist-dynblocks.hh
  pdns/dnsdist-lua-inspection.cc
Labels: dnsdist, enhancement

#8521 rec: Make threads run until asked to stop.
  pdns/pdns_recursor.cc
  pdns/rec_channel.cc
  pdns/rec_channel.hh
  pdns/rec_channel_rec.cc
Labels: enhancement, rec

#8528 rec: Backport 8470 to rec 4.2.x: prime NS records of root-servers.net parent (.net)
  pdns/pdns_recursor.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/reczones.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec

#8524 dnsdist: Lowercase the name blocked by a SMT dynamic block
  pdns/dnsdist-dynblocks.hh
  pdns/dnsdist-lua.cc
Labels: dnsdist

#8501 auth 4.2.x: ds-at-apex-noerror test: do not run unbound-host
  regression-tests/tests/ds-at-apex-noerror/skip-unboundhost
Labels: auth

#4628 API: do not return dnssec info in domain list
  docs/http-api/swagger/authoritative-api-swagger.yaml
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, backport to auth-4.2.x?, enhancement, rest-api

#8225 timestamp TTL limiting to fix Issue #7439 - Take 2
  modules/tinydnsbackend/data
  modules/tinydnsbackend/data.cdb
  modules/tinydnsbackend/tinydnsbackend.cc
  regression-tests.nobackend/tinydns-data-check/expected_result
  regression-tests/tests/largettl/command
  regression-tests/tests/largettl/description
  regression-tests/tests/largettl/expected_result
  regression-tests/zones/example.com
Labels: auth, backport to auth-4.2.x?, defect

#8542 rec: backport 7068 to 4.1.x: Do the edns dumping harder.
  pdns/rec_channel_rec.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: defect, rec

#8543 rec: Backport 8340 to rec 4.1.x: issue with "zz" abbreviation for IPv6 RPZ triggers
  pdns/recursordist/Makefile.am
  pdns/recursordist/test-rpzloader_cc.cc
  pdns/rpzloader.cc
  pdns/rpzloader.hh
Labels: defect, rec

#8532 rec: qname-minimization metrics
  pdns/rec-snmp.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/rec_metrics.hh
  pdns/syncres.cc
  pdns/syncres.hh
Labels: enhancement, rec

#8544 rec: Backport 8470 to rec 4.1.x: prime NS records of root-servers.net parent (.net)
  pdns/pdns_recursor.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/reczones.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec

#8541 auth 4.2.x: API: do not return dnssec info in domain list
  docs/http-api/swagger/authoritative-api-swagger.yaml
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, enhancement

#8547 auth 4.2.x: add configurable timeout for inbound AXFR
  docs/settings.rst
  pdns/common_startup.cc
  pdns/slavecommunicator.cc
Labels: auth

#8540 dnsdist: Add a DoH guide to the documentation.
  pdns/dnsdistdist/docs/guides/dns-over-https.rst
Labels: dnsdist, docs, enhancement

#8525 Rec: Purge map of failed auths periodically by keeping a last changed timestamp.
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/syncres.cc
  pdns/syncres.hh
Labels: backport to rec-4.1.x?, backport to rec-4.2.x?, defect, rec

#8561 QName Minimization is no longer experimental
  pdns/recursordist/docs/settings.rst
Labels: docs, rec

#8559 Avoid startup race by setting the state of a tread before starting it.
  pdns/pdns_recursor.cc
Labels: backport to rec-4.2.x?, defect, rec

#8560 rec: check return value of dup() and avoid fd leak if if fdopen() fails
  pdns/syncres.cc
Labels: defect, rec

#8536 Fix lmdb backend
  ext/lmdb-safe/lmdb-safe.cc
  ext/lmdb-safe/lmdb-safe.hh
  ext/lmdb-safe/lmdb-typed.cc
  ext/lmdb-safe/lmdb-typed.hh
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
  pdns/dnsdistdist/dnsdist-kvs.cc
  pdns/dnsdistdist/test-dnsdistkvs_cc.cc
  pdns/pdnsutil.cc
  pdns/ws-auth.cc
Labels: auth, dnsdist

#8557 dnsdist: ChangeLog and secpoll update for dnsdist 1.4.0
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#8508 auth-4.2.x: pdnsutil increase-serial: under SOA-EDIT=INCEPTION-EPOCH, bump as if it is EPOCH
  docs/dnsupdate.rst
  pdns/serialtweaker.cc
  regression-tests/tests/pdnsutil-increase-serial-inception-epoch/command
  regression-tests/tests/pdnsutil-increase-serial-inception-epoch/description
  regression-tests/tests/pdnsutil-increase-serial-inception-epoch/expected_result
  regression-tests/tests/pdnsutil-increase-serial-inception-epoch/skip.nodyndns
  regression-tests/tests/pdnsutil-increase-serial/command
Labels: auth, enhancement

#8548 auth 4.2.x: bindbackend: use metadata for also-notifies as well
  modules/bindbackend/bindbackend2.cc
Labels: auth

#8507 auth-4.2.x: rfc2136, pdnsutil: somewhat improve duplicate record handling
  pdns/pdnsutil.cc
  pdns/rfc2136handler.cc
  regression-tests/tests/1dyndns-content-casemix/command
  regression-tests/tests/1dyndns-content-casemix/description
  regression-tests/tests/1dyndns-content-casemix/expected_result
  regression-tests/tests/1dyndns-content-casemix/skip.nodyndns
Labels: auth, enhancement

#8549 auth 4.2.x: Add SLAVE-RENOTIFY zone metadata support
  docs/domainmetadata.rst
  docs/settings.rst
  pdns/slavecommunicator.cc
  pdns/ws-auth.cc
Labels: auth

#8546 auth 4.2.x: register a few known types and remove an unknown one
  pdns/dnsrecords.cc
  pdns/qtype.hh
Labels: auth

#8301 auth: on luaSynth exception, drain db output. Fixes #8299
  pdns/packethandler.cc
Labels: auth, backport to auth-4.2.x?, defect

#8503 Backport #8457 and #8497
  pdns/ws-auth.cc
Labels: auth

#8555 [DOC dnsdist] Extend guide for DoH over HTTP
  pdns/dnsdistdist/docs/guides/dns-over-https.rst
Labels: dnsdist, docs, enhancement

#8538 Use move semantics when updating the content of the StateHolder
  pdns/dnsdist-dynblocks.hh
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-rules.cc
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/rec_channel_rec.cc
  pdns/sholder.hh
Labels: dnsdist, enhancement, rec

#8529 dnsdist: Add the number of received bytes to StatNode entries
  pdns/dnsdist-dynblocks.hh
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdistdist/dnsdist-lua-inspection-ffi.cc
  pdns/dnsdistdist/dnsdist-lua-inspection-ffi.hh
  pdns/dnsscope.cc
  pdns/statnode.cc
  pdns/statnode.hh
Labels: dnsdist, enhancement

#8523 dnsdist: Use env toggles to disable some regression tests in Travis
  build-scripts/travis.sh
  regression-tests.dnsdist/test_Basics.py
  regression-tests.dnsdist/test_CDB.py
  regression-tests.dnsdist/test_DOH.py
  regression-tests.dnsdist/test_LMDB.py
  regression-tests.dnsdist/test_OCSP.py
  regression-tests.dnsdist/test_Prometheus.py
  regression-tests.dnsdist/test_TLSSessionResumption.py
  regression-tests.dnsdist/test_Tags.py
Labels: dnsdist, enhancement

#8380 dnsdist: Switch the default DoT provider from GnuTLS to OpenSSL
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/tcpiohandler.cc
Labels: dnsdist

#8562 YAHTTP: Accept headers without spaces
  ext/yahttp/yahttp/reqresp.cpp
Labels: backport to auth-4.2.x?, backport to rec-4.2.x?

#8570 auth-4.2.x: on luaSynth exception, drain db output
  pdns/packethandler.cc
Labels: auth, defect

#8577 auth root zone tests: do not ask the internet about domain.net
  regression-tests.rootzone/tests/ref-3ld/skip-unboundhost
Labels: backport to auth-4.1.x?, backport to auth-4.2.x?

#8345 Add script to format code,
  Makefile.am
  build-scripts/format-code
Labels: auth, dnsdist, rec

#8581 dnsdist: Fix typos in dnsnameset.rst' example code
  pdns/dnsdistdist/docs/reference/dnsnameset.rst
Labels: defect, dnsdist, docs

#8554 rec: Backport 8525 to rec 4.1.x: Purge map of failed auths periodically by keeping a last changed timestamp.
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/manpages/rec_control.rst
  pdns/syncres.cc
  pdns/syncres.hh
Labels: defect, rec

#8552 rec: Backport 8525 to rec 4.2.x: Purge map of failed auths periodically by keeping a last changed timestamp.
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/syncres.cc
  pdns/syncres.hh
Labels: defect, rec

#8579 Avoid having to use numbered indexes by given all indexes a tag
  pdns/auth-packetcache.cc
  pdns/auth-packetcache.hh
  pdns/auth-querycache.cc
  pdns/auth-querycache.hh
  pdns/cachecleaner.hh
  pdns/dbdnsseckeeper.cc
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsseckeeper.hh
  pdns/recpacketcache.cc
  pdns/recpacketcache.hh
  pdns/recursor_cache.cc
  pdns/recursordist/negcache.cc
  pdns/recursordist/negcache.hh
Labels: auth, dnsdist

#8580 pthread_rwlock_init() should be matched by pthread_rwlock_destroy()
  pdns/auth-packetcache.cc
  pdns/auth-packetcache.hh
  pdns/auth-querycache.cc
  pdns/auth-querycache.hh
  pdns/dnscrypt.cc
  pdns/dnscrypt.hh
  pdns/dnsdist-cache.hh
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-kvs.cc
  pdns/dnsdistdist/dnsdist-kvs.hh
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/test-lock_hh.cc
Labels: auth, dnsdist

#8441 global: Normalize isIpv4/6 to isIPv4/6
  docs/backends/pipe.rst
  docs/lua-records/reference/netmask.rst
  docs/upgrading.rst
  modules/geoipbackend/geoipbackend.cc
  pdns/calidns.cc
  pdns/dnspacket.cc
  pdns/iputils.hh
  pdns/lua-base4.cc
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/lua-scripting/netmask.rst
  pdns/recursordist/docs/upgrade.rst
  pdns/syncres.cc
  pdns/test-iputils_hh.cc
Labels: auth, rec

#8575 LUA view: do not crash on empty IP list, fixes #8572
  pdns/lua-record.cc
Labels: auth, backport to auth-4.2.x?, defect

#8589 auth-4.2.x: LUA view: do not crash on empty IP list, fixes #8572
  pdns/lua-record.cc
Labels: auth, defect

#8500 auth 4.1.x: ds-at-apex-noerror test: do not run unbound-host
  regression-tests/tests/ds-at-apex-noerror/skip-unboundhost
Labels: auth
