Repository PowerDNS/pdns, pull requests merged in 2019-05, with the labels that each got.

#7751 pycurl settings for darwin/brew
  regression-tests.dnsdist/README
  regression-tests.dnsdist/runtests
Labels: dnsdist, enhancement

#7750 Debian packages: remove duplicated dnsdomain2.schema
  builder-support/debian/authoritative/debian-buster/config/dnsdomain2.schema
  builder-support/debian/authoritative/debian-buster/pdns-backend-ldap.install
  builder-support/debian/authoritative/debian-jessie/config/dnsdomain2.schema
  builder-support/debian/authoritative/debian-jessie/pdns-backend-ldap.install
  builder-support/debian/authoritative/debian-stretch/config/dnsdomain2.schema
  builder-support/debian/authoritative/debian-stretch/pdns-backend-ldap.install
  builder-support/debian/authoritative/ubuntu-trusty/config/dnsdomain2.schema
  builder-support/debian/authoritative/ubuntu-trusty/pdns-backend-ldap.install
Labels: auth

#7735 Make guide more clear
  docs/guides/basic-database.rst
Labels: auth, docs

#7733 Clarify the "easy setup guide": schema listed is for 4.2/master only
  docs/guides/basic-database.rst
  modules/gmysqlbackend/enable-foreign-keys.mysql.sql
Labels: auth, docs

#7723 rename supermaster to superslave, and mention in upgrade notes
  docs/modes-of-operation.rst
  docs/settings.rst
  docs/upgrading.rst
  pdns/common_startup.cc
  pdns/packethandler.cc
  regression-tests.nobackend/supermaster-signed/command
  regression-tests.nobackend/supermaster-unsigned/command
Labels: auth, defect, docs

#7645 Various fixes/updates/rewording to documentation
  docs/appendices/backend-writers-guide.rst
  docs/appendices/compiling.rst
  docs/backends/bind.rst
  docs/backends/generic-mysql.rst
  docs/backends/generic-odbc.rst
  docs/backends/generic-oracle.rst
  docs/backends/generic-postgresql.rst
  docs/backends/generic-sql.rst
  docs/backends/generic-sqlite3.rst
  docs/backends/index.rst
  docs/backends/ldap.rst
  docs/backends/lua.rst
  docs/backends/lua2.rst
  docs/backends/opendbx.rst
  docs/backends/oracle.rst
  docs/backends/remote.rst
  docs/changelog/4.0.rst
  docs/changelog/4.1.rst
  docs/changelog/4.2.rst
  docs/changelog/pre-4.0.rst
  docs/common/security-policy.rst
  docs/dnssec/index.rst
  docs/dnssec/intro.rst
  docs/dnssec/migration.rst
  docs/dnssec/modes-of-operation.rst
  docs/dnssec/operational.rst
  docs/dnssec/pkcs11.rst
  docs/dnsupdate.rst
  docs/domainmetadata.rst
  docs/guides/addingrecords.rst
  docs/guides/alias.rst
  docs/guides/basic-database.rst
  docs/guides/kskroll.rst
  docs/guides/recursion.rst
  docs/guides/virtual-instances.rst
  docs/guides/zskroll.rst
  docs/http-api/tsigkey.rst
  docs/index.rst
  docs/installation.rst
  docs/lua-records/functions.rst
  docs/lua-records/index.rst
  docs/lua-records/reference/comboaddress.rst
  docs/lua-records/reference/index.rst
  docs/lua-records/reference/misc.rst
  docs/manpages/ixfrdist.yml.5.rst
  docs/manpages/pdns_control.1.rst
  docs/manpages/pdnsutil.1.rst
  docs/manpages/zone2json.1.rst
  docs/manpages/zone2ldap.1.rst
  docs/manpages/zone2sql.1.rst
  docs/migration.rst
  docs/modes-of-operation.rst
  docs/running.rst
  docs/security-advisories/powerdns-advisory-2012-01.rst
  docs/settings.rst
  docs/tsig.rst
Labels: defect, docs, enhancement

#7662 Do not exit on exception resolving addresses to notify
  pdns/communicator.hh
  pdns/mastercommunicator.cc
  pdns/tcpreceiver.cc
Labels: auth, backport to stable?, defect

#7655 dumresp: Add TCP support
  docs/manpages/dumresp.1.rst
  pdns/dumresp.cc
Labels: enhancement, tools

#7738 Add export-zone-ds to pdnsutil man page
  docs/manpages/pdnsutil.1.rst
Labels: auth, docs

#7753 pdns_control reopens geoip databases on reload
  docs/backends/geoip.rst
Labels: auth, docs

#7736 Add documentation for pdnsutil delete-rrset and replace-rrset
  docs/manpages/pdnsutil.1.rst
Labels: auth, docs

#7637 auth: fix referral response for DS queries
  pdns/packethandler.cc
  regression-tests.rootzone/tests/axfr/expected_result
  regression-tests.rootzone/tests/axfr/expected_result.dnssec
  regression-tests.rootzone/tests/axfr/expected_result.nsec3
  regression-tests.rootzone/tests/axfr/expected_result.nsec3-optout
  regression-tests.rootzone/tests/ds-at-ent-from-glue/command
  regression-tests.rootzone/tests/ds-at-ent-from-glue/description
  regression-tests.rootzone/tests/ds-at-ent-from-glue/expected_result
  regression-tests.rootzone/tests/ds-at-ent-from-glue/expected_result.dnssec
  regression-tests.rootzone/tests/ds-at-ent/command
  regression-tests.rootzone/tests/ds-at-ent/description
  regression-tests.rootzone/tests/ds-at-ent/expected_result
  regression-tests.rootzone/tests/ds-at-ent/expected_result.dnssec
  regression-tests.rootzone/tests/ds-at-glue/command
  regression-tests.rootzone/tests/ds-at-glue/description
  regression-tests.rootzone/tests/ds-at-glue/expected_result
  regression-tests.rootzone/tests/ds-at-glue/expected_result.dnssec
  regression-tests.rootzone/zones/ROOT
Labels: auth, backport to stable?, defect

#7569 Improve error reporting with garbage in the 'master' field of the database
  pdns/backends/gsql/gsqlbackend.cc
  pdns/pdnsutil.cc
  pdns/ws-auth.cc
Labels: auth, enhancement

#7523 disable dnssec pre-processing for non dnssec zones and avoid a lot of isSecuredZone() calls
  pdns/packethandler.cc
  pdns/packethandler.hh
  regression-tests.rootzone/tests/direct-ds/command
  regression-tests.rootzone/tests/direct-ds/description
  regression-tests.rootzone/tests/direct-ds/expected_result
  regression-tests.rootzone/tests/direct-ds/expected_result.dnssec
  regression-tests.rootzone/tests/direct-ns/command
  regression-tests.rootzone/tests/direct-ns/expected_result
  regression-tests.rootzone/tests/direct-ns/expected_result.dnssec
  regression-tests.rootzone/tests/ref-3ld/command
  regression-tests.rootzone/tests/ref-3ld/expected_result
  regression-tests.rootzone/tests/ref-3ld/expected_result.dnssec
Labels: auth, enhancement

#7764 Split test-syncres_cc.cc into multiple files to make them more digestible
  pdns/recursordist/Makefile.am
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc.hh
  pdns/recursordist/test-syncres_cc1.cc
  pdns/recursordist/test-syncres_cc2.cc
  pdns/recursordist/test-syncres_cc3.cc
  pdns/recursordist/test-syncres_cc4.cc
  pdns/recursordist/test-syncres_cc5.cc
  pdns/recursordist/test-syncres_cc6.cc
  pdns/recursordist/test-syncres_cc7.cc
  pdns/recursordist/test-syncres_cc8.cc
  pdns/recursordist/test-syncres_cc9.cc
Labels: rec

#7773 dnsdist: Change addLocal example to IPv6 address in quickstart
  pdns/dnsdistdist/docs/quickstart.rst
Labels: dnsdist, docs, enhancement

#7782 Update changelog and secpoll for rec-4.2.0-beta1.
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.2.rst
Labels: docs, rec

#7788 pkgs: don't depend on dns-root-data on Trusty
  builder-support/debian/recursor/ubuntu-trusty/control
  builder-support/debian/recursor/ubuntu-trusty/rules
Labels: rec

#7791 added LMDB backend info
  docs/backends/index.rst
  docs/backends/lmdb.rst
Labels: auth, docs, enhancement

#7814 dnsdist: Don't let 'self' dangling while parsing the request's qname
  pdns/dnsdistdist/doh.cc
  regression-tests.dnsdist/test_DOH.py
Labels: defect, dnsdist

#7615 RKEY is missing algorithm field
  pdns/dnsrecords.cc
Labels: auth, backport to stable?, defect

#7797 API: Mark set-ptr as deprecated
  docs/common/api/zone.rst
  docs/http-api/swagger/authoritative-api-swagger.yaml
  pdns/ws-auth.cc
Labels: auth, enhancement, rest-api

#7816 rec-4.1.x: Backport of 7714: Fix DNSSEC validation of wildcards expanded onto themselves
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/validate.cc
  pdns/validate.hh
Labels: defect, rec

#7813 Ensure a valid range to string() in PacketReader::getUnquotedText()
  pdns/dnsparser.cc
Labels: auth, defect, dnsdist, rec

#7818 SNMP: Use net-snmp-config --netsnmp-agent-libs instead of --agent-libs
  m4/pdns_with_net_snmp.m4
Labels: dnsdist, enhancement, rec

#7821 dnsdist: Document the SuffixMatchNode class, newSuffixMatchNode()
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, docs, enhancement

#7787 auth: Fix ENTs removal when "replacing" new records via the API
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, defect

#7817 dnsdist: Add a few more DoH tests
  regression-tests.dnsdist/test_DOH.py
Labels: dnsdist, enhancement

#7801 show DS for second and further keys too; fixes #7667
  pdns/pdnsutil.cc
Labels: auth, defect

#7363 Cleanup SOA editing
  pdns/dnsseckeeper.hh
  pdns/packethandler.cc
  pdns/packethandler.hh
  pdns/serialtweaker.cc
  pdns/tcpreceiver.cc
  regression-tests.nobackend/soa-edit/command
  regression-tests.nobackend/soa-edit/expected_result
Labels: auth, backport to stable?, defect

#7826 Fix the detection of snmp_select_info2()
  m4/pdns_with_net_snmp.m4
Labels: defect, dnsdist, rec

#7790 Do not busy loop if we get lots of notifies.
  pdns/communicator.cc
Labels: auth, backport to stable?, defect

#7824 dnsdist: Add documentation, completion and tests for our DoH HTTP rules
  pdns/dnsdist-console.cc
  pdns/dnsdistdist/docs/rules-actions.rst
  regression-tests.dnsdist/test_DOH.py
Labels: dnsdist, enhancement

#7823 dnsdist: Fix minor issues reported by Coverity
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/iputils.cc
  pdns/iputils.hh
  pdns/tcpiohandler.hh
Labels: dnsdist, enhancement

#7833 remove second, incomplete copy of Lua EDNSOptionCode table
  pdns/dnsdist-lua-vars.cc
Labels: defect, dnsdist

#7830 dnsdist: Add missing completion options and fix some typos
  pdns/dnsdist-console.cc
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: defect, dnsdist

#7825 dnsdist: Implement SNIRule for DoT and DoH
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/docs/reference/dq.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/m4/pdns_check_libh2o_evloop.m4
  pdns/dnsdistdist/tcpiohandler.cc
  pdns/tcpiohandler.hh
  regression-tests.dnsdist/configCA.conf
  regression-tests.dnsdist/configServer.conf
  regression-tests.dnsdist/runtests
  regression-tests.dnsdist/test_TLS.py
Labels: dnsdist, enhancement

#7622 Change all occurrences of string to std::string
  pdns/dnsdist-lua-actions.cc
Labels: dnsdist, enhancement

#7837 Update secpoll and changelog for rec-4.1.13 release.
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.1.rst
Labels: docs, rec

#7842 Update changelog and secpoll for rec-4.2.0-rc1 release.
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.2.rst
Labels: docs, rec

#7831 auth: Allow updates to override existing ENT records
  pdns/rfc2136handler.cc
  pdns/ws-auth.cc
  regression-tests/tests/1dyndns-cname-and-other-data/command
  regression-tests/tests/1dyndns-cname-and-other-data/expected_result
Labels: auth, defect

#7841 recursor: log UDP TC bits during trace
  pdns/syncres.cc
Labels: backport to stable?, enhancement, rec

#7851 builder: error out when no valid modules are specified
  builder-support/dockerfiles/Dockerfile.target.sdist
Labels: enhancement

#7548 Eliminate the loop in SyncRes::getAddrs()
  pdns/qtype.hh
  pdns/syncres.cc
Labels: needs review, rec

#7460 auth: speedup getUpdatedMasters() for the gsql backends
  modules/gmysqlbackend/gmysqlbackend.cc
  modules/godbcbackend/godbcbackend.cc
  modules/gpgsqlbackend/gpgsqlbackend.cc
  modules/gsqlite3backend/gsqlite3backend.cc
  pdns/backends/gsql/gsqlbackend.cc
Labels: auth, backport to stable?, enhancement

#7849 dnsdist: Fix the documentation of the 'mustResolve' parameter
  pdns/dnsdistdist/docs/reference/config.rst
Labels: defect, dnsdist, docs

#7857 Add latomic to ARC platform
  m4/pdns_check_os.m4
Labels: auth, dnsdist, enhancement, rec

#7858 dnsdist: Add missing overrides for ::getServerNameIndication()
  pdns/dnsdistdist/tcpiohandler.cc
Labels: defect, dnsdist

#7854 auth gsql getAllDomains: ignore stou errors
  pdns/backends/gsql/gsqlbackend.cc
Labels: auth, defect

#7844 auth: document how to get mysql or postgres from docker
  regression-tests/README.md
Labels: auth, docs, enhancement

#7850 Backport 7841: recursor: log UDP TC bits during trace
  pdns/syncres.cc
Labels: rec

#7829 auth backport 7790 to 4.1.x: Minimal fix to avoid busy looping on lots of notifies.
  pdns/communicator.cc
Labels: auth, defect

#7843 rec: Small speedups in the recursion 'slow' path
  pdns/lwres.cc
  pdns/pdns_recursor.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: backport to stable?, enhancement, rec

#7489 Recursor: allow basic auth for some statistics APIs
  pdns/recursordist/html/index.html
  pdns/recursordist/html/local.js
  pdns/webserver.cc
  pdns/webserver.hh
  pdns/ws-recursor.cc
  regression-tests.api/runtests.py
  regression-tests.api/test_Basics.py
  regression-tests.api/test_Servers.py
  regression-tests.api/test_helper.py
  regression-tests.dnsdist/test_API.py
Labels: rec, rest-api

#7819 Do coverity builds once a day via circleci
  .circleci/config.yml
Labels: auth, dnsdist, enhancement, rec

#7856 Don't initialize and deinitialize with OpenSSL >= 1.1
  pdns/dnsdistdist/libssl.cc
Labels: defect, dnsdist

#7863 dnsdist: Move PoolAvailableRule to rules section
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: defect, dnsdist, docs
