Repository PowerDNS/pdns, pull requests merged in 2020-12, with the labels that each got.

#9789 rec: Actually discard invalid RRSIGs with too high labels count
  pdns/validate.cc
Labels: rec

#9790 rec: Do not chase CNAME during qname minization step 4
  pdns/syncres.cc
  pdns/syncres.hh
Labels: backport to rec-4.4.x?, enhancement, rec

#9784 dnsdist: Remove useless second argument for `SpoofAction`
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdistdist/docs/rules-actions.rst
  regression-tests.dnsdist/test_Spoofing.py
Labels: dnsdist

#9574 Ensure socket-dir matches runtimedir on old systemd
  m4/systemd.m4
  pdns/Makefile.am
  pdns/recursordist/Makefile.am
Labels: auth, backport to auth-4.4.x?, defect

#9794 auth api-swagger.json: do not depend on .venv target. Fixes #9792
  pdns/Makefile.am
Labels: backport to auth-4.4.x?

#9793 rec: Fix the gathering of denial proof for wildcard-expanded answers
  pdns/recursordist/test-syncres_cc5.cc
  pdns/syncres.cc
Labels: backport to rec-4.3.x?, backport to rec-4.4.x?, defect, rec

#9806 rec: Log the exact Bogus state when 'dnssec-log-bogus' is enabled
  pdns/pdns_recursor.cc
Labels: enhancement, rec

#9756 dnsdist: Add prometheus metrics for top Dynamic Blocks entries
  pdns/bpf-filter.cc
  pdns/dnsdist-console.cc
  pdns/dnsdist-dynblocks.hh
  pdns/dnsdist-dynbpf.cc
  pdns/dnsdist-dynbpf.hh
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-dynblocks.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/test-dnsdistdynblocks_hh.cc
  pdns/dnsname.hh
  pdns/statnode.cc
  pdns/statnode.hh
  pdns/test-dnsname_cc.cc
  regression-tests.dnsdist/test_DynBlocks.py
Labels: dnsdist, enhancement

#9801 dnsdist: Clean up the internal queues use for self-answered and trailing test responses
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_Advanced.py
  regression-tests.dnsdist/test_Trailing.py
Labels: dnsdist

#9803 dockerfiles: do not claim equivs-dummy is sourced from pdns
  Dockerfile-auth
  Dockerfile-dnsdist
  Dockerfile-recursor
Labels: backport to auth-4.4.x?, backport to rec-4.4.x?

#9804 rec: backport 9790 to rec-4.3.x: Do not chase CNAME during qname minization step 4
  pdns/syncres.cc
  pdns/syncres.hh
Labels: enhancement, rec

#9720 Switch default TTL override to 1.
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
Labels: enhancement, rec

#9812 rec: Handle failure to start the web server more gracefully
  pdns/pdns_recursor.cc
  pdns/ws-recursor.cc
Labels: backport to rec-4.4.x?, defect, rec

#9815 el6 builds: use vault.centos.org
  builder-support/dockerfiles/CentOS-SCLo-scl-rh.repo
  builder-support/dockerfiles/Centos-Base-Vault.repo
  builder-support/dockerfiles/Dockerfile.target.centos-6
Labels: backport to auth-4.3.x?, backport to rec-4.3.x?

#9817 rec: Keep a cached, valid entry over a fresher Bogus one
  pdns/recursor_cache.cc
  pdns/recursordist/test-recursorcache_cc.cc
  pdns/recursordist/test-syncres_cc9.cc
Labels: enhancement, rec

#9805 rec: backport 9790 to rec-4.4.x: Do not chase CNAME during qname minization step 4
  pdns/syncres.cc
  pdns/syncres.hh
Labels: enhancement, rec

#9821 rec-4.4.x: Move to several distinct Bogus states, for easier debugging
  pdns/lua-recursor4.cc
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/recursor_cache.cc
  pdns/recursordist/test-syncres_cc3.cc
  pdns/recursordist/test-syncres_cc4.cc
  pdns/recursordist/test-syncres_cc5.cc
  pdns/recursordist/test-syncres_cc6.cc
  pdns/recursordist/test-syncres_cc7.cc
  pdns/recursordist/test-syncres_cc8.cc
  pdns/recursordist/test-syncres_cc9.cc
  pdns/secpoll-recursor.cc
  pdns/syncres.cc
  pdns/validate.cc
  pdns/validate.hh
Labels: enhancement, rec

#9825 rec: Backport 9807 to rec 4.4.x: Untangle the validation/resolving qnames and qtypes
  pdns/syncres.cc
  pdns/syncres.hh
Labels: defect, rec

#9807 rec: Untangle the validation/resolving qnames and qtypes
  pdns/syncres.cc
  pdns/syncres.hh
Labels: backport to rec-4.3.x?, backport to rec-4.4.x?, defect, rec

#9787 auth: extend CircleCI coverage
  .circleci/config.yml
Labels: backport to auth-4.2.x?, backport to auth-4.3.x?, backport to auth-4.4.x?

#9799 rec-4.4.x: Ensure socket-dir matches runtimedir on old systemd
  m4/systemd.m4
  pdns/Makefile.am
  pdns/recursordist/Makefile.am
Labels: rec

#9831 el8: PowerTools is now powertools
  build-scripts/docker/generate-repo-files.sh
  builder-support/dockerfiles/Dockerfile.target.centos-8
Labels: backport to auth-4.2.x?, backport to auth-4.3.x?, backport to auth-4.4.x?, backport to dnsdist-1.5.x?, backport to rec-4.2.x?, backport to rec-4.3.x?, backport to rec-4.4.x?

#9670 Rec: offensive language
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/recursordist/docs/lua-config/rpz.rst
  pdns/recursordist/docs/nod_udr.rst
  pdns/recursordist/docs/settings.rst
Labels: rec

#9822 dnsdist: add ability to set ACL from a file
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/advanced/acl.rst
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, enhancement

#9838 rec: Backport 9817 to rec 4.4.x: Keep a cached, valid entry over a fresher Bogus one
  pdns/recursor_cache.cc
  pdns/recursordist/test-recursorcache_cc.cc
  pdns/recursordist/test-syncres_cc9.cc
Labels: rec

#9837 rec: Backport 9832 to rec 4.4.x: UUID: Use the non-cryptographic variant of the boost::uuid
  pdns/Makefile.am
  pdns/speedtest.cc
  pdns/uuid-utils.cc
  pdns/uuid-utils.hh
Labels: enhancement, rec

#9828 rec: Add a compatibility layer for 'Bogus', document changes and the new metrics
  pdns/lua-recursor4.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/lua-scripting/dq.rst
  pdns/recursordist/docs/metrics.rst
  regression-tests.recursor-dnssec/test_Lua.py
Labels: rec

#9850 dnsdist: Don't copy the policy for every query
  pdns/dnsdist.cc
Labels: dnsdist, enhancement

#9854 More stack when asan is used
  pdns/pdns_recursor.cc
Labels: rec

#9832 UUID: Use the non-cryptographic variant of the boost::uuid
  pdns/Makefile.am
  pdns/speedtest.cc
  pdns/uuid-utils.cc
  pdns/uuid-utils.hh
Labels: backport to rec-4.4.x?, dnsdist, enhancement, rec

#9853 auth: Backport 9840 to auth 4.4.x: Stop using incbin and use od & sed to generate constant string data.
  pdns/incfiles
  pdns/ws-auth.cc
Labels: auth

#9858 auth bind: call DynListener static functions correctly
  modules/bindbackend/bindbackend2.cc
Labels: backport to auth-4.4.x?

#9840 Stop using incbin and use od & sed to generate constant string data
  pdns/dnsdist-web.cc
  pdns/dnsdistdist/incfiles
  pdns/incfiles
  pdns/recursordist/incfiles
  pdns/ws-auth.cc
  pdns/ws-recursor.cc
Labels: auth, dnsdist, rec

#9855 rec: Prep for rec 4.4.2 release
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.4.rst
Labels: rec

#9862 dnsdist: Add a Lua binding for the number of queries dropped by a server
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, enhancement

#9874 dnsdist: Fix typos in the documentation
  pdns/dnsdistdist/docs/advanced/acl.rst
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: defect, dnsdist, docs

#9856 rec: Use a short-lived NSEC3 hashes cache for denial validation
  pdns/validate.cc
Labels: backport to rec-4.4.x?, enhancement, rec

#9738 dnsdist: Add per connection queries count and duration stats for DoH
  pdns/dnsdistdist/doh.cc
Labels: dnsdist, enhancement

#9860 rec: Get rid of warnings when compiling with Boost 1.74
  pdns/rec_channel_rec.cc
  pdns/test-dnsname_cc.cc
Labels: backport to rec-4.4.x?, enhancement, rec

#9884 auth-4.4.x: clear the LMDB set state when performing a new lookup or list to prevent corruption cases
  modules/lmdbbackend/lmdbbackend.cc
Labels: auth, defect

#9879 rec: A few UBSAN-related fixes
  pdns/pdns_recursor.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/test-syncres_cc.cc
  pdns/sillyrecords.cc
  regression-tests.recursor/runtests
Labels: enhancement, rec

#9881 el6 docker builds: prefer v4 resolution
  builder-support/dockerfiles/Dockerfile.target.centos-6
Labels: backport to auth-4.3.x?, backport to rec-4.3.x?

#9844 SVCB: Correctly parse and print unknown params
  pdns/dnslabeltext.rl
  pdns/dnswriter.cc
  pdns/misc.hh
  pdns/rcpgenerator.cc
  pdns/rcpgenerator.hh
  pdns/test-dnsrecords_cc.cc
  pdns/test-rcpgenerator_cc.cc
Labels: backport to auth-4.4.x?

#9715 Remove all documentation irrelevant after 4.4.0
  docs/appendices/compiling.rst
  docs/appendices/types.rst
  docs/backends/generic-mysql.rst
  docs/backends/geoip.rst
  docs/common/api/endpoint-statistics.rst
  docs/dnssec/operational.rst
  docs/dnsupdate.rst
  docs/http-api/cryptokey.rst
  docs/http-api/index.rst
  docs/modes-of-operation.rst
  docs/performance.rst
  docs/settings.rst
Labels: auth, docs

#9841 ProtobufLogger: Better handling of short-reads, errors
  contrib/ProtobufLogger.py
Labels: enhancement
