Repository PowerDNS/pdns, pull requests merged in 2020-02, with the labels that each got.

#8763 Remove the empty user-defined destructor of DNSResourceRecord
  pdns/dns.hh
Labels: auth, enhancement

#8682 auth: Add an extended status report in the bind backend
  docs/backends/bind.rst
  docs/manpages/pdns_control.1.rst
  modules/bindbackend/bindbackend2.cc
  modules/bindbackend/bindbackend2.hh
Labels: auth, enhancement

#8770 Prep rec-4.3.0-rc1
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.3.rst
Labels: rec

#8781 Update security email addresses
  docs/common/security-policy.rst
Labels: docs

#8780 opendbx: remove last file that was accidentally left in
  modules/opendbxbackend/odbxprivate.cc
Labels: auth, enhancement

#8784 auth api: add includerings option to statistics endpoint
  docs/http-api/swagger/authoritative-api-swagger.yaml
  pdns/ws-api.cc
Labels: auth, backport to auth-4.2.x?, enhancement, rest-api

#8788 Make sure the default-publish-cds and default-publish-cdnskey options are respected for AXFR
  pdns/tcpreceiver.cc
  regression-tests.nobackend/default-publish-cds/command
  regression-tests.nobackend/default-publish-cds/expected_result
Labels: auth, defect

#8782 dnsdist: Add getTag()/setTag() Lua bindings for a DNSResponse
  pdns/dnsdist-lua-bindings-dnsquestion.cc
Labels: defect, dnsdist

#8772 dnsdist: Add backend status to prometheus metrics
  pdns/dnsdist-web.cc
Labels: dnsdist, enhancement

#8762 dnsdist: Implement Cache-Control headers in DoH
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/doh.cc
  pdns/doh.hh
  regression-tests.dnsdist/test_DOH.py
Labels: dnsdist, enhancement

#8722 dnsdist: Add spoofRawAction() to craft answers from raw bytes
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua-vars.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/reference/constants.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  regression-tests.dnsdist/test_Spoofing.py
Labels: dnsdist, enhancement

#8787 dnsdist: Fix key logging for DNS over TLS
  pdns/dnsdistdist/libssl.cc
  pdns/dnsdistdist/tcpiohandler.cc
Labels: defect, dnsdist

#8115 dnsdist: Fix ECS addition when the OPT record is not the last one
  pdns/dnsdist-ecs.cc
  pdns/dnsdist-ecs.hh
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist.cc
  pdns/dnsparser.cc
  pdns/dnsparser.hh
  pdns/ednsoptions.cc
  pdns/ednsoptions.hh
  pdns/test-dnsdist_cc.cc
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_EdnsClientSubnet.py
Labels: defect, dnsdist

#8171 dnsdist: Add SetNegativeAndSOAAction() and its Lua binding
  pdns/dnsdist-console.cc
  pdns/dnsdist-ecs.cc
  pdns/dnsdist-ecs.hh
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdistdist/docs/reference/dq.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/dnsname.hh
  pdns/test-dnsdist_cc.cc
  regression-tests.dnsdist/test_Advanced.py
Labels: dnsdist, enhancement

#8795 rec: Remove duplicate *PolicyTags docs
  pdns/recursordist/docs/lua-scripting/dq.rst
Labels: docs, rec

#8792 DNSName: Don't call strlen() when the length is already known
  pdns/dnslabeltext.rl
  pdns/dnsname.cc
  pdns/dnsname.hh
  pdns/dnswriter.hh
Labels: enhancement

#8801 dnsdist: Fix a typo 'apikey' -> 'apiKey' in setWebserverConfig() doc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: defect, dnsdist, docs

#8783 Add 'IO wait' and 'steal' metrics on Linux
  pdns/common_startup.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-prometheus.hh
  pdns/dnsdistdist/docs/statistics.rst
  pdns/misc.cc
  pdns/misc.hh
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/rec_metrics.hh
  regression-tests.dnsdist/test_API.py
  regression-tests.nobackend/counters/command
Labels: auth, dnsdist, enhancement, rec

#8800 dnsdist docs: refer to new tables. Fixes #8798
  pdns/dnsdistdist/docs/guides/downstreams.rst
  pdns/dnsdistdist/docs/guides/dynblocks.rst
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: defect, dnsdist, docs

#8803 Fix "error: 'strlen' was not declared in this scope" on CentOS 6
  pdns/dnsname.hh
Labels: auth, defect, dnsdist, rec

#8804 dnsdist: Fix configuration file installation / chmod
  builder-support/debian/dnsdist/debian-buster/dnsdist.postinst
  builder-support/debian/dnsdist/debian-buster/rules
  builder-support/debian/dnsdist/debian-jessie/dnsdist.postinst
  builder-support/debian/dnsdist/debian-jessie/rules
  builder-support/debian/dnsdist/debian-stretch/dnsdist.postinst
  builder-support/debian/dnsdist/debian-stretch/rules
Labels: defect, dnsdist

#8807 builder: touch /var/lib/rpm/* in every docker layer that uses rpmdb
  builder-support/dockerfiles/Dockerfile.rpmbuild
  builder-support/dockerfiles/Dockerfile.target.amazon-2
  builder-support/dockerfiles/Dockerfile.target.centos-6
  builder-support/dockerfiles/Dockerfile.target.centos-7
  builder-support/dockerfiles/Dockerfile.target.centos-8
Labels: backport to auth-4.1.x?, backport to auth-4.2.x?, backport to auth-4.3.x?, backport to rec-4.1.x?, backport to rec-4.2.x?, backport to rec-4.3.x?

#8802 rec: backport 8559 to rec 4.2.x: Avoid startup race by setting the state of a tread before starting it.
  pdns/pdns_recursor.cc
Labels: rec

#8778 rec RPZ dumpFile/seedFile: store/get SOA refresh on dump/load
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/rpzloader.cc
  pdns/rpzloader.hh
Labels: defect, rec

#8777 rec: QNAME minimization sometimes uses 1 label too many
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/reczones.cc
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/ws-recursor.cc
Labels: rec

#8355 Rework NetmaskTree for better CPU and memory efficiency.
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
  pdns/filterpo.cc
  pdns/iputils.hh
  pdns/recursor_cache.cc
  pdns/recursor_cache.hh
  pdns/sortlist.cc
  pdns/test-iputils_hh.cc
Labels: auth, dnsdist, enhancement, needs review, rec

#8760 dnsdist: Don't accept sub-paths of configured DoH URLs
  pdns/dnsdistdist/docs/upgrade_guide.rst
  pdns/dnsdistdist/doh.cc
  regression-tests.dnsdist/test_DOH.py
Labels: dnsdist, enhancement

#8793 auth: Prepare the caches' buckets in advance
  pdns/auth-packetcache.cc
  pdns/auth-packetcache.hh
  pdns/auth-querycache.cc
  pdns/auth-querycache.hh
  pdns/common_startup.cc
  pdns/dbdnsseckeeper.cc
  pdns/dnsseckeeper.hh
Labels: auth, enhancement

#8786 auth 4.2.x api: add includerings option to statistics endpoint
  docs/http-api/swagger/authoritative-api-swagger.yaml
  pdns/ws-api.cc
Labels: auth, enhancement

#8766 Update my name in old changelogs
  builder-support/debian/authoritative/debian-buster/copyright
  builder-support/debian/authoritative/debian-jessie/copyright
  builder-support/debian/authoritative/debian-stretch/copyright
  builder-support/debian/dnsdist/debian-buster/copyright
  builder-support/debian/dnsdist/debian-jessie/control
  builder-support/debian/dnsdist/debian-jessie/copyright
  builder-support/debian/dnsdist/debian-stretch/control
  builder-support/debian/dnsdist/debian-stretch/copyright
  builder-support/debian/recursor/debian-buster/copyright
  builder-support/debian/recursor/debian-jessie/copyright
  builder-support/debian/recursor/debian-stretch/copyright
  docs/changelog/4.0.rst
  docs/changelog/4.1.rst
  docs/changelog/4.2.rst
  docs/changelog/pre-4.0.rst
  docs/dnssec/index.rst
  docs/security-advisories/powerdns-advisory-2015-03.rst
  pdns/dnsdistdist/docs/changelog.rst
  pdns/recursordist/docs/changelog/4.0.rst
  pdns/recursordist/docs/changelog/4.1.rst
  pdns/recursordist/docs/changelog/pre-4.0.rst
Labels: docs

#8614 Remove not implemented zone check API from spec
  docs/http-api/swagger/authoritative-api-swagger.yaml
  docs/http-api/zone.rst
Labels: auth, backport to auth-4.1.x?, backport to auth-4.2.x?, docs

#8779 IXFR: only sign SOA in empty response for +DO queries
  pdns/tcpreceiver.cc
Labels: auth, enhancement

#8799 auth CI: enable ODBC thread locking
  .circleci/config.yml
  build-scripts/travis.sh
Labels: auth, backport to auth-4.1.x?, backport to auth-4.2.x?, backport to auth-4.3.x?, enhancement

#8823 Rec: do continue rpz processing if the current policy is passthru
  pdns/filterpo.cc
  pdns/filterpo.hh
  pdns/pdns_recursor.cc
  pdns/recursordist/test-filterpo_cc.cc
  pdns/syncres.cc
  regression-tests.recursor-dnssec/test_Protobuf.py
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: backport to rec-4.3.x?, rec

#8826 Refuse NSEC records with a bitmap length > 32
  pdns/nsecrecords.cc
  pdns/test-dnsrecords_cc.cc
Labels: auth, backport to auth-4.2.x?, backport to auth-4.3.x?, backport to rec-4.2.x?, backport to rec-4.3.x?, enhancement, rec

#8096 auth: do not update identical notified serials
  pdns/mastercommunicator.cc
Labels: auth, enhancement

#8736 auth-4.2.x: Enforce a strict maximum size for the packet and records caches
  pdns/auth-packetcache.cc
  pdns/auth-packetcache.hh
  pdns/auth-querycache.cc
  pdns/auth-querycache.hh
  pdns/cachecleaner.hh
  pdns/dbdnsseckeeper.cc
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsseckeeper.hh
  pdns/recpacketcache.cc
  pdns/recpacketcache.hh
  pdns/recursor_cache.cc
Labels: auth, enhancement

#8776 auth: Add more SQL schema files to packages and tarballs
  builder-support/debian/authoritative/debian-buster/pdns-backend-bind.docs
  builder-support/debian/authoritative/debian-buster/pdns-backend-mysql.docs
  builder-support/debian/authoritative/debian-buster/pdns-backend-odbc.docs
  builder-support/debian/authoritative/debian-buster/pdns-backend-pgsql.docs
  builder-support/debian/authoritative/debian-buster/pdns-backend-sqlite3.docs
  builder-support/debian/authoritative/debian-jessie/pdns-backend-bind.docs
  builder-support/debian/authoritative/debian-jessie/pdns-backend-mysql.docs
  builder-support/debian/authoritative/debian-jessie/pdns-backend-odbc.docs
  builder-support/debian/authoritative/debian-jessie/pdns-backend-pgsql.docs
  builder-support/debian/authoritative/debian-jessie/pdns-backend-sqlite3.docs
  builder-support/debian/authoritative/debian-stretch/pdns-backend-bind.docs
  builder-support/debian/authoritative/debian-stretch/pdns-backend-mysql.docs
  builder-support/debian/authoritative/debian-stretch/pdns-backend-odbc.docs
  builder-support/debian/authoritative/debian-stretch/pdns-backend-pgsql.docs
  builder-support/debian/authoritative/debian-stretch/pdns-backend-sqlite3.docs
  builder-support/specs/pdns.spec
  modules/gmysqlbackend/Makefile.am
  modules/godbcbackend/Makefile.am
  modules/gpgsqlbackend/Makefile.am
  modules/gsqlite3backend/Makefile.am
  pdns/Makefile.am
Labels: auth, defect

#8830 rec: Init zone's d_priority field.
  pdns/filterpo.hh
Labels: rec

#8827 rec: Backport 8823 to rec 4.3.x: do continue rpz processing if the current policy is passthru
  pdns/filterpo.cc
  pdns/filterpo.hh
  pdns/pdns_recursor.cc
  pdns/recursordist/test-filterpo_cc.cc
  pdns/syncres.cc
  regression-tests.recursor-dnssec/test_Protobuf.py
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: rec

#8831 rec: Backport 8826 to rec 4.3.x: Refuse NSEC records with a bitmap length > 32
  pdns/nsecrecords.cc
  pdns/test-dnsrecords_cc.cc
Labels: rec

#8832 rec: Backport 8825 to rec 4.2.x: Refuse NSEC records with a bitmap length > 32
  pdns/nsecrecords.cc
  pdns/test-dnsrecords_cc.cc
Labels: rec

#8835 rec: Prep for rec-4.3.0-rc2
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.3.rst
Labels: rec

#8505 dnsdist: Implement LuaFFIRule, LuaFFIAction and LuaFFIResponseAction
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-console.cc
  pdns/dnsdist-lbpolicies.hh
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdist-snmp.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/.gitignore
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/dnsdist-lbpolicies.cc
  pdns/dnsdistdist/dnsdist-lbpolicies.hh
  pdns/dnsdistdist/dnsdist-lua-bindings-kvs.cc
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/dnsdist-lua-ffi.hh
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/docs/advanced/tuning.rst
  pdns/dnsdistdist/docs/guides/serverselection.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/netmask.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/dnsdistdist/test-dnsdistlbpolicies_cc.cc
  regression-tests.dnsdist/test_Advanced.py
  regression-tests.dnsdist/test_DOH.py
  regression-tests.dnsdist/test_EDNSOptions.py
Labels: dnsdist, enhancement

#8838 dnsdist: Fix compile errors without snmp support
  pdns/dnsdist-lua.cc
  pdns/dnsdist-snmp.cc
Labels: defect, dnsdist

#8840 Fix unsigned vs signed warnings spotted by clang on OpenBSD
  pdns/dnsdistdist/test-dnsdistdynblocks_hh.cc
  pdns/recursordist/test-syncres_cc6.cc
  pdns/test-dnsdist_cc.cc
  pdns/test-iputils_hh.cc
Labels: dnsdist, rec

#8843 dnsdist: Prevent referencing a Lua pol after the Lua ctx has been destroyed
  pdns/dnsdistdist/test-dnsdistlbpolicies_cc.cc
Labels: defect, dnsdist

#8845 rec, dnsdist: always clean lua.hpp
  pdns/dnsdistdist/Makefile.am
  pdns/recursordist/Makefile.am
Labels: dnsdist, rec

#8842 dnsdist: DownstreamState::getName() should return a ref, not a temp
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist.hh
Labels: defect, dnsdist

#8848 dnsdist: Add get*BindCount() functions
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/dnscrypt.rst
Labels: dnsdist, enhancement

#8812 Keep a masked network in the Netmask class
  pdns/iputils.hh
  pdns/recursordist/test-rpzloader_cc.cc
  pdns/test-iputils_hh.cc
Labels: auth, dnsdist, rec

#8634 auth: Build and run the unit tests in Circle CI
  .circleci/config.yml
Labels: auth

#8839 changelog and secpoll for auth-4.3.0-beta2
  docs/changelog/4.3.rst
  docs/secpoll.zone
Labels: auth, docs

#8857 Update copyright year
  pdns/version.cc
Labels: backport to auth-4.3.x?, backport to rec-4.3.x?

#8862 rec docs: fix weird formatting of RPZ statistics list, thanks @horazont
  pdns/recursordist/docs/http-api/endpoint-rpz-stats.rst
Labels: docs, rec

#8856 Implement rmACL()
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/advanced/acl.rst
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, enhancement

#8855 dnsdist: Fix a typo in the help/completion for getDNSCryptBindCount
  pdns/dnsdist-console.cc
Labels: defect, dnsdist

#8865 rec: backport 8833 to rec 4.3.x: Allow all connections to the PG server in Circle CI
  .circleci/config.yml
Labels: rec

#8863 rec: backport 8857 to rec 4.3.x: update copyright year
  pdns/version.cc
Labels: rec

#8864 rec: Only log qname parsing errors when 'log-common-errors' is set
  pdns/pdns_recursor.cc
Labels: backport to rec-4.1.x?, backport to rec-4.2.x?, backport to rec-4.3.x?, defect, rec

#8868 rec: backport 8864 to rec 4.1.x: Only log qname parsing errors when 'log-common-errors' is set
  pdns/pdns_recursor.cc
Labels: rec

#8869 rec: backport 8864 to rec 4.2.x: Only log qname parsing errors when 'log-common-errors' is set
  pdns/pdns_recursor.cc
Labels: rec

#8870 rec: backport 8864 to rec 4.3.x: Only log qname parsing errors when 'log-common-errors' is set
  pdns/pdns_recursor.cc
Labels: rec
