Repository PowerDNS/pdns, pull requests merged in 2020-09, with the labels that each got.

#9423 auth: Handle the extra single-row result set of MySQL stored procedures
  modules/gmysqlbackend/smysql.cc
Labels: auth

#9422 auth: add mysql stored procedure code test
  .circleci/config.yml
  regression-tests/backends/gmysql-master
  regression-tests/start-test-stop
Labels: auth

#9402 RST cleanup
  docs/http-api/swagger/authoritative-api-swagger.yaml
  docs/http-api/tsigkey.rst
  docs/index.rst
  docs/manpages/pdns_control.1.rst
  docs/settings.rst
Labels: auth, defect, docs

#9036 auth-4.3.x: EL8 pkgs: Build mysql backend against mariadb-connector-c-devel
  builder-support/specs/pdns.spec
Labels: auth

#9416 rec: backport 9375 to rec 4.3.x: Allow some more depth headroom for the no-qname-minimization fallback case
  pdns/recursordist/docs/settings.rst
  pdns/syncres.cc
Labels: defect, rec

#9431 dnsdist: Handle empty DNSNames in grepq()
  pdns/dnsdist-lua-inspection.cc
Labels: dnsdist

#9430 sdig: Increment the DNS message IDs when pipelining
  pdns/sdig.cc
Labels: backport to auth-4.3.x?, defect, tools

#9429 auth 4.3.1 upgrade note for the mysql client lib
  docs/upgrading.rst
Labels: auth, docs

#9175 dnsdist: Add per-thread Lua FFI load-balancing policies
  .github/actions/spell-check/allow.txt
  pdns/dnsdist-console.cc
  pdns/dnsdist-lbpolicies.hh
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdist-lua-vars.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdist-tcp.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-lbpolicies.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-dnscrypt.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-kvs.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-packetcache.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-protobuf.cc
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/docs/advanced/tuning.rst
  pdns/dnsdistdist/docs/guides/serverselection.rst
  pdns/dnsdistdist/test-dnsdistlbpolicies_cc.cc
  regression-tests.dnsdist/test_Routing.py
Labels: dnsdist, enhancement

#9439 auth: Fix the sample 'geoip.conf' for Debian-based packages
  builder-support/debian/authoritative/debian-buster/config/geoip.conf
  builder-support/debian/authoritative/debian-jessie/config/geoip.conf
  builder-support/debian/authoritative/debian-stretch/config/geoip.conf
Labels: auth, backport to auth-4.2.x?, backport to auth-4.3.x?, defect, docs

#9387 auth slave: log successful NOTIFY
  pdns/packethandler.cc
Labels: auth

#9445 dnsdist docs: TCPRule argument is not optional
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: defect, dnsdist, docs

#9434 rec: When deciding if we are auth in the local auth or forwarding case, DS is special
  pdns/recursordist/test-syncres_cc3.cc
  pdns/syncres.cc
Labels: backport to rec-4.3.x?, backport to rec-4.4.x?, rec

#9446 Fix building remote backend on GCC 10
  ext/yahttp/yahttp/reqresp.cpp
Labels: auth, backport to auth-4.3.x?

#9447 rec: Changelog and secpoll rec-4.3.4
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.3.rst
Labels: rec

#9454 Parts is reused, so clear the names it might contain.
  pdns/pdns_recursor.cc
Labels: backport to rec-4.2.x?, backport to rec-4.3.x?, backport to rec-4.4.x?, defect, rec

#9456 rec: backport to 4.2.x: Parts is reused, so clear the names it might contain.
  pdns/pdns_recursor.cc
Labels: defect, rec

#9458 rec: backport to 4.4.x: Parts is reused, so clear the names it might contain.
  pdns/pdns_recursor.cc
Labels: defect, rec

#9457 rec: Backport to rec-4.3.x: Parts is reused, so clear the names it might contain.
  pdns/pdns_recursor.cc
Labels: defect, rec

#9448 rec: We only want to do QName Minimization for the names in a forwarded domain.
  pdns/syncres.cc
  pdns/syncres.hh
Labels: backport to rec-4.4.x?, defect, rec

#9449 auth-4.3.x: sdig: Increment the DNS message IDs when pipelining
  pdns/sdig.cc
Labels: auth, tools

#9469 dnsbulktest: Initialize the 'rng' and 'entropy-source' arguments
  pdns/dnsbulktest.cc
Labels: backport to auth-4.3.x?, defect, tools

#9466 dnsdist dnsname: add toDNSString convenience function
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/docs/reference/dnsname.rst
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: dnsdist, enhancement

#9471 rec: Log when going Bogus because of a missing SOA in authority
  pdns/syncres.cc
Labels: backport to rec-4.3.x?, backport to rec-4.4.x?, enhancement, rec

#8969 Use more of systemd's sandboxing options when available
  m4/systemd.m4
  pdns/Makefile.am
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist.service.in
  pdns/ixfrdist.service.in
  pdns/pdns.service.in
  pdns/recursordist/Makefile.am
  pdns/recursordist/pdns-recursor.service.in
Labels: auth, dnsdist, enhancement, rec

#8993 Skip EDNS Cookies in the packet cache
  pdns/Makefile.am
  pdns/auth-packetcache.cc
  pdns/dnsdist-cache.cc
  pdns/dnsdist-cache.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-lua-bindings-packetcache.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/upgrade_guide.rst
  pdns/dnsdistdist/packetcache.hh
  pdns/ednsoptions.cc
  pdns/ednsoptions.hh
  pdns/fuzz_dnsdistcache.cc
  pdns/fuzz_packetcache.cc
  pdns/packetcache.hh
  pdns/pdns_recursor.cc
  pdns/recpacketcache.cc
  pdns/recpacketcache.hh
  pdns/recursordist/Makefile.am
  pdns/recursordist/views.hh
  pdns/test-dnsdistpacketcache_cc.cc
  pdns/test-packetcache_cc.cc
  pdns/test-packetcache_hh.cc
  pdns/test-recpacketcache_cc.cc
  pdns/views.hh
  regression-tests.dnsdist/test_Caching.py
  regression-tests.recursor-dnssec/test_PacketCache.py
Labels: auth, dnsdist, enhancement, needs review, rec

#9385 auth: Remove GSS/TSIG support
  configure.ac
  docs/domainmetadata.rst
  docs/tsig.rst
  m4/pdns_enable_gss_tsig.m4
  modules/remotebackend/Makefile.am
  pdns/Makefile.am
  pdns/dnspacket.cc
  pdns/dnssecinfra.cc
  pdns/gss_context.cc
  pdns/gss_context.hh
  pdns/ixplore.cc
  pdns/packethandler.cc
  pdns/packethandler.hh
  pdns/pdnsutil.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/gss_context.cc
  pdns/recursordist/gss_context.hh
  pdns/resolver.cc
  pdns/rfc2136handler.cc
  pdns/saxfr.cc
  pdns/tcpreceiver.cc
  pdns/tkey.cc
  pdns/tsigverifier.cc
  pdns/ws-auth.cc
Labels: auth

#9465 rec: Backport 9448 to rec 4.4.x: We only want to do QName Minimization for the names in a forwarded domain.
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec

#9475 Rec: shared and sharded negcache
  pdns/cachecleaner.hh
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/recursor_cache.hh
  pdns/recursordist/negcache.cc
  pdns/recursordist/negcache.hh
  pdns/recursordist/test-negcache_cc.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc2.cc
  pdns/recursordist/test-syncres_cc3.cc
  pdns/recursordist/test-syncres_cc4.cc
  pdns/recursordist/test-syncres_cc8.cc
  pdns/recursordist/test-syncres_cc9.cc
  pdns/reczones.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor/config.sh
Labels: enhancement, rec

#9479 Fix our string_view usage on older distributions
  pdns/dnsdistdist/views.hh
  pdns/views.hh
Labels: auth, defect, dnsdist, rec

#9482 rec: Fix a few .rst warnings
  pdns/recursordist/docs/http-api/endpoint-failure.rst
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/docs/settings.rst
Labels: docs, rec

#9481 rec: prep for rec-4.4.0-rc1
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.4.rst
Labels: rec

#9491 rec: Fix rec_control wipe-cache-typed
  pdns/rec_channel_rec.cc
Labels: backport to rec-4.4.x?, defect, rec

#9492 rec: Detach snmp thread to avoid trouble when trying to quit nicely.
  pdns/snmp-agent.hh
Labels: defect, dnsdist, rec

#9493 Log the line received fomr rec_control
  pdns/pdns_recursor.cc
Labels: backport to rec-4.3.x?, backport to rec-4.4.x?, enhancement, rec

#9497 auth: raise an exception on invalid content in unknown records
  pdns/dnsparser.cc
  pdns/recursordist/test-syncres_cc3.cc
  pdns/test-dnsrecords_cc.cc
Labels: auth, backport to rec-4.2.x?, backport to rec-4.3.x?, backport to rec-4.4.x?, enhancement

#9494 rec: incomplete ifdef
  pdns/rec-snmp.cc
Labels: rec

#9490 rec: Check return value of dup(2) as noted by coverity.
  pdns/rec_channel_rec.cc
Labels: rec

#9488 Sync string_view definition in lmdb-safe
  ext/lmdb-safe/lmdb-safe.hh
  pdns/dnsdist-cache.cc
  pdns/dnsdistdist/doh.cc
  pdns/packetcache.hh
  pdns/views.hh
Labels: defect, dnsdist

#9509 Point to reserved values for setProxyProtocolValues() + funky quotes replacements
  pdns/dnsdistdist/docs/reference/dq.rst
Labels: dnsdist, docs, enhancement

#9510 dnsdist: prioritize ChaCha20-Poly1305 when client does
  .github/actions/spell-check/expect.txt
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/libssl.cc
Labels: dnsdist, enhancement

#9513 dnsdist: Fix getEDNSOptions() for {AN,NS}COUNT != 0 and ARCOUNT = 0
  pdns/dnsdist-ecs.cc
  pdns/test-dnsdist_cc.cc
Labels: defect, dnsdist

#9505 rec: Remove unused vector of tags in validateDNSKeysAgainstDS()
  pdns/validate.cc
Labels: enhancement, rec

#9504 rec: Better const-ness when dealing with timestamps
  pdns/lwres.hh
  pdns/misc.cc
  pdns/misc.hh
  pdns/mtasker.cc
  pdns/mtasker.hh
  pdns/pdns_recursor.cc
Labels: enhancement, rec

#9495 rec: Watch the descriptor again after an out-of-order read timeout
  pdns/pdns_recursor.cc
Labels: backport to rec-4.3.x?, backport to rec-4.4.x?, defect, rec

#9389 Removed the need for DUPSORT lmdb databases
  modules/lmdbbackend/generate-older-db-versions.sh
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
  modules/lmdbbackend/old-schema-versions
  modules/lmdbbackend/test-assets/lmdb-v1-x86_64/pdns.lmdb
  modules/lmdbbackend/test-assets/lmdb-v1-x86_64/pdns.lmdb-0
  modules/lmdbbackend/test-assets/lmdb-v1-x86_64/pdns.lmdb-0-lock
  modules/lmdbbackend/test-assets/lmdb-v1-x86_64/pdns.lmdb-1
  modules/lmdbbackend/test-assets/lmdb-v1-x86_64/pdns.lmdb-1-lock
  modules/lmdbbackend/test-assets/lmdb-v1-x86_64/pdns.lmdb-lock
  modules/lmdbbackend/test-assets/lmdb-v2-x86_64/pdns.lmdb
  modules/lmdbbackend/test-assets/lmdb-v2-x86_64/pdns.lmdb-0
  modules/lmdbbackend/test-assets/lmdb-v2-x86_64/pdns.lmdb-0-lock
  modules/lmdbbackend/test-assets/lmdb-v2-x86_64/pdns.lmdb-1
  modules/lmdbbackend/test-assets/lmdb-v2-x86_64/pdns.lmdb-1-lock
  modules/lmdbbackend/test-assets/lmdb-v2-x86_64/pdns.lmdb-lock
  regression-tests.nobackend/README
  regression-tests.nobackend/lmdb-schema-upgrade/command
  regression-tests.nobackend/lmdb-schema-upgrade/description
  regression-tests.nobackend/lmdb-schema-upgrade/expected_result
Labels: auth, enhancement

#9039 auth: quote/escape PG connection parameters
  docs/upgrading.rst
  modules/gpgsqlbackend/spgsql.cc
Labels: auth, defect

#9501 rec: backport to rec-4.3.x: Boost 1.73 moved boost::bind placeholders to the placeholders namespace
  pdns/ws-recursor.cc
Labels: rec

#9502 rec: backport to rec-4.2.x: Boost 1.73 moved boost::bind placeholders to the placeholders namespace
  pdns/ws-recursor.cc
Labels: rec

#9506 rec: Backport 9497 to rec 4.4.x: raise an exception on invalid content in unknown record
  pdns/dnsparser.cc
  pdns/recursordist/test-syncres_cc3.cc
  pdns/test-dnsrecords_cc.cc
Labels: defect, rec

#9507 rec: Backport essential part of #9497 to rec-4.3.x: raise an exception on invalid content in unknown records
  pdns/dnsparser.cc
Labels: defect, rec

#9508 Rec: minimal backport of 9497 to rec 4.2.x: raise an exception on invalid content in unknown records
  pdns/dnsparser.cc
Labels: defect, rec

#9524 auth: bindbackend: 'rediscover' changes to master and also-notifies
  modules/bindbackend/bindbackend2.cc
Labels: auth, enhancement

#9525 rec: Backport 9495 to rec 4.3.x: Watch the descriptor again after an out-of-order read timeout
  pdns/pdns_recursor.cc
Labels: defect, rec

#9526 rec: Backport 9495 to rec 4.4.x: Watch the descriptor again after an out-of-order read timeout
  pdns/pdns_recursor.cc
Labels: defect, rec

#9527 rec: Backport of 9471 to rec-4.3.x: Log when going Bogus because of a missing SOA in authority
  pdns/syncres.cc
Labels: rec

#9528 rec: Backport 9471 to rec-4.4.x: Log when going Bogus because of a missing SOA in authority
  pdns/syncres.cc
Labels: rec

#9546 dnsdist-1.5.x: Install 'patch', required to install py-lmdb
  .circleci/config.yml
Labels: dnsdist

#9543 dnsdist-1.5.x: Fix building with LLVM11
  pdns/dnsdist-console.cc
Labels: defect, dnsdist

#9541 dnsdist-1.5.x: Stop the related responder thread when a backend is removed
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-backend.cc
Labels: defect, dnsdist

#9540 dnsdist-1.5.x: Add the 'clearConsoleHistory' command
  pdns/dnsdist-console.cc
  pdns/dnsdist-console.hh
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist

#9542 dnsdist-1.5.x: Fix getEDNSOptions() for {AN,NS}COUNT != 0 and ARCOUNT = 0
  pdns/dnsdist-ecs.cc
  pdns/test-dnsdist_cc.cc
Labels: defect, dnsdist

#9519 Always check sscanf's return value
  ext/yahttp/yahttp/reqresp.cpp
  pdns/misc.cc
  pdns/rcpgenerator.cc
  pdns/test-zoneparser_tng_cc.cc
  pdns/zoneparser-tng.cc
Labels: auth, backport to auth-4.3.x?, backport to rec-4.3.x?, backport to rec-4.4.x?, dnsdist, enhancement, rec

#9549 pdns_control: add show <prefix>
  docs/manpages/pdns_control.1.rst
  pdns/dynhandler.cc
  pdns/statbag.cc
  pdns/statbag.hh
Labels: auth, enhancement

#9550 dnsrecords: fix APL test on macOS
  pdns/test-dnsrecords_cc.cc
Labels: auth

#9515 rec: Actually fix wipe-cache-typed
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/recursor_cache.cc
  pdns/reczones.cc
  pdns/syncres.hh
  pdns/ws-recursor.cc
Labels: backport to rec-4.4.x?, rec

#9556 dnsdist: Debug trailing data failures
  pdns/dnsdist.cc
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_Trailing.py
Labels: dnsdist

#9553 dnsdist: Only add EDNS on negative answers if the query had EDNS
  pdns/dnsdist-ecs.cc
  pdns/test-dnsdist_cc.cc
  regression-tests.dnsdist/clientsubnetoption.py
  regression-tests.dnsdist/cookiesoption.py
  regression-tests.dnsdist/test_Advanced.py
  regression-tests.dnsdist/test_Basics.py
  regression-tests.dnsdist/test_RecordsCount.py
  regression-tests.dnsdist/test_XPF.py
Labels: backport to dnsdist-1.5.x?, defect, dnsdist

#9557 rec: Backport #9515 to rec 4.4.x: actually fix wipe-cache-typed
  pdns/rec_channel_rec.cc
  pdns/recursor_cache.cc
  pdns/reczones.cc
  pdns/syncres.hh
  pdns/ws-recursor.cc
Labels: defect, rec

#9555 dnsdist-1.5.x: Only add EDNS on negative answers if the query had EDNS
  pdns/dnsdist-ecs.cc
  pdns/test-dnsdist_cc.cc
  regression-tests.dnsdist/clientsubnetoption.py
  regression-tests.dnsdist/cookiesoption.py
  regression-tests.dnsdist/test_Advanced.py
  regression-tests.dnsdist/test_Basics.py
  regression-tests.dnsdist/test_RecordsCount.py
  regression-tests.dnsdist/test_XPF.py
Labels: defect, dnsdist

#9554 Recursor: Remove query-local-address6
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
Labels: rec

#9559 rec: add unit test for potential NS loop.
  pdns/recursordist/test-syncres_cc2.cc
Labels: rec
