Repository PowerDNS/pdns, pull requests merged in 2020-05, with the labels that each got.

#9082 rec: backport to rec 4.3.x: builder: add ubuntu focal target
  builder-support/dockerfiles/Dockerfile.debbuild-prepare
  builder-support/dockerfiles/Dockerfile.target.ubuntu-focal
Labels: rec

#9081 rec: backport to rec 4.2.x: builder: add ubuntu focal target
  builder-support/dockerfiles/Dockerfile.debbuild-prepare
  builder-support/dockerfiles/Dockerfile.target.ubuntu-focal
Labels: rec

#9087 Correct doc for ecs-add-for default
  pdns/recursordist/docs/settings.rst
Labels: docs, rec

#9078 NetmaskTree: do not test node for null, the loop guarantees node is not null.
  pdns/iputils.hh
Labels: enhancement

#9084 dnsdist: add the unit to the help for latency buckets
  pdns/dnsdist-web.cc
Labels: dnsdist, enhancement

#9076 Fix useless copies in loop reported by clang++ 10
  modules/ldapbackend/ldapauthenticator.cc
  modules/ldapbackend/ldapauthenticator_p.hh
  pdns/dnsbackend.cc
  pdns/filterpo.cc
  pdns/pdnsutil.cc
  pdns/receiver.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/slavecommunicator.cc
  pdns/test-signers.cc
  pdns/ws-auth.cc
Labels: auth, enhancement, rec

#9080 auth: better (actual) fix for mem leak in SSQLite3::execute()
  pdns/ssqlite3.cc
Labels: auth, backport to auth-4.2.x?, backport to auth-4.3.x?, defect

#9079 Avoid throwing an exception in Logger::log().
  pdns/logger.cc
  pdns/logger.hh
Labels: auth, enhancement

#9070 Boost 1.73 moved boost::bind placeholders to the placeholders namespace
  pdns/ixfrdist-web.cc
  pdns/webserver.cc
  pdns/ws-auth.cc
  pdns/ws-recursor.cc
Labels: auth, backport to auth-4.2.x?, backport to auth-4.3.x?, backport to rec-4.2.x?, backport to rec-4.3.x?, rec

#9013 auth-4.3.x: Install bind SQL schema files as part of bindbackend
  modules/bindbackend/Makefile.am
  pdns/Makefile.am
Labels: auth

#9095 dnsdist: Update the ChangeLog and secpoll for 1.5.0-rc2
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist, docs

#9100 Less negatives in error messages improves readability.
  pdns/dnsdistdist/dnsdist-secpoll.cc
  pdns/recursordist/test-secpoll_cc.cc
  pdns/secpoll-auth.cc
  pdns/secpoll-recursor.cc
  pdns/secpoll.cc
Labels: auth, dnsdist, rec

#9099 rec: don't suggest to add a TA for powerdns.com
  pdns/recursordist/docs/dnssec.rst
Labels: docs, rec

#9085 builder: improve shipped config files
  builder-support/debian/authoritative/debian-buster/rules
  builder-support/debian/authoritative/debian-jessie/rules
  builder-support/debian/authoritative/debian-stretch/rules
  builder-support/debian/recursor/debian-buster/rules
  builder-support/debian/recursor/debian-jessie/rules
  builder-support/debian/recursor/debian-stretch/rules
  builder-support/specs/pdns.spec
Labels: auth, backport to auth-4.3.x?, backport to rec-4.3.x?, rec

#9073 Ensure runtime dirs for virtual services differ
  pdns/Makefile.am
  pdns/common_startup.cc
  pdns/dnsdistdist/Makefile.am
  pdns/pdns_recursor.cc
  pdns/recursordist/Makefile.am
Labels: auth, backport to auth-4.3.x?, backport to rec-4.3.x?, dnsdist, rec

#8940 Merge query-local-address6 into query-local-address
  docs/appendices/FAQ.rst
  docs/settings.rst
  pdns/Makefile.am
  pdns/axfr-retriever.cc
  pdns/axfr-retriever.hh
  pdns/common_startup.cc
  pdns/communicator.cc
  pdns/ixfrdist.cc
  pdns/ixplore.cc
  pdns/lwres.cc
  pdns/mastercommunicator.cc
  pdns/pdns_recursor.cc
  pdns/query-local-address.cc
  pdns/query-local-address.hh
  pdns/recursordist/Makefile.am
  pdns/recursordist/axfr-retriever.cc
  pdns/recursordist/axfr-retriever.hh
  pdns/recursordist/docs/lua-config/rpz.rst
  pdns/recursordist/docs/manpages/pdns_recursor.1.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/query-local-address.cc
  pdns/recursordist/query-local-address.hh
  pdns/resolver.cc
  pdns/resolver.hh
  pdns/rfc2136handler.cc
  pdns/rpzloader.cc
  pdns/slavecommunicator.cc
  pdns/syncres.hh
  pdns/tcpreceiver.cc
  pdns/tsig-tests.cc
  regression-tests.recursor-dnssec/test_ECS.py
  regression-tests/recursor-test
  regression-tests/recursor-test-freebsd
Labels: auth, rec

#9106 Tell about the release cycles.
  docs/appendices/EOL.rst
  pdns/recursordist/docs/appendices/EOL.rst
Labels: docs

#9114 Recursor fixes May 2020
  pdns/auth-carbon.cc
  pdns/dnsdist-carbon.cc
  pdns/pdns_recursor.cc
  pdns/rec-carbon.cc
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc2.cc
  pdns/recursordist/test-syncres_cc7.cc
  pdns/rpzloader.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: rec

#9115 Recursor 4.3.x fixes May 2020
  pdns/pdns_recursor.cc
  pdns/rec-carbon.cc
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc2.cc
  pdns/recursordist/test-syncres_cc7.cc
  pdns/rpzloader.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: rec

#9116 Recursor 4.2.x fixes May 2020
  pdns/pdns_recursor.cc
  pdns/rec-carbon.cc
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc2.cc
  pdns/recursordist/test-syncres_cc7.cc
  pdns/rpzloader.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: rec

#9122 rec-4.3.x: Fix build with gcc-10
  ext/yahttp/yahttp/reqresp.cpp
Labels: defect, rec

#9123 rec-4.2.x: Fix build with gcc-10
  ext/yahttp/yahttp/reqresp.cpp
Labels: rec

#9124 rec: powerdns-advisory-2020-002 -> powerdns-advisory-2020-02
  pdns/recursordist/docs/security-advisories/powerdns-advisory-2020-02.rst
Labels: defect, docs, rec

#9111 Support LOOP link type in dnsreplay
  pdns/dnspcap.cc
Labels: tools

#9131 rec: docs: Update the allow-from setting default
  pdns/recursordist/docs/settings.rst
Labels: docs, rec

#9134 Secpoll cleanup, mark prereleases with vulnerabilities as such.
  docs/secpoll.zone
Labels: rec

#9138 rec: Typos and ref to rec instead of auth in security advisory
  pdns/recursordist/docs/security-advisories/powerdns-advisory-2020-03.rst
Labels: defect, docs, easy, rec

#9128 rec-4.3.x: Fix compilation on systems that do not define HOST_NAME_MAX
  pdns/auth-carbon.cc
  pdns/dnsdist-carbon.cc
  pdns/misc.cc
  pdns/misc.hh
  pdns/rec-carbon.cc
Labels: defect, rec

#9133 rec-4.2.x: Fix compilation on systems that do not define HOST_NAME_MAX
  pdns/auth-carbon.cc
  pdns/dnsdist-carbon.cc
  pdns/misc.cc
  pdns/misc.hh
  pdns/rec-carbon.cc
Labels: defect, rec

#9130 Suppress PR based spell check for the rec-4.3.x branch
  .github/actions/spell-check/only.txt
Labels: rec

#9140 rec-4.3.X: Fix formatting
  pdns/recursordist/test-syncres_cc2.cc
Labels: defect, easy, rec

#9143 travis: install pdns package from direct download
  build-scripts/travis.sh
Labels: backport to rec-4.1.x?, backport to rec-4.2.x?, backport to rec-4.3.x?

#9145 rec-4.3.x: travis: install pdns package from direct download
  build-scripts/travis.sh
Labels: rec

#9141 rec: Remove unused getQueryLocalAddress stub in the unit tests
  pdns/recursordist/Makefile.am
  pdns/recursordist/test-rpzloader_cc.cc
Labels: defect, easy, rec

#9162 Clarify docs
  pdns/recursordist/docs/settings.rst
Labels: docs, rec

#9166 opensslsigners: Add missing 'static' keyword
  pdns/opensslsigners.cc
Labels: auth, enhancement, rec
