Repository PowerDNS/pdns, pull requests merged in 2020-10, with the labels that each got.

#9551 dnsdist: ChangeLog and secpoll update for 1.5.1
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#9563 rec: fix double "Configuration endpoint" in docs
  pdns/recursordist/docs/http-api/endpoint-servers-config.rst
Labels: docs, rec

#9562 rec: Expose typed cache flush via Web API
  pdns/recursordist/docs/http-api/endpoint-cache.rst
  pdns/ws-recursor.cc
Labels: backport to rec-4.4.x?, rec

#9569 recursor: Don't parse any config with `--version`
  pdns/pdns_recursor.cc
Labels: backport to rec-4.3.x?, backport to rec-4.4.x?

#9576 rec: Backport 9562 to rec 4.4.x: Expose typed cache flush via Web API
  pdns/recursordist/docs/http-api/endpoint-cache.rst
  pdns/ws-recursor.cc
Labels: enhancement, rec

#9577 rec: backport 9569 to rec 4.4.x: Don't parse any config with `--version`
  pdns/pdns_recursor.cc
Labels: enhancement, rec

#9579 rec: Backport 9434 to rec 4.4.x: When deciding if we are auth in the local auth or forwarding case, DS is special
  pdns/recursordist/test-syncres_cc3.cc
  pdns/syncres.cc
Labels: defect, rec

#9581 auth: update bionic packages in README
  README.md
Labels: auth, docs

#9583 dnsdist make: two fixes
  pdns/dnsdistdist/Makefile.am
Labels: backport to dnsdist-1.5.x?, defect, dnsdist

#9580 Support serving APL records pointing to fe80:: on macOS
  pdns/iputils.hh
  pdns/test-dnsrecords_cc.cc
Labels: auth

#9432 Rec: make parse ip:port a bit smarter
  pdns/iputils.cc
  pdns/iputils.hh
  pdns/reczones.cc
  pdns/syncres.hh
  pdns/test-iputils_hh.cc
Labels: rec

#9586 rec: NULL check for return value of mutable_response() as noted by CodeQL
  pdns/rec-protobuf.cc
Labels: defect, rec

#9587 Missing include guards as noted by CodeQL
  pdns/Makefile.am
  pdns/ixfrutils.hh
Labels: auth, tools

#9566 rec: Switch off IPv4 for test_glueless_referral_loop test to make sure there's only one IP per nameserver
  pdns/recursordist/test-syncres_cc2.cc
Labels: rec

#9578 Fix error checking on one getaddrinfo call
  pdns/notify.cc
Labels: auth

#9585 rec: Prep for rec-4.4.0-rc2
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.4.rst
Labels: rec

#9590 auth: Rewrite OpenSSLRSADNSCryptoKeyEngine::fromISCMap to be less tricky
  pdns/opensslsigners.cc
Labels: auth

#9602 Rec: Security 2020-07
  pdns/recursor_cache.cc
  pdns/recursor_cache.hh
  pdns/recursordist/test-syncres_cc8.cc
  pdns/syncres.cc
  pdns/validate.cc
  pdns/validate.hh
Labels: rec

#9604 rec: Backport of CVE-2020-25829 (any-cache-update) to 4.3.x
  pdns/recursor_cache.cc
  pdns/recursor_cache.hh
  pdns/recursordist/test-syncres_cc8.cc
  pdns/syncres.cc
  pdns/validate.cc
  pdns/validate.hh
Labels: rec

#9605 rec: Backport of CVE-2020-25829 (any-cache-update) to 4.4.x
  pdns/recursor_cache.cc
  pdns/recursor_cache.hh
  pdns/recursordist/test-syncres_cc8.cc
  pdns/syncres.cc
  pdns/validate.cc
  pdns/validate.hh
Labels: rec

#9606 rec: Prep for rec Oct 13th 2020 security releases
  .github/actions/spell-check/expect.txt
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.1.rst
  pdns/recursordist/docs/changelog/4.2.rst
  pdns/recursordist/docs/changelog/4.3.rst
  pdns/recursordist/docs/security-advisories/powerdns-advisory-2020-07.rst
Labels: rec

#9599 fix the initialization order in the class.
  pdns/axfr-retriever.hh
Labels: auth, rec

#9612 dnsdist: Add the missing documentation for some dnsheader methods
  pdns/dnsdistdist/docs/reference/dq.rst
Labels: dnsdist, docs

#9572 rec: Terminate TCP connections instead of 'ignoring' errors
  pdns/dnsparser.cc
  pdns/dnsparser.hh
  pdns/pdns_recursor.cc
Labels: enhancement, rec

#9093 auth/rec/dnsdist: dockerise
  .dockerignore
  .gitignore
  Dockerfile-auth
  Dockerfile-dnsdist
  Dockerfile-recursor
  docker-compose.yml
  dockerdata/dnsdist-resolver.lua
  dockerdata/dnsdist-resolver.py
  dockerdata/dnsdist.conf
  dockerdata/pdns.conf
  dockerdata/recursor.conf
  dockerdata/startup.py
  pdns/dnsdistdist/docs/reference/config.rst
Labels: auth, dnsdist, rec

#9613 Lua records fixes
  docs/lua-records/functions.rst
  pdns/lua-record.cc
Labels: auth

#9533 Fix some FIXME400s
  pdns/dnsbackend.cc
  pdns/dnsrecords.hh
  pdns/nsec3dig.cc
  pdns/nsecrecords.cc
  pdns/rfc2136handler.cc
Labels: auth

#9552 auth: remove local-ipv6, query-local-address6
  docs/settings.rst
  pdns/common_startup.cc
  pdns/nameserver.cc
  pdns/tcpreceiver.cc
Labels: auth

#9617 Prep rec-4.4.0
  docs/secpoll.zone
  pdns/recursordist/docs/appendices/EOL.rst
  pdns/recursordist/docs/changelog/4.0.rst
  pdns/recursordist/docs/changelog/4.1.rst
  pdns/recursordist/docs/changelog/4.4.rst
  pdns/recursordist/docs/changelog/pre-4.0.rst
Labels: rec

#9624 Including namespaces.hh once is enough
  modules/bindbackend/bindbackend2.cc
  pdns/dynloader.cc
  pdns/notify.cc
  pdns/nproxy.cc
  pdns/sstuff.hh
Labels: auth

#9609 rec: followup to backport of 9070 to 4.3.x: Previous placeholder fix was incomplete.
  pdns/webserver.cc
Labels: rec

#9610 rec: followup to backport of 9070 to 4.2.x: Previous placeholder fix was incomplete.
  pdns/webserver.cc
Labels: rec

#9571 rec: Throttle servers sending invalid data and rcodes
  pdns/lwres.cc
  pdns/lwres.hh
  pdns/pdns_recursor.cc
  pdns/rec-carbon.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc.hh
  pdns/recursordist/test-syncres_cc1.cc
  pdns/recursordist/test-syncres_cc10.cc
  pdns/recursordist/test-syncres_cc2.cc
  pdns/recursordist/test-syncres_cc3.cc
  pdns/recursordist/test-syncres_cc4.cc
  pdns/recursordist/test-syncres_cc5.cc
  pdns/recursordist/test-syncres_cc6.cc
  pdns/recursordist/test-syncres_cc7.cc
  pdns/recursordist/test-syncres_cc8.cc
  pdns/recursordist/test-syncres_cc9.cc
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/ws-recursor.cc
Labels: enhancement, rec

#9629 rec: Refactor the percentage computation and use rounding
  pdns/pdns_recursor.cc
Labels: rec

#9595 docs: fix lua reverse example for IPv6 records
  docs/lua-records/functions.rst
Labels: auth, docs

#9623 gsql,bind: allow seamless serving of newly-supported TYPExxx records
  docs/settings.rst
  modules/bindbackend/bindbackend2.cc
  modules/bindbackend/bindbackend2.hh
  pdns/backends/gsql/gsqlbackend.cc
  pdns/backends/gsql/gsqlbackend.hh
  pdns/common_startup.cc
  pdns/dnsparser.cc
  pdns/dnsparser.hh
  pdns/pdnsutil.cc
  pdns/test-zoneparser_tng_cc.cc
  pdns/zoneparser-tng.cc
  pdns/zoneparser-tng.hh
Labels: auth, enhancement

#9470 Remove UeberBackend::getSOA
  docs/appendices/backend-writers-guide.rst
  pdns/dnsbackend.hh
  pdns/slavecommunicator.cc
  pdns/tcpreceiver.cc
  pdns/ueberbackend.cc
  pdns/ueberbackend.hh
Labels: auth, enhancement

#9611 pdns: bind-backend speedup feedRecord()
  modules/bindbackend/bindbackend2.cc
  modules/bindbackend/bindbackend2.hh
Labels: auth, enhancement

#9655 auth: cleanup warnings in ueberbackend, dbdnsseckeeper
  pdns/dbdnsseckeeper.cc
  pdns/ueberbackend.cc
Labels: auth
