Repository PowerDNS/pdns, pull requests merged in 2020-01, with the labels that each got.

#8662 dnsdist: Display the correct DoT provider
  pdns/dnsdist-lua.cc
Labels: defect, dnsdist

#8658 dnsdist: Fix a few typos in the documentation
  pdns/dnsdistdist/docs/reference/comboaddress.rst
  pdns/dnsdistdist/docs/reference/dnsnameset.rst
  pdns/dnsdistdist/docs/reference/kvs.rst
Labels: defect, dnsdist, docs

#8650 Fix trusted-notification-proxy port
  pdns/packethandler.cc
Labels: auth, backport to auth-4.2.x?, defect

#8654 dnsdist: LogResponseAction
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: dnsdist, enhancement

#8667 rec: Introduce test for PR 8648.
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc5.cc
Labels: backport to rec-4.3.x?

#8567 dnsdist: Add bounded loads to the consistent hashing policy
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/guides/serverselection.rst
Labels: dnsdist, enhancement

#8672 sdig: Fix compilation on OpenBSD where stdin is a define
  pdns/sdig.cc
Labels: tools

#8639 rec: debian postinst / do not fail on user creation if it already exists
  builder-support/debian/recursor/debian-buster/pdns-recursor.postinst
  builder-support/debian/recursor/debian-jessie/pdns-recursor.postinst
  builder-support/debian/recursor/debian-stretch/pdns-recursor.postinst
Labels: auth, defect, rec

#8647 rec: Bump max-qperq default to 100
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
Labels: rec

#8675 rec: Backport 8647 to rec 4.3.x: increase default maxqperq
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
Labels: rec

#8670 rec: backport 8648 to rec 4.3.x: fix wrong zoneCuts caused by cache only lookup
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc5.cc
  pdns/syncres.cc
Labels: rec

#8665 rec: An Opt-Out NSEC3 RR only proves that there is no secure delegation
  pdns/syncres.cc
  pdns/validate.cc
Labels: backport to rec-4.2.x?, defect, rec

#8690 Fix various minor typos in the docs
  pdns/dnsdistdist/docs/guides/downstreams.rst
  pdns/dnsdistdist/docs/guides/serverselection.rst
Labels: defect, dnsdist, docs

#8695 rec: backport 8694 to 4.3.x: Fix ./syncres.hh:228:20: warning: initialized lambda captures are a C++14 extension
  pdns/syncres.hh
Labels: rec

#8692 rec: backport 8665 to 4.3.x: An Opt-Out NSEC3 RR only proves that there is no secure delegation
  pdns/syncres.cc
  pdns/validate.cc
Labels: rec

#8686 rec: backport 8684 to 4.2.x: parsing `dont-throttle-names` and `dont-throttle-netmasks` as comma separated lists
  pdns/pdns_recursor.cc
Labels: rec

#8674 rec: backport 8639 to 4.2.x: debian postinst / do not fail on user creation if it already exists
  builder-support/debian/recursor/debian-buster/pdns-recursor.postinst
  builder-support/debian/recursor/debian-jessie/pdns-recursor.postinst
  builder-support/debian/recursor/debian-stretch/pdns-recursor.postinst
Labels: rec

#8673 rec: backport 8639 to 4.3.x: debian postinst / do not fail on user creation if it already exists
  builder-support/debian/recursor/debian-buster/pdns-recursor.postinst
  builder-support/debian/recursor/debian-jessie/pdns-recursor.postinst
  builder-support/debian/recursor/debian-stretch/pdns-recursor.postinst
Labels: rec

#8696 rec: Backport 7928 to rec 4.2.x: Better detection of Bogus zone cuts for DNSSEC validation
  pdns/recursordist/test-syncres_cc1.cc
  pdns/recursordist/test-syncres_cc4.cc
  pdns/recursordist/test-syncres_cc6.cc
  pdns/recursordist/test-syncres_cc7.cc
  pdns/syncres.cc
  pdns/validate.cc
Labels: rec

#8702 Add the source and destination ports to the protobuf msg
  contrib/ProtobufLogger.py
  pdns/dnsdistdist/dnsdist-lua-bindings-protobuf.cc
  pdns/dnsdistdist/docs/reference/protobuf.rst
  pdns/dnsmessage.proto
  pdns/pdns_recursor.cc
  pdns/protobuf.cc
  pdns/protobuf.hh
Labels: backport to rec-4.3.x?, dnsdist, enhancement, rec

#8704 rec: Backport 8702 to 4.3.x: Add the source and destination ports to the protobuf msg
  contrib/ProtobufLogger.py
  pdns/dnsdistdist/dnsdist-lua-bindings-protobuf.cc
  pdns/dnsdistdist/docs/reference/protobuf.rst
  pdns/dnsmessage.proto
  pdns/pdns_recursor.cc
  pdns/protobuf.cc
  pdns/protobuf.hh
Labels: rec

#8694 Fix ./syncres.hh:228:20: warning: initialized lambda captures are a C++14 extension
  pdns/syncres.hh
Labels: backport to rec-4.3.x?, rec

#8708 dnsdist: Fix a versionchanged in the docs
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: defect, dnsdist, docs

#8700 rec: Prepare for recursor 4.3.0-beta2 release
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.3.rst
Labels: rec

#8274 dnsdist: Implement dynamic blocking on ratio of rcode/total responses
  pdns/dnsdist-dynblocks.hh
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-dynblocks.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/test-dnsdistdynblocks_hh.cc
  regression-tests.dnsdist/test_DynBlocks.py
Labels: dnsdist, enhancement

#8456 dnsdist: Separate the check-config and client modes
  pdns/dnsdist-lua.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-lua-bindings-protobuf.cc
  pdns/dnsdistdist/docs/reference/config.rst
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_DOH.py
  regression-tests.dnsdist/test_Routing.py
Labels: dnsdist

#8491 dnsdist: Implement parallel health checks
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-healthchecks.cc
  pdns/dnsdistdist/dnsdist-healthchecks.hh
  pdns/mplexer.hh
Labels: dnsdist, enhancement

#8657 dnsdist: Allow retrieving and deleting a backend via its UUID
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, enhancement

#8705 rec: Fix precedence order for RPZ policies rules
  pdns/filterpo.cc
  pdns/lua-recursor4.cc
  pdns/pdns_recursor.cc
  pdns/recursordist/test-filterpo_cc.cc
  pdns/recursordist/test-syncres_cc3.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: backport to rec-4.3.x?, defect, rec

#8701 remote: Support ::alsoNotifies
  docs/backends/remote.rst
  modules/remotebackend/remotebackend.cc
  modules/remotebackend/remotebackend.hh
  modules/remotebackend/test-remotebackend.cc
Labels: auth

#8688 rec: Give an explcit messsage if something is wrong with socket-dir
  pdns/pdns_recursor.cc
Labels: rec

#8719 rec: EPEL 8 now has libfstrm-devel
  builder-support/specs/pdns-recursor.spec
Labels: backport to rec-4.3.x?, rec

#8556 dnsdist: Support setting the value of AA, AD and RA when self-generating answers
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdist.cc
  pdns/dnsdistdist/docs/rules-actions.rst
  regression-tests.dnsdist/test_Advanced.py
  regression-tests.dnsdist/test_Basics.py
  regression-tests.dnsdist/test_DOH.py
  regression-tests.dnsdist/test_DynBlocks.py
  regression-tests.dnsdist/test_EDNSSelfGenerated.py
  regression-tests.dnsdist/test_RecordsCount.py
  regression-tests.dnsdist/test_Spoofing.py
  regression-tests.dnsdist/test_TCPKeepAlive.py
Labels: defect, dnsdist

#8720 dnsdist: EPEL 8 now has libfstrm-devel
  builder-support/specs/dnsdist.spec
Labels: dnsdist

#8718 Make ComboAddress::setPort() update the current object
  pdns/iputils.hh
  pdns/packethandler.cc
  pdns/pdns_recursor.cc
Labels: backport to rec-4.3.x?, defect, rec

#8723 rec: Add unit tests for the NSEC3 Opt-Out case
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc.hh
  pdns/recursordist/test-syncres_cc6.cc
  pdns/validate.cc
Labels: backport to rec-4.3.x?, enhancement, rec

#8331 auth: lmdb-backend, remove duplicate code and some unused variables
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
Labels: auth, backport to auth-4.2.x?, enhancement

#8729 rec: Explicitly enable dnstap for debian-stretch and buster
  builder-support/debian/recursor/debian-buster/rules
  builder-support/debian/recursor/debian-stretch/control
  builder-support/debian/recursor/debian-stretch/rules
  builder-support/dockerfiles/Dockerfile.target.ubuntu-bionic
Labels: backport to rec-4.3.x?, rec

#8726 rec: Backport 8688 to rec 4.3.x: Give an explcit messsage if something is wrong with socket-dir.
  pdns/pdns_recursor.cc
Labels: rec

#8727 rec: Backport 8705 to rec 4.3.x: Fix the evaluation order for filtering policies (RPZ)
  pdns/filterpo.cc
  pdns/lua-recursor4.cc
  pdns/pdns_recursor.cc
  pdns/recursordist/test-filterpo_cc.cc
  pdns/recursordist/test-syncres_cc3.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: rec

#8728 rec: Backport 8719 to rec 4.3.x: EPEL 8 now has libfstrm-devel
  builder-support/specs/pdns-recursor.spec
Labels: rec

#8730 rec: backport 8718 to rec 4.3.x: Make ComboAddress::setPort() update the current object
  pdns/iputils.hh
  pdns/packethandler.cc
  pdns/pdns_recursor.cc
Labels: rec

#8731 rec: Backport 8723 to rec 4.3.x: add unit tests for the NSEC3 Opt-Out case
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc.hh
  pdns/recursordist/test-syncres_cc6.cc
  pdns/validate.cc
Labels: rec

#8738 rec: backport 8729 to rec 4.3.x: Explicitly enable dnstap for debian-stretch and buster
  builder-support/debian/recursor/debian-buster/rules
  builder-support/debian/recursor/debian-stretch/control
  builder-support/debian/recursor/debian-stretch/rules
  builder-support/dockerfiles/Dockerfile.target.ubuntu-bionic
Labels: rec

#8733 dnsdist: Load an openssl configuration file, if any, during startup
  pdns/dnsdistdist/libssl.cc
Labels: dnsdist, enhancement

#8713 auth: Enforce a strict maximum size for the packet and records caches
  pdns/auth-packetcache.cc
  pdns/auth-packetcache.hh
  pdns/auth-querycache.cc
  pdns/auth-querycache.hh
Labels: auth, enhancement

#8474 auth: Fix auth logging if no packet cache; from Habbie
  pdns/common_startup.cc
  pdns/tcpreceiver.cc
Labels: auth, backport to auth-4.2.x?, defect

#8735 auth dnssec docs: some notes on TTL usage
  docs/dnssec/operational.rst
Labels: auth, docs

#8627 gpgsqlbackend: Avoid actually prepared statements
  modules/gpgsqlbackend/spgsql.cc
  modules/gpgsqlbackend/spgsql.hh
Labels: auth, enhancement

#8628 auth: make sure get() is always returning the default value for d_place
  pdns/ueberbackend.cc
Labels: auth, backport to auth-4.2.x?, defect

#8659 auth: Make DNSSECKeeper::clear{All,}Caches() static
  pdns/dnsseckeeper.hh
  pdns/dynhandler.cc
  pdns/tcpreceiver.cc
  pdns/ws-auth.cc
Labels: auth

#8681 auth: Add metrics about the size of our in-memory rings
  pdns/statbag.cc
  pdns/statbag.hh
  regression-tests.nobackend/counters/expected_result
Labels: auth, enhancement

#8680 auth: Make it clearer that records are never altered, only replaced
  modules/bindbackend/bindbackend2.cc
  modules/bindbackend/bindbackend2.hh
Labels: auth, enhancement

#8744 Make Lua mandatory for Auth
  .circleci/config.yml
  README.md
  configure.ac
  pdns/lua-auth4.cc
  pdns/lua-base4.cc
  pdns/lua-base4.hh
Labels: auth

#8750 docs: clarify Zone object description, closes #8748
  docs/http-api/swagger/authoritative-api-swagger.yaml
Labels: auth, docs

#8740 Update boost.m4
  m4/boost.m4
Labels: backport to auth-4.2.x?, backport to rec-4.1.x?, backport to rec-4.2.x?, backport to rec-4.3.x?

#8749 allow local-ipv6 until 4.4.0
  docs/settings.rst
  docs/upgrading.rst
  pdns/common_startup.cc
  pdns/nameserver.cc
  pdns/tcpreceiver.cc
Labels: auth, enhancement

#8751 rec: backport 8740 to rec 4.3.x: Update boost.m4
  m4/boost.m4
Labels: rec

#8715 auth: Use a hashed index instead of an ordered one for the key cache
  pdns/dnsseckeeper.hh
Labels: auth, enhancement

#8668 ws-auth: Allow DNAME in apex with SOA and NS records
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, backport to auth-4.2.x?, defect

#8732 Remote: Implement getUnfreshSlaveInfos and setFresh
  docs/backends/remote.rst
  modules/remotebackend/httpconnector.cc
  modules/remotebackend/remotebackend.cc
  modules/remotebackend/remotebackend.hh
Labels: auth

#8756 rec: Document the difference between rec_control quit and quit-nicely.
  pdns/recursordist/docs/manpages/rec_control.1.rst
Labels: rec

#8752 rec: backport 8740 to rec 4.2.x: Update boost.m4
  m4/boost.m4
Labels: rec

#8753 rec: backport 8740 to rec 4.1.x: Update boost.m4
  m4/boost.m4
Labels: rec

#8754 Remove the algo 5 -> 7 upgrade
  pdns/dbdnsseckeeper.cc
  pdns/pdnsutil.cc
Labels: auth

#8761 dnsdist: Use ref counting for the DoT TLS context
  pdns/dnsdistdist/tcpiohandler.cc
Labels: defect, dnsdist

#8764 Add distributor-threads setting to rec performance docs
  pdns/recursordist/docs/performance.rst
Labels: docs, enhancement, rec

#8755 changelog and secpoll for auth-4.3.0-beta1
  docs/changelog/4.3.rst
  docs/secpoll.zone
  docs/settings.rst
  docs/upgrading.rst
Labels: auth
