Repository PowerDNS/pdns, pull requests merged in 2020-08, with the labels that each got.

#9337 Report IPSECKEY
  docs/upgrading.rst
  pdns/dnsrecords.cc
Labels: auth

#9275 dnsdist: Force a reconnection when a downstream transitions to the UP state
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-healthchecks.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, enhancement

#9374 Be explicit about IPs vs netmasks.
  pdns/recursordist/docs/settings.rst
Labels: docs, rec

#9159 auth: Add some UeberBackend unit tests, document multi-backend interactions
  docs/appendices/backend-writers-guide.rst
  docs/domainmetadata.rst
  modules/bindbackend/bindbackend2.cc
  modules/geoipbackend/geoipbackend.cc
  modules/gmysqlbackend/gmysqlbackend.cc
  modules/godbcbackend/godbcbackend.cc
  modules/gpgsqlbackend/gpgsqlbackend.cc
  modules/gsqlite3backend/gsqlite3backend.cc
  modules/ldapbackend/ldapbackend.cc
  modules/lmdbbackend/lmdbbackend.cc
  modules/lua2backend/lua2backend.cc
  modules/pipebackend/pipebackend.cc
  modules/randombackend/randombackend.cc
  modules/remotebackend/remotebackend.cc
  modules/tinydnsbackend/tinydnsbackend.cc
  pdns/Makefile.am
  pdns/dnsbackend.cc
  pdns/dnsbackend.hh
  pdns/pdnsutil.cc
  pdns/test-ueberbackend_cc.cc
  pdns/ueberbackend.cc
  pdns/ueberbackend.hh
Labels: auth, docs, enhancement

#9049 dnsdist: Set the default EDNS buffer size on generated answers to 1232
  pdns/dnsdist-ecs.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist

#9265 auth: add used master address to slave check logs
  pdns/slavecommunicator.cc
Labels: auth, enhancement

#9318 gsqlbackend: allow backend-specific queries
  modules/gmysqlbackend/gmysqlbackend.cc
  modules/godbcbackend/godbcbackend.cc
  modules/gpgsqlbackend/gpgsqlbackend.cc
  modules/gsqlite3backend/gsqlite3backend.cc
  pdns/backends/gsql/gsqlbackend.hh
Labels: auth, enhancement

#9218 auth: log more pdns_control actions
  pdns/dynhandler.cc
Labels: auth

#9219 auth 4.3.x: gpgsql: Reintroduce prepared statements
  docs/backends/generic-postgresql.rst
  modules/gpgsqlbackend/gpgsqlbackend.cc
  modules/gpgsqlbackend/spgsql.cc
  modules/gpgsqlbackend/spgsql.hh
Labels: auth

#9378 dnsdist: Stop the related responder thread when a backend is removed
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-backend.cc
Labels: defect, dnsdist

#9380 Replace the use of '1' by QClass::IN to improve readability
  modules/bindbackend/bindbackend2.cc
  modules/lmdbbackend/lmdbbackend.cc
  pdns/lua-base4.cc
  pdns/lua-recursor4.cc
  pdns/pdnsutil.cc
Labels: auth, rec

#9340 Auth API: Allow removal of NSEC3PARAM metadata
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, backport to auth-4.3.x?, enhancement

#9092 receiver: fix help output for pdns current-config
  pdns/receiver.cc
Labels: auth, defect

#8623 Make a combination of delete and replace for rrset possible
  pdns/ws-auth.cc
  pdns/ws-auth.hh
  regression-tests.api/test_Zones.py
Labels: auth, enhancement

#8565 geoipbackend: stop looking after first weighted match
  modules/geoipbackend/geoipbackend.cc
Labels: auth, enhancement

#8564 geoipbackend: propagate weighted rounding gap fix
  modules/geoipbackend/geoipbackend.cc
Labels: auth, defect

#7963 Add a new command to add a super-master to SQL backends
  contrib/pdnsutil.bash_completion.d
  docs/manpages/pdnsutil.1.rst
  docs/modes-of-operation.rst
  modules/gmysqlbackend/gmysqlbackend.cc
  modules/godbcbackend/godbcbackend.cc
  modules/gpgsqlbackend/gpgsqlbackend.cc
  modules/gsqlite3backend/gsqlite3backend.cc
  pdns/backends/gsql/gsqlbackend.cc
  pdns/backends/gsql/gsqlbackend.hh
  pdns/dnsbackend.hh
  pdns/pdnsutil.cc
  pdns/ueberbackend.cc
  pdns/ueberbackend.hh
Labels: auth, enhancement

#7932 auth: remove redundant --no-config in makefile
  builder-support/debian/authoritative/debian-buster/rules
  builder-support/debian/authoritative/debian-jessie/rules
  builder-support/debian/authoritative/debian-stretch/rules
  builder-support/debian/recursor/debian-buster/rules
  builder-support/debian/recursor/debian-jessie/rules
  builder-support/debian/recursor/debian-stretch/rules
  builder-support/specs/pdns.spec
  docs/backends/generic-sql.rst
  pdns/Makefile.am
  pdns/recursordist/docs/getting-started.rst
Labels: auth

#8928 auth: Ensure qtype is set before calling setContent() in axfrfilter()
  pdns/lua-auth4.cc
Labels: auth, backport to auth-4.2.x?, backport to auth-4.3.x?, defect

#9388 Fix docs for DNSName::equal()
  pdns/recursordist/docs/lua-scripting/dnsname.rst
Labels: docs

#9393 dnsdist upgrade notes: note new webserver ACL
  pdns/dnsdistdist/docs/upgrade_guide.rst
Labels: dnsdist, docs

#9390 rec: rename cache-shards to record-cache-shards and document it.
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
  regression-tests/recursor-test
Labels: rec

#9394 Fix capitalization of Zone in documentation
  docs/http-api/zone.rst
Labels: auth, defect, docs

#9264 PKCS#11: Document SoftHSM2 remote usage
  docs/dnssec/pkcs11.rst
Labels: auth, docs

#9101 LUA records: two improvements to createForward
  pdns/lua-record.cc
  regression-tests.auth-py/test_LuaRecords.py
Labels: auth

#9088 replace boost:bind() with lambdas
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/reczones.cc
  pdns/webserver.cc
  pdns/ws-recursor.cc
Labels: dnsdist, needs review

#9157 Add support for FreeBSD's SO_REUSEPORT_LB
  pdns/Makefile.am
  pdns/dnsdist.cc
  pdns/dumresp.cc
  pdns/iputils.cc
  pdns/iputils.hh
  pdns/nameserver.cc
  pdns/nameserver.hh
  pdns/pdns_recursor.cc
Labels: auth, dnsdist, enhancement, rec

#9396 Rec: allow multipe local data records when doing RPZ IP matching
  pdns/filterpo.cc
  pdns/filterpo.hh
  pdns/recursordist/test-filterpo_cc.cc
  pdns/rpzloader.cc
Labels: enhancement, rec

#9397 rec: Backport 9073 to rec 4.3.x: Ensure runtime dirs for virtual services differ
  pdns/Makefile.am
  pdns/common_startup.cc
  pdns/dnsdistdist/Makefile.am
  pdns/pdns_recursor.cc
  pdns/recursordist/Makefile.am
Labels: rec

#9408 Fix building with LLVM11
  pdns/dnsdist-console.cc
Labels: defect, dnsdist

#9367 rec: Backport 9343 to rec 4.3.x: Resize hostname to final size in getCarbonHostname()
  pdns/misc.cc
  pdns/test-misc_hh.cc
Labels: rec

#9405 doc: Fix broken link to "per-zone-settings-domain-metadata"
  docs/appendices/backend-writers-guide.rst
Labels: auth, defect, docs

#9391 rec: export record cache mutex stats via the various channels.
  pdns/rec-snmp.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/metrics.rst
Labels: enhancement, rec

#9382 dnsdist: Speed up the round robin policy
  pdns/dnsdistdist/dnsdist-lbpolicies.cc
  pdns/dnsdistdist/test-dnsdistlbpolicies_cc.cc
Labels: dnsdist, enhancement

#9381 dnsdist: Handle EINTR in DelayPipe
  pdns/delaypipe.cc
  pdns/delaypipe.hh
  pdns/dnsdistdist/test-delaypipe_hh.cc
Labels: dnsdist, enhancement

#9409 auth: clear the key cache after addKey()
  pdns/dbdnsseckeeper.cc
Labels: auth, backport to auth-4.2.x?, backport to auth-4.3.x?, defect

#9368 rec: Backport 9343 to rec 4.2.x: Resize hostname to final size in getCarbonHostname()
  pdns/misc.cc
  pdns/test-misc_hh.cc
Labels: rec

#9412 rec: Clean some coverity reported cases of exceptions thrown but not caught.
  pdns/rec_channel_rec.cc
Labels: rec

#9415 auth: missing override
  pdns/backends/gsql/gsqlbackend.hh
Labels: auth, easy

#9375 rec: Allow some more depth headroom for the no-qname-minimization fallback case
  pdns/recursordist/docs/settings.rst
  pdns/syncres.cc
Labels: backport to rec-4.3.x?, rec

#9417 rec: FIx a few "warning: comparison of integers of different signs" on clang.OpenBSD
  pdns/recursordist/test-syncres_cc10.cc
Labels: easy, rec

#9411 rec: Fix warning: initialized lambda captures are a C++14 extension
  pdns/pdns_recursor.cc
Labels: rec

#8638 Support for APL Records
  .github/actions/spell-check/expect.txt
  docs/appendices/types.rst
  pdns/dnsrecords.cc
  pdns/dnsrecords.hh
  pdns/qtype.hh
  pdns/test-dnsrecords_cc.cc
Labels: auth, enhancement

#9419 sdig: report non-zero ID in response
  pdns/sdig.cc
Labels: enhancement, tools

#9379 dnsdist: Add the 'clearConsoleHistory' command
  pdns/dnsdist-console.cc
  pdns/dnsdist-console.hh
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, enhancement

#9414 rec: Apply filtering policies (RPZ) on CNAME chains as well
  .github/actions/spell-check/expect.txt
  pdns/filterpo.cc
  pdns/filterpo.hh
  pdns/lua-recursor4.cc
  pdns/lua-recursor4.hh
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/lua-config/rpz.rst
  pdns/recursordist/docs/lua-scripting/hooks.rst
  pdns/recursordist/docs/lua-scripting/index.rst
  pdns/recursordist/docs/lua-scripting/policyevent.rst
  pdns/recursordist/test-filterpo_cc.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_RPZ.py
  regression-tests.recursor/RPZ/expected_result
  regression-tests.recursor/config.sh
  regression-tests.recursor/cross-zone-cname-bogus-nxdomain/expected_result
Labels: enhancement, rec

#9426 dnsdist: Install 'patch' in Circle CI, required to install py-lmdb
  .circleci/config.yml
Labels: dnsdist

#9425 Prep for rec-4.4.0-beta1 release
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.4.rst
Labels: rec

#9424 Avoid unnecessary allocations and copies with DNSName::toDNSString()
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist.cc
  pdns/dnsname.cc
  pdns/dnsparser.cc
  pdns/misc.hh
Labels: auth, dnsdist, enhancement, rec

#9420 dnsdist: Get rid of allocations in the packet cache's fast path
  pdns/dnsdist-cache.cc
  pdns/dnsdist-cache.hh
  pdns/fuzz_dnsdistcache.cc
Labels: dnsdist, enhancement

#9428 dnsdist: Accept string in DNSDistPacketCache:expungeByName
  pdns/dnsdistdist/dnsdist-lua-bindings-packetcache.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, enhancement
