Repository PowerDNS/pdns, pull requests merged in 2020-04, with the labels that each got.

#8985 fix compilation without deprecated OpenSSL APIs
  pdns/opensslsigners.cc
  pdns/pkcs11signers.cc
Labels: auth, backport to stable?, rec

#8991 Improve specification for metadata API endpoint
  docs/http-api/swagger/authoritative-api-swagger.yaml
Labels: auth, docs

#8987 rec: fix referral unit test
  pdns/recursordist/test-syncres_cc2.cc
  pdns/syncres.cc
Labels: rec

#8977 auth: avoid IXFR-in record duplication
  pdns/slavecommunicator.cc
  regression-tests.auth-py/authtests.py
  regression-tests.auth-py/requirements.txt
  regression-tests.auth-py/test_IXFR.py
Labels: backport to auth-4.2.x?, backport to auth-4.3.x?

#8996 dnsdist: Drop responses with the QR bit set to 0
  pdns/dnsdist.cc
Labels: dnsdist, enhancement

#9001 auth 4.2: fix IXFR-in record duplication issue by avoiding the query cache
  pdns/slavecommunicator.cc
  regression-tests.auth-py/authtests.py
  regression-tests.auth-py/requirements.txt
  regression-tests.auth-py/test_IXFR.py
Labels: auth, defect

#9008 rec: test what's I believe was intended for test_RecursorCacheSimple
  pdns/recursordist/test-recursorcache_cc.cc
Labels: defect, rec

#9009 circleci auth: use recursor on localhost for resolving ALIAS
  .circleci/config.yml
Labels: auth, backport to auth-4.1.x?, backport to auth-4.2.x?, backport to auth-4.3.x?, enhancement

#8967 rec: Implement native DNS64 support, without Lua
  pdns/lua-recursor4.cc
  pdns/misc.cc
  pdns/misc.hh
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/dns64.rst
  pdns/recursordist/docs/settings.rst
  pdns/syncres.hh
  pdns/test-misc_hh.cc
  regression-tests.recursor-dnssec/test_DNS64.py
Labels: enhancement, rec

#9012 Install bind SQL schema files as part of bindbackend
  modules/bindbackend/Makefile.am
  pdns/Makefile.am
Labels: auth, backport to auth-4.3.x?

#8994 dnsdist: Add an option to control the size of the TCP listen queue
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, enhancement

#9014 auth: document IXFR corruption and correction
  docs/changelog/4.3.rst
  docs/upgrading.rst
Labels: auth, docs, enhancement

#9017 rec: fix typo (prefixe -> prefixes)
  pdns/pdns_recursor.cc
Labels: defect, rec

#9027 rec: Tell a bit about qname minimization
  pdns/recursordist/docs/appendices/internals.rst
Labels: docs, rec

#9028 dnsdist: Update ChangeLog and secpoll for 1.5.0-rc1
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
  pdns/dnsdistdist/docs/guides/dns-over-https.rst
  pdns/dnsdistdist/docs/guides/dns-over-tls.rst
  pdns/dnsdistdist/docs/upgrade_guide.rst
Labels: dnsdist

#9033 EL8 pkgs: Build mysql backend against mariadb-connector-c-devel
  builder-support/specs/pdns.spec
Labels: auth, backport to auth-4.3.x?

#9031 Fix compilation of the ports event multiplexer
  pdns/portsmplexer.cc
  pdns/test-dns_random_hh.cc
Labels: auth, backport to auth-4.2.x?, backport to auth-4.3.x?, backport to rec-4.2.x?, backport to rec-4.3.x?, defect, dnsdist, rec

#9024 auth smysql: mimic error message format from mysql tooling
  modules/gmysqlbackend/smysql.cc
Labels: auth, backport to auth-4.3.x?, enhancement

#9041 dnsdist: Fix the year (2010 -> 2020) of the latest changelog entries
  pdns/dnsdistdist/docs/changelog.rst
Labels: defect, dnsdist, docs

#9042 dnsdist: Avoid copies in for loops
  pdns/dnscrypt.cc
  pdns/dnsdist-cache.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua.cc
Labels: dnsdist, enhancement

#8910 Rec: routing tag
  pdns/lua-recursor4-ffi.hh
  pdns/lua-recursor4.cc
  pdns/lua-recursor4.hh
  pdns/pdns_recursor.cc
  pdns/recursor_cache.cc
  pdns/recursor_cache.hh
  pdns/recursordist/docs/lua-scripting/hooks.rst
  pdns/recursordist/test-recursorcache_cc.cc
  pdns/recursordist/test-syncres_cc3.cc
  pdns/recursordist/test-syncres_cc8.cc
  pdns/recursordist/test-syncres_cc9.cc
  pdns/reczones.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_RoutingTag.py
Labels: rec

#9048 rec: Backport 8778 to rec 4.3.x: RPZ dumpFile/seedFile: store/get SOA refresh on dump/load
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/rpzloader.cc
  pdns/rpzloader.hh
Labels: defect, rec

#9046 Prep rec-4.4.0-alpha1
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.4.rst
  pdns/recursordist/docs/changelog/index.rst
Labels: rec

#9052 Small doc changes
  pdns/dnsdistdist/docs/guides/webserver.rst
  pdns/dnsdistdist/docs/reference/constants.rst
  pdns/dnsdistdist/docs/reference/index.rst
  pdns/dnsdistdist/docs/reference/logging.rst
Labels: dnsdist, docs, enhancement

#9054 dnsdist: Build with -Wmissing-declarations -Wredundant-decls
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-vars.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/configure.ac
  pdns/dnsdistdist/dnsdist-lua-inspection-ffi.hh
  pdns/dnsdistdist/tcpiohandler.cc
  pdns/dnslabeltext.rl
  pdns/sodcrypto.cc
Labels: dnsdist, enhancement

#9053 Get rid of a naked pointer in the /dev/poll event multiplexer
  pdns/devpollmplexer.cc
Labels: dnsdist, enhancement, rec

#9044 auth: Fix warnings reported by clang++ 10
  modules/gmysqlbackend/smysql.cc
  pdns/lua-record.cc
  pdns/misc.cc
  pdns/pkcs11signers.cc
Labels: auth

#9059 dnsdist: a few warnings fixed, reported by clang on OpenBSD
  pdns/dnsdistdist/test-dnsdistkvs_cc.cc
  pdns/dnsdistdist/test-dnsdistlbpolicies_cc.cc
Labels: dnsdist, enhancement

#9057 dnsdist: Gracefully handle a failure to remove FD on (re)-connection
  pdns/dnsdistdist/dnsdist-backend.cc
Labels: defect, dnsdist

#9068 dnsdist: Fix duplicated HTTP/1 counter in 'showDOHFrontends()'
  pdns/dnsdist-lua.cc
Labels: defect, dnsdist

#9069 Avoid "pthread_rwlock_destroy on rwlock with waiters!" on OpenBSD
  pdns/test-lock_hh.cc
Labels: defect
