Repository PowerDNS/pdns, pull requests merged in 2020-07, with the labels that each got.

#9237 rec: Don't validate a NXD with a NSEC proving that the name is an ENT
  pdns/recursordist/test-syncres_cc8.cc
  pdns/validate.cc
Labels: defect, rec

#9287 rec: prep for 20200701 releases
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.1.rst
  pdns/recursordist/docs/changelog/4.2.rst
  pdns/recursordist/docs/changelog/4.3.rst
  pdns/recursordist/docs/security-advisories/powerdns-advisory-2020-04.rst
Labels: rec

#9278 dnsdist: Prevent race between the DoH handling threads
  pdns/dnsdistdist/doh.cc
  pdns/doh.hh
Labels: defect, dnsdist

#9288 rec: Dump the authority records of a negative cache entry as well
  pdns/recursordist/negcache.cc
  pdns/recursordist/test-negcache_cc.cc
Labels: enhancement, rec

#9289 rec: common TCP write problems should only be logged if wanted.
  pdns/pdns_recursor.cc
Labels: enhancement, rec

#9296 rec: Fix invalid signatures in a test (DS signed by the child zone)
  pdns/recursordist/test-syncres_cc5.cc
Labels: defect, rec

#9295 rec: Specify a storage type for validation states
  pdns/validate.cc
  pdns/validate.hh
Labels: enhancement, rec

#9292 rec: A ServFail while retrieving DS/DNSKEY records is just that
  pdns/recursordist/test-syncres_cc5.cc
  pdns/syncres.cc
Labels: backport to rec-4.2.x?, backport to rec-4.3.x?, defect, rec

#9290 rec: Refuse QType 0 right away, based on rfc6895 section 3.1
  pdns/syncres.cc
Labels: enhancement, rec

#9302 rec: Kill an signed vs unsigned warning on OpenBSD
  pdns/recursordist/test-syncres_cc2.cc
Labels: rec

#9301 rec: take initial refresh time from loaded zone
  pdns/rpzloader.cc
Labels: backport to rec-4.3.x?

#9303 rec: use new operator to print states
  pdns/pdns_recursor.cc
  pdns/syncres.cc
Labels: enhancement, rec

#9304 rec: backport 9301 to rec 4.3.x: take initial refresh time from loaded zone
  pdns/rpzloader.cc
Labels: defect, rec

#9305 rec: backport of 9268 to 4.3.x: Better exception handling in houseKeeping / handlePolicyHit
  pdns/pdns_recursor.cc
Labels: rec

#9298 dnsdist: Update the ChangeLog and secpoll zone for 1.5.0-rc4
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist, docs

#9297 rec: Ignore cache-only for DNSKEYs retrieval
  pdns/syncres.cc
Labels: backport to rec-4.3.x?, defect, rec

#9309 rec: Validate cached DNSKEYs against the DSs, not the RRSIGs only
  pdns/recursordist/test-syncres_cc4.cc
  pdns/syncres.cc
Labels: backport to rec-4.2.x?, backport to rec-4.3.x?, defect, rec

#9188 rec: Refuse DS records received from child zones
  pdns/recursordist/test-syncres_cc9.cc
  pdns/syncres.cc
Labels: backport to rec-4.2.x?, backport to rec-4.3.x?, defect, rec

#9316 auth: 0 as nullptr cleanup
  pdns/backends/gsql/gsqlbackend.cc
  pdns/packethandler.cc
  pdns/ueberbackend.cc
Labels: auth, enhancement

#9231 Use explicit flag for the specific version of c++ wer'e targeting.
  configure.ac
  pdns/dnsdistdist/configure.ac
  pdns/recursordist/configure.ac
Labels: auth, dnsdist, rec

#9312 rec: Stop cluttering the global namespace with validation states
  pdns/lua-recursor4.cc
  pdns/lua-recursor4.hh
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/recursor_cache.cc
  pdns/recursor_cache.hh
  pdns/recursordist/negcache.cc
  pdns/recursordist/negcache.hh
  pdns/recursordist/test-syncres_cc1.cc
  pdns/recursordist/test-syncres_cc2.cc
  pdns/recursordist/test-syncres_cc3.cc
  pdns/recursordist/test-syncres_cc4.cc
  pdns/recursordist/test-syncres_cc5.cc
  pdns/recursordist/test-syncres_cc6.cc
  pdns/recursordist/test-syncres_cc7.cc
  pdns/recursordist/test-syncres_cc8.cc
  pdns/recursordist/test-syncres_cc9.cc
  pdns/reczones.cc
  pdns/secpoll-recursor.cc
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/test-recpacketcache_cc.cc
  pdns/toysdig.cc
  pdns/validate.cc
  pdns/validate.hh
Labels: enhancement, rec

#9306 rec: backport of 9268 to 4.2.x: Better exception handling in houseKeeping / handlePolicyHit
  pdns/pdns_recursor.cc
Labels: rec

#9280 auth: immediately fill account, kind, masters on zone create
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
  pdns/backends/gsql/gsqlbackend.cc
  pdns/backends/gsql/gsqlbackend.hh
  pdns/dnsbackend.hh
  pdns/pdnsutil.cc
  pdns/ueberbackend.cc
  pdns/ueberbackend.hh
  pdns/ws-auth.cc
Labels: auth, enhancement, rest-api

#9315 bindbackend: fix zoneId in log statement
  modules/bindbackend/bindbackend2.cc
Labels: auth, backport to auth-4.3.x?, defect

#9327 rec: Backport 9188 to rec 4.3.x: Refuse DS records received from child zones
  pdns/recursordist/test-syncres_cc9.cc
  pdns/syncres.cc
Labels: defect, rec

#9328 rec: backport 9292 to rec 4.3.x: A ServFail while retrieving DS/DNSKEY records is just that
  pdns/recursordist/test-syncres_cc5.cc
  pdns/syncres.cc
Labels: defect, rec

#9329 rec: Backport 9297 to rec 4.3.x: Ignore cache-only for DNSKEYs and DS retrieval
  pdns/syncres.cc
Labels: defect, rec

#9330 rec: Backport 9309 to rec 4.3.x: Validate cached DNSKEYs against the DSs, not the RRSIGs only
  pdns/recursordist/test-syncres_cc4.cc
  pdns/syncres.cc
Labels: defect, rec

#9331 rec: Backport 9188 to rec 4.2.x: Refuse DS records received from child zones
  pdns/recursordist/test-syncres_cc9.cc
  pdns/syncres.cc
Labels: defect, rec

#9332 rec: Backport 9292 to rec 4.2.x: A ServFail while retrieving DS/DNSKEY records is just that
  pdns/recursordist/test-syncres_cc5.cc
  pdns/syncres.cc
Labels: defect, rec

#9333 rec: Backport 9297 to rec 4.2.x: Ignore cache-only for DNSKEYs/DS retrieval
  pdns/syncres.cc
Labels: defect, rec

#9334 rec: Backport 9309 to rec 4.2.x: Validate cached DNSKEYs against the DSs, not the RRSIGs only
  pdns/recursordist/test-syncres_cc4.cc
  pdns/syncres.cc
Labels: defect, rec

#9314 Remove redundant toLogString() calls
  pdns/backends/gsql/gsqlbackend.cc
  pdns/pdns_recursor.cc
  pdns/rfc2136handler.cc
  pdns/rpzloader.cc
  pdns/syncres.cc
Labels: auth, enhancement, rec

#9308 rec: Check that DNSKEYs have the zone flag set
  pdns/recursordist/test-syncres_cc4.cc
  pdns/validate.cc
Labels: rec

#9320 Update proxy-protocol.cc
  pdns/proxy-protocol.cc
Labels: defect, dnsdist

#9338 rec: Prep for upcoming July 17th 2020 release.
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.2.rst
  pdns/recursordist/docs/changelog/4.3.rst
Labels: docs, rec

#9342 rec: prep for rec-4.4.0-alpha2
  .github/actions/spell-check/expect.txt
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.4.rst
Labels: rec

#9348 Avoid name clashes on Solaris derived systems.
  pdns/iputils.hh
  pdns/lua-record.cc
Labels: auth, rec

#9346 dnsdist: Fix compilation on OpenBSD/amd64
  pdns/dnsdist-console.cc
  pdns/dnsdist.cc
Labels: dnsdist

#9344 dnsdist: Fix compilation with h2o_socket_get_ssl_server_name
  pdns/dnsdistdist/doh.cc
Labels: defect, dnsdist

#9343 misc.cc: Resize hostname to final size in getCarbonHostname()
  pdns/misc.cc
  pdns/test-misc_hh.cc
Labels: auth, backport to auth-4.2.x?, backport to auth-4.3.x?, backport to rec-4.2.x?, backport to rec-4.3.x?, defect, dnsdist, rec

#9355 dnsdist: Improve reporting of possible overflow via large Proxy Protocol values
  pdns/dnsdistdist/dnsdist-proxy-protocol.cc
  pdns/proxy-protocol.cc
Labels: dnsdist

#9359 auth tests gmysql2: fix env var name typo
  regression-tests/backends/gmysql-slave
Labels: auth, defect

#9356 dnsdist: Handle calling PacketCache methods on a nil object
  pdns/dnsdistdist/dnsdist-lua-bindings-packetcache.cc
Labels: defect, dnsdist

#9360 dnsdist: Prevent a copy of a pool's backends when selecting a server
  pdns/dnsdist-lbpolicies.hh
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-lbpolicies.cc
Labels: dnsdist, enhancement

#9358 dnsdist: Update ChangeLog and secpoll for the 1.5.0 release
  .github/actions/spell-check/expect.txt
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#9365 dnsdist: Fix weird UTF-8 character in the ChangeLog
  pdns/dnsdistdist/docs/changelog.rst
Labels: defect, dnsdist, docs

#9362 Rec: run test with more threads and skip the last (repeated) test
  build-scripts/test-recursor-bulk
  regression-tests/recursor-test
Labels: rec

#9366 dnsdist: Better documentation for HTTP responses map
  pdns/dnsdistdist/docs/guides/dns-over-https.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/upgrade_guide.rst
Labels: defect, dnsdist, docs

#9196 rec: Disable outgoing v4 when QLA has no v4 addresses
  pdns/pdns_recursor.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc10.cc
  pdns/reczones.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_ECS.py
  regression-tests.recursor-dnssec/test_RoutingTag.py
Labels: rec

#9273 dnsdist: Add Lua bindings to get a server's latency
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, enhancement

#9225 Wrap more FILE objects in smart pointers
  modules/pipebackend/coprocess.cc
  modules/pipebackend/coprocess.hh
  pdns/dnsdist-cache.cc
  pdns/dnspcap.cc
  pdns/dnspcap.hh
  pdns/dnspcap2protobuf.cc
  pdns/dnstcpbench.cc
  pdns/ixfrutils.cc
  pdns/recursordist/test-negcache_cc.cc
Labels: auth, dnsdist, enhancement, ixfrdist, tools

#9222 dnsdist: Use toStringWithPort instead of manual addr/port concat
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-web.cc
Labels: defect, dnsdist
