Repository PowerDNS/pdns, pull requests merged in 2021-10, with the labels that each got.

#10783 Remove the unused BoundsCheckingPointer class
  pdns/dns.cc
Labels: auth, rec, enhancement, dnsdist

#10789 dnsdist: Fix several typos in the health check code
  pdns/dnsdistdist/dnsdist-healthchecks.cc
Labels: defect, dnsdist

#10787 dnsdist: Properly cache UDP queries passed to a TCP/DoT/DoH backend
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/doh.cc
  regression-tests.dnsdist/test_OutgoingDOH.py
Labels: defect, dnsdist

#10562 auth NOTIFY: log names of NSes we could not resolve
  pdns/mastercommunicator.cc
Labels: auth, enhancement

#10505 Add a periodic zones-to-cache function.
  .github/actions/spell-check/expect.txt
  pdns/minicurl.cc
  pdns/minicurl.hh
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/recursordist/Makefile.am
  pdns/recursordist/configure.ac
  pdns/recursordist/docs/lua-config/index.rst
  pdns/recursordist/logging.cc
  pdns/recursordist/m4/libcurl.m4
  pdns/recursordist/m4/pdns_check_libcurl.m4
  pdns/recursordist/minicurl.cc
  pdns/recursordist/minicurl.hh
  pdns/recursordist/rec-zonetocache.cc
  pdns/recursordist/rec-zonetocache.hh
  pdns/recursordist/test-rec-zonetocache.cc
  pdns/recursordist/testrunner.cc
Labels: rec, enhancement

#10794 rec: Followup on ZoneToCache and fix #10246: document local root config
  .github/actions/spell-check/expect.txt
  pdns/recursordist/docs/lua-config/ztc.rst
  pdns/recursordist/docs/performance.rst
  pdns/recursordist/rec-zonetocache.cc
Labels: rec

#10800 rec: Fix compile error on Ubuntu 18
  pdns/recursordist/test-rec-zonetocache.cc
Labels: rec, defect

#10802 rec: Backport 10768 to rec 4.4.x: Use the correct RPZ policy name when loading via XFR
  pdns/rpzloader.cc
Labels: rec, defect
