Repository PowerDNS/pdns, pull requests merged in 2021-04, with the labels that each got.

#10248 Fix typo in dnsdist docs for SuffixMatchNodeRule
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: defect, dnsdist, docs

#10236 auth: rectify() do not update ordernames/auth when there is no need
  modules/gmysqlbackend/gmysqlbackend.cc
  modules/godbcbackend/godbcbackend.cc
  modules/gpgsqlbackend/gpgsqlbackend.cc
  modules/gsqlite3backend/gsqlite3backend.cc
  pdns/backends/gsql/gsqlbackend.cc
  pdns/backends/gsql/gsqlbackend.hh
  pdns/dbdnsseckeeper.cc
  pdns/dns.hh
  regression-tests/backends/godbc_sqlite3-master
Labels: auth, enhancement

#10121 Implement RFC 6742 RR Types
  docs/upgrading.rst
  pdns/dnsparser.cc
  pdns/dnsparser.hh
  pdns/dnsrecords.cc
  pdns/dnsrecords.hh
  pdns/dnswriter.cc
  pdns/dnswriter.hh
  pdns/misc.hh
  pdns/qtype.cc
  pdns/qtype.hh
  pdns/rcpgenerator.cc
  pdns/rcpgenerator.hh
  pdns/test-dnsrecords_cc.cc
  pdns/test-dnswriter_cc.cc
  pdns/test-rcpgenerator_cc.cc
Labels: auth

#10074 SVCB improvements
  .github/actions/spell-check/allow.txt
  .github/actions/spell-check/expect.txt
  docs/guides/index.rst
  docs/guides/svcb.rst
  docs/settings.rst
  fuzzing/README.md
  fuzzing/corpus/txt-records/escaped
  fuzzing/corpus/txt-records/escaped_quoted
  fuzzing/corpus/txt-records/quoted_simple
  fuzzing/corpus/txt-records/simple
  pdns/.gitignore
  pdns/Makefile.am
  pdns/common_startup.cc
  pdns/dnslabeltext.rl
  pdns/dnspacket.cc
  pdns/dnspacket.hh
  pdns/dnsrecords.cc
  pdns/dnsrecords.hh
  pdns/fuzz_dnslabeltext_parseRFC1035CharString.cc
  pdns/misc.cc
  pdns/misc.hh
  pdns/packethandler.cc
  pdns/packethandler.hh
  pdns/pdnsutil.cc
  pdns/rcpgenerator.cc
  pdns/rcpgenerator.hh
  pdns/svc-records.hh
  pdns/tcpreceiver.cc
  pdns/test-dnsrecords_cc.cc
  pdns/test-misc_hh.cc
  regression-tests.auth-py/authtests.py
  regression-tests.auth-py/test_SVCB.py
Labels: auth, enhancement

#9669 auth pdns.conf, pdnsutil, pdns_control: modern aliases for master/slave
  .github/actions/spell-check/expect.txt
  docs/appendices/FAQ.rst
  docs/appendices/backend-writers-guide.rst
  docs/migration.rst
  docs/modes-of-operation.rst
  docs/settings.rst
  docs/upgrading.rst
  pdns/common_startup.cc
  pdns/communicator.cc
  pdns/dynhandler.cc
  pdns/mastercommunicator.cc
  pdns/packethandler.cc
  pdns/pdnsutil.cc
  pdns/receiver.cc
  pdns/slavecommunicator.cc
  regression-tests/backends/gsqlite3-slave
Labels: auth

#9659 Ignore unknown settings
  docs/settings.rst
  pdns/arguments.cc
  pdns/arguments.hh
  pdns/misc.hh
  pdns/recursordist/docs/settings.rst
Labels: auth, enhancement, rec

#10257 Include unordered_map
  pdns/dbdnsseckeeper.cc
Labels: auth, defect

#10196 auth: implement AXFR priority level queue code
  docs/modes-of-operation.rst
  pdns/Makefile.am
  pdns/communicator.cc
  pdns/communicator.hh
  pdns/dnsbackend.hh
  pdns/dynhandler.cc
  pdns/packethandler.cc
  pdns/slavecommunicator.cc
  pdns/test-communicator_hh.cc
  pdns/ws-auth.cc
Labels: auth, enhancement

#10266 Fix formatting
  pdns/test-communicator_hh.cc
Labels: auth

#10264 Also disable PMTU for v6
  pdns/dnsdist.cc
  pdns/iputils.cc
  pdns/iputils.hh
  pdns/nameserver.cc
  pdns/pdns_recursor.cc
Labels: auth, backport to rec-4.2.x?, backport to rec-4.3.x?, backport to rec-4.4.x?, backport to rec-4.5.x?, dnsdist, rec

#10269 auth: Fix a few warnings as seen on OpenBSD/clang
  pdns/test-misc_hh.cc
Labels: auth

#10268 rec: Log local IP in dnstap messages
  pdns/lwres.cc
  regression-tests.recursor-dnssec/test_RecDnstap.py
Labels: backport to rec-4.5.x?, enhancement, rec

#10275 rec: Fix a few cases discoverd by tsan:
  pdns/rec_channel.cc
  pdns/rec_channel.hh
  pdns/rec_channel_rec.cc
  pdns/recursor_cache.cc
  pdns/recursor_cache.hh
  pdns/recursordist/negcache.cc
  pdns/recursordist/negcache.hh
Labels: rec

#10267 dnsdist: Add missing getEDNSOptions and getDO bindings for DNSResponse
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdistdist/docs/reference/dq.rst
  regression-tests.dnsdist/test_EDNSOptions.py
Labels: backport to dnsdist-1.5.x?, defect, dnsdist

#10244 dnsdist: Document internal design, add tables and pictures
  .github/actions/spell-check/expect.txt
  pdns/dnsdistdist/docs/advanced/ebpf.rst
  pdns/dnsdistdist/docs/advanced/ecs.rst
  pdns/dnsdistdist/docs/advanced/index.rst
  pdns/dnsdistdist/docs/advanced/internal-design.rst
  pdns/dnsdistdist/docs/advanced/ocsp-stapling.rst
  pdns/dnsdistdist/docs/advanced/passing-source-address.rst
  pdns/dnsdistdist/docs/advanced/proxyprotocol.rst
  pdns/dnsdistdist/docs/advanced/tls-sessions-management.rst
  pdns/dnsdistdist/docs/advanced/tuning.rst
  pdns/dnsdistdist/docs/advanced/xpf.rst
  pdns/dnsdistdist/docs/guides/dns-over-https.rst
  pdns/dnsdistdist/docs/guides/dns-over-tls.rst
  pdns/dnsdistdist/docs/guides/index.rst
  pdns/dnsdistdist/docs/imgs/DNSDistDoH.png
  pdns/dnsdistdist/docs/imgs/DNSDistTCP.png
  pdns/dnsdistdist/docs/imgs/DNSDistUDP.png
  pdns/dnsdistdist/docs/imgs/ebpf_drops.png
  pdns/dnsdistdist/docs/imgs/tls_resumptions.png
  pdns/dnsdistdist/docs/index.rst
  pdns/dnsdistdist/docs/quickstart.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/running.rst
Labels: dnsdist, docs, enhancement

#10277 rec: Backport 10223 to rec 4.5.x: Better handling of stranded DNSKeys
  pdns/recursordist/test-syncres_cc6.cc
  pdns/syncres.cc
Labels: defect, rec

#10278 rec: Backport 10232 to 4.5.x: Clear d_from if we don't know where the update came from
  pdns/recursor_cache.cc
Labels: defect, rec

#10279 rec: backport 10264 to rec-4.5.x: Also disable PMTU for v6
  pdns/dnsdist.cc
  pdns/iputils.cc
  pdns/iputils.hh
  pdns/nameserver.cc
  pdns/pdns_recursor.cc
Labels: rec

#10280 rec: Backport 10268 to rec-4.5.x: Log local IP in dnstap messages
  pdns/lwres.cc
  regression-tests.recursor-dnssec/test_RecDnstap.py
Labels: enhancement, rec

#10281 dnsdist docs: remove addPool; clarify that getPool creates pools
  pdns/dnsdistdist/docs/guides/serverpools.rst
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, docs

#10245 Make QClass a class, including toString() method
  modules/remotebackend/remotebackend.cc
  pdns/dnsdistdist/dnsdist-secpoll.cc
  pdns/pdns_recursor.cc
  pdns/qtype.cc
  pdns/qtype.hh
  pdns/sdig.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: auth, dnsdist, rec, tools

#10284 rec: backport 10252 to rex 4.5.x: Fix the package version _on_ prerelease tags
  builder-support/gen-version
Labels: rec

#10276 rec: First check the cache for NS name to address contents for both v4 and v6
  pdns/recursordist/test-syncres_cc2.cc
  pdns/syncres.cc
Labels: backport to rec-4.5.x?, enhancement, rec

#10288 rec: Stop using potentially offensive names internally and warn about deprecated settings.
  pdns/arguments.cc
  pdns/ixfr.cc
  pdns/ixfr.hh
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/rec-snmp.cc
  pdns/rec-snmp.hh
  pdns/rec_channel.hh
  pdns/rec_channel_rec.cc
  pdns/rpzloader.cc
  pdns/rpzloader.hh
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/ws-recursor.cc
Labels: rec

#10291 Exception loading the RPZ seedfile is not fatal.
  pdns/rec-lua-conf.cc
Labels: backport to rec-4.5.x?, rec

#10285 rec: Prep for rec-4.5.0-beta2
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.5.rst
Labels: rec

#10287 rec: remove delegation only (issue #7544)
  docs/changelog/pre-4.0.rst
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/manpages/pdns_recursor.1.rst
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc3.cc
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/ws-recursor.cc
  regression-tests.recursor/TODO
Labels: rec

#10300 Rec: recursor is actually a pretty complex piece of code
  pdns/recursordist/docs/appendices/internals.rst
  pdns/recursordist/docs/index.rst
Labels: docs, rec

#10301 two more comments from Otto on recursor FAQ entry about bufsizes
  pdns/recursordist/docs/appendices/FAQ.rst
Labels: docs, enhancement, rec

#10274 dnsdist: Fix some issues reported by Thread Sanitizer
  .circleci/config.yml
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-tsan.supp
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/test-delaypipe_hh.cc
  pdns/dnsdistdist/tsan.supp
  pdns/tcpiohandler.cc
  pdns/tcpiohandler.hh
Labels: backport to dnsdist-1.5.x?, defect, dnsdist

#10286 rpz dumper: stop generating double zz labels on networks that start with zeroes
  pdns/filterpo.cc
  pdns/recursordist/test-filterpo_cc.cc
Labels: backport to rec-4.4.x?, backport to rec-4.5.x?, defect, rec

#10303 rec: Use the correct ECS address when proxy-protocol is enabled
  pdns/pdns_recursor.cc
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_ECS.py
  regression-tests.recursor-dnssec/test_ProxyProtocol.py
Labels: backport to rec-4.4.x?, backport to rec-4.5.x?, defect, rec

#10309 dnsdist: Add ChangeLog and secpoll for 1.6.0-rc1
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#10305 rec: Backport 10286 to rec 4.5.x: rpz dumper: stop generating double zz labels on networks that start with zeroes
  pdns/filterpo.cc
  pdns/recursordist/test-filterpo_cc.cc
Labels: defect, rec

#10306 rec: Backport 10291 to rec-4.5.x: Exception loading the RPZ seedfile is not fatal.
  pdns/rec-lua-conf.cc
Labels: defect, rec

#10307 rec: Backport 10298 to rec 4.5.x: print the covering NSEC
  pdns/validate.cc
Labels: enhancement, rec

#10308 rec: Backport 10299 to rec-4.5.x: update setting for aggressive-nsec-cache-size
  pdns/pdns_recursor.cc
Labels: defect, rec

#10317 rec: Do not put results of DS query for auth or forward domains in negcache.
  pdns/recursordist/test-syncres_cc3.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: backport to rec-4.5.x?, defect, rec

#10318 rec: Fix typo in edns-padding-tag help
  pdns/pdns_recursor.cc
Labels: backport to rec-4.5.x?, rec

#10311 dnsdist: Better documentation of newServer's 'sockets' parameter
  pdns/dnsdistdist/docs/advanced/tuning.rst
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, docs, enhancement

#10313 rec: backport 10291 to rec-4.4.x: Exception loading the RPZ seedfile is not fatal.
  pdns/rec-lua-conf.cc
Labels: defect, rec

#10319 rec: Backport 10303 to rec 4.5.x: Use the correct ECS address when proxy-protocol is enabled
  pdns/pdns_recursor.cc
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_ECS.py
  regression-tests.recursor-dnssec/test_ProxyProtocol.py
Labels: defect, rec

#10312 rec: Improve packet cache sizing.
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/docs/upgrade.rst
Labels: backport to rec-4.5.x?

#10310 auth: Prevent dereferencing std::string::end() in SimpleMatch
  pdns/misc.hh
Labels: auth, backport to auth-4.4.x?, defect

#10323 dnsdist: Make the backend queryLoad and dropRate values atomic
  pdns/dnsdist.hh
Labels: defect, dnsdist

#10329 boost 1.76 containers: use standard exceptions
  pdns/Makefile.am
  pdns/dnsdistdist/Makefile.am
  pdns/recursordist/Makefile.am
Labels: auth, backport to auth-4.4.x?, backport to rec-4.4.x?, rec

#10333 rec: Backport 10312 to rec 4.5.x: improve packet cache sizeing now that TCP answers are also cached
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/docs/upgrade.rst
Labels: enhancement, rec

#10334 rec: Backport 10318 to rec-4.5.x: Fix typo in edns-padding-tag help
  pdns/pdns_recursor.cc
Labels: enhancement, rec

#10335 rec: Backport of 10329 to rec-4.5.x: boost 1.76 containers: use standard exceptions
  pdns/Makefile.am
  pdns/dnsdistdist/Makefile.am
  pdns/recursordist/Makefile.am
Labels: enhancement, rec

#10259 auth gpgsql: add stored procedure test, drop refcursor support
  .circleci/config.yml
  modules/gpgsqlbackend/spgsql.cc
  regression-tests/backends/gpgsql-master
  regression-tests/start-test-stop
Labels: auth

#10337 rec: Prep for rec-4.5.0-rc1
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.5.rst
Labels: docs, rec

#10314 rec: Backport 10286 to rec 4.4.x: rpz dumper: stop generating double zz labels on networks that start with zeroes
  pdns/filterpo.cc
  pdns/recursordist/test-filterpo_cc.cc
Labels: defect, rec

#10343 dnsdist: fix test warnings
  pdns/dnsdistdist/test-delaypipe_hh.cc
Labels: dnsdist

#10344 auto.m4: clang 11.1 is a thing
  m4/boost.m4
Labels: auth, dnsdist, rec
