Repository PowerDNS/pdns, pull requests merged in 2021-11, with the labels that each got.

#10901 ZoneParserTNG: Stricter checks when loading a zone file
  .github/workflows/build-and-test-all.yml
  docs/settings.rst
  modules/bindbackend/bindbackend2.cc
  pdns/common_startup.cc
  pdns/fuzz_zoneparsertng.cc
  pdns/pdns_recursor.cc
  pdns/pdnsutil.cc
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/rec-zonetocache.cc
  pdns/reczones.cc
  pdns/rpzloader.cc
  pdns/test-zoneparser_tng_cc.cc
  pdns/ws-auth.cc
  pdns/zone2json.cc
  pdns/zone2ldap.cc
  pdns/zone2sql.cc
  pdns/zoneparser-tng.cc
  pdns/zoneparser-tng.hh
Labels: auth, rec, enhancement

#10904 Some things you should do when handling untrusted zone files.
  docs/lua-records/index.rst
  docs/security.rst
Labels: auth, docs

#10930 rec: Move to a stream based socket for the control channel
  pdns/pdns_recursor.cc
  pdns/rec_channel.cc
  pdns/rec_channel.hh
  pdns/rec_control.cc
Labels: rec, enhancement

#10923 dnsdist: Add the ability to retain select capabilities at runtime
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: enhancement, dnsdist

#10927 dnsdist: Reply with NODATA for non-SVC types in the SVC documentation
  pdns/dnsdistdist/docs/reference/svc.rst
Labels: docs, dnsdist

#10929 Carbon regression test for rec and auth.
  regression-tests.auth-py/test_Carbon.py
  regression-tests.recursor-dnssec/test_Carbon.py
Labels: auth, rec, enhancement

#10944 dnsdist: Disable 'IncludeDir' tests on GH actions
  .github/workflows/build-and-test-all.yml
  regression-tests.dnsdist/test_Advanced.py
Labels: dnsdist

#10919 Add more UDP error metrics (checksum, IPv6)
  .github/actions/spell-check/expect.txt
  docs/performance.rst
  pdns/common_startup.cc
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/statistics.rst
  pdns/misc.cc
  pdns/misc.hh
  pdns/rec-snmp.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/ws-recursor.cc
  regression-tests.dnsdist/test_API.py
  regression-tests.nobackend/counters/command
Labels: auth, rec, enhancement, dnsdist

#10940 rec: Prep for rec-4.4.7 and rec-4.5.7
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.4.rst
  pdns/recursordist/docs/changelog/4.5.rst
Labels: rec

#10945 auth: pdns_control needs to be linked against libcrypto now
  pdns/Makefile.am
Labels: auth, defect

#10943 Credentials: EVP_PKEY_CTX_set1_scrypt_salt() takes an `unsigned char*`
  pdns/credentials.cc
Labels: auth, rec, defect, dnsdist

#10955 If possible, use SuffixMatchNodeRule() instead of RegexRule()
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: docs, dnsdist

#10951 auth: improve dnsname exception handling for SOA records
  modules/tinydnsbackend/tinydnsbackend.cc
  pdns/backends/gsql/gsqlbackend.cc
  pdns/dnsbackend.cc
  pdns/pdnsutil.cc
Labels: auth, defect

#10948 dnsdist: dont try to set IPV6_RECVPKTINFO on an ipv4 any bind?
  pdns/dnsdist.cc
Labels: defect, dnsdist

#10959 auth: api, check qtype location
  modules/gmysqlbackend/gmysqlbackend.cc
  modules/godbcbackend/godbcbackend.cc
  modules/gpgsqlbackend/gpgsqlbackend.cc
  modules/gsqlite3backend/gsqlite3backend.cc
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth

#10937 rec: gh actions for recursor tests
  .github/workflows/build-and-test-all.yml
  build-scripts/test-recursor
  regression-tests.recursor-dnssec/runtests
  regression-tests/recursor-test
  tasks.py
Labels: rec

#10965 rec: Use a global timeout for the various recv's we're doing to get a control message
  pdns/rec_channel.cc
Labels: rec

#10966 rec: Prep for rec-4.6.0-beta1
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.6.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#10967 rec: Fix formatting for versionadded
  pdns/recursordist/docs/lua-scripting/netmask.rst
Labels: docs

#10941 auth bindbackend: skip rejected zones during list and search
  modules/bindbackend/bindbackend2.cc
Labels: auth, defect, backport to auth-4.5.x?

#10971 rec: We need libcurl dev lib for the zone-to-cache function.
  builder-support/debian/recursor/debian-buster/control
  builder-support/specs/pdns-recursor.spec
  pdns/recursordist/Makefile.am
  pdns/recursordist/configure.ac
  pdns/version.cc
Labels: rec

#10969 rec, auth: some doc updates
  docs/performance.rst
  docs/security.rst
  docs/settings.rst
  pdns/recursordist/docs/settings.rst
Labels: auth, docs, rec

#10977 dnsdist: Disable the actual connect() in the test_dnsdisttcp_cc_c unit tests.
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
  pdns/tcpiohandler.cc
  pdns/tcpiohandler.hh
Labels: dnsdist

#10751 rec: Add support for NOTIFY queries to wipe cache entries
  pdns/pdns_recursor.cc
  pdns/rec-snmp.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/http-api/endpoint-servers-config.rst
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/docs/settings.rst
  pdns/reczones.cc
  pdns/syncres.hh
  pdns/ws-recursor.cc
  regression-tests.api/runtests.py
  regression-tests.api/test_RecursorConfig.py
Labels: rec, enhancement

#10973 rec: enable tsan for GH actions rec build and tests
  .github/workflows/build-and-test-all.yml
  pdns/recursordist/recursor-tsan.supp
  regression-tests.api/runtests.py
  tasks.py
Labels: rec

#10975 rec: Run fewer CircleCI bulk tests
  .circleci/config.yml
Labels: rec

#10920 dnsdist: Remove unreachable code in HTTP/2 connections cleanup
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-nghttp2.cc
  pdns/dnsdistdist/dnsdist-nghttp2.hh
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.hh
  pdns/dnsdistdist/docs/reference/tuning.rst
  pdns/dnsdistdist/test-dnsdist-connections-cache.cc
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_AXFR.py
Labels: enhancement, dnsdist

#10907 dnsdist: Handle existing EDNS content for SetMacAddrAction/SetEDNSOptionAction
  pdns/dnsdist-ecs.cc
  pdns/dnsdist-ecs.hh
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdistdist/docs/rules-actions.rst
  regression-tests.dnsdist/test_Advanced.py
Labels: enhancement, dnsdist

#10980 rec: Return the proper ede on validation failure
  pdns/validate.cc
  regression-tests.recursor-dnssec/test_Expired.py
  regression-tests.recursor-dnssec/test_ExtendedErrors.py
Labels: rec, defect

#10981 auth 2136: apply new TTL to whole RRset, not only to the added record
  pdns/rfc2136handler.cc
  regression-tests/tests/1dyndns-update-add-delete-mx/expected_result
  regression-tests/tests/1dyndns-update-delete-mx-prio/expected_result
  regression-tests/tests/1dyndns-update-replace-mx/expected_result
  regression-tests/tests/1dyndns-update-srv/expected_result
Labels: auth, defect, backport to auth-4.4.x?, backport to auth-4.5.x?

#10883 dnsdist: Implement filesystem pinning for eBPF maps
  contrib/xdp-filter.ebpf.src
  contrib/xdp.py
  pdns/bpf-filter.cc
  pdns/bpf-filter.hh
  pdns/bpf-filter.main.ebpf
  pdns/bpf-filter.qname.ebpf
  pdns/dnsdist-dynbpf.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/dnsdist-dynblocks.cc
  pdns/dnsdistdist/docs/reference/ebpf.rst
Labels: enhancement, dnsdist

#10992 rec: Prep for rec-4.6.0-beta2
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.6.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#10995 rec: Fix a typo in the documentation for 'allow-notify-from'
  pdns/recursordist/docs/settings.rst
Labels: docs, rec, defect

#11007 dnsdist: Fix Lua parameters bound checks
  pdns/dnsdist-lua.cc
Labels: defect, dnsdist

#11005 rec: Include sys/time.h in taskqueue.hh
  pdns/recursordist/rec-taskqueue.cc
  pdns/recursordist/taskqueue.hh
Labels: rec, backport to rec-4.6.x?

#10990 rec: Basic notify test
  pdns/pdns_recursor.cc
  regression-tests.recursor-dnssec/test_Notify.py
Labels: rec, backport to rec-4.6.x?

#11008 dnsdist: Add a function to set the UDP recv/snd buffer sizes
  .github/actions/spell-check/expect.txt
  pdns/calidns.cc
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/reference/tuning.rst
  pdns/dnsreplay.cc
  pdns/iputils.cc
  pdns/iputils.hh
  pdns/pdns_recursor.cc
Labels: auth, rec, enhancement, dnsdist

#11018 rec: Fix logic botch introduced by notify handling
  pdns/pdns_recursor.cc
Labels: rec, defect, backport to rec-4.6.x?

#11015 rec: backport 10990 to rec 4.6.x: Basic notify test
  pdns/pdns_recursor.cc
  regression-tests.recursor-dnssec/test_Notify.py
Labels: rec

#11016 rec: bacport 11005 to rec 4.6.x: Include sys/time.h; needed on musl
  pdns/recursordist/rec-taskqueue.cc
  pdns/recursordist/taskqueue.hh
Labels: rec

#11002 auth-4.5.x: apply new TTL to whole RRset, not only to the added record
  pdns/rfc2136handler.cc
  regression-tests/tests/1dyndns-update-add-delete-mx/expected_result
  regression-tests/tests/1dyndns-update-delete-mx-prio/expected_result
  regression-tests/tests/1dyndns-update-replace-mx/expected_result
  regression-tests/tests/1dyndns-update-srv/expected_result
Labels: auth, defect

#11004 auth-4.4.x: apply new TTL to whole RRset, not only to the added record
  pdns/rfc2136handler.cc
  regression-tests/tests/1dyndns-update-add-delete-mx/expected_result
  regression-tests/tests/1dyndns-update-delete-mx-prio/expected_result
  regression-tests/tests/1dyndns-update-replace-mx/expected_result
  regression-tests/tests/1dyndns-update-srv/expected_result
Labels: auth, defect

#11019 rec: Rec regr vs libfaketime
  regression-tests.recursor-dnssec/runtests
  tasks.py
Labels: rec

#11022 rec: Backport 11018 to rec 4.6.x: Fix logic botch introduced by notify handing
  pdns/pdns_recursor.cc
Labels: rec, defect

#11023 rec: backport 11010 to rec-4.4.x: Do cache negcache results, even when wasVariable() is true
  pdns/recursordist/test-syncres_cc2.cc
  pdns/syncres.cc
Labels: rec, defect

#11024 rec: backport 10110 to rec-4.5.x: Do cache negcache results, even when wasVariable() is true
  pdns/recursordist/test-syncres_cc2.cc
  pdns/syncres.cc
Labels: rec, defect

#11010 rec: Do negcache negative results, even when wasVariable() is true
  pdns/recursordist/test-syncres_cc2.cc
  pdns/syncres.cc
Labels: rec, defect, backport to rec-4.4.x?, backport to rec-4.5.x?, backport to rec-4.6.x?

#11026 rec: Loosen timing checks that I have seen tripping in tsan enabled tests.
  regression-tests.api/runtests.py
  regression-tests.recursor-dnssec/test_AggressiveNSECCache.py
  regression-tests.recursor-dnssec/test_ECS.py
Labels: rec

#11012 auth: new default nsec3param settings
  docs/dnssec/operational.rst
  docs/domainmetadata.rst
  docs/manpages/pdnsutil.1.rst
  docs/upgrading.rst
  pdns/pdnsutil.cc
Labels: auth, enhancement

#10993 dnsdist: Fix compiler/static analyzer warnings
  pdns/bpf-filter.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/remote_logger.cc
Labels: defect, dnsdist

#10999 dnsdist: Fix a memory leak when reusing TLS tickets for outgoing connections
  pdns/tcpiohandler.cc
Labels: defect, dnsdist

#11001 dnsdist: Warn that GnuTLS 3.7.x leaks memory when validating certs
  pdns/tcpiohandler.cc
Labels: dnsdist

#10997 dnsdist: Add a function to know how many TLS sessions are currently cached
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdistdist/dnsdist-nghttp2.cc
  pdns/dnsdistdist/dnsdist-session-cache.cc
  pdns/dnsdistdist/dnsdist-session-cache.hh
  pdns/dnsdistdist/docs/reference/config.rst
Labels: enhancement, dnsdist

#11006 dnsdist: Add 'showWebserverConfig'
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
  pdns/dnsdistdist/connection-management.hh
  pdns/dnsdistdist/dnsdist-web.hh
  pdns/dnsdistdist/docs/reference/config.rst
Labels: enhancement, dnsdist

#11031 dnsdist: Add missing visibility attribute on `dnsdist_ffi_dnsquestion_get_qname_hash`
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/test-dnsdistdynblocks_hh.cc
Labels: defect, dnsdist

#11038 rec: Disable tsan regression runs for rec for now,
  .github/workflows/build-and-test-all.yml
Labels: rec

#11030 Rec incoming tcp bookkeeping
  pdns/pdns_recursor.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/test_KeepOpenTCP.py
Labels: rec, enhancement, backport to rec-4.6.x?

#11037 dnsdist: Reuse and save the TLS session tickets in DoT healthchecks
  pdns/dnsdistdist/dnsdist-healthchecks.cc
  regression-tests.dnsdist/test_OutgoingTLS.py
Labels: enhancement, dnsdist

#11041 rec: Warn about blocking calls from Lua
  pdns/recursordist/docs/lua-scripting/index.rst
Labels: docs, rec

#11036 rec: Compute step sizes for QM a la RFC 9156
  pdns/syncres.cc
Labels: rec, enhancement

#11035 dnsdist: Add ChangeLog and secpoll for 1.7.0-beta2
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#11050 rec: Catch an exception in guard destructor as seen by coverity.
  pdns/pdns_recursor.cc
Labels: rec, backport to rec-4.6.x?

#11043 rec: Regression tests: smarter and faster startup and teardown of auth and rec
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_RPZ.py
  regression-tests.recursor-dnssec/test_RootNXTrust.py
Labels: rec

#11039 dnsdist: Split the huge test_Advanced regression test file
  regression-tests.dnsdist/test_Advanced.py
  regression-tests.dnsdist/test_LuaFFI.py
  regression-tests.dnsdist/test_RulesActions.py
Labels: enhancement, dnsdist
