Repository PowerDNS/pdns, pull requests merged in 2021-08, with the labels that each got.

#10525 dnsdist: Add support for range-based lookups into a Key-Value store
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdistdist/dnsdist-kvs.cc
  pdns/dnsdistdist/dnsdist-kvs.hh
  pdns/dnsdistdist/dnsdist-lua-bindings-kvs.cc
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/docs/reference/kvs.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/dnsdistdist/test-dnsdistkvs_cc.cc
  regression-tests.dnsdist/test_LMDB.py
Labels: dnsdist, enhancement

#10619 dnsdist-1.6.x: Properly handle ECS for queries with ancount or nscount > 0
  pdns/dnsdist-ecs.cc
  pdns/test-dnsdist_cc.cc
Labels: defect, dnsdist

#10601 Document setTag(Response)Action behaviour
  pdns/dnsdistdist/docs/reference/dq.rst
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: dnsdist, docs

#10623 Rec: make all PacketIDs shared_ptr
  pdns/mtasker.cc
  pdns/mtasker.hh
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/test-syncres_cc10.cc
  pdns/syncres.hh
Labels: backport to rec-4.5.x?, defect, rec

#10626 dnsdist: Document that setECSOverride has its drawbacks
  pdns/dnsdistdist/docs/reference/config.rst
Labels: dnsdist, docs, enhancement

#10634 Move MacOS to kqueue and assorted compile fixes
  m4/pdns_check_os.m4
  pdns/kqueuemplexer.cc
  pdns/lwres.cc
  pdns/pdns_recursor.cc
  pdns/rec-carbon.cc
  pdns/recursordist/Makefile.am
  pdns/ws-recursor.cc
Labels: rec, enhancement

#10627 rec: Check in more places if the policy has been updated before using or modifying it.
  pdns/rpzloader.cc
Labels: rec, defect, backport to rec-4.4.x?, backport to rec-4.5.x?

#10628 rec: backport 10627 to rec-4.4.x: Check in more places if the policy has been updated before using or modifying it.
  pdns/rpzloader.cc
Labels: rec, defect

#10629 rec: backport 10627 to rec 4.5.x: Check in more places if the policy has been updated before using or modifying it.
  pdns/rpzloader.cc
Labels: rec, defect

#10639 rec: Google is working to fix their TFO issues on their DNS servers
  pdns/recursordist/docs/performance.rst
Labels: docs, rec

#10642 checkKey: handle NULL error string from OpenSSL more gracefully
  pdns/opensslsigners.cc
Labels: auth, defect, backport to auth-4.5.x?

#10640 dnsdist docs: clarify grepq num parameter
  pdns/dnsdistdist/docs/reference/config.rst
Labels: docs, defect, dnsdist

#10647 Fix a warning about catching a polymorphic exception type by value
  pdns/decafsigners.cc
Labels: auth, rec

#10602 rec: Process policy and potential Drop action after Lua hooks
  pdns/pdns_recursor.cc
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: rec, defect

#10546 rec: Add dns64 metrics
  pdns/pdns_recursor.cc
  pdns/rec-snmp.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/docs/settings.rst
  pdns/syncres.hh
  pdns/ws-recursor.cc
Labels: rec, enhancement

#10598 Rec: almost expired refactor and stats
  pdns/rec-snmp.cc
  pdns/rec_channel_rec.cc
  pdns/recpacketcache.cc
  pdns/recursor_cache.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/rec-taskqueue.cc
  pdns/recursordist/rec-taskqueue.hh
  pdns/recursordist/stat_t.hh
  pdns/recursordist/taskqueue.cc
  pdns/recursordist/taskqueue.hh
  pdns/recursordist/test-syncres_cc.cc
  pdns/ws-recursor.cc
Labels: rec, enhancement

#10650 dnsdist: Fix the wrong RD and CD flags being cached, causing misses
  pdns/dnsdist.cc
  regression-tests.dnsdist/test_Caching.py
Labels: defect, dnsdist, backport to dnsdist-1.5.x?, backport to dnsdist-1.6.x?

#10649 Convert dnsdist and the recursor to LockGuarded
  pdns/bpf-filter.cc
  pdns/bpf-filter.hh
  pdns/bpf-filter.main.ebpf
  pdns/bpf-filter.qname.ebpf
  pdns/cachecleaner.hh
  pdns/dnscrypt.cc
  pdns/dnscrypt.hh
  pdns/dnsdist-cache.cc
  pdns/dnsdist-cache.hh
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-console.cc
  pdns/dnsdist-dynblocks.hh
  pdns/dnsdist-dynbpf.cc
  pdns/dnsdist-dynbpf.hh
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-rings.cc
  pdns/dnsdist-rings.hh
  pdns/dnsdist-tcp.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/connection-management.hh
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/dnsdist-dynblocks.cc
  pdns/dnsdistdist/dnsdist-healthchecks.cc
  pdns/dnsdistdist/dnsdist-kvs.cc
  pdns/dnsdistdist/dnsdist-kvs.hh
  pdns/dnsdistdist/dnsdist-lbpolicies.cc
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/test-dnsdistlbpolicies_cc.cc
  pdns/dnsdistdist/test-dnsdistrings_cc.cc
  pdns/dnsseckeeper.hh
  pdns/libssl.cc
  pdns/libssl.hh
  pdns/lock.hh
  pdns/nod.cc
  pdns/nod.hh
  pdns/pdns_recursor.cc
  pdns/rec-carbon.cc
  pdns/rec_channel.hh
  pdns/rec_channel_rec.cc
  pdns/recpacketcache.hh
  pdns/recursor_cache.cc
  pdns/recursor_cache.hh
  pdns/recursordist/aggressive_nsec.cc
  pdns/recursordist/aggressive_nsec.hh
  pdns/recursordist/negcache.cc
  pdns/recursordist/negcache.hh
  pdns/recursordist/stable-bloom.hh
  pdns/remote_logger.cc
  pdns/remote_logger.hh
  pdns/rpzloader.cc
  pdns/sholder.hh
  pdns/speedtest.cc
  pdns/tcpiohandler.cc
Labels: rec, enhancement, dnsdist

#10631 Handle waiting for a descriptor to become readable OR writable
  .not-formatted
  pdns/devpollmplexer.cc
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
  pdns/epollmplexer.cc
  pdns/kqueuemplexer.cc
  pdns/mplexer.hh
  pdns/pollmplexer.cc
  pdns/portsmplexer.cc
  pdns/test-mplexer.cc
Labels: rec, enhancement, dnsdist

#10554 rec: Modify per-thread cpu usage stats to be Prometheus-friendly
  pdns/rec_channel_rec.cc
  pdns/recursordist/rec_metrics.hh
  pdns/ws-recursor.cc
Labels: rec, enhancement

#10622 rec: Detect a loop when the denial of the DS comes from the child zone
  pdns/recursordist/test-syncres_cc6.cc
  pdns/syncres.cc
Labels: rec, defect, backport to rec-4.5.x?

#10605 rec: Keep a count of per rpz (or filter) hits
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/lua-config/rpz.rst
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/rec_metrics.hh
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/ws-recursor.cc
Labels: rec, enhancement

#10659 rec: Fix wrong default value call for dot-to-port-853 setting
  pdns/pdns_recursor.cc
Labels: rec, easy

#10633 rec: Pass the Lua context to follow up queries (follow CNAME, dns64)
  pdns/pdns_recursor.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/test_Lua.py
Labels: rec, defect, backport to rec-4.5.x?

#10668 rec: Improve the rec bulk test script
  regression-tests/recursor-test
Labels: rec, enhancement

#10666 rec: Fix the acquired/contended cache counters not being updated
  pdns/cachecleaner.hh
  pdns/recursor_cache.cc
  pdns/recursor_cache.hh
  pdns/recursordist/negcache.cc
  pdns/recursordist/negcache.hh
Labels: rec, defect

#10664 dnsdist: Cache based on the DNS flags of the query after applying the rules
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-idstate.cc
  regression-tests.dnsdist/test_Caching.py
Labels: defect, dnsdist, backport to dnsdist-1.6.x?

#10672 lmdb-safe: resizing while there might be open transactions is unsafe
  ext/lmdb-safe/lmdb-safe.cc
Labels: dnsdist
