Repository PowerDNS/pdns, pull requests merged in 2021-03, with the labels that each got.

#10047 rec: Implement rfc 8198 - Aggressive Use of DNSSEC-Validated Cache
  pdns/dnsname.hh
  pdns/dnsrecords.hh
  pdns/lock.hh
  pdns/pdns_recursor.cc
  pdns/rec-snmp.cc
  pdns/rec_channel_rec.cc
  pdns/recursor_cache.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/aggressive_nsec.cc
  pdns/recursordist/aggressive_nsec.hh
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/test-aggressive_nsec_cc.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc4.cc
  pdns/recursordist/test-syncres_cc8.cc
  pdns/syncres.cc
  pdns/validate.cc
  pdns/validate.hh
  regression-tests.recursor-dnssec/test_AggressiveNSECCache.py
Labels: enhancement, rec

#10108 dnsdist: Fix several bugs in the TCP code path, add unit tests
  docs/manpages/sdig.1.rst
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.hh
  pdns/dnsdistdist/dnsdist-tcp-upstream.hh
  pdns/dnsdistdist/docs/advanced/tuning.rst
  pdns/dnsdistdist/docs/reference/tuning.rst
  pdns/dnsdistdist/tcpiohandler-mplexer.hh
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
  pdns/epollmplexer.cc
  pdns/sdig.cc
  pdns/sstuff.hh
  pdns/tcpiohandler.cc
  pdns/tcpiohandler.hh
  pdns/test-dnscrypt_cc.cc
Labels: defect, dnsdist

#10130 dnsdist: Remove forgotten warning about source interface selection
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
Labels: defect, dnsdist

#10132 sdig: write 2-byte header and request in one write call.
  pdns/sdig.cc
Labels: tools

#10134 dnsdist: Prevent a copy in DownstreamConnectionsManager::clear()
  pdns/dnsdist-tcp.cc
Labels: dnsdist

#10131 dnsdist: Do not update the TCP error counters on idle states
  pdns/dnsdist-tcp.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
Labels: dnsdist, enhancement

#10137 Fix a few unused lambda captures and signed/unsigned warnings
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
  pdns/recursordist/test-aggressive_nsec_cc.cc
Labels: dnsdist, rec

#10139 dnsdist: Fix size check during trailing data addition, regression tests
  pdns/dnsdist.cc
  regression-tests.dnsdist/test_Trailing.py
Labels: defect, dnsdist

#10118 rec: Change dnssec default to `process`
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/dnssec.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/docs/upgrade.rst
  regression-tests.recursor-dnssec/test_DNS64.py
  regression-tests.recursor-dnssec/test_PacketCache.py
  regression-tests.recursor-dnssec/test_Protobuf.py
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: rec

#10133 dnsdist: Clean up expired entries from all the packet cache's shards
  pdns/dnsdist-cache.cc
  pdns/dnsdist-cache.hh
  pdns/dnsdist.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-packetcache.cc
  pdns/test-dnsdistpacketcache_cc.cc
Labels: dnsdist, enhancement

#10116 docs: improve rendering of lmdb page
  docs/backends/lmdb.rst
Labels: auth, docs

#10010 Check sizeof(time_t) to be at least 8
  configure.ac
  m4/ax_check_sign.m4
  m4/ax_compile_check_sizeof.m4
  m4/pdns_check_time_t.m4
  pdns/dnsdistdist/configure.ac
  pdns/dnsdistdist/m4/ax_check_sign.m4
  pdns/dnsdistdist/m4/ax_compile_check_sizeof.m4
  pdns/dnsdistdist/m4/pdns_check_time_t.m4
  pdns/recursordist/configure.ac
  pdns/recursordist/m4/ax_check_sign.m4
  pdns/recursordist/m4/ax_compile_check_sizeof.m4
  pdns/recursordist/m4/pdns_check_time_t.m4
Labels: auth, dnsdist, enhancement, rec

#10140 dnsdist: Update the ChangeLog and secpoll zone for 1.6.0-alpha2
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#9786 auth-4.3.x: fix rounding inaccuracy in latency statistics
  pdns/common_startup.cc
  pdns/common_startup.hh
Labels: auth, defect

#10149 sdig: implement TCP Fast Open for DoH
  pdns/minicurl.cc
  pdns/minicurl.hh
  pdns/sdig.cc
Labels: tools

#10151 rec: Only put a failing NS in the map if we actually went out and that produced no results
  pdns/syncres.cc
Labels: defect, rec

#10152 Make the non-resolving cache even less aggressive and add a unit test.
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc2.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec

#10153 docs: Fix formatting typo in Recursor settings
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
Labels: defect, docs, rec

#10161 "data" size is unreliable, start using RES, as it seem reliable and relavant
  pdns/misc.cc
Labels: auth, defect, dnsdist, rec

#10107 auth: implement disabled in LMDB backend
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
  pdns/dnsparser.hh
  regression-tests.api/test_Zones.py
Labels: auth, enhancement

#10179 dnsdist: Set OpenSSL to release buffers when idle, saves 35 kB per connection
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/libssl.cc
  pdns/libssl.hh
Labels: backport to dnsdist-1.5.x?, dnsdist, enhancement

#10178 rec: Don't pick up random root NS records from AUTHORITY sections
  pdns/recursordist/test-syncres_cc1.cc
  pdns/reczones.cc
  pdns/syncres.cc
Labels: enhancement, rec

#10181 dnsdist: Fix a few typos in the docs, document that setTCPUseSinglePipe should not be used anymore
  pdns/dnsdistdist/docs/advanced/tuning.rst
  pdns/dnsdistdist/docs/guides/tls-sessions-management.rst
  pdns/dnsdistdist/docs/reference/tuning.rst
Labels: defect, dnsdist

#10162 dnsdist-1.5.x: Backports fixes
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsname.hh
  regression-tests.dnsdist/test_Routing.py
Labels: dnsdist

#10186 auth: fix coverity CID 1450843
  modules/lmdbbackend/lmdbbackend.cc
Labels: auth, defect

#10185 rec: make sure we take the right minimum for the PC TTL data.
  pdns/dnsdist-cache.cc
  pdns/dnsparser.hh
  pdns/pdns_recursor.cc
  pdns/test-dnsparser_cc.cc
Labels: backport to rec-4.2.x?, backport to rec-4.3.x?, backport to rec-4.4.x?, rec

#10193 rec: Backport 10185 to 4.3.x: make sure we take the right minimum for the PC TTL data in the SERVFAIL case
  pdns/pdns_recursor.cc
Labels: defect, rec

#10192 rec: Backport 10185 to 4.4.x: make sure we take the right minimum for the PC TTL data in the SERVFAIL case.
  pdns/pdns_recursor.cc
Labels: defect, rec

#10194 rec: Backport 9793 to 4.4.x: Fix the gathering of denial proof for wildcard-expanded answers
  pdns/recursordist/test-syncres_cc5.cc
  pdns/syncres.cc
Labels: defect, rec

#10184 dnsdist: Add a metric for TCP listen queue full events
  pdns/dnsdist-web.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/statistics.rst
  pdns/misc.cc
  pdns/misc.hh
  regression-tests.dnsdist/test_API.py
Labels: dnsdist, enhancement

#10197 rec: Backport 9970 to 4.4.x: test that we correctly cap the answer's TTL in expanded wildcard cases
  pdns/recursordist/test-syncres_cc5.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: defect, rec

#10198 rec: backport 9749 to 4.4.x: Fix the DNSName move assignement operator
  pdns/dnsname.hh
Labels: enhancement, rec

#10156 dnsdist: Improve TCP connection reuse, add metrics
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.hh
  pdns/tcpiohandler.cc
  regression-tests.dnsdist/test_API.py
Labels: dnsdist, enhancement

#10099 Check if transaction is active in LMDB
  modules/lmdbbackend/lmdbbackend.cc
Labels: auth, backport to auth-4.4.x?, defect

#10195 rec: changelog and secpoll for rec 4.3.7
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.3.rst
  pdns/recursordist/docs/getting-started.rst
Labels: rec

#10200 dig, pdnsutil: add dnsdist spoofAction string generators
  .github/actions/spell-check/expect.txt
  docs/manpages/pdnsutil.1.rst
  docs/manpages/sdig.1.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/misc.cc
  pdns/misc.hh
  pdns/pdnsutil.cc
  pdns/sdig.cc
Labels: tools

#10182 rec: Insert hints as non-auth into cache
  pdns/pdns_recursor.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc1.cc
  pdns/reczones.cc
  pdns/syncres.cc
Labels: enhancement, rec

#10057 rec: Get rid of early zone cut computation
  pdns/recursordist/test-aggressive_nsec_cc.cc
  pdns/recursordist/test-syncres_cc1.cc
  pdns/recursordist/test-syncres_cc2.cc
  pdns/recursordist/test-syncres_cc3.cc
  pdns/recursordist/test-syncres_cc4.cc
  pdns/recursordist/test-syncres_cc5.cc
  pdns/recursordist/test-syncres_cc6.cc
  pdns/recursordist/test-syncres_cc7.cc
  pdns/recursordist/test-syncres_cc8.cc
  pdns/recursordist/test-syncres_cc9.cc
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/validate.cc
  pdns/validate.hh
  regression-tests.recursor-dnssec/test_AggressiveNSECCache.py
  regression-tests.recursor-dnssec/test_Protobuf.py
Labels: enhancement, rec

#10199 rec: Backport 9812 to 4.4.x: Handle failure to start the web server more gracefully
  pdns/pdns_recursor.cc
  pdns/ws-recursor.cc
Labels: defect, enhancement, rec

#8918 rec: Implement EDNS0 padding (rfc7830) for outgoing responses
  .circleci/config.yml
  pdns/dnswriter.cc
  pdns/dnswriter.hh
  pdns/ednspadding.cc
  pdns/ednspadding.hh
  pdns/lua-recursor4-ffi.hh
  pdns/lua-recursor4.cc
  pdns/lua-recursor4.hh
  pdns/pdns_recursor.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/docs/lua-scripting/dq.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/ednspadding.cc
  pdns/recursordist/ednspadding.hh
  regression-tests.recursor-dnssec/paddingoption.py
  regression-tests.recursor-dnssec/test_EDNSPadding.py
  regression-tests.recursor-dnssec/test_ExtendedErrors.py
Labels: enhancement, rec

#10208 dnsdist: Fix the handling of DoH queries with a non-zero ID
  pdns/dnsdistdist/doh.cc
  regression-tests.dnsdist/test_DOH.py
Labels: defect, dnsdist

#10210 rec: Setup env properly to skip v6 test.
  .circleci/config.yml
Labels: defect, rec

#9995 Rec and sdig: support tcp fastopen connect
  .github/actions/spell-check/expect.txt
  pdns/lwres.cc
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/performance.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/docs/upgrade.rst
  pdns/sstuff.hh
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, tools

#10204 dnsdist: Enable sharding by default, greater pipe buffer sizes
  pdns/dnsdist-lua.cc
  pdns/dnsdist-rings.hh
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-packetcache.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.hh
  pdns/dnsdistdist/docs/advanced/tuning.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/tuning.rst
  pdns/doh.hh
  regression-tests.dnsdist/test_Caching.py
  regression-tests.dnsdist/test_DNSCrypt.py
Labels: dnsdist, enhancement

#10201 dnsdist: Fix the TCP connect timeout, add metrics
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.hh
  pdns/dnsdistdist/dnsdist-tcp-upstream.hh
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
Labels: defect, dnsdist

#10212 rec: A few updates and corrections of docs related to metrics and threads.
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/docs/settings.rst
Labels: docs, rec

#10214 dnsdist: Unify certificate reloading syntaxes
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-dnscrypt.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/dnscrypt.rst
Labels: dnsdist, enhancement

#10218 dnsdist: Disable TLS renegotiation by default
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/libssl.cc
  pdns/libssl.hh
Labels: dnsdist, enhancement

#10213 Rec: prep for 4.5.0 beta1
  .github/actions/spell-check/expect.txt
  docs/secpoll.zone
  pdns/recursordist/docs/appendices/EOL.rst
  pdns/recursordist/docs/changelog/4.5.rst
  pdns/recursordist/docs/upgrade.rst
Labels: rec

#10220 rec: backport 9827 to rec 4.4.x: stop using travis
  .travis.yml
  build-scripts/travis.sh
Labels: rec

#10221 rec: Backport 9856 to rec 4.4.x: Use a short-lived NSEC3 hashes cache for denial validation
  pdns/validate.cc
Labels: enhancement, rec

#10207 dnsdist: Add limits for cached TCP connections, metrics
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/dnscrypt.rst
  pdns/dnsdistdist/docs/reference/tuning.rst
  pdns/dnsdistdist/doh.cc
  regression-tests.dnsdist/test_DOH.py
  regression-tests.dnsdist/test_TCPLimits.py
  regression-tests.dnsdist/test_TLS.py
Labels: dnsdist, enhancement

#10232 rec: Clear d_from if we don't know where the update came from
  pdns/recursor_cache.cc
Labels: backport to rec-4.5.x?, rec

#10222 rec: backport 9860 to 4.4.x: Get rid of warnings when compiling with Boost 1.74
  pdns/rec_channel_rec.cc
  pdns/test-dnsname_cc.cc
Labels: rec

#10224 rec: Backport 9883 to rec 4.4.x: Lookup DS entries before CNAME entries
  pdns/recursor_cache.cc
  pdns/recursor_cache.hh
  pdns/recursordist/test-recursorcache_cc.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc2.cc
  pdns/recursordist/test-syncres_cc7.cc
  pdns/reczones.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: defect, rec

#10230 dnsdist: Add ChangeLog and secpoll update for 1.6.0-alpha3
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#10225 Backport 10042 to rec 4.4.x: dockerfiles: Ensure version number is correct for releases
  Dockerfile-recursor
  dockerdata/startup.py
Labels: rec

#10226 rec: Backport 10064 to 4.4.x: Return current rcode instead of 0 if there are no CNAME records to follow
  pdns/lua-recursor4.cc
  pdns/pdns_recursor.cc
  pdns/syncres.hh
Labels: defect, rec

#10238 rec: More fail-safe handling of NOD files
  pdns/nod.cc
  pdns/nod.hh
  pdns/recursordist/stable-bloom.hh
Labels: backport to rec-4.4.x?, backport to rec-4.5.x?, defect, rec

#10227 rec: Backport 10111 to rec 4.4.x: Handle policy (if needed) after postresolve
  pdns/pdns_recursor.cc
Labels: defect, rec

#10240 rec: Backport 10238 to rec 4.4.x: More fail-safe handling of NOD files
  pdns/nod.cc
  pdns/nod.hh
  pdns/recursordist/stable-bloom.hh
Labels: defect, rec

#10241 Backport 10238 to rec 4.5.x: More fail-safe handling of NOD files
  pdns/nod.cc
  pdns/nod.hh
  pdns/recursordist/stable-bloom.hh
Labels: defect, rec

#10243 rec: Prep for rec-4.4.3
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.4.rst
Labels: rec

#10223 rec: Better handling of stranded DNSKeys
  pdns/recursordist/test-syncres_cc6.cc
  pdns/syncres.cc
Labels: backport to rec-4.5.x?, defect, rec

#10216 Replace pthread_rwlock with std::shared_mutex
  pdns/cachecleaner.hh
  pdns/libssl.cc
  pdns/libssl.hh
  pdns/lock.hh
  pdns/speedtest.cc
  pdns/test-lock_hh.cc
Labels: auth, dnsdist, enhancement, rec

#10183 docs: Remove raw SQL statements where possible
  docs/backends/generic-sql.rst
  docs/dnsupdate.rst
  docs/domainmetadata.rst
  docs/modes-of-operation.rst
Labels: docs

#10217 auth API cryptokeys: add cds array when configured to do so. Closes #10215
  docs/http-api/swagger/authoritative-api-swagger.yaml
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, feature request

#10251 auth: remove local-ipv6, query-local-address6 (redo of #9552). Closes #5368
  docs/settings.rst
  pdns/common_startup.cc
  pdns/nameserver.cc
  pdns/tcpreceiver.cc
Labels: auth
