Repository PowerDNS/pdns, pull requests merged in 2021-12, with the labels that each got.

#10982 Condition to HAVE_SYSTEMD_WITH_RUNTIME_DIR_ENV is reversed
  builder-support/specs/pdns-recursor.spec
  builder-support/specs/pdns.spec
  m4/systemd.m4
  pdns/Makefile.am
  pdns/recursordist/Makefile.am
Labels: auth, rec, defect, backport to rec-4.6.x?

#11055 rec: backport 10982 to rec-4.x.6: Condition to HAVE_SYSTEMD_WITH_RUNTIME_DIR_ENV is reversed
  builder-support/specs/pdns-recursor.spec
  builder-support/specs/pdns.spec
  m4/systemd.m4
  pdns/Makefile.am
  pdns/recursordist/Makefile.am
Labels: rec, defect

#11057 rec: backport 11038 to rec-4.6.x: Disable tsan regression runs for rec for now
  .github/workflows/build-and-test-all.yml
Labels: rec

#11058 rec: backport 11044 to rec 4.6.x: Fix v6 setup and start using a more modern auth on circleci
  .circleci/config.yml
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor/config.sh
Labels: rec

#11054 dnsdist: Fix 'custom_headers' -> 'customHeaders' in the webserver doc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: docs, defect, dnsdist

#11064 secpoll: for pre-releases, use status 2 when supserseded.
  docs/common/secpoll.rst
  docs/secpoll.zone
Labels: auth, docs, rec, dnsdist

#11069 rec: Do not generate eventtrace records if no Lua hook is defined
  pdns/lua-recursor4.cc
  pdns/lua-recursor4.hh
  pdns/pdns_recursor.cc
Labels: rec, backport to rec-4.6.x?

#11066 Auth: add zone to zonecache on flush API endpoint
  pdns/ws-auth.cc
Labels: auth, enhancement

#11070 rec: Regression tests: startup/cleanup fixes
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_API.py
Labels: rec

#11073 Minor fixes
  docs/modes-of-operation.rst
Labels: auth, docs

#11078 dnsdist: Fix const-correctness of dnsdist_ffi_raw_value_t's value
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  regression-tests.dnsdist/test_Spoofing.py
Labels: enhancement, dnsdist

#11092 rec: Backport 11081 to rec 4.6.x: Remove capability requirements from Docker images
  Docker-README.md
  Dockerfile-auth
  Dockerfile-dnsdist
  Dockerfile-recursor
Labels: rec

#11091 rec: Backport 11069 to rec-4.6.x: Do not generate eventtrace records if no Lua hook is defined
  pdns/lua-recursor4.cc
  pdns/lua-recursor4.hh
  pdns/pdns_recursor.cc
Labels: rec

#11059 dnsdist: add lua support to limit TTL values of responses
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/dnsdist-lua-ffi.hh
  pdns/dnsdistdist/docs/rules-actions.rst
  regression-tests.dnsdist/test_Responses.py
Labels: enhancement, dnsdist

#11075 dnsdist: Fix a double-free when a DoH cross-protocol response is dropped
  pdns/dnsdist-idstate.hh
  pdns/dnsdist.cc
  pdns/dnsdistdist/doh.cc
  pdns/doh.hh
Labels: defect, dnsdist, backport to dnsdist-1.7.x

#11085 dnsdist-1.7.x: Remove non dnsdist-related CI steps
  .circleci/config.yml
  .github/workflows/build-and-test-all.yml
  .github/workflows/builder.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
Labels: dnsdist

#11101 auth: save errno value as close(2) might clobber it
  pdns/nameserver.cc
Labels: auth

#10734 dnsdist: Add experimental support for TLS asynchronous engines
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdistdist/dnsdist-tcp-upstream.hh
  pdns/dnsdistdist/docs/advanced/tuning.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/test-dnsdistnghttp2_cc.cc
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
  pdns/libssl.cc
  pdns/libssl.hh
  pdns/pdns_recursor.cc
  pdns/tcpiohandler.cc
  pdns/tcpiohandler.hh
Labels: enhancement, dnsdist

#11103 dnsdist-1.7.x: Fix a double-free when a DoH cross-protocol response is dropped
  pdns/dnsdist-idstate.hh
  pdns/dnsdist.cc
  pdns/dnsdistdist/doh.cc
  pdns/doh.hh
Labels: defect, dnsdist

#11017 dnsdist: Add Lua bindings to get the list of network interfaces, addresses
  .github/actions/spell-check/expect.txt
  m4/pdns_check_network_libs.m4
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/iputils.cc
  pdns/iputils.hh
Labels: enhancement, dnsdist

#10949 dnsdist: Add a Lua FFI helper to generate proxy protocol payloads
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
Labels: enhancement, dnsdist

#11106 dnsdist-1.7.x: Fix compilation without incoming DoH support
  pdns/dnsdistdist/doh.cc
Labels: defect, dnsdist

#11051 dnsdist: add support to spoof a full self-generated response from lua
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-vars.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/docs/reference/constants.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  regression-tests.dnsdist/test_Spoofing.py
Labels: enhancement, dnsdist

#11027 dnsdist: add support for password protected PCKS12 files for TLS configuration
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/libssl.cc
  pdns/libssl.hh
  pdns/tcpiohandler.cc
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/runtests
  regression-tests.dnsdist/test_DOH.py
  regression-tests.dnsdist/test_TLS.py
Labels: enhancement, dnsdist

#11105 dnsdist: Fix compilation without incoming DoH support
  pdns/dnsdistdist/doh.cc
Labels: defect, dnsdist

#11079 dnsdist: Check the size of the query when re-sending a DoH query
  pdns/dnsdistdist/doh.cc
Labels: defect, dnsdist, backport to dnsdist-1.7.x

#11104 dnsdist-1.7.x: Check the size of the query when re-sending a DoH query
  pdns/dnsdistdist/doh.cc
Labels: defect, dnsdist

#11108 libssl: fix compilation issues on older openssl versions
  m4/pdns_with_libssl.m4
  pdns/libssl.cc
Labels: rec, defect, dnsdist

#11109 version.c: Two more features to print
  pdns/version.cc
Labels: auth, rec, enhancement

#11098 dnsdist: lua support to remove resource records from a response
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/dnsparser.cc
  pdns/dnsparser.hh
  pdns/test-dnsparser_cc.cc
  regression-tests.dnsdist/test_Responses.py
Labels: enhancement, dnsdist

#11117 fix warning: firstTry is set but not used
  pdns/iputils.cc
Labels: auth, rec, dnsdist

#11110 rec: Fix the path to the recursor's UBSan suppression file in forks
  .github/workflows/build-and-test-all.yml
Labels: rec, enhancement

#11076 dnsdist: Update the ChangeLog and the secpoll zone for 1.7.0-rc1
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#11116 github actions: Set policy to not start/enable services by default
  build-scripts/gh-actions-setup-inv
Labels: auth, rec, dnsdist

#11126 dnsdist: add newThread() function (experimental, subject to change)
  pdns/dnsdist-lua.cc
  regression-tests.dnsdist/test_Lua.py
  tasks.py
Labels: enhancement, dnsdist

#11121 dnsdist: Ignore the generated p12 file in the regression tests dir
  regression-tests.dnsdist/.gitignore
Labels: dnsdist

#11125 rec: All of rec testing moved to GH workflows
  .circleci/config.yml
Labels: rec

#11129 Properly handle ipcipher support when libcrypto is not available
  m4/pdns_enable_ipcipher.m4
  pdns/dnsdistdist/configure.ac
Labels: defect

#11090 auth: show QType by name in log message
  pdns/packethandler.cc
Labels: auth, backport to auth-4.6.x?

#11132 Test correct member in DynBlockRatioRule::warningRatioExceeded
  pdns/dnsdist-dynblocks.hh
Labels: defect, dnsdist, backport to dnsdist-1.5.x?, backport to dnsdist-1.6.x?, backport to dnsdist-1.7.x
