Repository PowerDNS/pdns, pull requests merged in 2021-06, with the labels that each got.

#10459 auth-py tests: unbreak, enable in CircleCI
  .circleci/config.yml
  regression-tests.auth-py/test_LuaRecords.py
  regression-tests.auth-py/test_SVCB.py
Labels: auth, defect

#10445 rec: Fix a typo in the prometheus "edns-ping-mismatches" metric
  pdns/ws-recursor.cc
Labels: defect, easy, rec

#10419 dnsdist: Properly handle ECS for queries with ancount or nscount > 0
  pdns/dnsdist-ecs.cc
  pdns/test-dnsdist_cc.cc
Labels: backport to dnsdist-1.5.x?, backport to dnsdist-1.6.x?, defect, dnsdist

#10460 rec: Don't follow referral from the parent to the child for DS queries
  pdns/recursordist/test-syncres_cc9.cc
  pdns/syncres.cc
Labels: backport to rec-4.5.x?, defect, rec

#10426 rec: When refreshing, do not consider root almost expired
  pdns/recursor_cache.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/taskqueue.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc.hh
  pdns/recursordist/test-syncres_cc2.cc
Labels: backport to rec-4.5.x?, defect, rec

#10463 auth LUA: add filterForward function, to limit the scope of createForward[6]
  docs/lua-records/functions.rst
  docs/lua-records/reference/netmask.rst
  pdns/lua-base4.cc
  pdns/lua-record.cc
  pdns/recursordist/docs/lua-scripting/netmask.rst
  regression-tests.auth-py/authtests.py
  regression-tests.auth-py/test_LuaRecords.py
Labels: auth, feature request

#10469 dnsdist: remove dnsdist.* lookup fallback
  pdns/dnsdist-lua-vars.cc
  pdns/dnsdistdist/docs/reference/constants.rst
Labels: dnsdist

#10437 auth ldap: note that master mode -is- supported
  docs/backends/index.rst
  docs/backends/ldap.rst
Labels: auth, docs

#10473 rec: Backport of 10350 to rex-4.5.x: Only add the NSEC and RRSIG records once in wildcard NODATA answers
  pdns/recursordist/test-syncres_cc5.cc
  pdns/syncres.cc
Labels: defect, rec

#10474 rec: Backport 10396 to rec-4.5.x: Take into account q_quiet when determing loglevel and change a few loglevels.
  pdns/pdns_recursor.cc
  pdns/syncres.cc
Labels: defect, rec

#10475 rec: Backport of #10426 to rec-4.5.x: When refreshing, do not consider root almost expired
  pdns/recursor_cache.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc.hh
  pdns/recursordist/test-syncres_cc2.cc
Labels: defect, rec

#10476 rec: Backport 10460 to rec 4.5.x: Don't follow referral from the parent to the child for DS queries
  pdns/recursordist/test-syncres_cc9.cc
  pdns/syncres.cc
Labels: defect, rec

#10477 Backport 10440 to rec 4.5.x: Change nsec3-max-iterations default to 150
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/docs/upgrade.rst
Labels: enhancement, rec

#10467 Switch OpenBSD to kqueue mplexer
  m4/pdns_check_os.m4
  pdns/Makefile.am
  pdns/dnsdistdist/Makefile.am
  pdns/kqueuemplexer.cc
  pdns/recursordist/Makefile.am
Labels: auth, dnsdist, enhancement, rec

#10441 dnsdist: Skip some memory allocations in client mode
  pdns/dnsdist-lua.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-packetcache.cc
Labels: dnsdist, enhancement

#10492 speedtest: Fix QType::getName() renamed to QType::toString()
  pdns/speedtest.cc
Labels: auth, defect

#10483 Implement log methods for QType and QClass
  .not-formatted
  pdns/logger.cc
  pdns/logger.hh
  pdns/pdns_recursor.cc
  pdns/recursor_cache.cc
Labels: auth, rec

#10414 Support multiple ip addresses for dnsdist-resolver lua script
  dockerdata/dnsdist-resolver.lua
Labels: dnsdist, enhancement

#10393 Correct faq entry to talk about zones
  docs/appendices/FAQ.rst
Labels: auth, docs

#10494 Set LANG=C explicitly, otherwise it may lead to suprises if the user isn't using LANG=C.
  Makefile.am
Labels: auth, dnsdist, rec

#10345 Fix documentation around get*DomainMetadata
  docs/backends/remote.rst
Labels: auth, docs

#10515 rec: Clear the current proxy protocol values each iteration
  pdns/pdns_recursor.cc
Labels: backport to rec-4.5.x?, defect, rec

#10428 Rec: cleanup of outgoing TCP code and DoT to auth or forwarders
  .circleci/config.yml
  pdns/auth-carbon.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/dnsdistdist/dnsdist-tcp-upstream.hh
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
  pdns/dnsproxy.cc
  pdns/dolog.hh
  pdns/iputils.cc
  pdns/iputils.hh
  pdns/ixfrdist.cc
  pdns/lwres.cc
  pdns/misc.cc
  pdns/misc.hh
  pdns/pdns_recursor.cc
  pdns/rec-carbon.cc
  pdns/rec-snmp.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/configure.ac
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/dolog.hh
  pdns/recursordist/m4/pdns_enable_tls.m4
  pdns/recursordist/m4/pdns_with_gnutls.m4
  pdns/recursordist/m4/pdns_with_libssl.m4
  pdns/recursordist/tcpiohandler.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/sdig.cc
  pdns/sstuff.hh
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/tcpiohandler.cc
  pdns/tcpiohandler.hh
  pdns/ws-recursor.cc
  regression-tests.recursor-dnssec/test_SimpleDoT.py
  regression-tests.recursor-dnssec/test_SimpleForwardOverDoT.py
Labels: rec

#10510 SVCB: Fix auto hints removing non-auto hints
  pdns/packethandler.cc
  regression-tests.auth-py/test_SVCB.py
Labels: backport to auth-4.5.x?

#10514 auth 2136: allow placing DNSKEY/CDS/CDNSKEY regardless of direct-dnskey setting
  pdns/packethandler.cc
  pdns/rfc2136handler.cc
Labels: backport to auth-4.5.x?

#10513 pdnsutil edit-zone: correctly reask inc-serial question
  pdns/pdnsutil.cc
Labels: backport to auth-4.5.x?

#10511 SVCB: on parse error, throw instead of truncate
  pdns/dnslabeltext.rl
  pdns/test-dnsrecords_cc.cc
Labels: backport to auth-4.5.x?

#10373 auth pdnsutil add-zone-key: clarify zsk default
  docs/manpages/pdnsutil.1.rst
  pdns/pdnsutil.cc
Labels: auth, backport to auth-4.5.x?, defect

#10509 pdnsutil create-zone: better error if default-soa-content is broken
  pdns/pdnsutil.cc
Labels: auth, backport to auth-4.5.x?

#10512 pdnsutil add-autoprimary: print error when exiting with 1
  pdns/pdnsutil.cc
Labels: backport to auth-4.5.x?

#10507 auth: remove pubsuffix
  builder-support/debian/authoritative/debian-buster/copyright
  pdns/Makefile.am
Labels: backport to auth-4.5.x?

#10506 newer git does not like .gitignore to be a symlink
  pdns/recursordist/ext/json11/.gitignore
  pdns/recursordist/ext/probds/.gitignore
  pdns/recursordist/ext/yahttp/.gitignore
  pdns/recursordist/make-ext-symlinks.py
  regression-tests.rootzone/.gitignore
  regression-tests.rootzone/tests/.gitignore
Labels: backport to auth-4.4.x?, backport to dnsdist-1.6.x?, backport to rec-4.5.x?

#10519 rec: Backport of 10518 to 4.5.x: Make sure that we pass the SOA along the NSEC(3) proof for DS queries
  pdns/recursordist/test-syncres_cc7.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/basicDNSSEC.py
Labels: defect, rec

#10518 rec: Make sure that we pass the SOA along the NSEC(3) proof for DS queries
  pdns/recursordist/test-syncres_cc7.cc
  pdns/syncres.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/basicDNSSEC.py
Labels: backport to rec-4.5.x?, defect, rec

#10522 auth SVCB fixes: avoid a crash; don't chase chains outside of zones
  modules/tinydnsbackend/data
  modules/tinydnsbackend/data.cdb
  pdns/packethandler.cc
  pdns/packethandler.hh
  regression-tests.nobackend/tinydns-data-check/expected_result
  regression-tests/tests/svcb-aliasmode/command
  regression-tests/tests/svcb-aliasmode/expected_result
  regression-tests/tests/svcb-aliasmode/expected_result.dnssec
  regression-tests/zones/example.com
Labels: auth, backport to auth-4.4.x?, backport to auth-4.5.x?, defect

#10488 auth: fix compilation issue
  pdns/ueberbackend.cc
Labels: auth, defect

#10489 dnsdist: Make DNSDist XFR aware when transfer is finished
  pdns/dnsdist-tcp.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.hh
  pdns/dnsdistdist/dnsdist-tcp-upstream.hh
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
  pdns/dnsparser.hh
  regression-tests.dnsdist/test_AXFR.py
Labels: dnsdist, enhancement, needs-tests

#10531 dnsdist: Increase the TTL of test answers to prevent spurious failures
  regression-tests.dnsdist/test_Caching.py
Labels: defect, dnsdist

#10532 dnsdist: Add FFI functions to spoof multiple raw values
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/docs/advanced/tls-sessions-management.rst
  pdns/dnsdistdist/docs/guides/dns-over-https.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/constants.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/dnsdistdist/docs/upgrade_guide.rst
  regression-tests.dnsdist/test_Spoofing.py
Labels: dnsdist, enhancement

#10503 dnsdist: Exit nicely to get coverage reports when COVERAGE is defined
  pdns/dnsdist.cc
Labels: dnsdist, enhancement

#10540 rec: Backport 10455 to rec-4.5.x: builder rpmbuild: run yum upgrade first
  builder-support/dockerfiles/Dockerfile.rpmbuild
Labels: rec

#10122 Rec: cumulative and Prometheus friendly histograms
  pdns/histogram.hh
  pdns/pdns_recursor.cc
  pdns/rec_channel.hh
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/rec_metrics.hh
  pdns/recursordist/test-histogram_hh.cc
  pdns/responsestats.hh
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/ws-recursor.cc
Labels: enhancement, rec
