Repository PowerDNS/pdns, pull requests merged in 2021-09, with the labels that each got.

#10597 dnsdist: Implement SpoofSVCAction to return SVC responses
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-svc.cc
  pdns/dnsdistdist/dnsdist-svc.hh
  pdns/dnsdistdist/docs/reference/index.rst
  pdns/dnsdistdist/docs/reference/svc.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/dnsdistdist/test-dnsdistsvc_cc.cc
  pdns/dnswriter.cc
  pdns/dnswriter.hh
  regression-tests.dnsdist/test_SVCB.py
Labels: enhancement, dnsdist

#10695 dnsdist: Ignore TCAction over TCP
  pdns/dnsdist.cc
  pdns/dnsdistdist/docs/rules-actions.rst
  regression-tests.dnsdist/test_Advanced.py
  regression-tests.dnsdist/test_Basics.py
  regression-tests.dnsdist/test_EDNSSelfGenerated.py
Labels: defect, dnsdist

#10696 dnsdist-1.6.x: Backport #10656, #10560, #10550 and #10389
  .dockerignore
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-idstate.cc
  pdns/dnsdistdist/docs/guides/webserver.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/tcpiohandler-mplexer.hh
  regression-tests.dnsdist/test_API.py
  regression-tests.dnsdist/test_Caching.py
Labels: dnsdist

#10484 pdns: remove randombackend
  .circleci/config.yml
  .github/workflows/codeql-analysis.yml
  Dockerfile-auth
  builder-support/debian/authoritative/debian-buster/pdns-server.install
  builder-support/debian/authoritative/debian-buster/rules
  builder-support/specs/pdns.spec
  configure.ac
  docs/appendices/backend-writers-guide.rst
  docs/backends/random.rst
  modules/Makefile.am
  modules/randombackend/Makefile.am
  modules/randombackend/OBJECTFILES
  modules/randombackend/OBJECTLIBS
  modules/randombackend/randombackend.cc
  regression-tests.nobackend/counters/command
  regression-tests.nobackend/counters/expected_result
  regression-tests.nobackend/counters/named.conf
  tasks.py
Labels: auth

#10714 DNSQuestion docs: Remove duplicate `qname`
  pdns/recursordist/docs/lua-scripting/dq.rst
Labels: docs, rec

#10654 rec: Backport 10643 to rec 4.4.x: NS from the cache could be a forwarder
  pdns/syncres.cc
Labels: rec, defect

#10655 rec: Backport 10643 to rec 4.5.x: NS from the cache could be a forwarder
  pdns/syncres.cc
Labels: rec, defect

#10706 dnsdist-1.6.x: Fix outstanding counter issue
  pdns/dnsdistdist/dnsdist-tcp-downstream.hh
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
Labels: defect, dnsdist

#10705 dnsdist: Fix outstanding counter issue when a TCP connection dies
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
Labels: defect, dnsdist, backport to dnsdist-1.6.x?

#10687 Clean up a bit of "cast from type [...] casts away qualifiers" warnings
  pdns/dnscrypt.cc
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-snmp.cc
  pdns/dnsparser.hh
  pdns/iputils.hh
  pdns/misc.cc
Labels: auth, rec, enhancement, dnsdist

#10701 rec: Fix the aggressive cache returning duplicated NSEC3 records
  pdns/recursordist/aggressive_nsec.cc
  pdns/recursordist/test-aggressive_nsec_cc.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc.hh
Labels: rec, backport to rec-4.5.x?

#10697 dnsdist: Use the correct version in the doc for backported features
  pdns/dnsdistdist/docs/guides/webserver.rst
  pdns/dnsdistdist/docs/reference/config.rst
Labels: docs, defect, dnsdist

#10717 rec: Backport 10701 to rec-4.5.x: Fix the aggressive cache returning duplicated NSEC3 records
  pdns/recursordist/aggressive_nsec.cc
  pdns/recursordist/test-aggressive_nsec_cc.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc.hh
Labels: rec, defect

#10663 rec: followup to Prometheus-friendly histograms (#10122)
  .github/actions/spell-check/expect.txt
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/test-histogram_hh.cc
  pdns/syncres.hh
  pdns/ws-recursor.cc
Labels: rec, enhancement

#10698 dnsdist: Prepare ChangeLog and secpoll for 1.6.1
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#10721 require nose >= 1.3.7 everywhere
  regression-tests.api/requirements.txt
  regression-tests.ixfrdist/requirements.txt
Labels: backport to rec-4.4.x?, backport to auth-4.4.x?, backport to rec-4.5.x?, backport to auth-4.5.x?

#10599 rec: Be more strict when validating DS wrt parent/child NSEC(3)s
  pdns/recursordist/test-syncres_cc6.cc
  pdns/recursordist/test-syncres_cc8.cc
  pdns/validate.cc
Labels: rec, enhancement

#10704 dnsdist: Stop raising the number of TCP workers to the number of TCP binds
  pdns/dnsdist.cc
  pdns/dnsdistdist/docs/reference/tuning.rst
  pdns/dnsdistdist/docs/upgrade_guide.rst
Labels: defect, dnsdist, backport to dnsdist-1.6.x?

#10724 dnsdist: Handle exception raised in IOStateGuard's destructor
  pdns/dnsdistdist/tcpiohandler-mplexer.hh
Labels: defect, dnsdist

#10728 dnsdist: Document DNSQuestion:getProtocol()
  pdns/dnsdistdist/docs/reference/dq.rst
Labels: docs, dnsdist

#10660 auth: incoming PROXY support
  .github/actions/spell-check/expect.txt
  docs/manpages/sdig.1.rst
  docs/settings.rst
  modules/lua2backend/lua2api2.hh
  modules/pipebackend/pipebackend.cc
  modules/remotebackend/Makefile.am
  modules/remotebackend/remotebackend.cc
  pdns/Makefile.am
  pdns/common_startup.cc
  pdns/common_startup.hh
  pdns/dnspacket.cc
  pdns/dnspacket.hh
  pdns/lua-auth4.cc
  pdns/lua-record.cc
  pdns/nameserver.cc
  pdns/packethandler.cc
  pdns/proxy-protocol.hh
  pdns/responsestats-auth.cc
  pdns/rfc2136handler.cc
  pdns/sdig.cc
  pdns/tcpreceiver.cc
  pdns/tcpreceiver.hh
  pdns/test-nameserver_cc.cc
  regression-tests.auth-py/proxyprotocol.py
  regression-tests.auth-py/test_ProxyProtocol.py
Labels: auth, enhancement

#10729 dnsdist: Update the list of dependencies in the documentation
  .github/actions/spell-check/expect.txt
  pdns/dnsdistdist/docs/install.rst
Labels: docs, dnsdist

#10157 Move to hashed passwords for the web interface
  .circleci/config.yml
  .github/actions/spell-check/expect.txt
  docs/http-api/index.rst
  docs/manpages/pdnsutil.1.rst
  docs/settings.rst
  m4/pdns_check_libcrypto.m4
  m4/pdns_with_libsodium.m4
  pdns/Makefile.am
  pdns/common_startup.cc
  pdns/credentials.cc
  pdns/credentials.hh
  pdns/dns_random.hh
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/credentials.cc
  pdns/dnsdistdist/credentials.hh
  pdns/dnsdistdist/dnsdist-web.hh
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/test-credentials_cc.cc
  pdns/dnssecinfra.cc
  pdns/misc.cc
  pdns/misc.hh
  pdns/pdns_recursor.cc
  pdns/pdnsutil.cc
  pdns/rec_channel_rec.cc
  pdns/rec_control.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/credentials.cc
  pdns/recursordist/credentials.hh
  pdns/recursordist/docs/http-api/index.rst
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/test-credentials_cc.cc
  pdns/speedtest.cc
  pdns/test-credentials_cc.cc
  pdns/webserver.cc
  pdns/webserver.hh
  pdns/ws-auth.cc
  pdns/ws-recursor.cc
  regression-tests.dnsdist/test_API.py
  regression-tests.dnsdist/test_DynBlocks.py
  regression-tests.dnsdist/test_OutgoingDOH.py
  regression-tests.dnsdist/test_OutgoingTLS.py
  regression-tests.dnsdist/test_Prometheus.py
  regression-tests.dnsdist/test_TCPFastOpen.py
Labels: enhancement, dnsdist

#10653 auth: Convert locks to LockGuarded
  modules/bindbackend/bindbackend2.cc
  modules/bindbackend/bindbackend2.hh
  modules/gmysqlbackend/smysql.cc
  modules/tinydnsbackend/tinydnsbackend.cc
  modules/tinydnsbackend/tinydnsbackend.hh
  pdns/auth-packetcache.cc
  pdns/auth-packetcache.hh
  pdns/auth-querycache.cc
  pdns/auth-querycache.hh
  pdns/auth-zonecache.cc
  pdns/auth-zonecache.hh
  pdns/cachecleaner.hh
  pdns/communicator.cc
  pdns/communicator.hh
  pdns/dbdnsseckeeper.cc
  pdns/dnsproxy.cc
  pdns/dnsproxy.hh
  pdns/dnsseckeeper.hh
  pdns/dnssecsigner.cc
  pdns/ixfrdist.cc
  pdns/lock.hh
  pdns/lua-auth4.cc
  pdns/lua-record.cc
  pdns/mastercommunicator.cc
  pdns/pkcs11signers.cc
  pdns/receiver.cc
  pdns/slavecommunicator.cc
  pdns/statbag.cc
  pdns/statbag.hh
  pdns/stubresolver.cc
  pdns/tcpreceiver.cc
  pdns/tcpreceiver.hh
  pdns/ueberbackend.cc
  pdns/ueberbackend.hh
Labels: auth, enhancement

#10722 rec: Backport 10721 to rec 4.4.x: require nose >= 1.3.7 everywhere
  regression-tests.api/requirements.txt
  regression-tests.ixfrdist/requirements.txt
Labels: rec

#10723 rec: Backport 10721 to rec 4.5.x: require nose >= 1.3.7 everywhere
  regression-tests.api/requirements.txt
  regression-tests.ixfrdist/requirements.txt
Labels: rec

#10718 rec: Only the DNAME records are authoritative in DNAME answers
  pdns/recursordist/test-syncres_cc1.cc
  pdns/syncres.cc
Labels: rec, defect, backport to rec-4.5.x?

#10737 Fix issues reported by Coverity
  pdns/credentials.cc
  pdns/credentials.hh
  pdns/dnspacket.hh
  pdns/misc.hh
Labels: auth, rec, defect, dnsdist

#10738 Rec: fix Prometheus thread cpu usage
  .circleci/config.yml
  pdns/rec_channel_rec.cc
  regression-tests.recursor-dnssec/test_Prometheus.py
Labels: rec, defect

#10733 dnsdist: accept a table to SVCParams for newSVCRecordParameters
  .github/actions/spell-check/expect.txt
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/dnsdist-svc.cc
  pdns/dnsdistdist/dnsdist-svc.hh
  pdns/dnsdistdist/docs/reference/svc.rst
  regression-tests.dnsdist/test_SVCB.py
Labels: enhancement, dnsdist

#10289 Implement EDNS cookies in the auth
  .github/actions/spell-check/expect.txt
  .not-formatted
  docs/settings.rst
  m4/pdns_with_libsodium.m4
  modules/remotebackend/Makefile.am
  pdns/Makefile.am
  pdns/common_startup.cc
  pdns/dnspacket.cc
  pdns/dnspacket.hh
  pdns/ednscookies.cc
  pdns/ednscookies.hh
  pdns/iputils.hh
  pdns/misc.cc
  pdns/misc.hh
  pdns/packethandler.cc
  pdns/recursordist/test-ednsoptions_cc.cc
  pdns/tcpreceiver.cc
  pdns/test-dnsdist_cc.cc
  pdns/test-ednscookie_cc.cc
  pdns/test-misc_hh.cc
  pdns/test-packetcache_hh.cc
  regression-tests.auth-py/authtests.py
  regression-tests.auth-py/cookiesoption.py
  regression-tests.auth-py/test_Cookies.py
  regression-tests.dnsdist/cookiesoption.py
Labels: auth

#10746 dnsdist-1.6.x: Update AX_CHECK_SIGN for autoconf 2.71
  m4/ax_check_sign.m4
Labels: defect, dnsdist

#10745 dnsdist: Don't increase the outstanding counter on a duplicated ID over TCP
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
Labels: defect, dnsdist

#10743 dnsdist-1.6.x: Don't increase the outstanding counter on a duplicated ID over TCP
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
Labels: defect, dnsdist

#10730 dnsdist: Prepare ChangeLog and secpoll update for 1.7.0-alpha1
  .github/actions/spell-check/expect.txt
  .github/actions/spell-check/patterns.txt
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#10756 dnsdist: Fix secpoll for 1.7.0-alpha1
  docs/secpoll.zone
Labels: defect

#10753 Add our various random implementations to speedtest
  pdns/Makefile.am
  pdns/speedtest.cc
Labels: auth, rec

#10669 Rec: tcp/dot connection pooling
  pdns/dnsrecords.hh
  pdns/lwres.cc
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/rec-tcpout.cc
  pdns/recursordist/rec-tcpout.hh
  pdns/ws-recursor.cc
Labels: rec, enhancement

#10761 rec: work around clang on MacOS being pedantic
  pdns/pdns_recursor.cc
Labels: rec

#10755 speedtest: Count the system time as well as the user time
  pdns/speedtest.cc
Labels: enhancement

#10763 Move to clang12 for github actions, at least tsan seems to work better
  tasks.py
Labels: auth, rec, dnsdist

#10757 rec: Update the stats (serial, number of records, timestamp) for RPZ files
  pdns/rpzloader.cc
Labels: rec, enhancement

#10766 dnsdist: Improve NetmaskGroup:addMasks docs
  pdns/dnsdistdist/docs/reference/netmaskgroup.rst
Labels: docs, dnsdist

#10765 rec: Fix compile for !HAVE_FSTRM
  pdns/lwres.cc
Labels: rec

#10768 rec: Use the correct RPZ policy name when loading via XFR
  pdns/rpzloader.cc
Labels: rec, defect, backport to rec-4.4.x?, backport to rec-4.5.x?

#10770 auth: Gracefully handle uncaught exceptions in the UDP path
  pdns/common_startup.cc
Labels: auth, enhancement

#10231 auth: send YXDOMAIN for too long DNAME synth
  pdns/packethandler.cc
  pdns/packethandler.hh
  regression-tests/tests/dname-too-long-synth/command
  regression-tests/tests/dname-too-long-synth/description
  regression-tests/tests/dname-too-long-synth/expected_result
  regression-tests/tests/dname-too-long-synth/expected_result.dnssec
Labels: auth, defect

#10748 auth: try to reload rejected zones in bind-backend
  modules/bindbackend/bindbackend2.cc
Labels: auth, defect

#10764 rec: Upgrade guide and changelog for rec-4.6.0-alpha1
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.6.rst
  pdns/recursordist/docs/changelog/index.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/docs/upgrade.rst
Labels: rec

#10779 auth: fix copy+paste for decrypt
  docs/manpages/pdnsutil.1.rst
Labels: auth, docs, defect

#10778 auth-4.5.x: try to reload rejected zones in bind-backend once every b…
  modules/bindbackend/bindbackend2.cc
Labels: auth, defect

#10772 dnsdist: Better handling of outgoing DoH workers
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/dnsdist-nghttp2.cc
  pdns/dnsdistdist/dnsdist-nghttp2.hh
Labels: defect, dnsdist
