Repository PowerDNS/pdns, pull requests merged in 2021-07, with the labels that each got.

#10547 dnsdist: Use a 2s TTL in testCacheNoStale to prevent failures
  regression-tests.dnsdist/test_Caching.py
Labels: dnsdist, enhancement

#10544 dnsdist: Add some leeway for the carbon data to reach the test receiver
  regression-tests.dnsdist/test_Carbon.py
Labels: dnsdist, enhancement

#10530 docs: query-local-address6 has been removed in #10251 as well
  docs/upgrading.rst
Labels: auth, docs

#10535 auth: make UeberBackend::addCache pick the correct ttl
  pdns/ueberbackend.cc
Labels: auth, backport to auth-4.5.x?

#10549 auth bindbackend: NSEC(3) setting consistency, reload improvements
  modules/bindbackend/bindbackend2.cc
  modules/bindbackend/bindbackend2.hh
  modules/bindbackend/binddnssec.cc
  pdns/pdnsutil.cc
Labels: auth, backport to auth-4.5.x?, defect

#10539 rec: Prep rec-4.5.4
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.5.rst
Labels: docs, rec

#10553 rec: assorted improvements
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
Labels: rec

#10555 rec: Work around clueless servers sending AA=0 answers
  pdns/recursordist/test-syncres_cc3.cc
  pdns/recursordist/test-syncres_cc4.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: backport to rec-4.4.x?, backport to rec-4.5.x?, enhancement, rec

#10560 dnsdist: Implement a web endpoint to get metrics for only one pool
  pdns/dnsdist-web.cc
  pdns/dnsdistdist/docs/guides/webserver.rst
  regression-tests.dnsdist/test_API.py
Labels: dnsdist, enhancement

#10550 dnsdist: Add the missing DOHFronted::loadNewCertificatesAndKeys()
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: backport to dnsdist-1.6.x?, dnsdist, enhancement

#10538 dnsdist-1.6.x: Set the dnstap/protobuf transport to TCP for DoH queries
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-protobuf.cc
  pdns/dnsdist.cc
Labels: defect, dnsdist

#10537 dnsdist: Carry the exact incoming protocol (Do53, DNSCrypt, DoT, DoH) in DQ
  pdns/dnsdist-cache.cc
  pdns/dnsdist-cache.hh
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdist-protobuf.cc
  pdns/dnsdist-snmp.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist-xpf.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-idstate.cc
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/dnsdist-proxy-protocol.cc
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/test-dnsdistkvs_cc.cc
  pdns/dnsdistdist/test-dnsdistlbpolicies_cc.cc
  pdns/dnsdistdist/test-dnsdistrules_cc.cc
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
  pdns/dnstap.cc
  pdns/dnstap.hh
  pdns/dnstap.proto
  pdns/lwres.cc
  pdns/test-dnsdist_cc.cc
  pdns/test-dnsdistpacketcache_cc.cc
  regression-tests.dnsdist/test_Advanced.py
  regression-tests.dnsdist/test_DNSCrypt.py
  regression-tests.dnsdist/test_DOH.py
  regression-tests.dnsdist/test_TLS.py
Labels: backport to dnsdist-1.6.x?, defect, dnsdist

#10527 dnsdist: Implement 'reload()' to rotate Log(Response)Action's log file
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: dnsdist, enhancement

#10557 dnsdist: Documentation fixes (typo, eBPF capabilities)
  pdns/dnsdistdist/dnsdist.service.in
  pdns/dnsdistdist/docs/advanced/ebpf.rst
  pdns/dnsdistdist/docs/advanced/out-of-order.rst
  pdns/dnsdistdist/docs/reference/config.rst
Labels: defect, dnsdist, docs

#10496 Reference pdnsutil in "Running and Operating"
  docs/running.rst
Labels: auth, docs, enhancement

#10576 Zap a few redundant toString() method call for logging qtype names
  pdns/syncres.cc
  pdns/ueberbackend.cc
  pdns/validate.cc
Labels: auth, rec

#10578 fix: dnsdist docs quickstart typo
  pdns/dnsdistdist/docs/quickstart.rst
Labels: dnsdist, docs

#10568 auth: allow building bindbackend without sqlite3
  modules/bindbackend/binddnssec.cc
Labels: auth, backport to auth-4.5.x?, defect

#10573 rec: Backport 10515 to rec-4.5.x: Clear the current proxy protocol values each iteration
  pdns/pdns_recursor.cc
Labels: defect, rec

#10571 rec: fix some compiler warnings
  pdns/lwres.cc
  pdns/recursordist/test-mtasker.cc
Labels: rec

#10580 rec: backport #10555 to 4.4.x: Work around clueless servers sending AA=0 answers
  pdns/recursordist/test-syncres_cc3.cc
  pdns/recursordist/test-syncres_cc4.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec

#10564 Backport 10555 to rec 4.5.x: Work around clueless servers sending AA=0 answers
  pdns/recursordist/test-syncres_cc3.cc
  pdns/recursordist/test-syncres_cc4.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: enhancement, rec

#10501 dnsdist: Add support for Lua per-thread FFI rules and actions
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/dnsdist-lua-ffi.hh
  pdns/dnsdistdist/dnsdist-rules.cc
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/docs/advanced/tuning.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  regression-tests.dnsdist/test_Advanced.py
Labels: dnsdist, enhancement

#10565 rec: do not use DNSKEYs found below an apex for validation
  pdns/syncres.cc
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_Interop.py
Labels: backport to rec-4.5.x?, rec

#10575 rec: Backport 10570 to rec 4.5.x: Make really sure we did not miss a cut on validation failure
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc10.cc
  pdns/recursordist/test-syncres_cc6.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: defect, rec

#10570 rec: Make really sure we did not miss a cut on validation failure
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc10.cc
  pdns/recursordist/test-syncres_cc6.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: backport to rec-4.5.x?, defect, rec

#10587 rec: Ancestor NSEC3s can only deny the existence of a DS
  pdns/recursordist/aggressive_nsec.cc
  pdns/recursordist/test-aggressive_nsec_cc.cc
  pdns/recursordist/test-syncres_cc8.cc
  pdns/validate.cc
Labels: backport to rec-4.5.x?, defect, rec

#10615 rec: backport 10455 to rec-4.4.x: builder rpmbuild: run yum upgrade first
  builder-support/dockerfiles/Dockerfile.rpmbuild
Labels: rec

#10593 rec: Backport 10587 to rec-4.5.x: Ancestor NSEC3s can only deny the existence of a DS
  pdns/recursordist/aggressive_nsec.cc
  pdns/recursordist/test-aggressive_nsec_cc.cc
  pdns/recursordist/test-syncres_cc8.cc
  pdns/validate.cc
Labels: defect, rec

#10595 auth 4.5 upgrade notes and settings: more words on the zone cache
  docs/settings.rst
  docs/upgrading.rst
Labels: auth, docs

#10607 Document RFC 6742 types
  docs/appendices/types.rst
Labels: auth, docs, enhancement

#10616 rec: Prep for rec-4.4.5 and rec-4.5.5
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.4.rst
  pdns/recursordist/docs/changelog/4.5.rst
Labels: rec
