Repository PowerDNS/pdns, pull requests merged in 2022-06, with the labels that each got.

#11656 dnsdist: add a counter for the number of cache cleanups
  pdns/dnsdist-cache.cc
  pdns/dnsdist-cache.hh
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-web.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-packetcache.cc
Labels: enhancement, dnsdist

#11661 rec: Update secpoll status for 4.4.8, missed on 4.7.0 release
  docs/secpoll.zone
Labels: rec, docker

#11663 dnsdist-1.7.x: protobuf: use python implementation during tests
  regression-tests.dnsdist/runtests
  regression-tests.recursor-dnssec/runtests
Labels: dnsdist

#11664 dnsdist-1.7.x: Add missing descriptions for prometheus metrics
  pdns/dnsdist-web.cc
Labels: dnsdist

#11673 dnsdist: Add the protocol (Do53, DoT, DoH, ...) of backends in the API
  pdns/dnsdist-web.cc
  regression-tests.dnsdist/test_API.py
Labels: enhancement, dnsdist

#11665 dnsdist-1.7.x: Fix invalid proxy protocol payload on a DoH TC to TCP retry
  pdns/dnsdist-tcp.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/dnsdistdist/dnsdist-tcp.hh
  pdns/dnsdistdist/doh.cc
  regression-tests.dnsdist/dnsdistdohtests.py
  regression-tests.dnsdist/test_DOH.py
  regression-tests.dnsdist/test_ProxyProtocol.py
Labels: defect, dnsdist

#11674 dnsdist: add support for user defined metrics
  .github/actions/spell-check/expect.txt
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-prometheus.hh
  pdns/dnsdistdist/dnsdist-web.hh
  pdns/dnsdistdist/docs/reference/custommetrics.rst
  pdns/dnsdistdist/docs/reference/index.rst
  regression-tests.dnsdist/test_API.py
  regression-tests.dnsdist/test_Advanced.py
Labels: enhancement, dnsdist

#11668 dnsdist: Optionally send 'verbose' messages to a file, and log them at 'DEBUG' level otherwise
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dolog.hh
  pdns/test-dnscrypt_cc.cc
Labels: enhancement, dnsdist

#11667 dnsdist-1.7.x: Fix a crash on a invalid protocol in DoH forwarded-for header
  pdns/dnsdistdist/doh.cc
  regression-tests.dnsdist/test_ProxyProtocol.py
Labels: defect, dnsdist

#11683 dnsdist: fix building without libedit in dnsdist.cc as well
  pdns/dnsdist.cc
Labels: defect, dnsdist

#11686 dnsdist: Update dq.rst
  pdns/dnsdistdist/docs/reference/dq.rst
Labels: docs, defect, dnsdist

#11662 rec: Structured logging for dns64 and simlar functions using directResolve()
  pdns/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, enhancement

#11681 rec: structured logging for various subsystyems
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/logging.hh
  pdns/fstrm_logger.cc
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-tcp.cc
  pdns/remote_logger.cc
  pdns/rpzloader.cc
Labels: rec, enhancement

#11660 rec: Use systemd-journal for structured logging if it is available
  pdns/recursordist/rec-main.cc
Labels: rec, enhancement

#11688 dnsdist: Fix a typo in the Downstream guide
  pdns/dnsdistdist/docs/guides/downstreams.rst
Labels: docs, defect, dnsdist

#11526 use BPF_MAP_TYPE_LPM_TRIE for range matching
  contrib/xdp-filter.ebpf.src
  contrib/xdp.py
  ext/libbpf/libbpf.h
  pdns/bpf-filter.cc
  pdns/bpf-filter.hh
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/docs/reference/ebpf.rst
  pdns/iputils.hh
Labels: enhancement, dnsdist

#11548 dnsdist: Document eBPF requirements, external program support
  .github/actions/spell-check/expect.txt
  pdns/dnsdistdist/docs/advanced/ebpf.rst
Labels: docs, enhancement, dnsdist

#11682 Recursor: Load IPv6 entries from `etc-hosts` file
  Makefile.am
  ext/lmdb-safe/lmdb-safe.hh
  ext/lmdb-safe/lmdb-typed.hh
  pdns/dnsname.hh
  pdns/dnsparser.hh
  pdns/dnsrecords.cc
  pdns/dnsrecords.hh
  pdns/iputils.hh
  pdns/packetcache.hh
  pdns/recursordist/.gitignore
  pdns/recursordist/Makefile.am
  pdns/recursordist/reczones-helpers.cc
  pdns/recursordist/reczones-helpers.hh
  pdns/recursordist/test-reczones-helpers.cc
  pdns/reczones-helpers.cc
  pdns/reczones-helpers.hh
  pdns/reczones.cc
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/test-iputils_hh.cc
Labels: rec

#11350 auth: no ALIAS and LUA record expansion in presigned zones
  pdns/packethandler.cc
Labels: auth, defect

#11413 auth: add b2b-migrate to pdnsutil man page
  docs/manpages/pdnsutil.1.rst
Labels: auth

#11340 Pdnustil flush prompt
  pdns/pdnsutil.cc
Labels: auth, defect

#11641 Move to v2 for CodeQL action, v1 will be deprecated dec 2022
  .github/workflows/codeql-analysis.yml
Labels: auth, rec, dnsdist

#11613 hashHeaderAndQName burtle optimization
  pdns/Makefile.am
  pdns/burtle.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/burtle.hh
  pdns/dnsname.hh
  pdns/misc.cc
  pdns/misc.hh
  pdns/packetcache.hh
  pdns/recursordist/Makefile.am
  pdns/recursordist/burtle.hh
  pdns/test-packetcache_hh.cc
Labels: auth, rec, dnsdist

#11633 Backport 11609 to rec 4.6.x: Fix API issue when asking config values for allow-from or allow-notiy-from
  pdns/recursordist/docs/settings.rst
  pdns/ws-recursor.cc
  regression-tests.api/test_RecursorConfig.py
Labels: rec, defect

#11634 Backport 11609 to rec 4.5.x: Fix API issue when asking config values for allow-from
  pdns/recursordist/docs/settings.rst
  pdns/ws-recursor.cc
Labels: rec, defect

#11685 dnsdist: Fix a few performance-related warnings reported by cppcheck
  pdns/dnsdist-web.cc
  pdns/dnsdistdist/dnsdist-prometheus.hh
  pdns/dnsdistdist/dnsdist-web.hh
Labels: dnsdist

#11601 Rec: shared ednsmap
  pdns/rec_channel_rec.cc
  pdns/recursordist/rec-main.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, enhancement

#11651 dnsdist: refactor sendfromto
  pdns/dnsdist.cc
  pdns/iputils.cc
  pdns/iputils.hh
Labels: enhancement, dnsdist

#11704 Rec: make edns table a sparse table
  pdns/recursordist/rec-main.cc
  pdns/recursordist/test-syncres_cc1.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, enhancement

#11695 dnsdist: Do not try to auto-upgrade DoT and DoH backends
  pdns/dnsdist-lua.cc
Labels: defect, dnsdist

#11693 rec: Structured logging for webserver
  pdns/webserver.cc
  pdns/webserver.hh
  pdns/ws-recursor.cc
Labels: rec, enhancement

#11698 Implement `SuffixMatchTree::getBestMatch()` to get the name that matched
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/dnsname.rst
  pdns/dnsname.hh
  pdns/test-dnsname_cc.cc
Labels: enhancement, dnsdist

#11707 dnsdist: Compute backend latency earlier, to avoid internal latency
  pdns/dnsdist-tcp.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/dnsdist-nghttp2.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  regression-tests.dnsdist/test_API.py
Labels: enhancement, dnsdist, backport to dnsdist-1.7.x

#11696 dnsdist: Bind to the requested src interface without a src address
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/dnsdist-discovery.cc
  pdns/dnsdistdist/dnsdist-healthchecks.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
Labels: defect, dnsdist

#11712 dnsdist: fill ringbuffers with responses served from the cache
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/doh.cc
  regression-tests.dnsdist/test_DynBlocks.py
Labels: enhancement, dnsdist

#11718 dnsdist: Fix the number of concurrent queries on a backend TCP conn
  pdns/dnsdistdist/dnsdist-tcp-downstream.hh
Labels: defect, dnsdist, backport to dnsdist-1.7.x

#11716 dnsdist: Add more detailed metrics
  pdns/dnsdist-tcp.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
  regression-tests.dnsdist/test_API.py
Labels: enhancement, dnsdist

#11719 Fix warnings found by compiler on MacOS, where char is unsigned
  pdns/dnslabeltext.rl
  pdns/dnsname.cc
Labels: auth, rec, defect, dnsdist

#11727 auth: Also allow generic record format in zone parsing for pdnsutil zonemd-verify-file
  pdns/pdnsutil.cc
  regression-tests.nobackend/zonemd-test-cases/zones/20-generic-zonemd/example.zone
  regression-tests.nobackend/zonemd-test-cases/zones/45-root-zone/root.zone.hashed
  regression-tests.nobackend/zonemd-test-cases/zones/50-uppercase-nsec-rdata-names/arpa.zone.hashed
  regression-tests.nobackend/zonemd-test-cases/zones/51-uppercase-nsec3-rdata-names/arpa.zone.hashed
  regression-tests.nobackend/zonemd-test-cases/zones/52-uppercase-rrsig-rdata-names/arpa.zone.hashed
Labels: auth, enhancement

#11730 dnsdist docs: add some missing statistics
  pdns/dnsdistdist/docs/statistics.rst
Labels: docs, dnsdist
