Repository PowerDNS/pdns, pull requests merged in 2022-09, with the labels that each got.

#11813 auth/rec web: stop sending Server: header
  pdns/webserver.cc
Labels: auth, rec

#11836 auth catalog zones: simplify migration schemas by appending columns
  modules/gmysqlbackend/4.3.0_to_4.7.0_schema.mysql.sql
  modules/gmysqlbackend/schema.mysql.sql
  modules/godbcbackend/schema.mssql.sql
  modules/gpgsqlbackend/4.3.0_to_4.7.0_schema.pgsql.sql
  modules/gpgsqlbackend/schema.pgsql.sql
  modules/gsqlite3backend/4.3.1_to_4.7.0_schema.sqlite3.sql
  modules/gsqlite3backend/schema.sqlite3.sql
Labels: backport to auth-4.7.x?

#11883 dnsdist: Make recording queries/responses in the ringbuffers optional
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-rings.cc
  pdns/dnsdist-rings.hh
  pdns/dnsdist.cc
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: enhancement, dnsdist

#11896 Fix build if dnstap is not enabled
  pdns/lwres.cc
Labels: rec, defect

#11889 dnsdist: Add local ComboAddress parameter for SBind() at TeeAction()
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: enhancement, dnsdist

#11862 libssl: Properly load ciphers and digests with OpenSSL 3.0
  pdns/libssl.cc
Labels: auth, rec, defect, dnsdist

#11906 rec: Implement padding of (DoT) messages to auth
  pdns/lwres.cc
  pdns/lwres.hh
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/rec-main.cc
Labels: rec, enhancement

#11908 auth: initialize zone cache after dropping privileges
  pdns/auth-main.cc
Labels: auth, backport to auth-4.7.x?

#11143 auth: Reintroduce GSS-TSIG processing
  .github/actions/spell-check/expect.txt
  configure.ac
  docs/domainmetadata.rst
  docs/settings.rst
  docs/tsig.rst
  m4/pdns_enable_gss_tsig.m4
  modules/remotebackend/Makefile.am
  pdns/Makefile.am
  pdns/auth-main.cc
  pdns/distributor.hh
  pdns/dnspacket.cc
  pdns/dnspacket.hh
  pdns/dnssecinfra.cc
  pdns/gss_context.cc
  pdns/gss_context.hh
  pdns/ixplore.cc
  pdns/packethandler.cc
  pdns/pdnsutil.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/gss_context.cc
  pdns/recursordist/gss_context.hh
  pdns/resolver.cc
  pdns/rfc2136handler.cc
  pdns/saxfr.cc
  pdns/tcpreceiver.cc
  pdns/test-distributor_hh.cc
  pdns/tkey.cc
  pdns/tsigverifier.cc
  pdns/version.cc
  pdns/ws-auth.cc
  regression-tests.auth-py/authtests.py
  regression-tests.auth-py/kerberos-client/init-keytab.sh
  regression-tests.auth-py/kerberos-client/krb5.conf
  regression-tests.auth-py/kerberos-client/kt.keytab
  regression-tests.auth-py/kerberos-client/update-policy.lua
  regression-tests.auth-py/kerberos-server/Dockerfile
  regression-tests.auth-py/kerberos-server/docker-compose.yml
  regression-tests.auth-py/kerberos-server/kerberos-init.sh
  regression-tests.auth-py/runtests
  regression-tests.auth-py/test_GSSTSIG.py
  tasks.py
Labels: auth, backport to auth-4.7.x?

#11860 Auth: fix libcrypto handling in automake files
  modules/bindbackend/Makefile.am
  modules/geoipbackend/Makefile.am
  modules/gmysqlbackend/Makefile.am
  modules/godbcbackend/Makefile.am
  modules/gsqlite3backend/Makefile.am
  modules/ldapbackend/Makefile.am
  modules/lmdbbackend/Makefile.am
  modules/lua2backend/Makefile.am
  modules/pipebackend/Makefile.am
  pdns/Makefile.am
Labels: auth, backport to auth-4.7.x?

#11508 New setting compare-signatures-on-zone-freshness-check to disable DO flag for SOA checks
  docs/modes-of-operation.rst
  docs/settings.rst
  pdns/auth-main.cc
  pdns/slavecommunicator.cc
Labels: auth, enhancement

#11904 rec: For zones having many NS records take a sample
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/rec-main.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec

#11919 auth: fix gcc warning
  pdns/auth-main.cc
  pdns/auth-main.hh
Labels: backport to auth-4.7.x?

#11918 auth: api, nsec3param improvements
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: backport to auth-4.7.x?

#11897 rec: backport 11848 to rec-4.7.x: Also check qperq limit if throttling happened, as it increases counters.
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, enhancement

#11898 rec: Backport 11848 to rec-4.6.x: Also check qperq limit if throttling happened, as it increases counters.
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, enhancement

#11921 auth-4.7.x: Fix CID 1497843: Execution cannot reach this statement
  pdns/tkey.cc
Labels: auth

#11899 rec: Backport 11848 to rec-4.5.x: Also check qperq limit if throttling happened, as it increases counters.
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, enhancement

#11923 auth-4.7.x: api, nsec3param improvements
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth

#11776 Rec: serve stale
  pdns/cachecleaner.hh
  pdns/dnsseckeeper.hh
  pdns/recpacketcache.cc
  pdns/recpacketcache.hh
  pdns/recursor_cache.cc
  pdns/recursor_cache.hh
  pdns/recursordist/aggressive_nsec.cc
  pdns/recursordist/docs/appendices/internals.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/negcache.cc
  pdns/recursordist/negcache.hh
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-taskqueue.cc
  pdns/recursordist/rec-taskqueue.hh
  pdns/recursordist/taskqueue.hh
  pdns/recursordist/test-negcache_cc.cc
  pdns/recursordist/test-rec-taskqueue.cc
  pdns/recursordist/test-rec-zonetocache.cc
  pdns/recursordist/test-recursorcache_cc.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc1.cc
  pdns/recursordist/test-syncres_cc10.cc
  pdns/recursordist/test-syncres_cc2.cc
  pdns/recursordist/test-syncres_cc3.cc
  pdns/recursordist/test-syncres_cc8.cc
  pdns/recursordist/test-syncres_cc9.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec

#11890 rec: Failure to retrieve DNSKEYs of an Insecure zone should not be fatal.
  pdns/recursordist/test-syncres_cc5.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, backport to rec-4.7.x?

#11920 auth: Fix CID 1497843: Execution cannot reach this statement
  pdns/tkey.cc
Labels: auth

#11922 auth-4.7.x: fix gcc warning
  pdns/auth-main.cc
  pdns/auth-main.hh
Labels: auth

#11826 auth: somewhat cleanup global symbols
  pdns/auth-main.cc
  pdns/auth-main.hh
  pdns/dns.hh
  pdns/dnsbackend.hh
  pdns/dynhandler.cc
  pdns/dynloader.cc
  pdns/nameserver.hh
  pdns/packethandler.cc
  pdns/pdnsutil.cc
  pdns/ws-api.cc
  pdns/ws-auth.cc
Labels: auth, backport to auth-4.7.x?

#11928 auth-4.7.x: somewhat cleanup global symbols
  pdns/auth-main.cc
  pdns/auth-main.hh
  pdns/dns.hh
  pdns/dnsbackend.hh
  pdns/dynhandler.cc
  pdns/dynloader.cc
  pdns/nameserver.hh
  pdns/packethandler.cc
  pdns/pdnsutil.cc
  pdns/ws-api.cc
  pdns/ws-auth.cc
Labels: auth

#11929 auth LUA records: we only need one IsUpOracle checker thread
  pdns/lua-record.cc
Labels: backport to auth-4.7.x?

#11907 Recursor: Add `--config[=check|=diff|=default]`
  pdns/arguments.cc
  pdns/arguments.hh
  pdns/recursordist/Makefile.am
  pdns/recursordist/docs/manpages/pdns_recursor.1.rst
  pdns/recursordist/rec-main.cc
Labels: rec

#11932 auth: fix gcc warning, no prevous declaration for ‘void carbonDumpT…
  pdns/auth-main.cc
  pdns/auth-main.hh
Labels: auth

#11935 rec docs: fix spelling error (lifetimeof is not a word)
  pdns/recursordist/docs/appendices/internals.rst
Labels: docs, rec

#11933 auth LUA: fix "braces around scalar initializer" warning
  pdns/lua-record.cc
Labels: auth

#11934 auth-4.7.x: backport two compiler warning fixes
  pdns/auth-main.cc
  pdns/auth-main.hh
  pdns/lua-record.cc
Labels: auth

#11942 rec: Backport of 11890 to rec-4.5.x: Failure to retrieve DNSKEYs of an Insecure zone should not be fatal.
  pdns/recursordist/test-syncres_cc5.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, defect

#11941 rec: Backport of 11890 to rec-4.6.x: Failure to retrieve DNSKEYs of an Insecure zone should not be fatal.
  pdns/recursordist/test-syncres_cc5.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, defect

#11940 rec: Backport 11890 to rec-4.7.x: Failure to retrieve DNSKEYs of an Insecure zone should not be fatal.
  pdns/recursordist/test-syncres_cc5.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, defect

#11939 Backport 11904 to rec-4.5.x: For zones having many NS records, we are not interested in all so take a sample.
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, enhancement

#11937 rec: Backport 11904 to rec-4.6.x: For zones having many NS records, we are not interested in all so take a sample.
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/settings.rst
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, enhancement

#11936 rec: Backport 11904 to rec-4.7.x: For zones having many NS records, we are not interested in all so take a sample.
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/rec-main.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, enhancement

#11944 rec: Backport of 11641 to rec-4.5.x: Move to v2 for CodeQL action, v1 will be deprecated dec 2022
  .github/workflows/codeql-analysis.yml
Labels: rec

#11952 Nits on documentation for catalog zones
  docs/catalog.rst
Labels: auth, docs

#11962 rec: Add unit test to check that we go Bogus if a DS query responds with a CNAME on a would-be Secure zone
  pdns/recursordist/test-syncres_cc6.cc
Labels: rec

#11961 docker: upgrade to bullseye
  Dockerfile-auth
  Dockerfile-dnsdist
  Dockerfile-recursor
Labels: backport to auth-4.7.x?

#11974 dnsdist 1.7.x docker: upgrade to bullseye
  Dockerfile-auth
  Dockerfile-dnsdist
  Dockerfile-recursor
Labels: dnsdist

#11973 dnsdist 1.6.x docker: upgrade to bullseye
  Dockerfile-auth
  Dockerfile-dnsdist
  Dockerfile-recursor
Labels: dnsdist

#11971 clang14 has reached MacOS
  m4/boost.m4
Labels: auth, rec, dnsdist

#11969 rec: Prep rec 4.7.3 4.6.4 4.5.11
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.5.rst
  pdns/recursordist/docs/changelog/4.6.rst
  pdns/recursordist/docs/changelog/4.7.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#11981 rec: Typo in hooks.rst
  pdns/recursordist/docs/lua-scripting/hooks.rst
Labels: docs, rec

#11953 axfr-retriever: abort on chunk with TC set
  pdns/axfr-retriever.cc
Labels: auth, backport to auth-4.5.x?, backport to auth-4.6.x?, backport to auth-4.7.x?

#11957 [clang-tidy] Use nullptr in getNSEC3PARAM + init bool at callsite
  modules/bindbackend/bindbackend2.cc
  modules/bindbackend/binddnssec.cc
  pdns/dbdnsseckeeper.cc
  pdns/dnsseckeeper.hh
  pdns/packethandler.cc
  pdns/pdnsutil.cc
  pdns/tcpreceiver.cc
Labels: auth

#11958 Rec: lock record cache entries
  pdns/recursor_cache.cc
  pdns/recursor_cache.hh
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/rec-main.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc10.cc
  pdns/reczones.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, enhancement

#11986 Coverity Fixes 20220921
  pdns/dnssecinfra.cc
  pdns/dnswriter.cc
  pdns/protozero.hh
  pdns/rcpgenerator.cc
  pdns/rec_channel_rec.cc
  pdns/recursor_cache.cc
  pdns/recursordist/rec-zonetocache.cc
  pdns/ws-recursor.cc
Labels: auth, rec, dnsdist

#12010 Folowup to #11986: coverity fixes
  pdns/dnssecinfra.cc
  pdns/dnswriter.cc
  pdns/protozero.hh
  pdns/rcpgenerator.cc
  pdns/recursor_cache.cc
Labels: auth, rec, dnsdist

#11991 Prep for rec-4.8.0-alpha1
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.8.rst
  pdns/recursordist/docs/changelog/index.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#12015 Only say EOL if a version is actually EOL, plus some fixes to cross references.
  pdns/recursordist/docs/appendices/EOL.rst
  pdns/recursordist/docs/changelog/4.8.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#12016 Say since when XPF has been deprecated in rec
  pdns/recursordist/docs/settings.rst
Labels: docs, rec

#11959 rec: A few tweaks to structured logging calls
  pdns/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-taskqueue.cc
Labels: rec

#12009 Warn if snmp-agent is set but SNMP is not available.
  pdns/recursordist/rec-main.cc
Labels: rec, enhancement

#12011 rec: Enable SNMP for debian and ubuntu builds.
  builder-support/debian/recursor/debian-buster/control
  builder-support/debian/recursor/debian-buster/rules
  m4/pdns_with_net_snmp.m4
Labels: rec

#12017 Include (with precautions) offending data in messages about too long a label
  pdns/dnsname.cc
  pdns/dnsname.hh
Labels: auth, rec, enhancement, dnsdist

#11989 Improve error message when invalid values for `local-address` are provided in recursor config file
  pdns/communicator.hh
  pdns/mastercommunicator.cc
  pdns/misc.cc
  pdns/misc.hh
  pdns/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-tcp.cc
  pdns/test-misc_hh.cc
Labels: rec

#11856 rec: Remove XPF support
  pdns/pdns_recursor.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-tcp.cc
  pdns/recursordist/test-xpf_cc.cc
  pdns/recursordist/xpf.cc
  pdns/recursordist/xpf.hh
Labels: rec

#12023 dnsdist: Update rules-actions.rst
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: docs, defect, dnsdist

#12021 rec: Properly guard TCP_DEFER_ACCEPT
  pdns/recursordist/rec-tcp.cc
Labels: rec

#11768 Enable include-dir by default in RPM builds, to be in line with DEB builds
  builder-support/specs/pdns-recursor.spec
Labels: rec, enhancement, packages

#12020 rec: Make clear structured-logging-backend must be set on the command line
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#11988 dnsdist: Add a build option (define) to prevent loading OpenSSL's errors
  pdns/dnsdistdist/docs/install.rst
  pdns/libssl.cc
Labels: enhancement, dnsdist

#11992 dnsdist: Add missing thread names
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/dnsdist-discovery.cc
Labels: enhancement, dnsdist

#11993 dnsdist: Add build-time options to disable the dynamic blocks and UDP response delay
  pdns/dnsdist-dynblocks.hh
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/dnsdist-dynblocks.cc
  pdns/dnsdistdist/dnsdist-lua-inspection-ffi.cc
  pdns/dnsdistdist/docs/install.rst
  pdns/dnsdistdist/test-dnsdistdynblocks_hh.cc
  tasks.py
Labels: enhancement, dnsdist

#11996 dnsdist: Better code coverage stats when enabled
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
Labels: enhancement, dnsdist

#11987 dnsdist: Slightly reduce the number of allocations in API calls
  pdns/dnsdist-web.cc
Labels: enhancement, dnsdist

#12024 rec: Update docs for getting started and compiling.
  pdns/recursordist/docs/appendices/compiling.rst
  pdns/recursordist/docs/getting-started.rst
  pdns/recursordist/docs/settings.rst
Labels: docs, rec

#11909 rec: add querytime attribute to dq
  pdns/lua-recursor4.cc
  pdns/lua-recursor4.hh
  pdns/pdns_recursor.cc
  pdns/recursordist/docs/lua-scripting/dq.rst
  pdns/recursordist/test-syncres_cc.cc
  pdns/syncres.cc
  regression-tests.recursor-dnssec/test_Lua.py
Labels: rec, enhancement

#11866 Rec: proxymapping stats
  pdns/iputils.hh
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.hh
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-tcp.cc
  pdns/ws-recursor.cc
Labels: rec, enhancement

#12027 rec: If new data is auth and existing data is not, replace even if cache locking is active
  pdns/recursor_cache.cc
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/test-syncres_cc10.cc
Labels: rec

#11949 Rec: provide rcode received from auths metrics
  pdns/dns.cc
  pdns/dns.hh
  pdns/rec-snmp.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/metrics.rst
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/ws-recursor.cc
Labels: rec, enhancement

#12037 dnsdist: Rewrite packets to remove records only if actually needed
  pdns/dnsparser.cc
Labels: enhancement, dnsdist

#12026 dnsdist: Speed up the dnsdist::Protocol() constructor
  pdns/dnsdist-protocols.cc
  pdns/dnsdist-protocols.hh
Labels: enhancement, dnsdist

#12038 rec: when an expired nsec3 entry is seen move it to the front of the expiry queue
  pdns/recursordist/aggressive_nsec.cc
Labels: rec, defect, backport to rec-4.5.x?, backport to rec-4.6.x?, backport to rec-4.7.x?

#11903 rec: protobuf and dnstap metrics
  pdns/fstrm_logger.cc
  pdns/fstrm_logger.hh
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/remote_logger.cc
  pdns/remote_logger.hh
  pdns/ws-recursor.cc
Labels: rec, enhancement, dnsdist

#12000 dnsdist: Speed up DoH handling by preventing allocations and copies
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/dnsdist-lua-ffi.hh
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/dq.rst
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/dnsdistdist/doh.cc
  pdns/doh.hh
  regression-tests.dnsdist/test_DOH.py
Labels: enhancement, dnsdist

#11995 dnsdist: More backend discovery regression tests
  pdns/dnsdistdist/dnsdist-discovery.cc
  regression-tests.dnsdist/test_BackendDiscovery.py
Labels: enhancement, dnsdist

#12007 dnsdist: Add Lua bindings to look up domain and IP addresses from the cache
  pdns/dnsdist-cache.cc
  pdns/dnsdist-cache.hh
  pdns/dnsdistdist/dnsdist-lua-bindings-packetcache.cc
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsparser.cc
  pdns/dnsparser.hh
  pdns/test-dnsdistpacketcache_cc.cc
Labels: enhancement, dnsdist

#11732 dnsdist: Stop background threads and close file descriptors in regression tests
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_CDB.py
  regression-tests.dnsdist/test_Protobuf.py
  regression-tests.dnsdist/test_TCPFastOpen.py
  regression-tests.dnsdist/test_TLS.py
Labels: enhancement, dnsdist

#12039 Dnsdist: coverity 20220928
  pdns/dnscrypt.cc
  pdns/dnscrypt.hh
  pdns/dnsdist-cache.cc
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-protobuf.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/dnsdist-dynblocks.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-dnscrypt.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-packetcache.cc
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/ednscookies.cc
Labels: dnsdist

#12001 dnsdist: Implement a small MAC address cache
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-rings.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/dnsdist-mac-address.cc
  pdns/dnsdistdist/dnsdist-mac-address.hh
Labels: enhancement, dnsdist

#11983 auth: Keyroller first import
  pdns/keyroller/Pipfile
  pdns/keyroller/Pipfile.lock
  pdns/keyroller/README.md
  pdns/keyroller/pdns-keyroller-ctl.py
  pdns/keyroller/pdns-keyroller.conf.example
  pdns/keyroller/pdns-keyroller.py
  pdns/keyroller/pdnsapi/__init__.py
  pdns/keyroller/pdnsapi/api.py
  pdns/keyroller/pdnsapi/cryptokey.py
  pdns/keyroller/pdnsapi/metadata.py
  pdns/keyroller/pdnsapi/zone.py
  pdns/keyroller/pdnskeyroller/__init__.py
  pdns/keyroller/pdnskeyroller/config.py
  pdns/keyroller/pdnskeyroller/daemon.py
  pdns/keyroller/pdnskeyroller/domainconfig.py
  pdns/keyroller/pdnskeyroller/domainstate.py
  pdns/keyroller/pdnskeyroller/keyroll.py
  pdns/keyroller/pdnskeyroller/keyrollerdomain.py
  pdns/keyroller/pdnskeyroller/prepublishkeyroll.py
  pdns/keyroller/pdnskeyroller/util.py
  pdns/keyroller/requirements-test.txt
  pdns/keyroller/requirements.txt
  pdns/keyroller/setup.py
Labels: auth, enhancement, backport to auth-4.7.x?

#12028 auth: pdnsutil edit-zone, detect capitalization changes in LUA, TXT a…
  pdns/dnsparser.hh
Labels: backport to auth-4.6.x?

#11954 auth AXFR server: abort on chunk with TC set
  pdns/dnspacket.cc
  pdns/dnspacket.hh
  pdns/tcpreceiver.cc
Labels: auth, backport to auth-4.7.x?
