Repository PowerDNS/pdns, pull requests merged in 2022-03, with the labels that each got.

#11365 rec: string::find(char) returns a size_type, not a boolean; coverity CID 1475294
  pdns/syncres.cc
Labels: rec

#11380 rec: Backport of 11300 to rec-4.6.x: Use the Lua context stored in SyncRes when calling hooks
  pdns/pdns_recursor.cc
Labels: rec, defect

#11384 Backport of 11300 to rec-4.5.x: Use the Lua context stored in SyncRes when calling hooks
  pdns/pdns_recursor.cc
Labels: rec, defect

#11399 rec: Backport 11044 to rec 4.5.x: Fix v6 test setup and start using a more modern auth on circleci
  .circleci/config.yml
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor/config.sh
Labels: rec

#11400 rec: Backport 11044 to rec 4.4.x: Fix v6 test setup and start using a more modern auth on circleci
  .circleci/config.yml
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor/config.sh
Labels: rec

#11374 dnsdist: Properly release UDP states when using random IDs
  pdns/dnsdist.cc
Labels: defect, dnsdist

#11375 dnsdist: The check interval applies to health-check, not timeouts
  pdns/dnsdist.cc
Labels: defect, dnsdist, backport to dnsdist-1.7.x

#11388 dnsdist: add --log-timestamps flag
  pdns/dnsdist.cc
  pdns/dnsdistdist/docs/manpages/dnsdist.1.rst
  pdns/dnsdistdist/test-dnsdistlbpolicies_cc.cc
  pdns/dolog.hh
  pdns/logger.cc
  pdns/test-dnscrypt_cc.cc
Labels: feature request, dnsdist

#11314 auth: fix proxy protocol query statistics
  pdns/common_startup.cc
  pdns/distributor.hh
  pdns/tcpreceiver.cc
  pdns/test-distributor_hh.cc
Labels: auth, defect, enhancement, backport to auth-4.6.x?

#11398 Document that XPF is deprecated and wil be removed
  pdns/dnsdistdist/docs/advanced/passing-source-address.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/recursordist/docs/settings.rst
Labels: auth, docs, rec, dnsdist

#11389 auth API: fetch individual rrsets
  docs/http-api/swagger/authoritative-api-swagger.yaml
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: backport to auth-4.6.x?

#11415 dnsdist: more useful default ports for DoT/DoH backends
  pdns/dnsdist-lua.cc
Labels: enhancement, dnsdist, backport to dnsdist-1.7.x

#11376 rec: Be more careful using refresh mode only for the record asked.
  pdns/recursordist/taskqueue.cc
  pdns/syncres.cc
Labels: rec, backport to rec-4.6.x?

#11397 rec: Wrong task was used to clean outgoing TCP
  pdns/recursordist/rec-main.cc
Labels: rec

#11405 rec: Distinguish between unreachable and timeout for throttling
  pdns/syncres.cc
Labels: rec

#11421 auth docs: add algorithm rolling guide
  .github/actions/spell-check/expect.txt
  docs/guides/algoroll.rst
  docs/guides/index.rst
Labels: auth, docs

#11410 dnsdist: Define types for Lua arrays and associative arrays
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdist-lua-vars.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdistdist/dnsdist-lua-bindings-dnscrypt.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-packetcache.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-protobuf.cc
  pdns/dnsdistdist/dnsdist-lua-web.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.hh
  pdns/dnsdistdist/doh.cc
  pdns/doh.hh
Labels: enhancement, dnsdist

#11423 auth docs: fix typo in RFC number
  docs/guides/algoroll.rst
  docs/guides/kskroll.rst
Labels: auth, docs

#11418 rec: Backport 11376 to rec 4.6.x: Be more careful using refresh mode only for the record asked
  pdns/syncres.cc
Labels: rec, defect

#11430 Make getMessageFromErrno work on broken MacOS strerror_r
  configure.ac
  pdns/dnsdistdist/configure.ac
  pdns/misc.cc
  pdns/recursordist/configure.ac
Labels: defect

#11433 dnsdist: fix build on MacOS and OpenBSD: include <unordered_map>
  pdns/doh.hh
Labels: defect, dnsdist

#11436 dnsdist: Fix compilation by adding a missing <optional> include in misc.cc
  pdns/misc.cc
Labels: defect, dnsdist

#11396 Rec: proxy by table
  .github/actions/spell-check/expect.txt
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/lua-config/index.rst
  pdns/recursordist/docs/lua-config/protobuf.rst
  pdns/recursordist/docs/lua-config/proxymapping.rst
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-tcp.cc
  pdns/syncres.hh
  regression-tests.recursor-dnssec/test_Protobuf.py
  regression-tests.recursor-dnssec/test_ProxyByTable.py
Labels: rec, enhancement

#11308 rec: Remember parent NS set, to be able to fallback to it if needed
  pdns/rec_channel_rec.cc
  pdns/rec_control.cc
  pdns/recursordist/docs/appendices/internals.rst
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/docs/upgrade.rst
  pdns/recursordist/rec-main.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc1.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, enhancement

#11442 rec: Note that api-config-dir and include-dir should be the same for updates via REST to work
  pdns/recursordist/docs/http-api/endpoint-servers-config.rst
  pdns/recursordist/docs/lua-config/proxymapping.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#11443 rec: Move implemenation of failed and non-resolving table to .cc file
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec

#11449 docs: Pin jinja2 to < 3.1.0
  docs/requirements.txt
  pdns/dnsdistdist/docs/requirements.txt
  pdns/recursordist/docs/requirements.txt
Labels: auth, docs, rec, defect, dnsdist

#11452 rec/auth: Prep for security release 2022-01 (low severity)
  docs/changelog/4.4.rst
  docs/changelog/4.5.rst
  docs/changelog/4.6.rst
  docs/secpoll.zone
  docs/security-advisories/powerdns-advisory-2022-01.rst
  pdns/recursordist/docs/changelog/4.4.rst
  pdns/recursordist/docs/changelog/4.5.rst
  pdns/recursordist/docs/changelog/4.6.rst
  pdns/recursordist/docs/security-advisories/powerdns-advisory-2022-01.rst
Labels: docs

#11445 rec: Only log "Unable to send NOD lookup" if log-comnon-errors is set
  pdns/pdns_recursor.cc
Labels: rec, enhancement, backport to rec-4.6.x?

#11465 Fill in PR#s for Security Advisory 2022-01
  docs/changelog/4.4.rst
  docs/changelog/4.5.rst
  docs/changelog/4.6.rst
  pdns/recursordist/docs/changelog/4.4.rst
  pdns/recursordist/docs/changelog/4.5.rst
  pdns/recursordist/docs/changelog/4.6.rst
Labels: docs

#11437 dnsdist: Only allocate the health-check mplexer when needed
  pdns/dnsdist.cc
Labels: enhancement, dnsdist

#11419 rec: Backport 11376 to rec 4.5.x: Be more careful using refresh mode only for the record asked
  pdns/syncres.cc
Labels: rec, defect

#11481 rec: rec-4.4.x has no waitForTCPSocket in test code
  regression-tests.recursor-dnssec/test_RPZIncomplete.py
Labels: rec

#11482 Fix a couple of static analysis warnings
  ext/lmdb-safe/lmdb-safe.cc
  ext/luawrapper/include/LuaContext.hpp
Labels: auth, rec, dnsdist

#11471 rec: In the handler, call sd_notify just befere entering the main loop in RecursorThread
  pdns/recursordist/rec-main.cc
Labels: rec, enhancement

#11476 Switch from boost::function to std::function everywhere
  pdns/mtasker.hh
  pdns/mtasker_context.hh
  pdns/mtasker_fcontext.cc
  pdns/mtasker_ucontext.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/statbag.hh
  pdns/syncres.hh
  pdns/webserver.hh
  pdns/ws-auth.hh
  pdns/ws-recursor.hh
  pdns/zone2ldap.cc
Labels: auth, rec, enhancement

#11444 rec: Use nice format for timestamp printing
  pdns/syncres.cc
Labels: rec
