Repository PowerDNS/pdns, pull requests merged in 2022-07, with the labels that each got.

#11744 rec: remove > 5 check on ttl of glue from the cache.
  pdns/syncres.cc
Labels: rec, enhancement

#11726 Rec: allow generic format of records in zone file
  pdns/recursordist/rec-zonetocache.cc
  pdns/recursordist/test-rec-zonetocache.cc
Labels: rec, enhancement, backport to rec-4.7.x?

#11755 auth: Fix getTSIGKeys() return value in GSQL and LMDB backends
  modules/lmdbbackend/lmdbbackend.cc
  pdns/backends/gsql/gsqlbackend.cc
Labels: auth, defect

#11746 auth-4.6.x 2136: match autosplit TXT correctly
  modules/tinydnsbackend/data
  modules/tinydnsbackend/data.cdb
  pdns/rfc2136handler.cc
  regression-tests.nobackend/tinydns-data-check/expected_result
  regression-tests/tests/1dyndns-update-add-delete-txt/command
  regression-tests/tests/1dyndns-update-add-delete-txt/description
  regression-tests/tests/1dyndns-update-add-delete-txt/expected_result
  regression-tests/tests/1dyndns-update-add-delete-txt/skip.nodyndns
  regression-tests/zones/test.dyndns.orig
Labels: auth, defect

#11747 rec: Backport 11641 to rec-4.7.x: Move to v2 for CodeQL action, v1 will be deprecated dec 2022
  .github/workflows/codeql-analysis.yml
Labels: rec

#11748 rec: Backport 11692 to rec-4.7.x: Run tasks from houskeeping thread in a proper way.
  pdns/recursordist/rec-main.cc
Labels: rec, defect

#11750 rec: Backport 11726 to rec 4.7.x: Convert generic format while parsing zone files for ZoneToCache
  pdns/recursordist/rec-zonetocache.cc
  pdns/recursordist/test-rec-zonetocache.cc
Labels: rec, enhancement

#11751 rec: Avoid log spam in tests for for zonemd generic
  pdns/recursordist/test-rec-zonetocache.cc
Labels: rec, enhancement, easy

#11754 rec: Set TCP_NODELAY on in and outgoing TCP
  pdns/lwres.cc
  pdns/recursordist/rec-tcp.cc
Labels: rec, enhancement

#11723 dnsdist: Use getrandom() if available
  pdns/dnsdistdist/configure.ac
  pdns/dnsdistdist/dnsdist-random.cc
Labels: enhancement, dnsdist

#11734 dnsdist: Set TCP_NODELAY on the TCP connection to backends
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
Labels: enhancement, dnsdist

#11763 Add option to NegativeAndSOAAction to place SOA in the authority section
  pdns/dnsdist-ecs.cc
  pdns/dnsdist-ecs.hh
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/test-dnsdist_cc.cc
  regression-tests.dnsdist/test_RulesActions.py
Labels: enhancement, dnsdist

#11762 rec: Prep for rec-4.7.1
  .github/actions/spell-check/expect.txt
  .github/actions/spell-check/patterns.txt
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.7.rst
Labels: docs, rec

#11552 auth: Simplify code in `Bind2Backend::lookup()`
  modules/bindbackend/bindbackend2.cc
Labels: auth, enhancement

#11769 rec: Uninited vars, seen by compiling on jammy
  pdns/lwres.cc
  pdns/recursordist/test-mtasker.cc
  pdns/syncres.cc
Labels: rec

#11765 auth-4.6.x: fix deleteDomain() in lmdb backend
  modules/lmdbbackend/lmdbbackend.cc
Labels: auth, defect

#11779 rec: edns table simplification followup
  pdns/syncres.cc
Labels: rec, enhancement
