Repository PowerDNS/pdns, pull requests merged in 2022-10, with the labels that each got.

#12046 Fix compilation of the event ports multiplexer
  pdns/portsmplexer.cc
Labels: auth, rec, defect, dnsdist, backport to dnsdist-1.7.x, backport to rec-4.7.x?, backport to auth-4.7.x?

#12048 rec: Fix --config (should be equal to --config=default), followup to #11907
  pdns/recursordist/rec-main.cc
Labels: rec, defect

#12049 rec: fix build with --disable-dnstap, followup to #11903
  pdns/rec_channel_rec.cc
Labels: rec, defect

#12047 rec: add support for NOD/UDR notifications using dnstap
  pdns/dnstap.cc
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/indexTOC.rst
  pdns/recursordist/docs/lua-config/protobuf.rst
  pdns/recursordist/docs/nod_udr.rst
  pdns/recursordist/docs/security.rst
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-tcp.cc
  pdns/remote_logger.hh
  regression-tests.recursor-dnssec/test_RecDnstap.py
Labels: rec, enhancement

#12041 rec: Regression test for locked cache
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_LockedCache.py
Labels: rec

#12051 rec 4.8.x branch: Remove unneeded targets according to checklist
  .circleci/config.yml
  .github/workflows/build-and-test-all.yml
  .github/workflows/builder.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/secpoll.yml
  .github/workflows/spelling.yml
  .github/workflows/spelling2.yml
Labels: rec

#12054 Rec: fix locked regr test
  regression-tests.recursor-dnssec/test_LockedCache.py
Labels: rec, backport to rec-4.8.x?

#12057 rec: Test move a rec-specific file to recursordist approach 2
  pdns/recursordist/test-recpacketcache_cc.cc
  pdns/test-recpacketcache_cc.cc
Labels: rec

#12058 rec: Prep for rec-4.8.0-beta1
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.8.rst
  pdns/recursordist/docs/conf.py
  pdns/recursordist/docs/manpages/pdns_recursor.1.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#12067 ednscookies: Fix another store_truncates_time_t coverity report
  pdns/ednscookies.cc
Labels: auth, dnsdist

#12025 Proxy Protocol: Only allocate once when generating the payload
  pdns/proxy-protocol.cc
  pdns/test-proxy_protocol_cc.cc
Labels: enhancement, dnsdist

#12012 dnsdist: More SVC unit tests
  pdns/dnsdistdist/test-dnsdistsvc_cc.cc
Labels: enhancement, dnsdist

#12008 dnsdist: Add Lua binding for inspecting the in-memory ring buffers
  pdns/dnsdist-lua.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdist-protocols.cc
  pdns/dnsdist-protocols.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-lua-bindings-rings.cc
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: enhancement, dnsdist

#12003 dnsdist: Add a 'single acceptor thread' build option, reducing the number of threads
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-tcp.hh
  pdns/dnsdistdist/docs/install.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/doh.cc
Labels: enhancement, dnsdist

#11901 dnsdist: Faster cache-lookups for DNS over HTTPS queries
  pdns/dnsdist-cache.cc
  pdns/dnsdist-cache.hh
  pdns/dnsdist.cc
  pdns/test-dnsdistpacketcache_cc.cc
Labels: enhancement, dnsdist

#11994 dnsdist: Add more Lua bindings for network-related operations
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-lua-bindings-network.cc
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/dnsdist-lua-network.cc
  pdns/dnsdistdist/dnsdist-lua-network.hh
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/logging.rst
  pdns/dnsdistdist/test-dnsdistluanetwork.cc
  pdns/iputils.cc
  pdns/iputils.hh
  regression-tests.dnsdist/resolv.conf.sample
  regression-tests.dnsdist/test_NetworkBindings.py
Labels: enhancement, dnsdist

#12071 dnsdist: 'newThread()' and co were actually introduced in 1.8
  pdns/dnsdistdist/docs/reference/config.rst
Labels: docs, defect, dnsdist

#12022 dnsdist: Add Lua helpers to look into the content of DNS payloads
  .github/actions/spell-check/expect.txt
  pdns/dnsdist-lua.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-dnsparser.cc
  pdns/dnsdistdist/dnsdist-dnsparser.hh
  pdns/dnsdistdist/dnsdist-lua-bindings-dnsparser.cc
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/docs/reference/dnsparser.rst
  pdns/dnsdistdist/docs/reference/index.rst
  pdns/dnsdistdist/test-dnsdist-dnsparser.cc
  regression-tests.dnsdist/test_DNSParser.py
Labels: enhancement, dnsdist

#12077 retain output when expunging from multiple caches
  pdns/dnsdistdist/dnsdist-lua-bindings-packetcache.cc
Labels: defect, dnsdist

#12074 add getPoolNames() function, returning a list of pool names
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: enhancement, dnsdist, backport to dnsdist-1.7.x

#12084 Fix spell-checking issues
  .github/actions/spell-check/expect.txt
  pdns/recursordist/docs/changelog/4.8.rst
  pdns/recursordist/docs/getting-started.rst
  pdns/recursordist/docs/lua-config/protobuf.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, defect

#12070 auth: pdnsutil check-zone, skip metadata check for backends without g…
  pdns/pdnsutil.cc
Labels: backport to auth-4.7.x?

#11675 dnsdist: skip DoT/DoH frontend when a tls configuration error occurs
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: enhancement, dnsdist

#12097 auth: fix axfr for tinydns and pipe backend
  pdns/tcpreceiver.cc
Labels: backport to auth-4.7.x?

#12065 dnsdist: Implement a 'lazy' health-checking mode
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-snmp.cc
  pdns/dnsdist-snmp.hh
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/dnsdist-discovery.cc
  pdns/dnsdistdist/dnsdist-healthchecks.cc
  pdns/dnsdistdist/dnsdist-healthchecks.hh
  pdns/dnsdistdist/dnsdist-nghttp2.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/dnsdistdist/dnsdist-tsan.supp
  pdns/dnsdistdist/docs/guides/downstreams.rst
  pdns/dnsdistdist/docs/imgs/DNSDistLazyHealthChecks.png
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/test-dnsdistbackend_cc.cc
  pdns/test-dnsdist_cc.cc
  regression-tests.dnsdist/test_BackendDiscovery.py
  regression-tests.dnsdist/test_HealthChecks.py
Labels: enhancement, dnsdist

#12110 auth-4.7: include auth 4.7 schema upgrade files in tarballs and packages
  builder-support/specs/pdns.spec
  modules/gmysqlbackend/Makefile.am
  modules/godbcbackend/Makefile.am
  modules/gpgsqlbackend/Makefile.am
  modules/gsqlite3backend/Makefile.am
Labels: auth, defect

#12109 auth: include auth 4.7 schema upgrade files in tarballs and packages
  builder-support/specs/pdns.spec
  docs/upgrading.rst
  modules/gmysqlbackend/Makefile.am
  modules/godbcbackend/Makefile.am
  modules/gpgsqlbackend/Makefile.am
  modules/gsqlite3backend/Makefile.am
Labels: auth, defect

#12081 rec: Log invalid RPZ content when obtained via IXFR
  pdns/rpzloader.cc
Labels: rec, defect, backport to rec-4.5.x?, backport to rec-4.6.x?, backport to rec-4.7.x?, backport to rec-4.8.x?

#12121 rec: More clear trace message for cache-only lookups.
  pdns/syncres.cc
Labels: rec, enhancement

#12064 Replace itoa() with std::to_string()
  .github/actions/spell-check/allow.txt
  modules/gmysqlbackend/smysql.cc
  modules/pipebackend/coprocess.cc
  modules/pipebackend/pipebackend.cc
  modules/remotebackend/pipeconnector.cc
  pdns/arguments.cc
  pdns/auth-main.cc
  pdns/backends/gsql/gsqlbackend.cc
  pdns/bindparser.yy
  pdns/dynhandler.cc
  pdns/misc.cc
  pdns/misc.hh
  pdns/qtype.cc
  pdns/resolver.cc
  pdns/rfc2136handler.cc
  pdns/syncres.hh
Labels: auth, rec, dnsdist

#12123 auth: catalog zones, avoid bulk zone reset while migrating to a catalog and fix a bug
  pdns/slavecommunicator.cc
Labels: defect

#12131 auth: Document that `consistent-backends` should not be used with scoped records
  docs/settings.rst
Labels: auth, docs

#12132 auth: take into account default urlcheck timeout is 2 seconds for Lua records tests
  regression-tests.auth-py/test_LuaRecords.py
Labels: auth, backport to auth-4.6.x?, backport to auth-4.7.x?

#12063 rec: Compare old and new config for protobuf logger config objects on Lua config reload
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/rec_channel_rec.cc
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-tcp.cc
Labels: rec, enhancement, backport to rec-4.8.x?

#12133 rec: Fix assertAlmostEqual call to compare absolute difference
  regression-tests.recursor-dnssec/test_LockedCache.py
Labels: rec, backport to rec-4.8.x?

#12130 Auth: xfr refresh check
  pdns/backends/gsql/gsqlbackend.cc
  regression-tests.auth-py/test_IXFR.py
Labels: auth, backport to auth-4.7.x?

#12120 rec: If we encounter a loop in QM, continue with the next iteration.
  pdns/syncres.cc
Labels: rec, enhancement, backport to rec-4.8.x?

#11945 auth-4.6.x: initialize zone cache after dropping privileges; Detect invalid bytes in makeBytesFromHex()
  pdns/common_startup.cc
  pdns/misc.cc
  pdns/receiver.cc
  pdns/test-misc_hh.cc
Labels: auth
