Repository PowerDNS/pdns, pull requests merged in 2022-01, with the labels that each got.

#11083 auth: remove dead return statements
  modules/bindbackend/bindbackend2.cc
  modules/bindbackend/binddnssec.cc
  modules/godbcbackend/sodbc.cc
  pdns/backends/gsql/gsqlbackend.cc
  pdns/resolver.cc
Labels: auth, enhancement

#11144 pdnsutil edit-zone: fix n and e behaviour on increase-serial prompt
  pdns/pdnsutil.cc
Labels: backport to auth-4.5.x?, backport to auth-4.6.x?

#11150 Bump copyright year
  builder-support/debian/authoritative/debian-buster/copyright
  builder-support/debian/dnsdist/debian-buster/copyright
  builder-support/debian/recursor/debian-buster/copyright
  pdns/version.cc
Labels: auth, rec, dnsdist

#11124 rec: enable recursor regression tests using tsan
  .github/workflows/build-and-test-all.yml
  pdns/pdns_recursor.cc
  pdns/syncres.cc
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_ECS.py
  regression-tests.recursor-dnssec/test_ExtendedErrors.py
  regression-tests.recursor-dnssec/test_Lua.py
  regression-tests.recursor-dnssec/test_Prometheus.py
  regression-tests.recursor-dnssec/test_RoutingTag.py
Labels: rec

#11137 Try shorter thread names
  pdns/threadname.cc
Labels: auth, rec, dnsdist, backport to rec-4.6.x?

#11152 auth: lmdb, check if the lookup name is part of the zone
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
Labels: auth, defect, backport to auth-4.5.x?, backport to auth-4.6.x?

#11154 auth: unixodbc-dev is dependency
  tasks.py
Labels: auth

#11141 Stop using the deprecated boost::shared_array
  pdns/axfr-retriever.cc
  pdns/axfr-retriever.hh
  pdns/epollmplexer.cc
  pdns/kqueuemplexer.cc
  pdns/mplexer.hh
  pdns/pdns_recursor.cc
  pdns/portsmplexer.cc
Labels: auth, rec, enhancement, dnsdist

#11072 auth docs: overview of DNS storage classes inside PowerDNS
  docs/appendices/backend-writers-guide.rst
Labels: auth, docs, enhancement

#11102 auth: add autoprimary management in API & pdnsutil
  docs/backends/bind.rst
  docs/http-api/autoprimaries.rst
  docs/http-api/index.rst
  docs/http-api/swagger/authoritative-api-swagger.yaml
  docs/manpages/pdnsutil.1.rst
  modules/bindbackend/bindbackend2.cc
  modules/bindbackend/bindbackend2.hh
  modules/gmysqlbackend/gmysqlbackend.cc
  modules/godbcbackend/godbcbackend.cc
  modules/gpgsqlbackend/gpgsqlbackend.cc
  modules/gsqlite3backend/gsqlite3backend.cc
  pdns/backends/gsql/gsqlbackend.cc
  pdns/backends/gsql/gsqlbackend.hh
  pdns/dnsbackend.hh
  pdns/pdnsutil.cc
  pdns/ueberbackend.cc
  pdns/ueberbackend.hh
  pdns/ws-api.cc
  pdns/ws-auth.cc
  regression-tests.api/test_Servers.py
Labels: auth, feature request, backport to auth-4.6.x?

#11162 auth: Print algo mnemonic for speed test
  pdns/dnssecinfra.cc
Labels: auth

#11161 auth 4.6.x: add autoprimary management in API & pdnsutil #11102
  docs/backends/bind.rst
  docs/http-api/autoprimaries.rst
  docs/http-api/index.rst
  docs/http-api/swagger/authoritative-api-swagger.yaml
  docs/manpages/pdnsutil.1.rst
  modules/bindbackend/bindbackend2.cc
  modules/bindbackend/bindbackend2.hh
  modules/gmysqlbackend/gmysqlbackend.cc
  modules/godbcbackend/godbcbackend.cc
  modules/gpgsqlbackend/gpgsqlbackend.cc
  modules/gsqlite3backend/gsqlite3backend.cc
  pdns/backends/gsql/gsqlbackend.cc
  pdns/backends/gsql/gsqlbackend.hh
  pdns/dnsbackend.hh
  pdns/pdnsutil.cc
  pdns/ueberbackend.cc
  pdns/ueberbackend.hh
  pdns/ws-api.cc
  pdns/ws-auth.cc
  regression-tests.api/test_Servers.py
Labels: auth, enhancement

#11168 rec: servfail.nl changed setup
  regression-tests.recursor-dnssec/test_ExtendedErrors.py
Labels: rec, backport to rec-4.6.x?

#10998 Rec: split pdns_recursor.cc
  .not-formatted
  pdns/lua-recursor4.cc
  pdns/lua-recursor4.hh
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-tcp.cc
  pdns/syncres.hh
  pdns/ws-recursor.cc
Labels: rec

#11156 dnsdist-1.7.x: Test correct member in DynBlockRatioRule::warningRatioExceeded
  pdns/dnsdist-dynblocks.hh
Labels: defect, dnsdist

#11176 dnsdist: Work around a compiler bug seen on OpenBSD/amd64 using clang-13
  pdns/dnsdist-lua-bindings.cc
Labels: dnsdist

#11177 doc: remove auth-can-lower-ttl
  pdns/recursordist/docs/settings.rst
Labels: docs, rec

#11155 dnsdist: Document webserver and actions removals in 1.7.0
  pdns/dnsdistdist/docs/guides/webserver.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: docs, dnsdist

#11172 dnsdist: Remove temporary files used in the KVS unit tests
  pdns/dnsdistdist/test-dnsdistkvs_cc.cc
Labels: enhancement, dnsdist

#11157 Auth: add zone removal to the zone cache
  docs/.gitignore
  pdns/auth-zonecache.cc
  pdns/auth-zonecache.hh
  pdns/test-auth-zonecache_cc.cc
  pdns/test-ueberbackend_cc.cc
  pdns/ws-auth.cc
Labels: auth, defect, backport to auth-4.6.x?

#11164 Update protozero to 1.7.1
  ext/protozero/CHANGELOG.md
  ext/protozero/include/protozero/buffer_string.hpp
  ext/protozero/include/protozero/buffer_vector.hpp
  ext/protozero/include/protozero/byteswap.hpp
  ext/protozero/include/protozero/version.hpp
Labels: auth, rec, dnsdist

#11178 dnsdist: Build with `-fvisibility=hidden` by default
  pdns/dnsdistdist/configure.ac
Labels: enhancement, dnsdist

#11184 dnsdist: add support to store mac address in query rings
  pdns/dnsdist-rings.hh
  pdns/dnsdistdist/test-dnsdistrings_cc.cc
  pdns/misc.cc
  pdns/misc.hh
Labels: enhancement, dnsdist

#11169 rec: Backport 11109 to rec-4.6.x: Two more features to print
  pdns/version.cc
Labels: rec

#11170 rec: Backport 11137 to rec 4.6.x: try shorted thread names
  pdns/threadname.cc
Labels: rec

#11186 rec: Build with -fvisibility=hidden by default
  pdns/recursordist/configure.ac
Labels: rec

#11171 dnsdist: Defer the actual allocation of the ring buffer entries
  pdns/dnsdist-rings.cc
  pdns/dnsdist-rings.hh
  pdns/dnsdist.cc
  pdns/dnsdistdist/test-dnsdistdynblocks_hh.cc
  pdns/dnsdistdist/test-dnsdistrings_cc.cc
Labels: enhancement, dnsdist

#11190 dnswasher: Fix compilation with !HAVE_IPCIPHER
  pdns/dnswasher.cc
Labels: tools

#11188 dnsdist: ChangeLog and secpoll update for 1.7.0
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#11196 auth, dnsdist, rec: Fix build with OpenSSL 3.0.0
  pdns/credentials.cc
  pdns/libssl.cc
Labels: auth, rec, dnsdist

#11195 dnsdist-1.7.x: Fix compilation with OpenSSL 3.0.0
  pdns/credentials.cc
Labels: defect, dnsdist

#11200 Zonemd and sha.hh build issues
  Makefile.am
  pdns/sha.hh
Labels: auth, rec, defect, dnsdist

#11203 rec: Fix #include "logging.hh", it should not be conditional
  pdns/recursordist/rec-main.cc
Labels: rec, defect

#11199 builder: add Ubuntu jammy target
  .github/workflows/builder.yml
  builder-support/dockerfiles/Dockerfile.target.ubuntu-jammy
Labels: backport to rec-4.6.x?, backport to dnsdist-1.7.x, backport to auth-4.6.x?

#11208 CI: dnspython 2.2.0 breaks auth and ixfrdist testing, pin to 2.1.0
  regression-tests.auth-py/requirements.txt
  regression-tests.ixfrdist/requirements.txt
Labels: backport to auth-4.5.x?, backport to auth-4.6.x?

#11212 Add missing dir in the zonemd test file paths
  Makefile.am
Labels: auth

#11217 rec: Fix a typo in the 'semantics' section of the hooks documentation
  pdns/recursordist/docs/lua-scripting/hooks.rst
Labels: docs, rec, defect

#11197 Stop using the now deprecated and useless std::binary_function
  pdns/dnsname.hh
  pdns/dnssecinfra.hh
  pdns/iputils.hh
  pdns/misc.hh
  pdns/zonemd.cc
Labels: auth, rec, dnsdist

#11235 auth-4.6.x: Stop using the now deprecated and useless std::binary_function
  pdns/dnsname.hh
  pdns/dnssecinfra.hh
  pdns/iputils.hh
  pdns/misc.hh
Labels: auth, enhancement

#11094 dnsdist-1.7: Docker images: remove capability requirements
  Docker-README.md
  Dockerfile-auth
  Dockerfile-dnsdist
  Dockerfile-recursor
Labels: dnsdist

#11241 auth lmdb: add a UUID to newly created databases
  modules/lmdbbackend/lmdbbackend.cc
  pdns/Makefile.am
Labels: auth, enhancement

#11242 dnsdist upgrade guide: move docker note to 1.7.1
  pdns/dnsdistdist/docs/upgrade_guide.rst
Labels: docs, dnsdist

#11255 dnsdist: Fix 'inConfigCheck()'
  pdns/dnsdist-lua.cc
Labels: defect, dnsdist, backport to dnsdist-1.6.x?, backport to dnsdist-1.7.x

#11253 dnsdist: Fix the health-check timeout for outgoing DoH connections
  pdns/dnsdistdist/dnsdist-tcp-downstream.hh
Labels: defect, dnsdist, backport to dnsdist-1.7.x

#11245 rec: a CNAME answer on DS query should abort DS retrieval
  pdns/recursordist/test-syncres_cc6.cc
  pdns/syncres.cc
Labels: rec, defect, backport to rec-4.6.x?

#11225 rec: Reject non-apex NSEC(3)s that have both the NS and SOA bits set
  pdns/recursordist/test-syncres_cc8.cc
  pdns/validate.cc
Labels: rec, enhancement, backport to rec-4.6.x?

#11256 rec: Fix the exit code when the recursor fails to start in our tests
  regression-tests.recursor-dnssec/recursortests.py
Labels: rec, defect
