Repository PowerDNS/pdns, pull requests merged in 2022-04, with the labels that each got.

#11312 Rec: packet cache improvements
  .not-formatted
  pdns/cachecleaner.hh
  pdns/lwres.cc
  pdns/pdns_recursor.cc
  pdns/rec_channel_rec.cc
  pdns/recpacketcache.cc
  pdns/recpacketcache.hh
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/syncres.cc
  pdns/syncres.hh
  pdns/test-recpacketcache_cc.cc
Labels: rec, enhancement

#11494 Bunch of Coverity fixes
  pdns/dnsrecords.cc
  pdns/lwres.cc
  pdns/misc.cc
  pdns/recpacketcache.cc
  pdns/recpacketcache.hh
  pdns/recursor_cache.hh
  pdns/recursordist/rec-main.cc
  pdns/rpzloader.cc
  pdns/syncres.hh
Labels: auth, rec, dnsdist

#11495 Coverity: 1419402 Uncaught exception in LuaWrapper
  ext/luawrapper/include/LuaContext.hpp
Labels: auth, rec, dnsdist

#11496 Prevent segfault with empty allow-from-file and allow-from options
  pdns/recursordist/rec-main.cc
Labels: rec, defect

#11466 ixfr: Fix a case where an incomplete read caused by network error might result in a truncated zone
  pdns/ixfr.cc
  regression-tests.auth-py/runtests
  regression-tests.auth-py/test_XFRIncomplete.py
  regression-tests.recursor-dnssec/test_RPZIncomplete.py
Labels: auth, rec, defect

#11484 rec: Use boost::mult-index for nsspeed table and make it shared.
  pdns/rec_channel_rec.cc
  pdns/recursordist/rec-main.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, enhancement

#11499 auth-4.4.x: Unify CodeQL config between branches
  .github/workflows/codeql-analysis.yml
Labels: auth

#11483 Prep for 4.5.9 and 4.6.2 releases
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.5.rst
  pdns/recursordist/docs/changelog/4.6.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#11497 dnsdist: Add setTCPFastOpenKey()
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: enhancement, dnsdist

#11509 Rec: three more coverity cases: 1487743, 1419403 and 1419401
  pdns/iputils.hh
  pdns/misc.cc
Labels: auth, rec, dnsdist

#11506 Another case of unaligned access of header data found by ubsan on OpenBSD
  pdns/packetcache.hh
Labels: auth, rec

#11492 Rec: add deferred mode for additional records
  pdns/recursordist/docs/lua-config/additionals.rst
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, enhancement

#11516 followup on #11509: copyTree() also throws a std::logic_exception on internal inconsistencies
  pdns/iputils.hh
Labels: auth, rec, dnsdist

#11517 Multiplexer: Take the maximum number of events as a hint
  pdns/devpollmplexer.cc
  pdns/epollmplexer.cc
  pdns/kqueuemplexer.cc
  pdns/mplexer.hh
  pdns/pollmplexer.cc
  pdns/portsmplexer.cc
  pdns/recursordist/rec-main.cc
  pdns/test-mplexer.cc
Labels: auth, rec, dnsdist

#11515 dnsdist: Add more build-time options to select features
  pdns/credentials.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/install.rst
  pdns/dnsdistdist/doh.cc
  pdns/libssl.cc
  pdns/libssl.hh
  pdns/stat_t.hh
  pdns/tcpiohandler.cc
  pdns/test-credentials_cc.cc
  tasks.py
Labels: enhancement, dnsdist

#11513 dnsdist: Move DownstreamConnectionsManager to its own header
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-downstream-connection.hh
  pdns/dnsdistdist/dnsdist-nghttp2.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.hh
  pdns/dnsdistdist/test-dnsdist-connections-cache.cc
Labels: enhancement, dnsdist

#11507 Rec: proxy by table per domain queried
  pdns/pdns_recursor.cc
  pdns/rec-lua-conf.cc
  pdns/rec-lua-conf.hh
  pdns/recursordist/docs/lua-config/proxymapping.rst
  pdns/recursordist/docs/lua-scripting/dnsname.rst
  pdns/recursordist/rec-tcp.cc
  regression-tests.recursor-dnssec/test_Protobuf.py
Labels: rec, enhancement

#11523 Reject BPFFilter::attachToAllBinds() at configuration time
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/docs/advanced/ebpf.rst
  pdns/dnsdistdist/docs/reference/ebpf.rst
Labels: docs, defect, dnsdist

#11524 Update moment.min.js (path traversal fix; we are unaffected)
  pdns/dnsdistdist/html/js/moment.min.js
  pdns/dnsdistdist/src_js/moment.js
  pdns/recursordist/html/js/moment.js
  pdns/recursordist/html/js/moment.min.js
Labels: rec, dnsdist

#11521 auth-4.6.2: changelog + secpoll
  docs/changelog/4.6.rst
  docs/secpoll.zone
Labels: auth

#11525 Mention addCapabilitiesToRetain in eBPF docs.
  pdns/dnsdistdist/docs/advanced/ebpf.rst
Labels: docs, dnsdist

#11512 dnsdist: Bunch of small cleanups
  pdns/dnsdist-rings.hh
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/configure.ac
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/dnsdist-lua-ffi.hh
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/dnsdistdist/test-connectionmanagement_hh.cc
  pdns/test-credentials_cc.cc
Labels: enhancement, dnsdist

#11529 rec: Zap a leftover debug lines in test code
  regression-tests.recursor-dnssec/test_Protobuf.py
Labels: rec, backport to rec-4.7.x?

#11530 rec: enable a few more optional parts for coverity build
  .circleci/config.yml
Labels: rec

#11532 rec: Add coverity annotations for a leak false positives
  pdns/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
Labels: rec

#11531 dnsdist: Prevent allocations in two corner cases
  pdns/dolog.hh
  pdns/proxy-protocol.cc
Labels: enhancement, dnsdist

#11536 Fix Coverity 1487923 Out-of-bounds read (wrong use of sizeof)
  pdns/syncres.cc
Labels: rec, defect, backport to rec-4.7.x?

#11538 rec: Backport 11536 to rec 4.7.x: Fix Coverity 1487923 Out-of-bounds read (wrong use of sizeof)
  pdns/syncres.cc
Labels: rec, defect

#11527 rec: Prep for rec-4.7.0-beta1
  .github/actions/spell-check/expect.txt
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.7.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#11518 Add libdecaf (auth) tests to Github Actions
  tasks.py
Labels: auth, enhancement

#11381 rec: Adaptive root refresh interval, normally at 80% of max-cache-ttl
  pdns/recursordist/docs/appendices/FAQ.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/rec-main.cc
Labels: rec, enhancement, backport to rec-4.7.x?

#11551 dnsdist-1.7.x: Pin jinja2 to < 3.1.0
  docs/requirements.txt
  pdns/dnsdistdist/docs/requirements.txt
  pdns/recursordist/docs/requirements.txt
Labels: docs, defect, dnsdist

#11535 Merge multiple parameters in newBPFFilter
  pdns/bpf-filter.cc
  pdns/bpf-filter.hh
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/docs/advanced/ebpf.rst
  pdns/dnsdistdist/docs/reference/ebpf.rst
Labels: enhancement, dnsdist

#11539 rec: DNSSEC counters track responses sent, not actual validations performed
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/metrics.rst
  pdns/ws-recursor.cc
Labels: docs, rec, defect

#11546 dnsdist: Raise the number of entries in a packet cache to at least 1
  pdns/dnsdist-cache.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-packetcache.cc
Labels: defect, dnsdist, backport to dnsdist-1.7.x

#11541 Fix DoT port, as noted by ph1 on IRC
  pdns/syncres.cc
Labels: rec, defect, backport to rec-4.7.x?

#11558 rec: Backport of #11529: Zap a leftover debug line in test code
  regression-tests.recursor-dnssec/test_Protobuf.py
Labels: rec

#11560 rec: Backport 11541 to rec 4.7.x: fix DoT port for probed authoritative servers
  pdns/syncres.cc
Labels: rec, defect

#11545 dnsdist: Use the correct outgoing protocol in our ring buffers
  pdns/dnsdist-tcp.cc
  pdns/dnsdistdist/doh.cc
Labels: defect, dnsdist, backport to dnsdist-1.7.x

#11547 dnsdist: Add a 'getAddressAndPort()' method to DOHFrontend and TLSFrontend objects
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: enhancement, dnsdist, backport to dnsdist-1.7.x

#11544 dnsdist: Properly use eBPF when the DynBlock is not set
  pdns/dnsdist.cc
  pdns/dnsdistdist/dnsdist-dynblocks.cc
  pdns/dnsdistdist/test-dnsdistdynblocks_hh.cc
Labels: defect, dnsdist, backport to dnsdist-1.7.x

#11565 dnsdist: Fix wrong eBPF values (qtype, counter) being inserted for qnames
  pdns/bpf-filter.cc
Labels: defect, dnsdist, backport to dnsdist-1.7.x

#11550 dnsdist-1.7.x: Properly use eBPF when the DynBlock is not set
  pdns/dnsdist.cc
  pdns/dnsdistdist/dnsdist-dynblocks.cc
  pdns/dnsdistdist/test-dnsdistdynblocks_hh.cc
Labels: defect, dnsdist

#11566 dnsdist-1.7.x: Backports for 1.7.1
  .github/workflows/builder.yml
  builder-support/dockerfiles/Dockerfile.target.ubuntu-jammy
  pdns/bpf-filter.cc
  pdns/dnsdist-cache.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-lua-bindings-packetcache.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.hh
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/statistics.rst
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
  pdns/dnsname.hh
  pdns/dnssecinfra.hh
  pdns/iputils.hh
  pdns/misc.hh
  pdns/tcpiohandler.cc
  regression-tests.dnsdist/test_OutgoingDOH.py
  regression-tests.dnsdist/test_OutgoingTLS.py
Labels: dnsdist

#11570 rec: Reduce make -j parameter from 8 to 4 for CodeQL action, as dnsdist does.
  .github/workflows/codeql-analysis.yml
Labels: rec

#11572 dnsdist-1.7.x: The check interval applies to health-check, not timeouts
  pdns/dnsdist.cc
Labels: defect, dnsdist

#11573 dnsdist: Better log message when no downstream server are available
  pdns/dnsdist.cc
Labels: enhancement, dnsdist

#11574 dnsdist: ChangeLog and secpoll update for dnsdist 1.7.1
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#11559 rec: Backport 11539 to rec 4.7.x: DNSSEC counters track responses sent, not actual validations performed
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/metrics.rst
  pdns/ws-recursor.cc
Labels: rec

#11569 rec: Backport of 11496 to rec-4.6.x: Prevent segfault with empty allow-from-file and allow-from options
  pdns/pdns_recursor.cc
Labels: rec, defect

#11514 dnsdist: Add an option for unauthenticated access to the API
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
  pdns/dnsdistdist/dnsdist-web.hh
  pdns/dnsdistdist/docs/reference/config.rst
  regression-tests.dnsdist/test_API.py
Labels: enhancement, dnsdist

#11543 dnsdist: Log when a console message exceeds the maximum size
  pdns/dnsdist-console.cc
Labels: enhancement, dnsdist

#11586 dnsdist: fix wrong parameter type in document
  pdns/dnsdistdist/docs/reference/ebpf.rst
Labels: docs, defect, dnsdist

#11587 rec: Avoid a race in test code between processing the first query and the priming code
  regression-tests.recursor-dnssec/test_Protobuf.py
Labels: rec

#11589 auth: Set of Coverity fixes
  pdns/anadns.hh
  pdns/dnsreplay.cc
  pdns/ixplore.cc
  pdns/signingpipe.cc
  pdns/zonemd.cc
Labels: auth

#11590 RSA PEM import/export
  pdns/opensslsigners.cc
  pdns/test-signers.cc
Labels: auth, enhancement
