Repository PowerDNS/pdns, pull requests merged in 2023-01, with the labels that each got.

#12368 rec: Add the 'parse packet from auth' error message to structured logging
  pdns/recursordist/pdns_recursor.cc
Labels: rec, defect, backport to rec-4.8.x?

#12334 rec: Generate EDE in more cases, specifically on unreachable auths or sythesized results.
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
  regression-tests.recursor-dnssec/test_AggressiveNSECCache.py
  regression-tests.recursor-dnssec/test_RootNXTrust.py
Labels: rec, enhancement

#12373 rec: Warn on high (90%) mthread stack usage
  pdns/recursordist/pdns_recursor.cc
Labels: rec, enhancement

#12313 Clang-tidy: one more time
  modules/ldapbackend/ldapbackend.cc
  modules/ldapbackend/powerldap.hh
  modules/pipebackend/coprocess.cc
  pdns/auth-catalogzone.hh
  pdns/auth-main.cc
  pdns/credentials.cc
  pdns/dns.hh
  pdns/dnsdistdist/doh.cc
  pdns/dnsparser.cc
  pdns/dnsrecords.cc
  pdns/dynhandler.cc
  pdns/dynlistener.cc
  pdns/dynlistener.hh
  pdns/dynmessenger.hh
  pdns/ixfrutils.cc
  pdns/mastercommunicator.cc
  pdns/pdnsutil.cc
  pdns/resolver.cc
  pdns/sillyrecords.cc
  pdns/slavecommunicator.cc
  pdns/sstuff.hh
  pdns/tcpreceiver.cc
  pdns/ueberbackend.cc
  pdns/utility.hh
  pdns/zoneparser-tng.cc
Labels: auth, rec, dnsdist

#12378 Update the pgp keys listed in docs
  docs/common/tarball-pgp-keys.rst
Labels: auth, rec

#12352 Refresh of negcache stale entry might use wrong qtype
  pdns/recursordist/negcache.cc
  pdns/recursordist/negcache.hh
Labels: rec, defect, backport to rec-4.8.x?

#12391 dnsdist: update pgp keys listed in docs: add Otto, move Pieter and Bert to old keys
  pdns/dnsdistdist/docs/_static/dnsdist-keyblock.asc
  pdns/dnsdistdist/docs/install.rst
Labels: docs, dnsdist

#12365 dnsdist: Prevent an underflow of the TCP d_queued counter
  pdns/dnsdistdist/dnsdist-tcp.hh
Labels: defect, dnsdist, backport to dnsdist-1.7.x

#12354 dnsdist: Move DNSQuestion's EDNS options to a unique pointer
  pdns/dnsdist-ecs.cc
  pdns/dnsdist-ecs.hh
  pdns/dnsdist-idstate.hh
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/ednsoptions.hh
  pdns/test-dnsdist_cc.cc
Labels: enhancement, dnsdist

#12392 Be more careful saving errno in makeClientSocket() and closesocket()
  pdns/misc.cc
  pdns/recursordist/pdns_recursor.cc
Labels: rec

#12399 rec: Name recursor threads consistently with a "rec/" prefix.
  pdns/recursordist/nod.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rpzloader.cc
  pdns/remote_logger.cc
  pdns/snmp-agent.cc
  pdns/webserver.cc
Labels: rec

#12387 dnsdist: Handle out-of-memory exceptions in the UDP receiver thread
  pdns/dnsdist.cc
Labels: enhancement, dnsdist

#12385 dnsdist: Add a Lua FFI interface for metrics
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
Labels: enhancement, dnsdist

#12400 dnsdist: Add SetReducedTTLResponseAction
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdistdist/docs/rules-actions.rst
  regression-tests.dnsdist/test_Responses.py
Labels: enhancement, dnsdist

#12402 dnsdist: Add bindings for the current and query times in DQ/DR
  pdns/dnsdist-console.cc
  pdns/dnsdist-idstate.hh
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/dq.rst
  regression-tests.dnsdist/test_Advanced.py
Labels: enhancement, dnsdist

#12383 dnsdist: Stronger guarantees against data race in the UDP path
  pdns/dnsdist-idstate.hh
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/doh.cc
  pdns/test-dnsdist_cc.cc
Labels: enhancement, dnsdist

#12403 spell-checker: Allow EACA (from the PGP public keys in the docs)
  .github/actions/spell-check/expect.txt
Labels: docs, dnsdist

#12384 dnsdist: Add the ability to cap the TTL of records after insertion into the cache
  pdns/dnsdist-idstate.hh
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdist.cc
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: enhancement, dnsdist

#12386 dnsdist: Merge the 'main' and 'client' DoH threads in single acceptor mode
  pdns/dnsdist.cc
  pdns/dnsdistdist/doh.cc
Labels: enhancement, dnsdist

#12405 dnsdist: Proper accounting of response and cache hits
  .github/actions/spell-check/expect.txt
  pdns/dnsdist-cache.cc
  pdns/dnsdist-cache.hh
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/docs/guides/webserver.rst
  pdns/dnsdistdist/docs/upgrade_guide.rst
Labels: enhancement, dnsdist

#12412 OpenSSL 3.0: TLS MAC handling
  pdns/dnsdistdist/doh.cc
  pdns/libssl.cc
  pdns/libssl.hh
  pdns/tcpiohandler.cc
Labels: enhancement, dnsdist

#12364 rec: In compiling docs, warn about the GH tarballs, add deps from README
  pdns/recursordist/README.md
  pdns/recursordist/docs/appendices/compiling.rst
Labels: docs, rec, enhancement

#12419 rec: negcache dump code: close fd on fdopen fail
  pdns/recursordist/negcache.cc
Labels: rec, defect

#12407 rec: do not chain ecs enabled queries
  pdns/recursordist/lwres.cc
  pdns/recursordist/lwres.hh
  pdns/recursordist/pdns_recursor.cc
Labels: rec, defect, backport to rec-4.8.x?

#12420 rec: README tweaks, .md does not know :program:`...`
  pdns/recursordist/README.md
Labels: docs, rec

#12381 Enable FORTIFY_SOURCE=3 when supported by the compiler
  m4/pdns_d_fortify_source.m4
Labels: auth, rec, enhancement, dnsdist

#12415 dnsdist: Small improvements
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/dnsdist-discovery.cc
  pdns/dnsdistdist/test-dnsdist-dnsparser.cc
  pdns/test-credentials_cc.cc
Labels: enhancement, dnsdist

#12428 credentials: Explicitly clear credentials once they have been moved
  pdns/credentials.cc
Labels: auth, rec, defect, dnsdist

#12425 rec: Change the way RD=0 forwarded queries are handled.
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
  pdns/recursordist/test-syncres_cc3.cc
Labels: rec, defect

#12435 dnsdist: Gracefully handle a failure to create a TLS server context
  pdns/libssl.cc
Labels: defect, dnsdist

#12439 dnsreplay: Fix formatting in the man page
  docs/manpages/dnsreplay.1.rst
Labels: auth, docs, defect

#12442 rec: Backport to 4.8.x: Do *not* use QName Minimization for DS retrievals in QM fallback mode.
  pdns/recursordist/rec-main.cc
  pdns/syncres.cc
  pdns/syncres.hh
Labels: rec, defect

#12431 Migration of CircleCI documentation generation and upload to Github Actions
  .circleci/config.yml
  .github/workflows/documentation.yml
  .gitignore
  build-scripts/gh-actions-setup-inv-no-dist-upgrade
  docs/Makefile.am
  docs/Makefile.sphinx
  pdns/recursordist/docs/appendices/compiling.rst
  tasks.py
Labels: github_actions

#12343 rec: Backport 12254 to rec-4.8.x: Restrict permissions for GITHUB_TOKEN in our workflows
  .github/workflows/build-and-test-all.yml
  .github/workflows/builder-dispatch.yml
  .github/workflows/builder.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/formatting.yml
  .github/workflows/fuzz.yml
Labels: rec

#12344 rec: Backport 12260 to rec-4.8.x: Properly encode json string containing binary data
  ext/json11/json11.cpp
  pdns/webserver.cc
  regression-tests.api/test_Servers.py
Labels: rec, defect

#12345 rec: Backport 12333 to rec-4.8.x: For setting socket buf size not decreasing is not an error
  pdns/iputils.cc
Labels: rec, enhancement

#12346 rec: Backport 12317 to rec-4.8.x: Fix compilation on FreeBSD. reported by HellSpawn
  pdns/pdns_recursor.cc
  pdns/recursordist/rec-tcp.cc
Labels: rec, defect

#12408 rec: Backport 12407 to 4.8.x: do not chain ecs enabled queries
  pdns/lwres.cc
  pdns/lwres.hh
  pdns/pdns_recursor.cc
Labels: rec, defect

#12418 rec: Backport 12374 to rec-4.8.x: make cache cleaning more fair when under pressure
  pdns/cachecleaner.hh
  pdns/rec_channel_rec.cc
  pdns/recursor_cache.cc
  pdns/recursor_cache.hh
  pdns/recursordist/negcache.cc
  pdns/recursordist/negcache.hh
  pdns/recursordist/rec-main.cc
  pdns/recursordist/test-negcache_cc.cc
  pdns/recursordist/test-recursorcache_cc.cc
Labels: rec, defect

#12421 dnsdist: Skip invalid OCSP files after issuing a warning
  pdns/dnsdistdist/doh.cc
  pdns/dolog.hh
  pdns/libssl.cc
  pdns/libssl.hh
  pdns/tcpiohandler.cc
  regression-tests.dnsdist/test_OCSP.py
Labels: enhancement, dnsdist, backport to dnsdist-1.7.x

#12445 rec: Add a bit more explanation to advisory
  pdns/recursordist/docs/security-advisories/powerdns-advisory-2023-01.rst
Labels: docs, rec

#12446 Rec: stack protector for mthread stacks
  pdns/mtasker.cc
  pdns/mtasker.hh
  pdns/recursordist/docs/performance.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/lazy_allocator.hh
  pdns/recursordist/mtasker_context.hh
  pdns/recursordist/rec-main.cc
  pdns/recursordist/test-mtasker.cc
Labels: rec, enhancement

#12447 dnsdist: Fix a couple warnings reported by clang++
  pdns/cdb.cc
  pdns/dnsdistdist/test-dnsdistrings_cc.cc
Labels: enhancement, dnsdist, easy

#11600 auth: Speed up ECDSA and RSA signatures
  pdns/dbdnsseckeeper.cc
  pdns/decafsigners.cc
  pdns/dnssecinfra.cc
  pdns/dnssecinfra.hh
  pdns/dnssecsigner.cc
  pdns/opensslsigners.cc
  pdns/pdnsutil.cc
  pdns/pkcs11signers.cc
  pdns/pkcs11signers.hh
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc10.cc
  pdns/recursordist/test-syncres_cc4.cc
  pdns/sodiumsigners.cc
  pdns/test-signers.cc
  pdns/ws-auth.cc
Labels: auth, enhancement

#12444 rec: Do *not* use QName Minimization for DS retrievals in QM fallback mode.
  pdns/recursordist/rec-main.cc
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
Labels: rec, defect

#12433 Enable the highest supported level of `FORTIFY_SOURCE` in our CI tests
  tasks.py
Labels: auth, rec, enhancement, dnsdist

#12427 Add a new configure option to initialize automatic variables
  configure.ac
  m4/pdns_init_auto_vars.m4
  pdns/dnsdistdist/configure.ac
  pdns/dnsdistdist/m4/pdns_init_auto_vars.m4
  pdns/recursordist/configure.ac
  pdns/recursordist/m4/pdns_init_auto_vars.m4
Labels: auth, rec, enhancement, dnsdist

#12395 When the stale function is triggered, wrong data can be returned from negcache and record cache
  pdns/recursordist/negcache.cc
  pdns/recursordist/negcache.hh
  pdns/recursordist/syncres.cc
  pdns/recursordist/test-syncres_cc10.cc
Labels: rec, backport to rec-4.8.x?

#12451 CI: Initialize automatic variables to a pattern in our CI
  tasks.py
Labels: auth, rec, enhancement, dnsdist

#12453 lock.hh: include <stdexcept>
  pdns/lock.hh
Labels: auth, rec, dnsdist, backport to dnsdist-1.7.x, backport to auth-4.7.x?, backport to rec-4.8.x?

#12422 dnsdist: Document interactions between XFR, NOTIFY and the cache
  pdns/dnsdist-cache.cc
  pdns/dnsdistdist/docs/advanced/axfr.rst
  pdns/dnsdistdist/docs/upgrade_guide.rst
  pdns/test-dnsdistpacketcache_cc.cc
  regression-tests.dnsdist/test_Caching.py
Labels: docs, dnsdist

#12414 Openssl 3.0: RSA prep work
  pdns/opensslsigners.cc
Labels: auth, rec, enhancement

#12424 dnsdist: Better handling of multiple carbon servers
  .not-formatted
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/dnsdist-carbon.hh
Labels: enhancement, dnsdist

#12441 Add a configure option to enable LTO
  configure.ac
  m4/pdns_enable_lto.m4
  pdns/dnsdistdist/configure.ac
  pdns/dnsdistdist/m4/pdns_enable_lto.m4
  pdns/recursordist/configure.ac
  pdns/recursordist/m4/pdns_enable_lto.m4
Labels: auth, rec, enhancement, dnsdist

#12388 dnsdist: Implement async processing of queries and responses
  pdns/dnsdist-ecs.cc
  pdns/dnsdist-ecs.hh
  pdns/dnsdist-idstate.hh
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-async.cc
  pdns/dnsdistdist/dnsdist-async.hh
  pdns/dnsdistdist/dnsdist-healthchecks.cc
  pdns/dnsdistdist/dnsdist-internal-queries.cc
  pdns/dnsdistdist/dnsdist-internal-queries.hh
  pdns/dnsdistdist/dnsdist-lua-bindings-network.cc
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/dnsdist-lua-ffi.hh
  pdns/dnsdistdist/dnsdist-lua-network.cc
  pdns/dnsdistdist/dnsdist-nghttp2.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.hh
  pdns/dnsdistdist/dnsdist-tcp-upstream.hh
  pdns/dnsdistdist/dnsdist-tcp.hh
  pdns/dnsdistdist/docs/advanced/asynchronous-processing.rst
  pdns/dnsdistdist/docs/advanced/index.rst
  pdns/dnsdistdist/docs/imgs/AsyncQuery.png
  pdns/dnsdistdist/docs/reference/dnsparser.rst
  pdns/dnsdistdist/docs/reference/dq.rst
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/test-dnsdistasync.cc
  pdns/dnsdistdist/test-dnsdistnghttp2_cc.cc
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
  pdns/doh.hh
  pdns/kqueuemplexer.cc
  pdns/lock.hh
  pdns/mplexer.hh
  pdns/portsmplexer.cc
  pdns/test-dnsdist_cc.cc
  pdns/test-mplexer.cc
  regression-tests.dnsdist/dnsdistdohtests.py
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_Async.py
  regression-tests.dnsdist/test_DOH.py
  regression-tests.dnsdist/test_RestartQuery.py
Labels: enhancement, dnsdist

#12465 Assorted cleanup of misc.cc and misc.hh
  pdns/misc.cc
  pdns/misc.hh
Labels: auth, rec, dnsdist

#12454 rec: fix test_libcrypto's scan for dup libcrypto by using a proper pattern
  pdns/recursordist/test_libcrypto
Labels: rec, defect

#12455 rec: Backport 12352 to rec 4.8.x: Refresh of negcache stale entry might use wrong qtype
  pdns/recursordist/negcache.cc
  pdns/recursordist/negcache.hh
Labels: rec, defect

#12456 rec: Backport 12368 to rec-4.8.x: Add the 'parse packet from auth' error message to structured logging
  pdns/pdns_recursor.cc
Labels: rec, defect

#12457 rec: Backport 12395 to rec-4.8.x: When the stale function is triggered, wrong data can be returned from negcache and record cache
  pdns/recursordist/negcache.cc
  pdns/recursordist/negcache.hh
  pdns/recursordist/test-syncres_cc10.cc
  pdns/syncres.cc
Labels: rec, defect

#12459 rec-4.8: lock.hh: include <stdexcept>
  pdns/lock.hh
Labels: rec

#12434 rec: unify trace logging
  pdns/logger.hh
  pdns/recursordist/aggressive_nsec.cc
  pdns/recursordist/aggressive_nsec.hh
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-zonetocache.cc
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc4.cc
  pdns/recursordist/test-syncres_cc8.cc
  pdns/recursordist/test-syncres_cc9.cc
  pdns/validate.cc
  pdns/validate.hh
Labels: rec

#12467 rec: do not use "message" as key, it has a special meaning to systemd-journal
  pdns/recursordist/secpoll-recursor.cc
Labels: rec, defect, backport to rec-4.8.x?

#12475 rec: Backport 12467 to rec: 4.8.x: do not use "message" as key, it has a special meaning to systemd-journal
  pdns/secpoll-recursor.cc
Labels: rec, defect

#12478 MiniCurl: Stop using the deprecated CURLOPT_PROTOCOLS on curl 7.85+
  pdns/minicurl.cc
Labels: auth, rec

#12474 dnsdist: Add an option for unauthenticated access to the dashboard
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
  pdns/dnsdistdist/dnsdist-web.hh
  pdns/dnsdistdist/docs/reference/config.rst
  regression-tests.dnsdist/test_API.py
Labels: enhancement, dnsdist

#12476 Fix two minor warnings
  pdns/recursordist/syncres.cc
  pdns/test-dnsdistpacketcache_cc.cc
Labels: rec, defect, dnsdist

#12470 dnsdist: Rewrite/clear records from DNS packets slightly faster
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsparser.cc
  pdns/dnsparser.hh
  pdns/test-dnsparser_cc.cc
Labels: enhancement, dnsdist

#12480 Check the record size before allocating in PacketReader::copyRecord()
  pdns/dnsparser.cc
Labels: auth, rec, enhancement, dnsdist

#12471 dnsdist: Enable Link-Time Optimizations in our CI
  tasks.py
Labels: enhancement, dnsdist

#12473 dnsdist: Add an API endpoint to remove entries from caches
  pdns/dnsdist-web.cc
  pdns/dnsdistdist/docs/guides/webserver.rst
  pdns/dnsdistdist/docs/install.rst
  regression-tests.dnsdist/test_Caching.py
  tasks.py
Labels: enhancement, dnsdist

#12482 MiniCurl: Fix building on versions older than 7.43.0
  pdns/minicurl.cc
Labels: auth, rec, defect

#11511 auth: Small performance improvement for the LMDB backend
  modules/lmdbbackend/lmdbbackend.cc
  pdns/dnsparser.cc
  pdns/dnsparser.hh
Labels: auth, enhancement

#12479 Add coverity scans to our daily GitHub actions flow, remove them from Circle CI
  .circleci/config.yml
  .github/workflows/build-and-test-all.yml
  .github/workflows/misc-dailies.yml
  tasks.py
Labels: auth, rec, dnsdist

#12484 dnsdist: Properly update rcode-related metrics on RCodeAction hits
  pdns/dnsdist.cc
  regression-tests.dnsdist/test_Metrics.py
Labels: defect, dnsdist, backport to dnsdist-1.7.x

#12483 dnsdist: Apply the max number of concurrent conns per client to DoH
  pdns/dnsdist-lua.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-concurrent-connections.hh
  pdns/dnsdistdist/docs/upgrade_guide.rst
  pdns/dnsdistdist/doh.cc
  regression-tests.dnsdist/test_DOH.py
Labels: defect, dnsdist

#12481 dnsdist: Fail if we can't check the configuration file
  builder-support/debian/dnsdist/debian-buster/rules
  builder-support/specs/dnsdist.spec
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist.conf-dist
  pdns/dnsdistdist/docs/upgrade_guide.rst
Labels: enhancement, dnsdist

#12417 dnsdist: Add the ability to change the qname and owner names in DNS packets
  pdns/dnsdist-cache.cc
  pdns/dnsdist-ecs.cc
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdistdist/dnsdist-discovery.cc
  pdns/dnsdistdist/dnsdist-dnsparser.cc
  pdns/dnsdistdist/dnsdist-dnsparser.hh
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/docs/reference/dq.rst
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/test-dnsdist-dnsparser.cc
  pdns/dnsparser.cc
  pdns/dnsparser.hh
  pdns/namespaces.hh
  pdns/packetcache.hh
  pdns/protozero.cc
  pdns/recursordist/ednsextendederror.cc
  regression-tests.dnsdist/test_Advanced.py
Labels: enhancement, dnsdist

#12485 rec: Prep for rec-4.8.2
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.8.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#12490 Fix a collision between #12417 and #11511
  pdns/dnsparser.cc
Labels: auth, rec, defect, dnsdist

#12495 Logging tweaks
  pdns/recursordist/rec-lua-conf.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/reczones.cc
Labels: rec
