Repository PowerDNS/pdns, pull requests merged in 2023-02, with the labels that each got.

#12492 dnsdist: Refactor 'cannot be used at runtime' handling
  pdns/dnsdist-lua.cc
Labels: enhancement, dnsdist

#12469 dnsdist: Add unit tests for the Lua FFI interface
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/test-dnsdist-lua-ffi.cc
Labels: enhancement, dnsdist

#12496 dnsdist rpm builds: stop trying to ship dnsdist.conf.sample
  builder-support/specs/dnsdist.spec
Labels: defect, dnsdist

#12489 ixfrdist /metrics: formatting, cleanup, one new metric
  pdns/ixfrdist-stats.cc
  pdns/ixfrdist-stats.hh
  pdns/ixfrdist.cc
  regression-tests.ixfrdist/test_Stats.py
  tasks.py
Labels: defect, needs review, backport to auth-4.7.x?

#12448 Misc additions and changes to CI documentation generation
  .github/workflows/documentation.yml
  tasks.py
Labels: github_actions

#12503 Fix GH CI docs upload
  tasks.py
Labels: github_actions

#12504 Fix GH CI docs upload
  .github/workflows/documentation.yml
Labels: github_actions

#12477 rec: less bulk test variations and enable TSAN for bulk tests
  .github/workflows/build-and-test-all.yml
  regression-tests/recursor-test
Labels: rec

#12502 OpenSSL 3.0: ECDSA signer
  pdns/opensslsigners.cc
  pdns/test-signers.cc
Labels: auth, rec, enhancement

#12514 Small cleanups in `libssl.cc` and `dnsdist-console.cc`
  pdns/dnsdist-console.cc
  pdns/libssl.cc
Labels: dnsdist

#12494 ixfrdist /metrics: add CPU and memory stats, note unit for uptime
  pdns/ixfrdist-stats.cc
  regression-tests.ixfrdist/test_Stats.py
Labels: enhancement, ixfrdist, backport to auth-4.7.x?

#12513 EdDSA signer cleanup
  pdns/opensslsigners.cc
Labels: auth, rec

#12510 ixfrdist: Make sure that our metrics are properly initialized
  pdns/ixfrdist-stats.hh
  regression-tests.ixfrdist/test_Stats.py
Labels: auth, defect, backport to auth-4.7.x?

#12515 OpenSSL 3.0: EdDSA signer
  pdns/opensslsigners.cc
Labels: auth, rec

#12516 Final formatting of `opensslsigners.cc`
  .not-formatted
  pdns/opensslsigners.cc
Labels: auth, rec

#10115 dnsdist: Warn on unsupported parameters
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdistdist/dnsdist-lua-bindings-packetcache.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-protobuf.cc
  regression-tests.dnsdist/test_Caching.py
  regression-tests.dnsdist/test_Routing.py
Labels: enhancement, dnsdist

#12518 remove duplicate code in xdp
  contrib/xdp-filter.ebpf.src
  contrib/xdp-logging-middleware.ebpf.src
  contrib/xdp.h
Labels: enhancement, dnsdist

#12423 OpenSSL 3.0: Offer TLS providers as an alternative to TLS engines in DNSdist
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/configure.ac
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/m4/dnsdist_enable_tls_providers.m4
  pdns/libssl.cc
  pdns/libssl.hh
Labels: dnsdist

#12524 OpenSSL 3.0: Stay compatible with OpenSSL 1.0 to Fix CentOS7 builds
  pdns/opensslsigners.cc
Labels: auth, rec, defect

#12521 auth-4.7.x: ixfrdist fixes and improvements
  pdns/ixfrdist-stats.cc
  pdns/ixfrdist-stats.hh
  pdns/ixfrdist.cc
  regression-tests.ixfrdist/test_Stats.py
  tasks.py
Labels: defect, enhancement, ixfrdist

#11777 rec: rec_control trace-regex: trace to a file or stdout instead of the general log
  pdns/logger.cc
  pdns/logger.hh
  pdns/recursordist/aggressive_nsec.cc
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/recursordist/docs/running.rst
  pdns/recursordist/docs/upgrade.rst
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec_channel_rec.cc
  pdns/recursordist/rec_control.cc
  pdns/recursordist/secpoll-recursor.cc
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
  pdns/validate.cc
Labels: rec

#12493 Only store NSEC3 records in aggressive cache if we expect them to be effective.
  pdns/recursordist/aggressive_nsec.cc
  pdns/recursordist/aggressive_nsec.hh
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/rec-main.cc
  pdns/recursordist/test-aggressive_nsec_cc.cc
  pdns/recursordist/test-syncres_cc.cc
Labels: rec, enhancement

#12527 Avoid the use of raw pointers in checkKey(s) routines
  pdns/dbdnsseckeeper.cc
  pdns/dnssecinfra.cc
  pdns/dnssecinfra.hh
  pdns/dnsseckeeper.hh
  pdns/opensslsigners.cc
  pdns/pdnsutil.cc
  pdns/test-signers.cc
Labels: auth, rec

#12500 dnsdist: Better wording for the 'no cache' case
  pdns/dnsdist-web.cc
Labels: defect, dnsdist

#12530 dnsdist: List version number early
  pdns/dnsdist.cc
Labels: enhancement, dnsdist

#12529 dnsdist: Properly record the incoming flags on a timeout
  pdns/dnsdistdist/dnsdist-backend.cc
  regression-tests.dnsdist/test_Advanced.py
Labels: defect, dnsdist, backport to dnsdist-1.7.x

#12531 dnsdist: Move the certs handling to a Makefile in the regression tests
  regression-tests.dnsdist/.gitignore
  regression-tests.dnsdist/Makefile
  regression-tests.dnsdist/runtests
Labels: enhancement, dnsdist

#12535 dnsdist: Fix the formatting of 'showServers'
  pdns/dnsdist-lua.cc
Labels: defect, dnsdist, backport to dnsdist-1.7.x

#12538 dnsdist: Stop using the deprecated `boost::optional::get_value_or`
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-kvs.cc
Labels: enhancement, dnsdist

#12547 dnsdist: Give the 'flags on timeout' test more headroom
  regression-tests.dnsdist/test_Advanced.py
Labels: defect, dnsdist

#12537 dnsdist: Improve the scalability of MaxQPSIPRule()
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/docs/rules-actions.rst
  pdns/dnsdistdist/test-dnsdistrules_cc.cc
Labels: enhancement, dnsdist

#12545 dnsdist: Enable experimental kTLS support with OpenSSL on Linux
  .github/actions/spell-check/expect.txt
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/docs/advanced/tuning.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/libssl.cc
  pdns/libssl.hh
  pdns/tcpiohandler.cc
  pdns/tcpiohandler.hh
Labels: enhancement, dnsdist

#12542 dnsdist: Fix warnings from cppcheck
  pdns/dnsdist-cache.cc
  pdns/dnsdist-dynblocks.hh
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdist.cc
  pdns/dnsdistdist/dnsdist-async.cc
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-dnscrypt.cc
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnswriter.cc
Labels: enhancement, dnsdist

#12534 dnsdist: Add prometheus type and help for 'cache_cleanup_count'
  pdns/dnsdist-web.cc
  pdns/dnsdistdist/docs/guides/webserver.rst
  regression-tests.dnsdist/test_Prometheus.py
Labels: defect, dnsdist

#12541 dnsdist: Make it clearer that exactPathMatching was introduced in 1.6
  pdns/dnsdistdist/docs/reference/config.rst
Labels: docs, dnsdist

#12526 GH actions: added auth odbc{sqlitle3, mssql} tests. Removed from CircleCI
  .circleci/config.yml
  .github/workflows/build-and-test-all.yml
  tasks.py
Labels: backport to auth-4.6.x?, backport to auth-4.7.x?, ci

#12548 Apply odbc packages workaround to misc-dailies workflow
  .github/workflows/misc-dailies.yml
Labels: ci

#12554 rec doc: serve-stale-extensions works on 30s so an hour should be 120x
  pdns/recursordist/docs/settings.rst
Labels: docs, rec, defect

#12520 dnsdist: Add support for metadata in protobuf messages
  contrib/ProtobufLogger.py
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-protobuf.cc
  pdns/dnsdist-protobuf.hh
  pdns/dnsdistdist/docs/rules-actions.rst
  regression-tests.dnsdist/test_Protobuf.py
Labels: enhancement, dnsdist

#12551 dnsdist: Fix a use-after-free in the incoming DoH path
  pdns/dnsdistdist/doh.cc
Labels: defect, dnsdist

#12552 dnsdist: Add regression tests for responses, cache metrics
  regression-tests.dnsdist/test_Metrics.py
Labels: enhancement, dnsdist

#12553 dnsdist: Add support for custom prometheus names in custom metrics
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
  pdns/dnsdistdist/dnsdist-prometheus.hh
  pdns/dnsdistdist/dnsdist-web.hh
  pdns/dnsdistdist/docs/reference/custommetrics.rst
  regression-tests.dnsdist/test_Prometheus.py
Labels: enhancement, dnsdist

#12543 dnsdist: Enable Link-Time Optimization for our packages
  builder-support/debian/dnsdist/debian-buster/rules
  builder-support/specs/dnsdist.spec
Labels: enhancement, dnsdist

#12562 Workaround for grub error raised after apt-get dist-upgrade
  build-scripts/gh-actions-setup-inv
Labels: ci

#12569 dnsdist-protocols.hh: include <cstdint>
  pdns/dnsdist-protocols.hh
Labels: dnsdist, backport to dnsdist-1.7.x

#12429 auth 4.7 minicurl: stop leaking hostlist memory
  pdns/minicurl.cc
  pdns/minicurl.hh
Labels: auth, defect, backport to auth-4.6.x?

#12525 Small typo in ALSO-NOTIFY
  docs/domainmetadata.rst
Labels: auth, docs, defect

#12561 dnsdist: Ensure we have at least one protobuf MetaValue
  pdns/dnsdist-protobuf.cc
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_Metrics.py
  regression-tests.dnsdist/test_Protobuf.py
Labels: defect, dnsdist

#12575 dnsdist: ChangeLog and secpoll update for 1.8.0-rc1
  .github/actions/spell-check/expect.txt
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#12582 Use key7 for dohpath in SVCB examples in dnsdist
  pdns/dnsdistdist/docs/reference/svc.rst
  regression-tests.dnsdist/test_SVCB.py
Labels: docs, enhancement, dnsdist

#12574 Avoid Microsoft repo for ODBC packages. Step 2 of 3: prioritize ubuntu mirror
  set-ubuntu-mirror/action.yml
Labels: enhancement, ci

#12584 auth: Add flags to find libssl includes to two modules needing them
  modules/gpgsqlbackend/Makefile.am
  modules/remotebackend/Makefile.am
Labels: auth

#12585 Avoid Microsoft repo for ODBC packages. Step 3 of 3: cleanup manual installation of ODBC packages
  .github/workflows/build-and-test-all.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/misc-dailies.yml
  tasks.py
Labels: enhancement, ci

#12588 dnsdist-protobuf: fix compilation with DoH disabled
  pdns/dnsdist-protobuf.cc
Labels: defect, dnsdist

#12589 YaHTTP: Better detection of whether C++11 features are available
  ext/yahttp/yahttp/reqresp.hpp
  ext/yahttp/yahttp/router.cpp
  ext/yahttp/yahttp/router.hpp
Labels: auth, rec, enhancement, dnsdist

#12586 dnsdist: Fix the harvesting of destination addresses
  pdns/dnsdist.cc
  regression-tests.dnsdist/test_Advanced.py
Labels: defect, dnsdist

#12592 dnsdist: Only increment the 'servfail-responses' metric on backend responses
  pdns/dnsdist-tcp.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
  regression-tests.dnsdist/test_Metrics.py
Labels: defect, dnsdist

#12593 m4: Clean up the fortify and LTO m4 by not directly editing flags
  m4/pdns_d_fortify_source.m4
  m4/pdns_enable_lto.m4
Labels: auth, rec, dnsdist

#12595 rec: Call the right wipe function for negcache in the serve-stale case
  pdns/recursordist/negcache.cc
  pdns/recursordist/negcache.hh
  pdns/recursordist/syncres.cc
  pdns/recursordist/test-negcache_cc.cc
Labels: rec, defect, backport to rec-4.8.x?
