Repository PowerDNS/pdns, pull requests merged in 2023-04, with the labels that each got.

#12708 Fix EOL table for DNSdist.
  pdns/dnsdistdist/docs/eol.rst
Labels: docs, dnsdist

#10072 Update Debian packaging for Recursor
  builder-support/debian/recursor/debian-buster/README.source
  builder-support/debian/recursor/debian-buster/configure-helpers/net-snmp-config
  builder-support/debian/recursor/debian-buster/control
  builder-support/debian/recursor/debian-buster/copyright
  builder-support/debian/recursor/debian-buster/pdns-recursor.default
  builder-support/debian/recursor/debian-buster/pdns-recursor.init
  builder-support/debian/recursor/debian-buster/pdns-recursor.lintian-overrides
  builder-support/debian/recursor/debian-buster/pdns-recursor.postinst
  builder-support/debian/recursor/debian-buster/pdns-recursor.preinst
  builder-support/debian/recursor/debian-buster/pdns-recursor.prerm
  builder-support/debian/recursor/debian-buster/rules
  builder-support/debian/recursor/debian-buster/source.lintian-overrides
  builder-support/debian/recursor/debian-buster/tests/control
  builder-support/debian/recursor/debian-buster/tests/smoke
Labels: rec

#12655 Rec: rework root priming code to allow multiple addresses per NS
  pdns/recursordist/reczones-helpers.cc
  pdns/recursordist/reczones-helpers.hh
  pdns/recursordist/reczones.cc
  pdns/recursordist/root-addresses.hh
  pdns/recursordist/test-reczones-helpers.cc
  pdns/recursordist/test-syncres_cc.cc
Labels: rec, defect

#12698 rec: Start using newly assigned "Synthesized" EDE
  pdns/recursordist/ednsextendederror.hh
  pdns/recursordist/syncres.cc
  regression-tests.recursor-dnssec/test_AggressiveNSECCache.py
  regression-tests.recursor-dnssec/test_RootNXTrust.py
Labels: rec, enhancement

#12709 rec: More fine grained capping of packet cache TTL
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
  regression-tests.recursor-dnssec/test_PacketCache.py
Labels: rec, enhancement

#12716 rec: followup to #10072: add missing boost-filesystem dependency
  builder-support/debian/recursor/debian-buster/control
  builder-support/debian/recursor/debian-buster/rules
  builder-support/specs/pdns-recursor.spec
Labels: rec

#12710 Cleanup rcode enums: base one is 8 bit unsigned, extended one 16 bit unsigned
  pdns/dns.cc
  pdns/dns.hh
Labels: auth, rec, dnsdist

#12594 Rec: sharded and shared packet cache
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-snmp.cc
  pdns/recursordist/rec_channel_rec.cc
  pdns/recursordist/recpacketcache.cc
  pdns/recursordist/recpacketcache.hh
  pdns/recursordist/recursor_cache.cc
  pdns/recursordist/syncres.hh
  pdns/recursordist/ws-recursor.cc
  regression-tests.recursor-dnssec/test_PacketCache.py
  regression-tests/recursor-test
Labels: rec, enhancement

#12717 rec: bulk tests (with their one client driving the test) do not work well with reuseport=yes and many workers
  regression-tests/recursor-test
Labels: rec

#12571 Recursor: Unused parameters cleanup
  pdns/capabilities.cc
  pdns/gss_context.cc
  pdns/gss_context.hh
  pdns/iputils.cc
  pdns/libssl.cc
  pdns/minicurl.cc
  pdns/misc.cc
  pdns/opensslsigners.cc
  pdns/recursordist/aggressive_nsec.cc
  pdns/recursordist/configure.ac
  pdns/recursordist/logr.hh
  pdns/recursordist/lua-recursor4.cc
  pdns/recursordist/lwres.cc
  pdns/recursordist/mtasker_context.hh
  pdns/recursordist/negcache.hh
  pdns/recursordist/nod.cc
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-snmp.cc
  pdns/recursordist/rec-tcp.cc
  pdns/recursordist/recpacketcache.hh
  pdns/recursordist/recursor_cache.cc
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
  pdns/recursordist/test-aggressive_nsec_cc.cc
  pdns/recursordist/test-mtasker.cc
  pdns/recursordist/test-nod_cc.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc1.cc
  pdns/recursordist/test-syncres_cc10.cc
  pdns/recursordist/test-syncres_cc2.cc
  pdns/recursordist/test-syncres_cc3.cc
  pdns/recursordist/test-syncres_cc4.cc
  pdns/recursordist/test-syncres_cc5.cc
  pdns/recursordist/test-syncres_cc6.cc
  pdns/recursordist/test-syncres_cc7.cc
  pdns/recursordist/test-syncres_cc8.cc
  pdns/recursordist/test-syncres_cc9.cc
  pdns/snmp-agent.cc
  pdns/tcpiohandler.cc
  pdns/test-mplexer.cc
  pdns/unix_utility.cc
Labels: rec

#12722 rec: Also set pdns-distributes-queries for bulk tests.
  regression-tests/recursor-test
Labels: rec

#12723 rec: Do not generate large not really useful test file containing names in powerdnssec.org in bulk test
  build-scripts/test-recursor-bulk
Labels: rec

#12733 dnsdist: fix formatting and `external` description
  pdns/dnsdistdist/docs/reference/ebpf.rst
Labels: docs, dnsdist

#12735 recursor: restore explicit gzip compression for Ubuntu
  builder-support/debian/recursor/debian-buster/rules
Labels: rec

#12734 rec: Prep for rec-4.9.0-alpha1
  .github/actions/spell-check/expect.txt
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.9.rst
  pdns/recursordist/docs/changelog/index.rst
  pdns/recursordist/docs/performance.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#12693 dnsdist: Add ChangeLog and secpoll update for dnsdist 1.7.4
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#12721 auth: calm down the communicator loop
  pdns/auth-main.cc
  pdns/communicator.cc
  pdns/mastercommunicator.cc
Labels: auth, enhancement

#12686 Report Version when Testing Repositories
  build-scripts/docker/repo-test/generate-repo-files.py
Labels: enhancement, repo

#12755 docs: lmdb - Add blank line after explicit markup
  docs/backends/lmdb.rst
Labels: auth, docs

#12757 api tests: avoid default pipe size limit
  regression-tests.api/runtests.py
Labels: auth, enhancement, backport to auth-4.6.x?, backport to auth-4.7.x?

#12759 lmdb-safe: remove leftover debug variable
  ext/lmdb-safe/lmdb-typed.hh
Labels: auth, enhancement, easy

#12758 auth: remove unused var in tcpreceiver.cc
  pdns/tcpreceiver.cc
Labels: auth, easy

#12740 Pick the right signer name when a NSEC name is also a delegation point
  modules/tinydnsbackend/data
  modules/tinydnsbackend/data.cdb
  pdns/dnsname.cc
  pdns/dnssecsigner.cc
  pdns/test-dnsname_cc.cc
  regression-tests.nobackend/tinydns-data-check/command
  regression-tests.nobackend/tinydns-data-check/expected_result
  regression-tests/tests/axfr/expected_result
  regression-tests/tests/axfr/expected_result.dnssec
  regression-tests/tests/axfr/expected_result.nsec3
  regression-tests/tests/axfr/expected_result.nsec3-optout
  regression-tests/tests/ds-at-unsecure-zone-cut/expected_result.nsec3-optout
  regression-tests/tests/ent-unsigned-delegation/expected_result.dnssec
  regression-tests/tests/nsec-at-delegation/command
  regression-tests/tests/nsec-at-delegation/description
  regression-tests/tests/nsec-at-delegation/expected_result
  regression-tests/tests/nsec-at-delegation/expected_result.narrow
  regression-tests/tests/nsec-at-delegation/expected_result.nsec3
  regression-tests/tests/nsec-at-delegation/expected_result.nsec3-optout
  regression-tests/tests/nsec-at-delegation/skip.nodnssec
  regression-tests/zones/dnssec-parent.com
Labels: auth, defect

#12764 Ci fixes and cleanups
  regression-tests.dnsdist/requirements.txt
  regression-tests.recursor-dnssec/requirements.txt
  regression-tests/tests/.gitignore
  tasks.py
Labels: github_actions, ci
