Repository PowerDNS/pdns, pull requests merged in 2023-06, with the labels that each got.

#12867 rec: Prep for rec-4.9.0-beta1
  docs/secpoll.zone
  pdns/recursordist/docs/appendices/FAQ.rst
  pdns/recursordist/docs/changelog/4.9.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#12793 Another set of delinting
  pdns/recursordist/rec-taskqueue.cc
  pdns/recursordist/rec-taskqueue.hh
  pdns/recursordist/taskqueue.cc
  pdns/recursordist/taskqueue.hh
  pdns/recursordist/ws-recursor.cc
  pdns/recursordist/ws-recursor.hh
  pdns/secpoll.cc
  pdns/zonemd.cc
  pdns/zonemd.hh
Labels: auth, rec, dnsdist

#12898 rec: keep track of max depth reached and report it if !quiet
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
Labels: rec

#12840 Update dnsdist-console.cc
  pdns/dnsdist-console.cc
Labels: defect, dnsdist, backport to dnsdist-1.8.x

#12883 rec: add SOA to RPZ modified answers if configured to do so
  pdns/recursordist/docs/lua-config/rpz.rst
  pdns/recursordist/filterpo.hh
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-lua-conf.cc
  pdns/recursordist/rpzloader.cc
  pdns/recursordist/syncres.cc
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: rec, enhancement

#12896 rec: expose NOD/UDR metrics
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-snmp.cc
  pdns/recursordist/rec-tcounters.hh
  pdns/recursordist/rec_channel_rec.cc
  pdns/recursordist/ws-recursor.cc
  regression-tests.recursor-dnssec/test_SNMP.py
Labels: rec, enhancement

#12900 rec: Prevent duplicate C/DNAMEs being included when doing serve-stale
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
  pdns/recursordist/test-syncres_cc1.cc
Labels: rec, defect

#12881 builder-dispatch: add debian-bookworm target to defaults
  .github/workflows/builder-dispatch.yml
Labels: backport to rec-4.8.x?, backport to dnsdist-1.8.x, backport to auth-4.8.x?

#12905 dnsdist: Remove a racy test in the AsynchronousHolder unit tests
  pdns/dnsdistdist/test-dnsdistasync.cc
Labels: defect, dnsdist, backport to dnsdist-1.8.x

#12893 rec: add feature to switch off unsupported DNSSEC algos
  pdns/dnssecinfra.cc
  pdns/dnssecinfra.hh
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/recursordist/docs/settings.rst
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec_channel.hh
  pdns/recursordist/rec_channel_rec.cc
Labels: rec, enhancement

#12906 rec: systemd-journal backend: escape keys that are special
  pdns/misc.hh
  pdns/recursordist/rec-main.cc
Labels: rec

#12904 rec: uid_t and gid_t can be unsigned, so doing > on an -1 value is tricky
  pdns/recursordist/rec-main.cc
Labels: rec

#12907 rec-4.9.x: specialize GH workflows for branch
  .github/workflows/build-and-test-all.yml
  .github/workflows/builder.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/documentation.yml
  .github/workflows/secpoll.yml
  .github/workflows/spelling.yml
  .github/workflows/spelling2.yml
  .github/workflows/spelling3.yml
Labels: rec, ci

#12808 Reformat and delint arguments.cc and arguments.hh
  .not-formatted
  pdns/arguments.cc
  pdns/arguments.hh
Labels: auth, rec

#12802 dnsdist: Account for the health-check run time between two runs
  pdns/dnsdist.cc
Labels: enhancement, dnsdist, backport to dnsdist-1.8.x

#12892 YaHTTP: Prevent integer overflow on very large chunks
  ext/yahttp/yahttp/reqresp.cpp
Labels: auth, rec, defect, dnsdist, backport to rec-4.8.x?, backport to dnsdist-1.8.x, backport to auth-4.8.x?

#12804 dnsdist: Properly set the size of the UDP health-check response
  pdns/dnsdistdist/dnsdist-healthchecks.cc
Labels: defect, dnsdist, backport to dnsdist-1.7.x, backport to dnsdist-1.8.x

#12909 Fix build of speedtest and make sure it gets built automatically to avoid bitrot
  pdns/Makefile.am
  pdns/speedtest.cc
Labels: auth, tools

#12916 edited webserver config template for dnsdist docker container.
  dockerdata/startup.py
Labels: defect, dnsdist, docker, backport to dnsdist-1.8.x

#12918 rec: Prep for rec-4.9.0-rc1
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.9.rst
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#12783 dnsdist: Fix cache hit and miss metrics with DoH queries
  pdns/dnsdist.cc
  regression-tests.dnsdist/test_Metrics.py
Labels: defect, dnsdist, backport to dnsdist-1.8.x

#12820 dnsdist-1.8.x: Print the received, invalid health-check response ID
  pdns/dnsdistdist/dnsdist-healthchecks.cc
Labels: defect, dnsdist

#12821 dnsdist-1.8.x: Account for the health-check run time between two runs
  pdns/dnsdist.cc
Labels: defect, dnsdist

#12822 dnsdist-1.8.x: Properly set the size of the UDP health-check response
  pdns/dnsdistdist/dnsdist-healthchecks.cc
Labels: defect, dnsdist

#12823 dnsdist-1.8.x: Add the query ID to health-check log messages, fix nits
  pdns/dnsdistdist/dnsdist-healthchecks.cc
Labels: enhancement, dnsdist

#12824 dnsdist-1.8.x: Stop setting SO_REUSEADDR on outgoing UDP client sockets
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/dnsdist-healthchecks.cc
Labels: defect, dnsdist

#12913 dns random: add method to get full 32-bits of randomness
  .not-formatted
  pdns/dns_random.cc
  pdns/dns_random.hh
  pdns/lua-base4.cc
  pdns/opensslsigners.cc
  pdns/pdnsutil.cc
  pdns/recursordist/rec-main.cc
  pdns/test-dns_random_hh.cc
  pdns/tsigutils.cc
Labels: auth, rec

#12927 rec: fix documentation of zoneToCache localAddress attribute
  pdns/recursordist/docs/lua-config/ztc.rst
Labels: docs, rec

#12928 rec: fix daemonize(), followup to #12836
  pdns/recursordist/rec-main.cc
Labels: rec, backport to rec-4.9.x?

#12924 dnsdist: Add a regression test for the Lua FFI raw tag interface
  regression-tests.dnsdist/test_LuaFFI.py
Labels: enhancement, dnsdist

#11427 dnsdist: Implement Channels for communication between threads
  pdns/Makefile.am
  pdns/channel.cc
  pdns/channel.hh
  pdns/delaypipe.cc
  pdns/delaypipe.hh
  pdns/dnsdist-snmp.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/channel.cc
  pdns/dnsdistdist/channel.hh
  pdns/dnsdistdist/dnsdist-nghttp2.cc
  pdns/dnsdistdist/dnsdist-tcp-upstream.hh
  pdns/dnsdistdist/dnsdist-tcp.hh
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/test-channel.cc
  pdns/dnsdistdist/test-delaypipe_hh.cc
  pdns/doh.hh
  pdns/misc.hh
  pdns/recursordist/Makefile.am
  pdns/recursordist/channel.cc
  pdns/recursordist/channel.hh
  pdns/recursordist/rec-snmp.cc
  pdns/snmp-agent.cc
  pdns/snmp-agent.hh
  pdns/test-channel.cc
Labels: enhancement, dnsdist

#12933 rec: Followup to #12893: Rewrite and fix verifyOne() loop
  pdns/dnssecinfra.cc
Labels: rec, defect, backport to rec-4.9.x?

#12934 rec: Silence Coverity 1462719 Unchecked return value from library.
  pdns/recursordist/lwres.cc
Labels: rec

#12935 Stop using the now deprecated ERR_load_CRYPTO_strings() to detect OpenSSL
  m4/pdns_check_libcrypto.m4
Labels: auth, rec, defect, dnsdist, backport to dnsdist-1.7.x, backport to auth-4.7.x?, backport to rec-4.8.x?, backport to dnsdist-1.8.x, backport to auth-4.8.x?, backport to rec-4.9.x?

#12939 dnsdist: add dnsdist-lua-inspection-ffi.h to dist tarballs
  pdns/dnsdistdist/Makefile.am
Labels: defect, dnsdist

#12942 channel: Add an annotation so Coverity does not think we leak
  pdns/channel.hh
Labels: auth, rec, enhancement, dnsdist

#12950 dnsdist: Fix setRandomizedOutgoingSockets not showing up in the search
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/tuning.rst
Labels: docs, defect, dnsdist

#12945 Fix issue with clang-tidy and module source files
  .github/scripts/git-filter.py
  .github/workflows/build-and-test-all.yml
Labels: github_actions, ci

#12948 dnsdist: Implement the AsynchronousHolder with the new channel feature
  pdns/channel.hh
  pdns/dnsdistdist/dnsdist-async.cc
  pdns/dnsdistdist/dnsdist-async.hh
Labels: enhancement, dnsdist

#12932 rec: Backport 12928 to rec-4.9.x: fix daemonize()
  pdns/recursordist/rec-main.cc
Labels: rec, defect

#12936 rec: Backport 12933 to rec 4.9.x: rewrite and fix verifyOne() loop
  pdns/dnssecinfra.cc
Labels: rec

#12941 dnsdist: fix typo
  pdns/dnsdist.cc
Labels: defect, dnsdist, backport to dnsdist-1.8.x

#12943 dnsdist: Apply performance suggestions from Coverity
  pdns/dnsdist-dynblocks.hh
  pdns/dnsdist-lbpolicies.hh
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
  pdns/dnsdistdist/dnsdist-discovery.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-network.cc
  pdns/dnsdistdist/dnsdist-lua-network.cc
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/dnsdist-tcp.hh
  pdns/dnsparser.cc
  pdns/libssl.cc
  pdns/libssl.hh
  pdns/mplexer.hh
  pdns/tcpiohandler.cc
Labels: enhancement, dnsdist

#12951 rec: give advice on a typical dnsdist-recursor setup with the new defauls
  pdns/recursordist/docs/performance.rst
Labels: docs, rec

#10776 docs: generate requirements.txt with package hashes
  .github/actions/spell-check/excludes.txt
  .github/workflows/documentation.yml
  build-scripts/gh-actions-setup-inv-no-dist-upgrade
  docs/requirements.in
  docs/requirements.txt
Labels: auth

#12952 rec: fix a set of move optimizations, as suggested by coverity
  pdns/recursordist/logging.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec_channel_rec.cc
  pdns/recursordist/reczones-helpers.cc
  pdns/recursordist/reczones.cc
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
Labels: rec

#12957 rec: include qname when logging skip of step 4 of qname minimization
  pdns/recursordist/syncres.cc
Labels: rec, backport to rec-4.9.x?

#12556 Builder-dispatch: Generate provenance for built artifacts
  .github/workflows/build-packages.yml
  .github/workflows/build-tags.yml
  .github/workflows/builder-dispatch.yml
  builder-support/dockerfiles/Dockerfile.debbuild
  builder-support/dockerfiles/Dockerfile.rpmbuild
Labels: enhancement

#12921 dnsdist: Allow declaring custom metrics at runtime
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-dnscrypt.cc
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-snmp.cc
  pdns/dnsdist-tcp.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/dnsdist-dynblocks.cc
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/dnsdist-metrics.cc
  pdns/dnsdistdist/dnsdist-metrics.hh
  pdns/dnsdistdist/dnsdist-nghttp2.cc
  pdns/dnsdistdist/dnsdist-prometheus.hh
  pdns/dnsdistdist/dnsdist-proxy-protocol.cc
  pdns/dnsdistdist/dnsdist-secpoll.cc
  pdns/dnsdistdist/dnsdist-tcp.hh
  pdns/dnsdistdist/dnsdist-web.hh
  pdns/dnsdistdist/docs/reference/custommetrics.rst
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/test-dnsdist-lua-ffi.cc
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
  regression-tests.dnsdist/test_Advanced.py
Labels: enhancement, dnsdist, backport to dnsdist-1.8.x

#12877 bump sdist builders to alpine 3.18
  builder-support/dockerfiles/Dockerfile.authoritative
  builder-support/dockerfiles/Dockerfile.dnsdist
  builder-support/dockerfiles/Dockerfile.recursor
  builder-support/dockerfiles/Dockerfile.target.sdist
Labels: backport to auth-4.8.x?

#12963 rec: fix qname length getting out-of-sync with qname-minimization iteration count (approach 2)
  pdns/recursordist/syncres.cc
Labels: rec, defect

#12917 rec: Delint pdns recursor.cc
  pdns/dns.hh
  pdns/recursordist/lwres.hh
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-tcp.cc
  pdns/recursordist/syncres.hh
Labels: rec

#12968 rec: Backport 12963 to rec 4.9.x: fix qname length getting out-of-sync with qname-minimization iteration count
  pdns/recursordist/syncres.cc
Labels: rec, defect

#12969 Prep for rec-4.9.0
  docs/secpoll.zone
  pdns/recursordist/docs/appendices/EOL.rst
  pdns/recursordist/docs/changelog/4.9.rst
  pdns/recursordist/docs/performance.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#12971 Document the StatNodeStats.hits attribute.
  pdns/dnsdistdist/docs/reference/config.rst
Labels: docs, defect, dnsdist

#12973 Document the trailing '.' in StatNode.fullname
  pdns/dnsdistdist/docs/reference/config.rst
Labels: docs, enhancement, dnsdist
