Repository PowerDNS/pdns, pull requests merged in 2023-08, with the labels that each got.

#13084 dnsdist: Fix the group of the dnsdist.conf file when installed via RPM
  builder-support/specs/dnsdist.spec
Labels: defect, dnsdist, backport to dnsdist-1.8.x

#13088 dnsdist: Stop passing -u dnsdist -g dnsdist on systemd's ExecStart
  builder-support/specs/dnsdist.spec
Labels: enhancement, dnsdist

#13018 calidns: Fix setting an ECS source of 0
  pdns/calidns.cc
Labels: defect, tools, backport to auth-4.8.x?

#13013 dnsdist: Add Lua bindings to access selector and action
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-rules.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: enhancement, dnsdist

#13092 rec: Fixes a few performance issues reported by Coverity
  pdns/recursordist/lua-recursor4.cc
  pdns/recursordist/pdns_recursor.cc
Labels: rec, enhancement, backport to rec-4.8.x?, backport to rec-4.9.x?

#13096 auth lmdb: when broadcasting indexes, -do- rewrite them even if they are unchanged
  ext/lmdb-safe/lmdb-typed.hh
Labels: auth, defect, backport to auth-4.8.x?

#13098 rec: Expand the note on max-recursion-depth in the upgrade notes
  pdns/recursordist/docs/upgrade.rst
Labels: docs

#13108 Auth: Fix warnings in bind backend
  modules/bindbackend/binddnssec.cc
Labels: auth

#12949 auth: Refactor the MultiThreadDistributor using pdns::channel
  pdns/distributor.hh
Labels: auth, enhancement

#13111 Document default for `webserver-loglevel`
  docs/settings.rst
  pdns/recursordist/docs/settings.rst
Labels: auth, docs, rec

#13105 (I)XFR: handle partial read of len prefix
  pdns/ixfr.cc
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: auth, rec, backport to rec-4.7.x?, backport to rec-4.8.x?, backport to auth-4.8.x?, backport to rec-4.9.x?

#13113 dnsdist: Properly handle short reads on backend upgrade discovery
  pdns/dnsdistdist/dnsdist-discovery.cc
  pdns/sstuff.hh
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_BackendDiscovery.py
Labels: defect, dnsdist, backport to dnsdist-1.8.x

#13134 ixfrdist: switch testing to pytest
  regression-tests.ixfrdist/requirements.txt
  regression-tests.ixfrdist/runtests
Labels: ixfrdist

#13136 ixfrdist: set AA=1 on SOA responses
  contrib/assert-equal-DNSMessage/eqdnsmessage.py
  pdns/ixfrdist.cc
  regression-tests.ixfrdist/test_IXFR.py
Labels: defect, ixfrdist

#13138 coverity CID 398388: useless <0 check on unsigned value
  pdns/dnsdistdist/dnsdist-discovery.cc
Labels: dnsdist

#13135 dnsdist: Add a DNSHeader:getTC() Lua binding
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/docs/reference/dq.rst
  regression-tests.dnsdist/test_Lua.py
Labels: enhancement, dnsdist, backport to dnsdist-1.8.x

#13005 optsize off by -4 when including DNS cookie
  pdns/dnspacket.cc
Labels: auth, defect, backport to auth-4.7.x?, backport to auth-4.8.x?

#13141 tools: Address more Coverity warnings
  pdns/Makefile.am
  pdns/calidns.cc
  pdns/dnsbulktest.cc
  pdns/dnsgram.cc
  pdns/ixfrdist.cc
Labels: auth, defect

#13146 dnsdist: cosmetic compilation warning fixes
  pdns/dnsdist-tcp.cc
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
Labels: dnsdist

#13149 dnsdist: Properly record self-answered UDP responses with recvmmsg
  pdns/dnsdist.cc
Labels: defect, dnsdist, backport to dnsdist-1.8.x

#13150 dnsdist-1.8.x: Properly record self-answered UDP responses with recvmmsg
  pdns/dnsdist.cc
Labels: defect, dnsdist

#13147 dnsdist: DOH - make query channel receiving part blocking
  pdns/dnsdistdist/doh.cc
Labels: defect, dnsdist

#13151 Fix a few typos in log messages
  pdns/recursordist/rec-lua-conf.cc
  pdns/remote_logger.cc
Labels: rec, defect, backport to rec-4.8.x?, backport to rec-4.9.x?

#13152 Cleanup `convert-yaml-to-json.py`
  pdns/convert-yaml-to-json.py
Labels: auth

#13144 Consistency: Use #ifdef instead of #if in `iputils.cc`
  pdns/iputils.cc
Labels: auth

#13106 rec: replace data in the aggressive cache if new data becomes available
  pdns/recursordist/aggressive_nsec.cc
  pdns/recursordist/test-aggressive_nsec_cc.cc
Labels: rec, backport to rec-4.9.x?

#13102 rec: Do not assume the records are in a particular order when determining if an answer is NODATA
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
  pdns/recursordist/test-syncres_cc10.cc
Labels: rec, defect, backport to rec-4.9.x?

#13155 channel: Make the blocking parameters of the object queue explicit
  pdns/channel.hh
  pdns/delaypipe.cc
  pdns/distributor.hh
  pdns/dnsdist-tcp.cc
  pdns/dnsdistdist/dnsdist-nghttp2.cc
  pdns/dnsdistdist/doh.cc
  pdns/snmp-agent.cc
  pdns/test-channel.cc
Labels: auth, rec, enhancement, dnsdist

#13071 Fix code producing json
  ext/json11/json11.cpp
  pdns/Makefile.am
  pdns/recursordist/ws-recursor.cc
  pdns/test-webserver_cc.cc
  pdns/webserver.cc
  pdns/webserver.hh
  regression-tests.api/test_Servers.py
  regression-tests.api/test_Zones.py
Labels: auth, rec, defect, dnsdist, backport to auth-4.7.x?, backport to dnsdist-1.8.x, backport to auth-4.8.x?, backport to rec-4.9.x?

#13157 rec: Backport 13105 to rec 4.7.x: (I)XFR: handle partial read of len prefix
  pdns/ixfr.cc
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: rec, defect

#13158 rec: Backport 13105 to rec 4.8.x: (I)XFR: handle partial read of len prefix
  pdns/ixfr.cc
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: rec, defect

#13159 rec: Backport 13105 to rec 4.9.x: (I)XFR: handle partial read of len prefix
  pdns/ixfr.cc
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: rec, defect

#13160 rec: Backport 13151 to rec-4.9.x: Fix a few typos.
  pdns/recursordist/rec-lua-conf.cc
  pdns/remote_logger.cc
Labels: rec, defect

#13161 rec: Backport 13106 to rec 4.9.x: replace data in the aggressive cache if new data becomes available
  pdns/recursordist/aggressive_nsec.cc
  pdns/recursordist/test-aggressive_nsec_cc.cc
Labels: rec, defect

#13095 Add a coding guidelines document to the public repository
  CODING_GUIDELINES.md
  CONTRIBUTING.md
Labels: docs

#13163 Backport 13071 to rec 4.9.x: Fix code producing json
  ext/json11/json11.cpp
  pdns/Makefile.am
  pdns/recursordist/ws-recursor.cc
  pdns/test-webserver_cc.cc
  pdns/webserver.cc
  pdns/webserver.hh
  regression-tests.api/test_Servers.py
  regression-tests.api/test_Zones.py
Labels: rec, defect

#13117 dnsdist-1.8.x: Undo an accidentally change of disableZeroScope to disableZeroScoping
  pdns/dnsdist-lua.cc
Labels: defect, dnsdist

#13119 dnsdist-1.8.x: Work around Red Hat 8 pooping the bed in OpenSSL's headers
  m4/pdns_check_libcrypto.m4
Labels: defect, dnsdist

#13120 dnsdist-1.8.x: fix typo libeditr -> libedit
  pdns/dnsdist.cc
Labels: defect, dnsdist

#13121 dnsdist-1.8.x: Stop using the now deprecated ERR_load_CRYPTO_strings() to detect OpenSSL
  m4/pdns_check_libcrypto.m4
Labels: defect, dnsdist

#13124 dnsdist-1.8.x: Fix webserver config template for our docker container
  dockerdata/startup.py
Labels: enhancement, dnsdist

#13125 dnsdist-1.8.x: Increment the "dyn blocked" counter for eBPF blocks as well
  pdns/dnsdistdist/dnsdist-dynblocks.cc
Labels: defect, dnsdist

#13126 dnsdist-1.8.x: Remove a racy test in the AsynchronousHolder unit tests
  pdns/dnsdistdist/test-dnsdistasync.cc
Labels: defect, dnsdist

#13127 dnsdist-1.8.x: YaHTTP: Prevent integer overflow on very large chunks
  ext/yahttp/yahttp/reqresp.cpp
Labels: defect, dnsdist

#13128 dnsdist-1.8.x: Fix the console description of PoolAction and QPSPoolAction
  pdns/dnsdist-console.cc
Labels: defect, dnsdist

#13129 dnsdist-1.8.x: Properly handle reconnection failure for backend UDP sockets
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/dnsdist-tsan.supp
Labels: defect, dnsdist

#13130 dnsdist-1.8.x: Fix a memory leak when processing TLS tickets w/ OpenSSL 3.x
  pdns/libssl.cc
Labels: defect, dnsdist

#13131 dnsdist-1.8.x: Fix cache hit and miss metrics with DoH queries
  pdns/dnsdist.cc
  regression-tests.dnsdist/test_Metrics.py
Labels: defect, dnsdist

#13132 dnsdist-1.8x: SpoofAction: copy the QClass from the request
  pdns/dnsdist-lua-actions.cc
  regression-tests.dnsdist/test_Spoofing.py
Labels: defect, dnsdist

#13116 dnsdist-1.8.x: Properly handle short reads on backend upgrade discovery
  pdns/dnsdistdist/dnsdist-discovery.cc
  pdns/sstuff.hh
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_BackendDiscovery.py
Labels: defect, dnsdist

#13133 dnsdist-1.8.x: Make DNSQType.TSIG available in dnsdist
  pdns/backends/gsql/gsqlbackend.cc
  pdns/dnsparser.cc
  pdns/dnsparser.hh
  pdns/qtype.cc
  pdns/qtype.hh
  pdns/rfc2136handler.cc
Labels: enhancement, dnsdist

#13118 dnsdist-1.8.x: Fix the group of the dnsdist.conf file when installed via RPM
  builder-support/specs/dnsdist.spec
Labels: defect, dnsdist

#13123 dnsdist-1.8.x: Allow declaring custom metrics at runtime
  pdns/dnsdist-carbon.cc
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-web.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/dnsdist-metrics.cc
  pdns/dnsdistdist/dnsdist-metrics.hh
  pdns/dnsdistdist/docs/reference/custommetrics.rst
  pdns/dnsdistdist/test-dnsdist-lua-ffi.cc
  regression-tests.dnsdist/test_Advanced.py
Labels: enhancement, dnsdist

#13122 dnsdist-1.8.x: Automatically load Lua FFI inspection functions
  pdns/dnsdist-dynblocks.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-lua-inspection-ffi.h
  pdns/dnsdistdist/dnsdist-lua-inspection-ffi.hh
Labels: enhancement, dnsdist

#13168 Change the default for building with net-snmp from `auto` to `no`
  m4/pdns_with_net_snmp.m4
  tasks.py
Labels: rec, dnsdist

#13165 rec: Prep for upcoming rec 4.7.6, 4.8.5 and 4.9.1 releases
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.7.rst
  pdns/recursordist/docs/changelog/4.8.rst
  pdns/recursordist/docs/changelog/4.9.rst
Labels: docs, rec

#13176 rec: Backport #13102 to rec-4.9.x: Do not assume the records are in a particular order when deterining if an answer is NODATA
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
  pdns/recursordist/test-syncres_cc10.cc
Labels: rec, defect

#13175 Declare ssh_compat_getentropy in the right spot.
  ext/arc4random/arc4random.c
  ext/arc4random/includes.h
Labels: auth, rec, dnsdist

#13167 TCPIOHandler: Fix a race when creating the first TLS connections
  pdns/tcpiohandler.cc
Labels: rec, defect, dnsdist, backport to rec-4.8.x?, backport to dnsdist-1.8.x, backport to rec-4.9.x?

#13177 rec: backport 13174 to rec-4.9.x: Include cstdint in mtasker_ucontext.cc, noted by @zeha
  pdns/recursordist/mtasker_ucontext.cc
Labels: rec, defect

#13143 dnsdist: Try to fix a data race warning reported by TSAN
  pdns/dnsdist-cache.hh
  regression-tests.dnsdist/test_Metrics.py
Labels: enhancement, dnsdist

#13178 dnsdist-1.8.x: TCPIOHandler: Fix a race when creating the first TLS connections
  pdns/tcpiohandler.cc
Labels: defect, dnsdist

#13183 rec: fix call of empty() in Protobuf regression test, nice speedup
  regression-tests.recursor-dnssec/test_Protobuf.py
Labels: rec

#13164 Bindlexer use C++ bison header
  modules/bindbackend/Makefile.am
  pdns/Makefile.am
  pdns/bindlexer.l
Labels: auth

#13162 Auth: Print the list of loaded modules next to the config.h preset
  pdns/version.cc
Labels: auth

#13181 Fix provenance generation for our packages
  .github/workflows/build-packages.yml
  .github/workflows/builder-dispatch.yml
  builder-support/dockerfiles/Dockerfile.rpmbuild
Labels: defect, github_actions

#13190 rec: fix a few unused argument warnings (depening on features enabled)
  pdns/recursordist/lwres.cc
  pdns/recursordist/lwres.hh
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-protozero.cc
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
Labels: rec
