Repository PowerDNS/pdns, pull requests merged in 2024-11, with the labels that each got.

#14794 dnsdist: stop using makeRule, update Qname to QName so links should work
  pdns/dnsdistdist/docs/advanced/axfr.rst
  pdns/dnsdistdist/docs/advanced/ebpf.rst
  pdns/dnsdistdist/docs/reference/dq.rst
  pdns/dnsdistdist/docs/reference/rules-management.rst
Labels: docs, defect, dnsdist

#14792 dnsdist: Fix Coverity warning 445614: " Argument cannot be negative"
  pdns/dnsdistdist/dnsdist-cache.cc
Labels: defect, dnsdist

#14801 rec: make valgrind build and testrunner run work again
  pdns/recursordist/mtasker.hh
  pdns/recursordist/test-rec-tcounters_cc.cc
  pdns/recursordist/test-syncres_cc.cc
Labels: rec, defect

#14816 rec: periodic stats cleanup and rename outqueries-per-query to outqueries-per-query-perc
  pdns/recursordist/docs/upgrade.rst
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-tcounters.hh
  pdns/recursordist/syncres.cc
Labels: rec

#14809 rec: actively deprecate old style settings
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/recursordist/docs/upgrade.rst
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec_channel_rec.cc
  pdns/recursordist/rec_control.cc
  pdns/recursordist/settings/docs-new-preamble-in.rst
  pdns/recursordist/settings/docs-old-preamble-in.rst
  pdns/recursordist/settings/table.py
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor/vars.sample
  regression-tests/recursor-test
Labels: rec

#14796 rec: provide a few more Lua functions, most importantly record cache dump and load
  pdns/lua-base4.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/docs/lua-scripting/functions.rst
  pdns/recursordist/docs/lua-scripting/logging.rst
  pdns/recursordist/lua-recursor4.cc
  pdns/recursordist/lua-recursor4.hh
  pdns/recursordist/rec-main.cc
  pdns/recursordist/recursor_cache.cc
  pdns/recursordist/recursor_cache.hh
  pdns/recursordist/settings/table.py
  pdns/recursordist/test-recursorcache_cc.cc
Labels: rec, enhancement

#14768 dnsdist setTicketsKeyAddedHook(): adjust type of the key to fix potential truncate
  pdns/dnsdistdist/dnsdist-lua-hooks.cc
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#14817 Add dnsdist documentation example for using DoH behind nginx
  .github/actions/spell-check/expect.txt
  pdns/dnsdistdist/docs/guides/dns-over-https.rst
Labels: docs, enhancement, dnsdist

#14807 rec: drop ref in mtasker when it is no longer needed
  pdns/recursordist/mtasker.hh
  pdns/recursordist/mtasker_context.hh
  pdns/recursordist/test-mtasker.cc
Labels: rec, enhancement

#14819 rec: prep for rec-5.1.3
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/5.1.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#14759 rec: implement catalog zones to populate forwarding zones
  pdns/recursordist/Makefile.am
  pdns/recursordist/meson.build
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-lua-conf.cc
  pdns/recursordist/rec-lua-conf.hh
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-xfr.cc
  pdns/recursordist/rec-xfr.hh
  pdns/recursordist/rec-xfrtracker.cc
  pdns/recursordist/rec_channel_rec.cc
  pdns/recursordist/reczones.cc
  pdns/recursordist/rpzloader.cc
  pdns/recursordist/rpzloader.hh
  pdns/recursordist/settings/cxxsupport.cc
  pdns/recursordist/settings/docs-new-preamble-in.rst
  pdns/recursordist/settings/generate.py
  pdns/recursordist/settings/rust-bridge-in.rs
  pdns/recursordist/settings/rust/src/bridge.rs
  pdns/recursordist/settings/table.py
  pdns/recursordist/syncres.hh
  pdns/recursordist/test-settings.cc
  pdns/recursordist/ws-recursor.cc
  regression-tests.recursor-dnssec/requirements.in
  regression-tests.recursor-dnssec/requirements.txt
  regression-tests.recursor-dnssec/test_FWCatz.py
Labels: rec, enhancement

#14525 recursor: add 38696 root anchor
  pdns/recursordist/settings/table.py
  pdns/recursordist/test-settings.cc
  pdns/root-dnssec.hh
  regression-tests.recursor-dnssec/test_TrustAnchors.py
Labels: rec, backport to rec-4.9.x?, backport to rec-5.0.x?, backport to rec-5.1.x?

#14822 rec: fix a difference between record-cache hit and miss in some ServFail results
  pdns/recursordist/syncres.cc
  pdns/recursordist/test-syncres_cc1.cc
Labels: rec, defect

#14825 rec: rec_control top* cleanup
  pdns/recursordist/rec_channel_rec.cc
Labels: rec

#14830 rec: use a more generous timeout for a test using external servers
  regression-tests.recursor-dnssec/test_SimpleDoT.py
Labels: rec, ci

#14834 rec: fix coverity 1564914 (afaiks harmless)
  pdns/recursordist/rec-xfr.hh
Labels: rec

#14828 unbreak local running of auth regression tests
  regression-tests/start-test-stop
Labels: auth

#14835 rec: Prep for rec-5.2.0-alpha1
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/5.2.rst
  pdns/recursordist/docs/changelog/index.rst
  pdns/recursordist/docs/upgrade.rst
  pdns/recursordist/settings/docs-new-preamble-in.rst
Labels: docs, rec

#14833 dnsdist: Fix two broken Lua directives
  pdns/dnsdistdist/dnsdist-lua.cc
Labels: defect, dnsdist

#14838 rec: better fd count estimates and move default incoming.max_tcp_client to 1024
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-tcp.cc
  pdns/recursordist/settings/table.py
Labels: rec, enhancement

#14788 Finally fix the clang-tidy issues.
  .clang-tidy.bugs
  .clang-tidy.full
Labels: auth, rec, dnsdist

#14843 docs/requirements.txt: upgrade version of packages to the latest available
  docs/requirements.in
  docs/requirements.txt
Labels: github_actions, ci

#14842 auth: don't log absense of GSS-TSIG functionality at such a high level, use DEBUG
  pdns/tkey.cc
Labels: auth

#14765 Update docs/guides/basic-database.rst
  docs/guides/basic-database.rst
Labels: auth, docs

#14756 auth settings: document that lua-global-include-dir is in 5.0.0
  docs/settings.rst
Labels: auth, docs

#14826 rec-4.9.x: move from up/download-artifact@3 to @4
  .github/workflows/build-and-test-all.yml
  .github/workflows/build-packages.yml
  .github/workflows/builder-dispatch.yml
  .github/workflows/builder.yml
  .github/workflows/fuzz.yml
Labels: rec, ci

#14844 rec: allow addresses to retrieve catalog zones and RPZs to be names
  pdns/recursordist/Makefile.am
  pdns/recursordist/rec-lua-conf.cc
  pdns/recursordist/rec-system-resolve.cc
  pdns/recursordist/rec-system-resolve.hh
  pdns/recursordist/rec-xfr.cc
  pdns/recursordist/rec-xfr.hh
  pdns/recursordist/reczones.cc
  pdns/recursordist/rpzloader.cc
  pdns/recursordist/settings/cxxsupport.cc
  pdns/recursordist/settings/docs-new-preamble-in.rst
  pdns/recursordist/settings/rust/src/bridge.rs
  regression-tests.recursor-dnssec/test_FWCatz.py
Labels: rec, enhancement

#14847 rec: bunch of coverity reports, all low severity
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-xfr.cc
  pdns/recursordist/rec-xfr.hh
Labels: rec

#14789 GH actions: use arm64 Ubicloud runners only if a variable is defined at repository level
  .github/workflows/build-docker-images.yml
  .github/workflows/build-packages.yml
  .github/workflows/builder.yml
Labels: github_actions, ci

#14823 SVCB parser: allow quotes around port=
  .github/workflows/codeql-analysis.yml
  modules/tinydnsbackend/data
  modules/tinydnsbackend/data.cdb
  pdns/rcpgenerator.cc
  regression-tests.nobackend/tinydns-data-check/expected_result
  regression-tests/tests/svcb-servicemode/expected_result
  regression-tests/tests/svcb-servicemode/expected_result.dnssec
  regression-tests/zones/example.com
Labels: auth, defect, backport to auth-4.9.x?

#14604 auth: allow turning off across-zone resolving
  docs/settings.rst
  pdns/auth-main.cc
  pdns/packethandler.cc
  pdns/packethandler.hh
  regression-tests.auth-py/authtests.py
  regression-tests.auth-py/test_ResolveAcrossZones.py
Labels: auth, enhancement

#14850 dnsdist: add elapsed time to dq object
  pdns/dnsdistdist/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdistdist/docs/reference/dq.rst
Labels: enhancement, dnsdist, backport to dnsdist-1.9.x

#14856 rec: rec_control docs update to reflect current state of dump-cache
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/recursordist/rec_channel_rec.cc
Labels: docs, rec

#14858 rec: Remember which query led to aggresive cache insert/update
  pdns/recursordist/aggressive_nsec.cc
  pdns/recursordist/aggressive_nsec.hh
  pdns/recursordist/syncres.cc
  pdns/recursordist/test-aggressive_nsec_cc.cc
Labels: rec, enhancement

#14676 auth: don't build .so for non-dyn modules
  configure.ac
  modules/bindbackend/Makefile.am
  modules/geoipbackend/Makefile.am
  modules/gmysqlbackend/Makefile.am
  modules/godbcbackend/Makefile.am
  modules/gpgsqlbackend/Makefile.am
  modules/gsqlite3backend/Makefile.am
  modules/ldapbackend/Makefile.am
  modules/lmdbbackend/Makefile.am
  modules/lua2backend/Makefile.am
  modules/pipebackend/Makefile.am
  modules/remotebackend/Makefile.am
  modules/tinydnsbackend/Makefile.am
Labels: auth, enhancement

#14863 rec: fix serial number inconsistency for RPZ dumpfiles
  pdns/ixfr.cc
  pdns/recursordist/filterpo.hh
  pdns/recursordist/rpzloader.cc
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: rec, defect, backport to rec-5.1.x?

#14871 auth-4.9.x: Backport 14862 - builder: remove ubuntu lunar+mantic as they are EOL
  .github/workflows/builder.yml
  builder-support/dockerfiles/Dockerfile.target.ubuntu-lunar
  builder-support/dockerfiles/Dockerfile.target.ubuntu-lunar-amd64
  builder-support/dockerfiles/Dockerfile.target.ubuntu-lunar-arm64
  builder-support/dockerfiles/Dockerfile.target.ubuntu-mantic
  builder-support/dockerfiles/Dockerfile.target.ubuntu-mantic-amd64
  builder-support/dockerfiles/Dockerfile.target.ubuntu-mantic-arm64
Labels: github_actions

#14852 rec: add headerflags and ednsVersion as fields in protobuf messages
  contrib/ProtobufLogger.py
  pdns/dnsmessage.proto
  pdns/protozero.hh
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-tcp.cc
  regression-tests.recursor-dnssec/test_Protobuf.py
Labels: rec, enhancement

#14886 rec: add rec_control reload-yaml, document which and how settings can be modified runtime
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/recursordist/rec_channel_rec.cc
  pdns/recursordist/settings/docs-new-preamble-in.rst
  pdns/recursordist/settings/generate.py
  pdns/recursordist/settings/table.py
Labels: docs, rec, enhancement

#14891 rec: Fix a couple typos in the Rust generator and bridge
  pdns/recursordist/settings/generate.py
  pdns/recursordist/settings/rust-bridge-in.rs
Labels: rec

#14888 dnsdist custom metrics: better error messages, small doc improvements
  pdns/dnsdistdist/dnsdist-metrics.cc
  pdns/dnsdistdist/docs/reference/custommetrics.rst
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#14877 dnsdist-1.9.x: Backport of #14764 - add the ability to load a given TLS tickets key
  pdns/dnsdist-doh-common.hh
  pdns/dnsdist-lua.cc
  pdns/dnsdistdist/dnsdist-doh-common.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/libssl.cc
  pdns/libssl.hh
  pdns/tcpiohandler.cc
  pdns/tcpiohandler.hh
  regression-tests.dnsdist/test_TLS.py
Labels: enhancement, dnsdist

#14890 rec: Prep for rec-5.2.0-beta1
  .github/actions/spell-check/expect.txt
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/5.2.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#14899 rec: cleanup dnstap regression test a bit and try to avoid LeakSanitizer internal issue
  regression-tests.recursor-dnssec/test_RecDnstap.py
Labels: rec

#14895 rec: follow clippy's code improvements advice, move static lib version to 5.2.0
  pdns/recursordist/settings/generate.py
  pdns/recursordist/settings/rust/Cargo.lock
  pdns/recursordist/settings/rust/Cargo.toml
  pdns/recursordist/settings/rust/src/bridge.rs
Labels: rec

#14896 rec: coverity fixes, all minor optimizations
  pdns/recursordist/aggressive_nsec.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rpzloader.cc
Labels: rec

#14897 fix register type race
  modules/remotebackend/test-remotebackend-pipe.cc
  modules/remotebackend/test-remotebackend-unix.cc
  modules/remotebackend/test-remotebackend-zeromq.cc
  pdns/dnsparser.cc
  pdns/dnsparser.hh
  pdns/dnsrecords.cc
  pdns/dnsrecords.hh
  pdns/dnsscope.cc
  pdns/nsecrecords.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/reczones.cc
  pdns/sillyrecords.cc
  pdns/test-dnsname_cc.cc
  pdns/test-dnsrecords_cc.cc
  pdns/test-signers.cc
  pdns/test-zoneparser_tng_cc.cc
Labels: auth, rec, defect, backport to rec-5.1.x?
