Repository PowerDNS/pdns, pull requests merged in 2024-07, with the labels that each got.

#14313 auth-4.9.x: Backport removal of centos-8 and centos-8-stream as build targets
  .github/workflows/builder.yml
  builder-support/dockerfiles/Dockerfile.target.centos-8
  builder-support/dockerfiles/Dockerfile.target.centos-8-amd64
  builder-support/dockerfiles/Dockerfile.target.centos-8-arm64
  builder-support/dockerfiles/Dockerfile.target.centos-8-stream
Labels: auth, ci

#14314 auth-4.8.x: Backport removal of centos-8 and centos-8-stream as build targets
  .github/workflows/builder.yml
  builder-support/dockerfiles/Dockerfile.target.centos-8
  builder-support/dockerfiles/Dockerfile.target.centos-8-amd64
  builder-support/dockerfiles/Dockerfile.target.centos-8-arm64
  builder-support/dockerfiles/Dockerfile.target.centos-8-stream
Labels: auth, ci

#14315 auth-4.7.x: Backport removal of centos-8 and centos-8-stream as build targets
  .github/workflows/builder.yml
  builder-support/dockerfiles/Dockerfile.target.centos-8
  builder-support/dockerfiles/Dockerfile.target.centos-8-amd64
  builder-support/dockerfiles/Dockerfile.target.centos-8-arm64
  builder-support/dockerfiles/Dockerfile.target.centos-8-stream
Labels: auth, ci

#14400 switch el7 builds to Oracle Linux 7
  builder-support/dockerfiles/Dockerfile.target.el-7
  builder-support/dockerfiles/Dockerfile.target.oraclelinux-7
Labels: auth, rec, dnsdist, backport to auth-4.7.x?, backport to dnsdist-1.8.x, backport to auth-4.8.x?, backport to rec-4.9.x?, backport to rec-5.0.x?, backport to auth-4.9.x?, backport to dnsdist-1.9.x, backport to rec-5.1.x?

#14396 Tidy sstuf.hh and shuffle.??
  .not-formatted
  modules/remotebackend/httpconnector.cc
  pdns/ixfrutils.cc
  pdns/shuffle.cc
  pdns/sstuff.hh
  pdns/test-distributor_hh.cc
  pdns/webserver.cc
Labels: auth, rec, dnsdist

#14399 build-packages: Upload SLSA attestations to the right directory
  .github/workflows/build-packages.yml
Labels: enhancement, ci

#14404 Yahttp router: appease coverity wrt unsigned underflow in match()
  ext/yahttp/yahttp/router.cpp
Labels: auth, rec

#14408 rec: show throttle reason
  .not-formatted
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
  pdns/recursordist/test-syncres_cc2.cc
Labels: rec, enhancement

#14401 rec: Prep for rec-4.9.7 and 5.0.7 releases
  docs/secpoll.zone
  pdns/recursordist/docs/appendices/EOL.rst
  pdns/recursordist/docs/changelog/4.9.rst
  pdns/recursordist/docs/changelog/5.0.rst
Labels: docs, rec

#14409 Various cleanups
  modules/geoipbackend/geoipbackend.cc
  modules/lua2backend/lua2api2.hh
  pdns/dnspacket.cc
  pdns/misc.cc
  pdns/misc.hh
  pdns/opensslsigners.cc
  pdns/pdnsutil.cc
Labels: auth

#14415 rec: Backport 14359 to 5.0.x: dns.cc: use pdns::views::UnsignedCharView
  pdns/Makefile.am
  pdns/dns.cc
  pdns/dnsdistdist/views.hh
  pdns/recursordist/Makefile.am
  pdns/recursordist/views.hh
  pdns/views.hh
Labels: rec

#14413 rec: Backport 14400 to rec 4.9.x: switch el7 builds to Oracle Linux 7
  builder-support/dockerfiles/Dockerfile.target.el-7
  builder-support/dockerfiles/Dockerfile.target.oraclelinux-7
Labels: rec, ci

#14412 rec: Backport 14400 to rec 5.0.x: switch el7 builds to Oracle Linux 7
  builder-support/dockerfiles/Dockerfile.target.el-7
  builder-support/dockerfiles/Dockerfile.target.oraclelinux-7
Labels: rec, ci

#14327 dnsdist: add support for a callback when a new tickets key is added
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-lua-hooks.cc
  pdns/dnsdistdist/dnsdist-lua-hooks.hh
  pdns/dnsdistdist/dnsdist.cc
  pdns/dnsdistdist/dnsdist.hh
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/test-dnsdistlbpolicies_cc.cc
  pdns/libssl.cc
  pdns/libssl.hh
  pdns/lock.hh
  pdns/tcpiohandler.cc
  pdns/tcpiohandler.hh
  regression-tests.dnsdist/test_TLS.py
Labels: enhancement, dnsdist, backport to dnsdist-1.9.x

#14419 Fix compile error on OPENSSL_VERSION_MAJOR < 3
  pdns/libssl.hh
Labels: auth, rec, dnsdist

#14420 build-package: Fix copy of the provenance attestations
  .github/workflows/build-packages.yml
Labels: defect

#14425 Recursor: Fix processsing typo.
  pdns/recursordist/settings/cxxsupport.cc
Labels: rec, backport to rec-5.1.x?

#14435 rec: Backport 14425 to rec 5.1.x: fix typo in log message
  pdns/recursordist/settings/cxxsupport.cc
Labels: rec

#14431 Don't include openssl/engine.h if it's not going to be used
  pdns/libssl.cc
Labels: rec, enhancement, dnsdist, backport to dnsdist-1.9.x

#14398 dnsdist: Make the logging functions available to all Lua environments
  pdns/dnsdistdist/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/dnsdist-lua.cc
  pdns/dnsdistdist/dnsdist-lua.hh
Labels: defect, dnsdist

#14437 dnsdist-1.9.x: Backport of 14359 - dns.cc: use pdns::views::UnsignedCharView
  pdns/dns.cc
  pdns/views.hh
Labels: dnsdist

#14417 dnsdist: Better documentation and debug informations for `XSK`/`AF_XDP`
  contrib/xdp.py
  pdns/dnsdistdist/docs/advanced/xsk.rst
  pdns/dnsdistdist/docs/reference/constants.rst
Labels: docs, enhancement, dnsdist

#14439 dnsdist-1.9.x: Backport of 14395 - Dedup Prometheus help and type lines for custom metrics with labels
  pdns/dnsdist-web.cc
  regression-tests.dnsdist/test_Prometheus.py
Labels: defect, dnsdist

#14438 dnsdist-1.9.x: Backport 14398 - Make the logging functions available to all Lua environments
  pdns/dnsdist-lua-bindings.cc
  pdns/dnsdist-lua.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
Labels: defect, dnsdist

#14450 dnsdist-1.9.x: Backport of 14392 - Handle Quiche >= 0.22.0
  pdns/dnsdistdist/doq.cc
  pdns/dnsdistdist/m4/pdns_with_quiche.m4
Labels: dnsdist

#14446 dnsdist-1.9.x: Backport 14400 - Switch el7 builds to Oracle Linux 7
  builder-support/dockerfiles/Dockerfile.target.el-7
  builder-support/dockerfiles/Dockerfile.target.oraclelinux-7
Labels: dnsdist

#14454 auth catalogs SQL: force order of domains to avoid spurious rehashes
  modules/gmysqlbackend/gmysqlbackend.cc
  modules/godbcbackend/godbcbackend.cc
  modules/gpgsqlbackend/gpgsqlbackend.cc
  modules/gsqlite3backend/gsqlite3backend.cc
Labels: auth, defect, backport to auth-4.8.x?, backport to auth-4.9.x?

#14451 rec: document log lines produced by logging.quiet set to false
  .github/actions/spell-check/expect.txt
  pdns/recursordist/docs/running.rst
Labels: docs, rec

#14453 rec: prep for rec-5.1.0
  docs/secpoll.zone
  pdns/recursordist/docs/appendices/EOL.rst
  pdns/recursordist/docs/changelog/5.1.rst
Labels: docs, rec

#14452 dnsdist-1.9.x: Backport 14431 - Don't include openssl/engine.h if it's not going to be used
  pdns/libssl.cc
Labels: dnsdist

#14449 dnsdist-1.9.x: Backport 14327 - add support for a callback when a new tickets key is added
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-lua-hooks.cc
  pdns/dnsdistdist/dnsdist-lua-hooks.hh
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/test-dnsdistlbpolicies_cc.cc
  pdns/libssl.cc
  pdns/libssl.hh
  pdns/lock.hh
  pdns/tcpiohandler.cc
  pdns/tcpiohandler.hh
  regression-tests.dnsdist/test_TLS.py
Labels: enhancement, dnsdist

#14430 rec: refactor sanitizeRecords and fix order dependency
  pdns/dns.cc
  pdns/dns.hh
  pdns/dnsparser.hh
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
  pdns/recursordist/test-syncres_cc9.cc
Labels: rec

#14456 rec: move to rec-5.1.x for builder-releases-dispatch.yml as well
  .github/workflows/builder-releases-dispatch.yml
Labels: rec, ci

#14445 rec 4.9.x: daily build for el-7 instead of centos-7
  .github/workflows/builder.yml
Labels: rec, ci

#14444 rec 5.0.x: daily build for el-7 instead of centos-7
  .github/workflows/builder.yml
Labels: rec, ci

#14442 rec 5.1.x: daily build for el-7 instead of centos-7
  .github/workflows/builder.yml
Labels: rec, ci

#14429 dnsdist: Fix a race in the XSK/AF_XDP backend handling code
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/dnsdist-lua.cc
  pdns/dnsdistdist/dnsdist-xsk.cc
  pdns/dnsdistdist/dnsdist.cc
  pdns/dnsdistdist/dnsdist.hh
  pdns/xsk.cc
  pdns/xsk.hh
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#14468 ci: Stop building rel/dnsdist-1.7.x, as 1.7.x is EOL
  .github/workflows/build-and-test-all-releases-dispatch.yml
  .github/workflows/builder-releases-dispatch.yml
Labels: ci

#14467 dnsdist-1.8.x: Backport 14359 - dns.cc: use pdns::views::UnsignedCharView
  pdns/dns.cc
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/views.hh
  pdns/views.hh
Labels: dnsdist

#14436 dnsdist-1.9.x: Backport 14429 - Fix a race in the XSK/AF_XDP backend handling code
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/dnsdist-xsk.cc
  pdns/xsk.cc
  pdns/xsk.hh
Labels: defect, dnsdist

#14469 dnsdist 1.8.x: switch el7 builds to Oracle Linux 7
  builder-support/dockerfiles/Dockerfile.target.el-7
  builder-support/dockerfiles/Dockerfile.target.oraclelinux-7
Labels: dnsdist

#14459 rec: provide docker image with yml config file
  Dockerfile-recursor
  dockerdata/recursor.conf
Labels: rec, enhancement, backport to rec-5.1.x?

#14461 dnsdist: Prepare ChangeLog and secpoll for 1.9.6
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#14474 build-packages: More lenient permissions on the packages directory
  .github/workflows/build-packages.yml
Labels: defect, ci

#14458 rec: add meson build
  ext/probds/meson.build
  meson/boost-context/meson.build
  meson/boost-filesystem/meson.build
  meson/dnstap/meson.build
  meson/libcurl/meson.build
  meson/libresolv/meson.build
  meson/libsnmp/meson.build
  meson/nod/meson.build
  meson/pthread-np/meson.build
  pdns/recursordist/ext/arc4random/meson.build
  pdns/recursordist/ext/json11/meson.build
  pdns/recursordist/ext/probds/meson.build
  pdns/recursordist/ext/yahttp/meson.build
  pdns/recursordist/ext/yahttp/yahttp/meson.build
  pdns/recursordist/meson
  pdns/recursordist/meson.build
  pdns/recursordist/meson_options.txt
  pdns/recursordist/pubsuffix.cc
  pdns/recursordist/settings/generate.py
  pdns/recursordist/settings/meson.build
  pdns/recursordist/settings/rust/build_settings
  pdns/recursordist/settings/rust/meson.build
Labels: rec

#14471 rec: dump right SOA into dumpFile and report non-relative SOA for includeSOA=true
  pdns/recursordist/filterpo.cc
  pdns/recursordist/rpzloader.cc
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: rec, backport to rec-4.9.x?, backport to rec-5.0.x?, backport to rec-5.1.x?

#14485 Auth/Meson: Fix man-page generation
  docs/generate-man-pages.py
  meson.build
Labels: auth

#14484 Auth/Meson: Fix `.service` files generation
  meson.build
Labels: auth

#14486 Pin pysnmp version for rec and dnsdist regression tests
  regression-tests.dnsdist/requirements.txt
  regression-tests.recursor-dnssec/requirements.txt
Labels: rec, dnsdist, backport to dnsdist-1.8.x, backport to rec-4.9.x?, backport to rec-5.0.x?, backport to dnsdist-1.9.x, backport to rec-5.1.x?

#14492 dnsdist: Backport 14486 to dnsdist 1.9.x: pin pysnmp to version 5 for regression tests
  regression-tests.dnsdist/requirements.txt
  regression-tests.recursor-dnssec/requirements.txt
Labels: dnsdist

#14491 dnsdist: Backport 14486 to dnsdist 1.8.x: pin pysnmp to version 5 for regression tests
  regression-tests.dnsdist/requirements.txt
  regression-tests.recursor-dnssec/requirements.txt
Labels: dnsdist

#14490 rec: Backport 14486 to rec 4.9.x: pin pysnmp to version 5 for regression tests
  regression-tests.dnsdist/requirements.txt
  regression-tests.recursor-dnssec/requirements.txt
Labels: rec

#14488 rec: Backport 14486 to rec 5.1.x: pin pysnmp to version 5 for regression tests
  regression-tests.dnsdist/requirements.txt
  regression-tests.recursor-dnssec/requirements.txt
Labels: rec

#14475 rec: Ignore pubsuffix.cc now that it's no longer (a symlink) in git
  pdns/recursordist/.gitignore
Labels: rec

#14470 rec: expand YAML docs with more examples and consistent formatting
  pdns/recursordist/settings/docs-new-preamble-in.rst
Labels: docs, rec

#14497 dnsdist: Only include the expensive LuaContext header when required
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/dnsdist-console.cc
  pdns/dnsdistdist/dnsdist-dynblocks.hh
  pdns/dnsdistdist/dnsdist-healthchecks.cc
  pdns/dnsdistdist/dnsdist-lbpolicies.cc
  pdns/dnsdistdist/dnsdist-lbpolicies.hh
  pdns/dnsdistdist/dnsdist-lua-ffi.hh
  pdns/dnsdistdist/dnsdist-lua.hh
  pdns/dnsdistdist/dnsdist-rules.hh
  pdns/dnsdistdist/dnsdist-tcp.cc
  pdns/dnsdistdist/dnsdist-web.cc
  pdns/dnsdistdist/dnsdist.hh
  pdns/dnsdistdist/test-dnsdistrules_cc.cc
Labels: enhancement, dnsdist

#14494 rec: fix include dir docs to not say YAML settings include .conf files
  pdns/recursordist/settings/table.py
Labels: docs, rec

#14496 dnsdist: Fix/silence Coverity "auto causes copy" warnings
  pdns/dnsdistdist/dnsdist-carbon.cc
  pdns/dnsdistdist/dnsdist-console.cc
  pdns/dnsdistdist/dnsdist-lua-rules.cc
  pdns/dnsdistdist/dnsdist-lua.cc
  pdns/dnsdistdist/dnsdist-web.cc
  pdns/dnsdistdist/dnsdist.cc
Labels: dnsdist

#14477 rec: Backport 14459 to rec 5.1.x: move default Docker config to YAML
  Dockerfile-recursor
  dockerdata/recursor.conf
Labels: rec, enhancement

#14478 rec: Backport 14404 to rec 5.1.x: Yahttp router: avoid unsigned underflow in match()
  ext/yahttp/yahttp/router.cpp
Labels: rec, defect

#14479 rec: Backport 14404 to rec 5.0.x: Yahttp router: avoid unsigned underflow in route()
  ext/yahttp/yahttp/router.cpp
Labels: rec, defect

#14495 dnsdist: Use atomic variables for the per-protocol latencies
  pdns/dnsdistdist/dnsdist-carbon.cc
  pdns/dnsdistdist/dnsdist-lua-inspection.cc
  pdns/dnsdistdist/dnsdist-metrics.cc
  pdns/dnsdistdist/dnsdist-metrics.hh
  pdns/dnsdistdist/dnsdist-snmp.cc
  pdns/dnsdistdist/dnsdist-web.cc
  pdns/dnsdistdist/dnsdist.cc
  pdns/dnsdistdist/dnsdist.hh
  pdns/stat_t.hh
Labels: defect, dnsdist

#14481 rec: Backport 14471 to rec-5.1.x: dump right SOA into dumpFile and report non-relative SOA for includeSOA=true
  pdns/recursordist/filterpo.cc
  pdns/recursordist/rpzloader.cc
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: rec, defect

#14482 rec: Backport of 14471 to rec-5.0.x: dump right SOA into dumpFile and report non-relative SOA for includeSOA=true
  pdns/recursordist/filterpo.cc
  pdns/recursordist/rpzloader.cc
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: rec, defect

#14483 rec: Backport of 14471 to rec-4.9.x: dump right SOA into dumpFile and report non-relative SOA for includeSOA=true
  pdns/recursordist/filterpo.cc
  pdns/recursordist/rpzloader.cc
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: rec, defect

#14499 rec: limit the number of async tasks pushed to resolve NS names
  pdns/recursordist/syncres.cc
Labels: rec

#14500 auth: fix domain ordering in query for mysql and odbc-sqlite, and test it
  modules/gmysqlbackend/gmysqlbackend.cc
  regression-tests/backends/godbc_sqlite3-master
  regression-tests/backends/gsql-common
Labels: auth, backport to auth-4.8.x?, backport to auth-4.9.x?

#14501 rec: Backport 14499 to rec-5.1.x: limit the number of async tasks pushed to resolve NS names
  pdns/recursordist/syncres.cc
Labels: rec

#14514 Update RECURSOR-MIB to fix wrong naming for maintenanceCount object
  pdns/recursordist/RECURSOR-MIB.txt
Labels: rec, backport to rec-5.1.x?

#14516 rec: Backport 14514 to rec 5.1.x: fix maintenanceCalls vs maintenanceCount
  pdns/recursordist/RECURSOR-MIB.txt
Labels: rec

#14520 rec: Prep for rec-4.9.8, rec-5.0.8 and rec-5.1.1
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.9.rst
  pdns/recursordist/docs/changelog/5.0.rst
  pdns/recursordist/docs/changelog/5.1.rst
Labels: docs, rec

#14505 `pdnsutil`: Add `backend-lookup` subcommand
  contrib/_pdnsutil.zsh_completion
  contrib/pdnsutil.bash_completion.d
  docs/manpages/pdnsutil.1.rst
  pdns/dnspacket.cc
  pdns/dnspacket.hh
  pdns/pdnsutil.cc
Labels: auth

#14518 rec/auth: Refactor version reporting code and write version to stdout
  .not-formatted
  pdns/auth-main.cc
  pdns/recursordist/rec-main.cc
  pdns/version.cc
  pdns/version.hh
Labels: auth, rec

#14519 common: remove position from MOADNSParser::answers_t, it it used nowhere
  pdns/axfr-retriever.cc
  pdns/dnsbulktest.cc
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/dnsdistdist/test-dnsdist-dnsparser.cc
  pdns/dnsdistdist/test-dnsdist_cc.cc
  pdns/dnspacket.cc
  pdns/dnsparser.cc
  pdns/dnsparser.hh
  pdns/dnsproxy.cc
  pdns/dnsrecords.cc
  pdns/dnsreplay.cc
  pdns/ixfr.cc
  pdns/ixfrdist.cc
  pdns/ixfrutils.cc
  pdns/nsec3dig.cc
  pdns/recursordist/lwres.cc
  pdns/recursordist/rec-system-resolve.cc
  pdns/resolver.cc
  pdns/rfc2136handler.cc
  pdns/saxfr.cc
  pdns/sdig.cc
  pdns/speedtest.cc
  pdns/stubresolver.cc
  pdns/tcpreceiver.cc
  pdns/test-dnsrecords_cc.cc
  pdns/test-tsig.cc
  pdns/tsigverifier.cc
Labels: auth, rec, dnsdist

#14394 auth: provide dns packet when doing lookup for presigned signatures
  pdns/dbdnsseckeeper.cc
  pdns/dnssecinfra.hh
  pdns/dnsseckeeper.hh
  pdns/dnssecsigner.cc
  pdns/packethandler.cc
Labels: auth, enhancement, needs review

#14517 rec: avoid duplicate object files in meson build
  pdns/recursordist/meson.build
  pdns/recursordist/settings/meson.build
Labels: rec

#14487 rec: add generation of man pages to meson.build
  pdns/recursordist/docs/generate-man-pages.py
  pdns/recursordist/meson.build
Labels: rec

#11678 Lua global include
  docs/settings.rst
  modules/lua2backend/lua2api2.hh
  pdns/auth-main.cc
  pdns/auth-secondarycommunicator.cc
  pdns/lua-auth4.cc
  pdns/lua-auth4.hh
  pdns/lua-base4.cc
  pdns/lua-base4.hh
  pdns/lua-record.cc
  pdns/packethandler.cc
  pdns/recursordist/lua-recursor4.cc
  pdns/recursordist/lua-recursor4.hh
  pdns/recursordist/rec-lua-conf.cc
  pdns/recursordist/settings/table.py
Labels: auth, enhancement

#14530 docs: Add link to the fstrm FrameStream library
  pdns/dnsdistdist/docs/reference/dnstap.rst
  pdns/recursordist/docs/lua-config/protobuf.rst
Labels: docs, rec, enhancement, dnsdist
