Repository PowerDNS/pdns, pull requests merged in 2024-01, with the labels that each got.

#13670 dnsdist: doq,doh3 make sure we enforce any ACL
  pdns/dnsdistdist/doh3.cc
  pdns/dnsdistdist/doq.cc
  regression-tests.dnsdist/quictests.py
  regression-tests.dnsdist/test_DOH3.py
  regression-tests.dnsdist/test_DOQ.py
Labels: defect, dnsdist

#13675 Fix documentation building error for dnsdist and recursor
  pdns/dnsdistdist/docs/requirements.txt
  pdns/recursordist/docs/requirements.txt
Labels: rec, defect, dnsdist

#13674 Enable doq and doh3 in dockerfile-dnsdist
  Dockerfile-dnsdist
Labels: enhancement, dnsdist

#13676 dnsdist: Enable PMTU discovery and disable fragmentation on QUIC binds
  pdns/dnsdist.cc
  pdns/iputils.cc
  pdns/iputils.hh
Labels: enhancement, dnsdist

#13667 dnsdist: Clean up the Lua objects before exiting
  pdns/dnsdist.cc
Labels: defect, dnsdist

#13679 ci: Update upload-artifact and download-artifact to version 4
  .github/workflows/build-and-test-all.yml
  .github/workflows/build-packages.yml
  .github/workflows/builder.yml
  .github/workflows/documentation.yml
  .github/workflows/fuzz.yml
Labels: ci

#13680 rec: Fix a potential null deref in `MTasker::schedule()`
  pdns/recursordist/mtasker.hh
  pdns/recursordist/rec-main.cc
  pdns/recursordist/test-mtasker.cc
Labels: rec, defect

#13685 rec: Backport 13675 to rec 5.0.x: Fix documentation building error for dnsdist and recursor
  pdns/dnsdistdist/docs/requirements.txt
  pdns/recursordist/docs/requirements.txt
Labels: rec

#13688 build-packages: Fix the handling of provenance artifacts
  .github/workflows/build-packages.yml
Labels: auth, rec, defect, dnsdist, backport to auth-4.7.x?, backport to rec-4.8.x?, backport to dnsdist-1.8.x, backport to auth-4.8.x?, backport to rec-4.9.x?, backport to rec-5.0.x?

#13684 rec: Prepare for rec-5.0.1 final release
  docs/secpoll.zone
  pdns/recursordist/docs/appendices/EOL.rst
  pdns/recursordist/docs/changelog/5.0.rst
Labels: docs, rec

#13693 iputils: avoid unused warnings on !linux
  pdns/iputils.cc
Labels: auth, rec, dnsdist

#13692 GH Acttions: fix builder workflow for Debian Trixie
  builder-support/dockerfiles/Dockerfile.target.debian-trixie
Labels: github_actions, backport to rec-5.0.x?

#13694 Backport 13675 to rec 4.9.x: Fix documentation building error for dnsdist and recursor
  pdns/dnsdistdist/docs/requirements.txt
  pdns/recursordist/docs/requirements.txt
Labels: rec

#13695 Backport 13675 to rec 4.8.x: Fix documentation building error for dnsdist and recursor
  pdns/dnsdistdist/docs/requirements.txt
  pdns/recursordist/docs/requirements.txt
Labels: rec

#13683 Small cleanups of the Github clang-tidy helper scripts
  .github/scripts/clang-tidy.py
  .github/scripts/git-filter.py
Labels: ci

#13441 auth: forward EDNS Client Subnet option during ALIAS processing
  .not-formatted
  pdns/Makefile.am
  pdns/dnspacket.cc
  pdns/dnspacket.hh
  pdns/dnsproxy.cc
  pdns/dnsproxy.hh
  pdns/ednssubnet.cc
  pdns/ednssubnet.hh
  pdns/stubresolver.cc
  pdns/stubresolver.hh
  regression-tests.auth-py/clientsubnetoption.py
  regression-tests.auth-py/test_ALIAS.py
Labels: auth, enhancement

#13580 add ubuntu-noble build target and test it daily
  .github/workflows/builder.yml
  builder-support/dockerfiles/Dockerfile.target.ubuntu-noble
  builder-support/dockerfiles/Dockerfile.target.ubuntu-noble-amd64
  builder-support/dockerfiles/Dockerfile.target.ubuntu-noble-arm64
Labels: backport to rec-5.0.x?, backport to auth-4.9.x?

#13713 dnsdist: DoH3 add content-type header information in responses
  pdns/dnsdistdist/doh3.cc
  pdns/dnsdistdist/doq.cc
Labels: defect, dnsdist

#13711 rec: Cleanup of code doing SNMP OID handling
  pdns/dnsdist-snmp.cc
  pdns/recursordist/rec-snmp.cc
  pdns/snmp-agent.cc
  pdns/snmp-agent.hh
Labels: rec, dnsdist

#13706 Fix a few coverity reports
  ext/yahttp/yahttp/router.hpp
  pdns/recursordist/rec-main.cc
  pdns/recursordist/syncres.cc
Labels: auth, rec, dnsdist

#13719 rec: coverity 20240116
  pdns/axfr-retriever.cc
  pdns/recursordist/aggressive_nsec.cc
  pdns/recursordist/syncres.cc
Labels: rec

#13481 Add and document a `localwho()` function for LUA records
  .github/actions/spell-check/allow.txt
  docs/lua-records/functions.rst
  pdns/lua-record.cc
Labels: auth

#13716 dnsdist: properly set protocol when logging
  .not-formatted
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdist-lua.hh
  pdns/dnsdist-protobuf.cc
  pdns/dnsdist-protobuf.hh
  pdns/dnsdist.hh
  pdns/dnsmessage.proto
  pdns/dnsname.hh
  pdns/dnstap.cc
  pdns/dnstap.hh
  pdns/protozero.hh
  pdns/recursordist/lwres.cc
  pdns/recursordist/pdns_recursor.cc
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_Protobuf.py
Labels: defect, dnsdist

#13633 auth: set catalog in gsql getAllDomains
  docs/upgrading.rst
  modules/gmysqlbackend/gmysqlbackend.cc
  modules/godbcbackend/godbcbackend.cc
  modules/gpgsqlbackend/gpgsqlbackend.cc
  modules/gsqlite3backend/gsqlite3backend.cc
  pdns/backends/gsql/gsqlbackend.cc
  regression-tests.api/test_Zones.py
  regression-tests/backends/godbc_sqlite3-master
Labels: auth, defect

#12891 auth docs: add note about EL9 and SHA1
  docs/upgrading.rst
Labels: auth, docs

#13722 auth LUA createForward: allow non-hex word prefix
  pdns/lua-record.cc
  regression-tests.auth-py/test_LuaRecords.py
Labels: auth

#13727 dnsdist, rec: Fix missed optimizations reported by Coverity
  pdns/dnsdist-lua-actions.cc
  pdns/dnstap.cc
Labels: rec, enhancement, dnsdist

#13650 dnsdist: Fall back to libcrypto for authenticated encryption
  .github/actions/spell-check/allow.txt
  .not-formatted
  pdns/dnsdist-console.cc
  pdns/dnsdist-console.hh
  pdns/dnsdist-lua.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-crypto.cc
  pdns/dnsdistdist/dnsdist-crypto.hh
  pdns/dnsdistdist/docs/guides/console.rst
  pdns/dnsdistdist/docs/manpages/dnsdist.1.rst
  pdns/dnsdistdist/doh3.cc
  pdns/dnsdistdist/doq-common.cc
  pdns/dnsdistdist/doq-common.hh
  pdns/dnsdistdist/doq.cc
  pdns/sodcrypto.cc
Labels: enhancement, dnsdist

#13697 Backport 13675 to dnsdist 1.7.x: Fix documentation building error for dnsdist and recursor
  pdns/dnsdistdist/docs/requirements.txt
  pdns/recursordist/docs/requirements.txt
Labels: dnsdist

#13729 getAllDomains catalog: avoid useless copy
  pdns/backends/gsql/gsqlbackend.cc
Labels: auth, enhancement

#13725 auth: fix tinydnsbackend compilation issue
  modules/tinydnsbackend/Makefile.am
Labels: auth, defect

#13728 STDOUT instead of STDERR. Probably a typo.
  pdns/recursordist/rec_control.cc
  regression-tests.recursor/YAMLConversion/expected_result
Labels: rec

#13702 rec: use ref wrapper instead of raw pointer in variant
  pdns/logger.hh
  pdns/recursordist/syncres.cc
Labels: rec, enhancement

#13732 Cleanup `sha.hh` and `digests.hh`
  .not-formatted
  pdns/digests.hh
  pdns/dnssecsigner.cc
  pdns/pkcs11signers.cc
  pdns/sha.hh
  pdns/test-digests_hh.cc
  pdns/test-sha_hh.cc
Labels: auth

#13734 Fix compilation errors in `dnsproxy.cc` due to unused macro
  pdns/dnsproxy.cc
Labels: auth

#13731 Cleanup & format `dnsbackend.cc/.hh`
  .not-formatted
  pdns/dnsbackend.cc
  pdns/dnsbackend.hh
Labels: auth

#13701 rec: RPZ from primary refactor and allow notifies for RPZs
  pdns/recursordist/docs/lua-config/rpz.rst
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-lua-conf.cc
  pdns/recursordist/rec-lua-conf.hh
  pdns/recursordist/rpzloader.cc
  pdns/recursordist/rpzloader.hh
  pdns/recursordist/settings/table.py
  regression-tests.recursor-dnssec/test_RPZ.py
Labels: rec, enhancement

#13723 DNSName: correct len and offset types
  pdns/dnsname.cc
  pdns/dnsname.hh
Labels: auth, rec, dnsdist

#13733 CI: Enable verbose logging to catch errors within logging macros
  tasks.py
Labels: auth, rec

#13110 Log port with all freshness check failure scenarios.
  pdns/resolver.cc
Labels: auth, enhancement, backport to auth-4.8.x?

#13737 rec: fix YAML conversion test
  regression-tests.recursor/YAMLConversion/command
Labels: rec

#13504 rec: introduce command to set aggressive NSEC cache size
  pdns/recursordist/aggressive_nsec.hh
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/recursordist/rec_channel_rec.cc
Labels: rec, enhancement

#13736 dnsdist: Update Quiche to 0.20.0
  builder-support/helpers/install_quiche.sh
  tasks.py
Labels: enhancement, dnsdist

#13744 rec: Tidy filterpo.?? (reaching into iputils.hh as well)
  pdns/iputils.hh
  pdns/recursordist/filterpo.cc
  pdns/recursordist/filterpo.hh
Labels: rec

#13745 auth: fix gss regression test
  regression-tests.auth-py/test_GSSTSIG.py
Labels: auth

#13747 Link to existing documentation for DNSNameSet.
  pdns/dnsdistdist/docs/rules-actions.rst
Labels: docs, defect, dnsdist

#13741 rec: fix Coverity issues in new RPZ code
  pdns/recursordist/rec-lua-conf.cc
  pdns/recursordist/rpzloader.cc
Labels: rec

#13742 rec: update to cargo 1.75 and updated Cargo dependencies
  builder-support/helpers/install_rust.sh
  pdns/recursordist/settings/rust/Cargo.lock
Labels: rec

#13724 dnsname: Optimize parsing of uncompressed labels
  pdns/dnsname.cc
  pdns/dnsname.hh
Labels: auth, rec, enhancement, dnsdist

#13749 ci: Exclude the fuzzing/corpus dir from the 'no binary files' check
  .github/workflows/codeql-analysis.yml
Labels: ci

#13746 rec: tidy ResolveContext class
  pdns/iputils.hh
  pdns/recursordist/lwres.cc
  pdns/recursordist/lwres.hh
  pdns/recursordist/resolve-context.hh
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc1.cc
  pdns/recursordist/test-syncres_cc10.cc
  pdns/recursordist/test-syncres_cc2.cc
  pdns/recursordist/test-syncres_cc3.cc
  pdns/recursordist/test-syncres_cc4.cc
  pdns/recursordist/test-syncres_cc5.cc
  pdns/recursordist/test-syncres_cc6.cc
  pdns/recursordist/test-syncres_cc7.cc
  pdns/recursordist/test-syncres_cc8.cc
  pdns/recursordist/test-syncres_cc9.cc
Labels: rec
