Repository PowerDNS/pdns, pull requests merged in 2024-03, with the labels that each got.

#13847 rec: Fix gathering of denial of existence proof for wildcard-expanded names
  pdns/recursordist/syncres.cc
  pdns/recursordist/test-syncres_cc3.cc
Labels: rec, defect, backport to rec-4.8.x?, backport to rec-4.9.x?, backport to rec-5.0.x?

#13855 auth: revive remotebackend tests and fix failures
  modules/remotebackend/test-remotebackend.cc
  modules/remotebackend/testrunner.sh
  modules/remotebackend/unittest.rb
  modules/remotebackend/unittest_pipe.rb
  modules/remotebackend/unittest_zeromq.rb
  modules/remotebackend/unixconnector.cc
Labels: auth, defect, ci, backport to auth-4.8.x?, backport to auth-4.9.x?

#13854 rec: Backport 13847 to rec-4.8.x: Fix gathering of denial of existence proof for wildcard-expanded names
  pdns/recursordist/test-syncres_cc3.cc
  pdns/syncres.cc
Labels: rec, defect

#13853 rec: Backport 13847 to rec 4.9.x: Fix gathering of denial of existence proof for wildcard-expanded names
  pdns/recursordist/syncres.cc
  pdns/recursordist/test-syncres_cc3.cc
Labels: rec, defect

#13852 rec: Backport 13847 to rec-5.0.x: Fix gathering of denial of existence proof for wildcard-expanded names
  pdns/recursordist/syncres.cc
  pdns/recursordist/test-syncres_cc3.cc
Labels: rec, defect

#13789 rec: Backport 13580 to rec 5.0.x: add ubuntu-noble build target and test it daily
  .github/workflows/builder.yml
  builder-support/dockerfiles/Dockerfile.target.ubuntu-noble
  builder-support/dockerfiles/Dockerfile.target.ubuntu-noble-amd64
  builder-support/dockerfiles/Dockerfile.target.ubuntu-noble-arm64
Labels: rec

#13846 rec: Backport 13830 to rec 5.0.x: reduce RPZ memory usage
  pdns/recursordist/rec-main.cc
Labels: rec, enhancement

#13845 rec: Backport 13824 to rec-5.0.x: log if a dnssec related limit was hit (if log_bogus is set)
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/syncres.hh
  pdns/validate.cc
  pdns/validate.hh
Labels: rec, enhancement

#13799 rec: Backport 13788 to rec 4.8.x: fix the zoneToCache regression introduced by SA 2024-01
  pdns/recursordist/rec-zonetocache.cc
  pdns/zonemd.cc
  pdns/zonemd.hh
  regression-tests.recursor-dnssec/test_ZTC.py
Labels: rec, defect

#13848 dnsdist: Fix HTTP/1 -> HTTP/2 mistake in the upgrade notes
  pdns/dnsdistdist/docs/upgrade_guide.rst
Labels: docs, defect, dnsdist

#13849 Docker: Only print config if debug flag is set
  Docker-README.md
  dockerdata/startup.py
Labels: auth, rec, dnsdist, docker, backport to dnsdist-1.8.x, backport to auth-4.8.x?, backport to rec-4.9.x?, backport to rec-5.0.x?, backport to auth-4.9.x?, backport to dnsdist-1.9.x

#13851 tcpiohandler: Use server preference algoritm for ALPN selection
  pdns/Makefile.am
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/views.hh
  pdns/dnsname.cc
  pdns/dnsname.hh
  pdns/recursordist/Makefile.am
  pdns/recursordist/views.hh
  pdns/tcpiohandler.cc
  pdns/views.hh
  regression-tests.dnsdist/test_DOH.py
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#13861 rec: tidy rpzloader.cc and .hh
  pdns/recursordist/rpzloader.cc
  pdns/recursordist/rpzloader.hh
Labels: rec

#13865 common: less strict clang-tidy: allow const and/or ref fields in classes
  .clang-tidy.full
Labels: auth, rec, dnsdist

#13870 rec: prep for 5.0.3, 4.9.4 and 4.8.7
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.8.rst
  pdns/recursordist/docs/changelog/4.9.rst
  pdns/recursordist/docs/changelog/5.0.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#13864 Support v6 in FrameStreamLogger, including tidy
  pdns/fstrm_logger.cc
  pdns/fstrm_logger.hh
Labels: rec, dnsdist

#13866 rec: Don't enter wildcard qnames into the cache in the ZoneToCache function
  pdns/recursordist/rec-zonetocache.cc
Labels: rec

#13814 Update remote.rst to reflect that getAllDomains might be mandatory
  docs/backends/remote.rst
Labels: auth, docs

#13867 auth: on OpenBSD, try harder to send on a non-blocking socket
  pdns/nameserver.cc
Labels: auth, defect, backport to auth-4.9.x?

#13841 auth: do not disable ns records at apex in consumer zones
  pdns/auth-secondarycommunicator.cc
Labels: auth, defect, backport to auth-4.8.x?, backport to auth-4.9.x?

#13882 dnsdist-1.6.x: remove spell checker
  .github/workflows/spelling.yml
Labels: dnsdist

#13205 auth: catalog, include groups in hash calculation
  pdns/auth-catalogzone.cc
Labels: auth, defect, backport to auth-4.8.x?, backport to auth-4.9.x?

#13873 auth debian: adjust option name in shipped postinst
  builder-support/debian/authoritative/debian-buster/pdns-backend-bind.postinst
Labels: auth, defect

#13860 auth LUA dblookup: switch qtype argument to int
  docs/lua-records/functions.rst
  pdns/lua-record.cc
  regression-tests.auth-py/test_LuaRecords.py
Labels: auth, backport to auth-4.9.x?

#13879 auth LUA: support returning empty set in filterForward
  docs/lua-records/functions.rst
  pdns/lua-record.cc
  regression-tests.auth-py/test_LuaRecords.py
Labels: backport to auth-4.9.x?

#13877 validate: Remove unused `harvestCSPFromRecs()`
  pdns/validate.cc
  pdns/validate.hh
Labels: auth, rec, enhancement

#13909 dnsdist: update to quiche 0.20.1
  builder-support/helpers/install_quiche.sh
  tasks.py
Labels: dnsdist

#13910 dnsdist: backport 13907 to 1.9.x: gh actions: wo issue 9491 - actions/runner-images
  .github/workflows/build-and-test-all.yml
Labels: dnsdist

#13911 dnsdist 1.9.x: remove irrelevant targets from branch build
  .github/workflows/build-and-test-all.yml
  .github/workflows/builder.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/documentation.yml
  .github/workflows/misc-dailies.yml
  .github/workflows/secpoll.yml
  .github/workflows/spelling.yml
  .github/workflows/spelling2.yml
  .github/workflows/spelling3.yml
Labels: dnsdist

#13912 dnsdist: Backport 13909 to dnsdist 1.9.x: update to quiche 0.20.1
  builder-support/helpers/install_quiche.sh
  tasks.py
Labels: dnsdist

#13889 rec: tidy recursor-lua4.cc and recursor-lua4.hh
  pdns/recursordist/lua-recursor4.cc
  pdns/recursordist/lua-recursor4.hh
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-tcp.cc
Labels: rec, enhancement

#13876 dnsdist: Simplify the handling of rule chains
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-lua-actions.cc
  pdns/dnsdistdist/dnsdist-lua-rules.cc
  pdns/dnsdistdist/dnsdist-rule-chains.cc
  pdns/dnsdistdist/dnsdist-rule-chains.hh
  pdns/dnsdistdist/dnsdist-tcp-upstream.hh
  pdns/dnsdistdist/dnsdist-web.cc
  pdns/dnsdistdist/dnsdist-xsk.cc
  pdns/dnsdistdist/dnsdist.cc
  pdns/dnsdistdist/dnsdist.hh
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/doh3.cc
  pdns/dnsdistdist/doq.cc
  pdns/dnsdistdist/test-dnsdist_cc.cc
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
Labels: enhancement, dnsdist

#13916 .dockerignore: adjust for https://github.com/docker/buildx/issues/850
  .dockerignore
Labels: backport to auth-4.9.x?

#13919 rec: don't throttle lame servers if they are marked as dontThrottle
  pdns/recursordist/syncres.cc
Labels: rec

#13906 dnsdist: Fix first IPv6 console connection being rejected
  pdns/dnsdistdist/dnsdist-console.cc
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_Console.py
Labels: defect, dnsdist, backport to dnsdist-1.8.x, backport to dnsdist-1.9.x

#13920 dnsdist: Shrink InternalQueryState's size by reordering its fields
  pdns/dnsdistdist/dnsdist-idstate.hh
Labels: enhancement, dnsdist, backport to dnsdist-1.9.x

#13928 add ubuntu noble to default build targets
  .github/workflows/build-packages.yml
  .github/workflows/builder-dispatch.yml
Labels: auth, rec, dnsdist, packages

#13930 sdig: remove xpf handling
  docs/manpages/sdig.1.rst
  pdns/sdig.cc
Labels: auth, tools

#13929 auth 4.9 debian: adjust option name in shipped postinst
  builder-support/debian/authoritative/debian-buster/pdns-backend-bind.postinst
Labels: auth, defect, packages

#13927 Fix annoying compiler warnings by introducing and switching to `pdns::UniqueFilePtr`
  modules/pipebackend/coprocess.cc
  modules/pipebackend/coprocess.hh
  modules/remotebackend/pipeconnector.cc
  modules/remotebackend/remotebackend.hh
  pdns/dnsdistdist/dnsdist-cache.cc
  pdns/dnsdistdist/dnsdist-lua-inspection.cc
  pdns/dnsdistdist/doh.cc
  pdns/dnspcap.cc
  pdns/dnspcap.hh
  pdns/dnspcap2protobuf.cc
  pdns/dnssecinfra.cc
  pdns/dnssecinfra.hh
  pdns/dnstcpbench.cc
  pdns/ixfrutils.cc
  pdns/libssl.cc
  pdns/libssl.hh
  pdns/misc.cc
  pdns/misc.hh
  pdns/pdnsutil.cc
  pdns/recursordist/aggressive_nsec.cc
  pdns/recursordist/aggressive_nsec.hh
  pdns/recursordist/negcache.cc
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec_channel_rec.cc
  pdns/recursordist/recpacketcache.cc
  pdns/recursordist/recursor_cache.cc
  pdns/recursordist/reczones.cc
  pdns/recursordist/rpzloader.cc
  pdns/recursordist/settings/cxxsupport.cc
  pdns/recursordist/syncres.cc
  pdns/recursordist/test-aggressive_nsec_cc.cc
  pdns/recursordist/test-negcache_cc.cc
  pdns/recursordist/test-rpzloader_cc.cc
  pdns/recursordist/test-settings.cc
  pdns/tcpiohandler.cc
Labels: auth, rec, enhancement, dnsdist, backport to dnsdist-1.9.x

#13932 Add a bunch of new compiler versions to the compiler list used by boost.m4
  m4/boost.m4
Labels: auth, rec, dnsdist

#13931 rec ci: also build a rec with all optional stuff disabled
  .github/workflows/build-and-test-all.yml
  .github/workflows/codeql-analysis.yml
  tasks.py
Labels: rec

#13834 dnsdist: Properly handle a failure of the first lazy health-check
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/dnsdist.cc
  pdns/dnsdistdist/test-dnsdistbackend_cc.cc
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#13946 dnsdist: also handle EHOSTUNREACH as a case for reconnecting the socket
  pdns/dnsdistdist/dnsdist.cc
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#13939 dnsdist-1.9.x: Backport of #13849 - Docker: Only print config if debug flag is set
  Docker-README.md
  dockerdata/startup.py
Labels: defect, dnsdist

#13941 dnsdist-1.9.x: Backport of #13906 - Fix first IPv6 console connection being rejected
  pdns/dnsdist-console.cc
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_Console.py
Labels: defect, dnsdist

#13942 dnsdist-1.9.x: Backport of #13920 - Shrink InternalQueryState's size by reordering its fields
  pdns/dnsdist-idstate.hh
Labels: enhancement, dnsdist

#13945 dnsdist-1.9.x: Backport of 13834 - dnsdist: Properly handle a failure of the first lazy health-check
  pdns/dnsdist.cc
  pdns/dnsdist.hh
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/test-dnsdistbackend_cc.cc
Labels: defect, dnsdist

#13940 dnsdist-1.9.x: Backport of #13851 - tcpiohandler: Use server preference algoritm for ALPN selection
  pdns/Makefile.am
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/views.hh
  pdns/dnsname.cc
  pdns/dnsname.hh
  pdns/recursordist/Makefile.am
  pdns/recursordist/views.hh
  pdns/tcpiohandler.cc
  pdns/views.hh
  regression-tests.dnsdist/test_DOH.py
Labels: defect, dnsdist

#13943 dnsdist-1.9.x: Backport of 13927 - Fix annoying compiler warnings by introducing and switching to `pdns::UniqueFilePtr`
  modules/pipebackend/coprocess.cc
  modules/pipebackend/coprocess.hh
  modules/remotebackend/pipeconnector.cc
  modules/remotebackend/remotebackend.hh
  pdns/dnsdist-cache.cc
  pdns/dnsdist-lua-inspection.cc
  pdns/dnsdistdist/doh.cc
  pdns/dnspcap.cc
  pdns/dnspcap.hh
  pdns/dnspcap2protobuf.cc
  pdns/dnssecinfra.cc
  pdns/dnssecinfra.hh
  pdns/dnstcpbench.cc
  pdns/ixfrutils.cc
  pdns/libssl.cc
  pdns/libssl.hh
  pdns/misc.cc
  pdns/misc.hh
  pdns/pdnsutil.cc
  pdns/recursordist/aggressive_nsec.cc
  pdns/recursordist/aggressive_nsec.hh
  pdns/recursordist/negcache.cc
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec_channel_rec.cc
  pdns/recursordist/recpacketcache.cc
  pdns/recursordist/recursor_cache.cc
  pdns/recursordist/reczones.cc
  pdns/recursordist/rpzloader.cc
  pdns/recursordist/settings/cxxsupport.cc
  pdns/recursordist/syncres.cc
  pdns/recursordist/test-aggressive_nsec_cc.cc
  pdns/recursordist/test-negcache_cc.cc
  pdns/recursordist/test-rpzloader_cc.cc
  pdns/recursordist/test-settings.cc
  pdns/tcpiohandler.cc
Labels: enhancement, dnsdist

#13965 auth: Wrap SSql pointers in a unique pointer earlier
  modules/gmysqlbackend/gmysqlbackend.cc
  modules/godbcbackend/godbcbackend.cc
  modules/gpgsqlbackend/gpgsqlbackend.cc
  modules/gsqlite3backend/gsqlite3backend.cc
  pdns/backends/gsql/gsqlbackend.hh
Labels: auth, enhancement

#13954 auth smysql: remove unused var
  modules/gmysqlbackend/gmysqlbackend.cc
  modules/gmysqlbackend/smysql.cc
  modules/gmysqlbackend/smysql.hh
Labels: auth

#13955 Clean up `SSQLite3::~SSQLite3`
  pdns/ssqlite3.cc
Labels: auth

#13951 auth: deprecate output of SHA1, GOST hashes
  pdns/pdnsutil.cc
  pdns/ws-auth.cc
Labels: auth, rest-api

#13842 rec: add structured logging backend that uses JSON representation
  .github/actions/spell-check/expect.txt
  pdns/recursordist/docs/appendices/structuredlogging.rst
  pdns/recursordist/rec-main.cc
  pdns/recursordist/settings/table.py
Labels: rec, enhancement

#13966 rec-main: let NetmaskGroup parse dont-throttle-netmasks
  pdns/recursordist/rec-main.cc
Labels: rec, backport to rec-5.0.x?

#13964 dnsdist: Document that cache hits go into the ring buffer since 1.8.0
  pdns/dnsdistdist/docs/guides/dynblocks.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/upgrade_guide.rst
Labels: docs, enhancement, dnsdist

#13971 Always check HAVE_XYZ flags with #ifdef
  pdns/threadname.cc
Labels: auth, rec, dnsdist

#13914 dnsdist: Fix XSK-enabled check when reconnecting a backend
  pdns/dnsdistdist/dnsdist-backend.cc
Labels: defect, dnsdist

#13944 dnsdist-1.9.x: Backport of 13914 - Fix XSK-enabled check when reconnecting a backend
  pdns/dnsdistdist/dnsdist-backend.cc
Labels: defect, dnsdist

#12989 auth, rec: update option text and docs to clarify logging is to stderr, not stdout
  docs/settings.rst
  pdns/auth-main.cc
  pdns/recursordist/docs/running.rst
  pdns/recursordist/settings/table.py
Labels: auth, rec

#12769 Update Dynamic DNS Update Docs with GSS-TSIG
  docs/dnsupdate.rst
Labels: auth, docs

#13979 rec: fix netmask docs wrt deprecatd isIpX() functions
  pdns/recursordist/docs/lua-scripting/netmask.rst
Labels: docs, rec

#13844 rec: remove the possiblility to disable structured logging
  pdns/logging.hh
  pdns/recursordist/docs/upgrade.rst
  pdns/recursordist/logging.cc
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec_control.cc
  pdns/recursordist/rpzloader.cc
  pdns/recursordist/settings/table.py
  regression-tests.recursor/YAMLConversion/expected_result
Labels: rec

#13976 dnsdist-1.9.x: Backport #13946 - Also handle EHOSTUNREACH as a case for reconnecting the socket
  pdns/dnsdist.cc
Labels: defect, dnsdist

#10933 m4: Enable 64-bit time_t on 32-bit systems with glibc-2.34
  m4/pdns_check_time_t.m4
Labels: backport to dnsdist-1.8.x, backport to auth-4.8.x?, backport to rec-4.9.x?, backport to rec-5.0.x?, backport to auth-4.9.x?, backport to dnsdist-1.9.x

#13981 Fix recursor packages builds
  builder-support/dockerfiles/Dockerfile.recursor
  builder-support/dockerfiles/Dockerfile.rpmbuild
Labels: rec, defect

#13921 Rec: add feature to allow names (resolved by system resolver) in forwarding config
  pdns/recursordist/Makefile.am
  pdns/recursordist/configure.ac
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-system-resolve.cc
  pdns/recursordist/rec-system-resolve.hh
  pdns/recursordist/rec_channel_rec.cc
  pdns/recursordist/reczones.cc
  pdns/recursordist/settings/docs-new-preamble-in.rst
  pdns/recursordist/settings/rust/Cargo.lock
  pdns/recursordist/settings/rust/Cargo.toml
  pdns/recursordist/settings/rust/src/bridge.rs
  pdns/recursordist/settings/rust/src/helpers.rs
  pdns/recursordist/settings/table.py
  pdns/recursordist/test-rec-system-resolve.cc
  pdns/recursordist/test-settings.cc
  regression-tests.recursor-dnssec/test_NamedForward.py
Labels: rec, enhancement

#13982 rec: also look for __res_query symbol
  pdns/recursordist/configure.ac
Labels: rec

#13985 rec: fixup res-system-resolve.cc on FreeBSD: resolve.h needs netinet/in.h
  pdns/recursordist/rec-system-resolve.cc
Labels: rec

#13984 rec: Correctly count NSEC3s considered when chasing the closest encloser
  pdns/recursordist/test-syncres_cc8.cc
  pdns/validate.cc
Labels: rec, defect, backport to rec-4.8.x?, backport to rec-4.9.x?, backport to rec-5.0.x?

#13969 rec: use shared NOD (and/or UDR) DB, to avoid multiple copies in memory and on disk
  pdns/misc.hh
  pdns/recursordist/nod.cc
  pdns/recursordist/nod.hh
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/settings/table.py
  pdns/recursordist/stable-bloom.hh
Labels: rec, enhancement

#13983 Generate Software Bill Of Materials (SBOMs) for our RPM packages
  builder-support/dockerfiles/Dockerfile.rpmsbom
  builder-support/dockerfiles/Dockerfile.rpmtest
  builder-support/dockerfiles/Dockerfile.target.amazon-2
  builder-support/dockerfiles/Dockerfile.target.amazon-2023
  builder-support/dockerfiles/Dockerfile.target.centos-7
  builder-support/dockerfiles/Dockerfile.target.centos-8
  builder-support/dockerfiles/Dockerfile.target.centos-9-stream
  builder-support/dockerfiles/Dockerfile.target.el-9
  builder-support/dockerfiles/Dockerfile.target.oraclelinux-8
  builder-support/helpers/generate-sbom-dnf.py
Labels: auth, rec, enhancement, dnsdist

#13999 dnsdist: Fix DNS over HTTP connections/queries counters with `nghttp2`
  pdns/dnsdistdist/dnsdist-nghttp2-in.cc
  pdns/dnsdistdist/docs/guides/webserver.rst
  pdns/dnsdistdist/doh.cc
  regression-tests.dnsdist/test_DOH.py
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#13923 dnsdist: Add a new response chain for XFR responses
  .github/actions/spell-check/expect.txt
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-console.cc
  pdns/dnsdistdist/dnsdist-idstate.cc
  pdns/dnsdistdist/dnsdist-idstate.hh
  pdns/dnsdistdist/dnsdist-rule-chains.cc
  pdns/dnsdistdist/dnsdist-rule-chains.hh
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/dnsdistdist/dnsdist-tcp-upstream.hh
  pdns/dnsdistdist/dnsdist-tcp.cc
  pdns/dnsdistdist/dnsdist.cc
  pdns/dnsdistdist/dnsdist.hh
  pdns/dnsdistdist/docs/reference/actions.rst
  pdns/dnsdistdist/docs/reference/rules-management.rst
  pdns/dnsdistdist/test-dnsdist_cc.cc
  regression-tests.dnsdist/test_AXFR.py
  regression-tests.dnsdist/test_Protobuf.py
Labels: enhancement, dnsdist

#14004 dnsdist: Release failed TCP backend connections more quickly
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#14003 dnsdist: Fix a null-deref in incoming DoH w/ nghttp2
  pdns/dnsdistdist/dnsdist-nghttp2-in.cc
  pdns/dnsdistdist/test-dnsdistnghttp2-in_cc.cc
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#14005 dnsdist: Release incoming TCP connection right away on backend failure
  pdns/dnsdistdist/dnsdist-tcp-downstream.cc
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#14001 dnsdist: Support "no server available" result from Lua FFI LB policies
  .not-formatted
  pdns/dnsdistdist/dnsdist-lbpolicies.cc
  pdns/dnsdistdist/docs/guides/serverselection.rst
  pdns/dnsdistdist/test-dnsdistlbpolicies_cc.cc
  regression-tests.dnsdist/test_Routing.py
Labels: defect, dnsdist, backport to dnsdist-1.8.x, backport to dnsdist-1.9.x
