Repository PowerDNS/pdns, pull requests merged in 2024-08, with the labels that each got.

#14544 Fix misspelled `dnssec-result-bogus-signature-no-yet-valid` metric name in documentation
  pdns/recursordist/docs/metrics.rst
Labels: docs, rec

#14541 Include MariaDB in doc "Generic MySQL backend"
  docs/backends/generic-mysql.rst
Labels: auth, docs

#14526 auth-4.9: fix domain ordering in catalog SQL query
  modules/gmysqlbackend/gmysqlbackend.cc
  modules/godbcbackend/godbcbackend.cc
  modules/gpgsqlbackend/gpgsqlbackend.cc
  modules/gsqlite3backend/gsqlite3backend.cc
  regression-tests/backends/godbc_sqlite3-master
  regression-tests/backends/gsql-common
Labels: auth

#14550 json11: add include for cstdint
  ext/json11/json11.cpp
Labels: auth, rec, dnsdist, backport to auth-4.9.x?, backport to dnsdist-1.9.x, backport to rec-5.1.x?

#14524 rec: re-enable a few tests now that sidnlabs re-instated the zones used
  regression-tests.recursor-dnssec/test_ExtendedErrors.py
Labels: rec

#14562 Fix build with boost 1.86.0
  pdns/uuid-utils.cc
Labels: backport to auth-4.9.x?, backport to dnsdist-1.9.x, backport to rec-5.1.x?

#14528 libssl: Enable OpenSSL engine support for DNSdist only
  pdns/libssl.cc
Labels: auth, rec, enhancement, dnsdist

#14554 rec: distinguish OS imposed limits from app imposed limits, specifically on chains
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/lwres.hh
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-snmp.cc
  pdns/recursordist/rec-tcounters.hh
  pdns/recursordist/rec_channel_rec.cc
  pdns/recursordist/syncres.cc
  pdns/recursordist/ws-recursor.cc
  regression-tests.recursor-dnssec/test_SNMP.py
Labels: rec, enhancement, backport to rec-5.1.x?

#14504 Post provenance data to the public transparency log for private repos
  .github/workflows/build-packages.yml
Labels: auth, rec, dnsdist

#14535 dnsdist: Update the documentation of `showServers` with new metrics
  pdns/dnsdistdist/docs/reference/config.rst
Labels: docs, dnsdist

#14569 dnsdist: Fix EDNS flags confusion when editing the OPT header
  pdns/dnsdistdist/dnsdist-ecs.cc
  pdns/dnsdistdist/test-dnsdist_cc.cc
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_DOH.py
  regression-tests.dnsdist/test_EDE.py
  regression-tests.dnsdist/test_EDNSSelfGenerated.py
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#14529 dnsdist: Update Quiche to 0.22.0 (in our packages)
  builder-support/helpers/install_quiche.sh
  builder-support/helpers/quiche.json
  tasks.py
Labels: dnsdist, backport to dnsdist-1.9.x

#13776 clang-tidy fixes
  modules/geoipbackend/geoipbackend.cc
  modules/geoipbackend/geoipinterface.cc
  pdns/pdnsutil.cc
Labels: auth

#14575 dnsdist: Handle a non-existent default pool when removing a server
  pdns/dnsdistdist/dnsdist-lua.cc
  pdns/dnsdistdist/dnsdist.cc
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#14578 CONTRIBUTING: Fix outdated security policy link
  CONTRIBUTING.md
  SECURITY.md
Labels: docs

#14579 Fix the Coverity workflow after the Quiche installation refactoring
  .github/workflows/misc-dailies.yml
  tasks.py
Labels: defect, dnsdist, ci

#14571 rec: Backport to rec-5.1.x: Fix build with boost 1.86.0
  pdns/uuid-utils.cc
Labels: rec

#14557 rec: always include all stats for RPZs in Prometheus data (previously zero stats would be skipped)
  pdns/recursordist/rec-main.cc
Labels: rec, enhancement

#14584 YaHTTP: Fix a non-virtual destructor warning in the `HTTPBase` class
  ext/yahttp/yahttp/reqresp.hpp
Labels: auth, rec, enhancement, dnsdist

#14555 rec: better error message in case of syntax errors in defaults defined in table.py
  pdns/recursordist/settings/generate.py
Labels: rec, enhancement

#14585 rec: Fix a few typos in the settings files
  pdns/recursordist/settings/README.md
  pdns/recursordist/settings/generate.py
Labels: rec

#14558 rec: fix regression test nod races and printlogs.py
  regression-tests.recursor-dnssec/printlogs.py
  regression-tests.recursor-dnssec/runtests
  regression-tests.recursor-dnssec/test_Additionals.py
  regression-tests.recursor-dnssec/test_ECS.py
  regression-tests.recursor-dnssec/test_EDNSPadding.py
  regression-tests.recursor-dnssec/test_Flags.py
  regression-tests.recursor-dnssec/test_Lua.py
  regression-tests.recursor-dnssec/test_Protobuf.py
  regression-tests.recursor-dnssec/test_RDFlag.py
  regression-tests.recursor-dnssec/test_RPZ.py
  regression-tests.recursor-dnssec/test_RPZIncomplete.py
  regression-tests.recursor-dnssec/test_ReadTrustAnchorsFromFile.py
  regression-tests.recursor-dnssec/test_RecDnstap.py
  regression-tests.recursor-dnssec/test_RootNXTrust.py
  regression-tests.recursor-dnssec/test_TTL.py
  regression-tests.recursor-dnssec/test_TrustAnchors.py
Labels: rec

#14589 auth docs: fix invalid reference
  docs/settings.rst
Labels: auth, docs

#14591 auth dnsproxy: make local port range configurable
  docs/settings.rst
  pdns/auth-main.cc
  pdns/dnsproxy.cc
  pdns/dnsproxy.hh
Labels: auth

#14593 rec: make sure names of classes and confdirs are consistent in regr tests
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_API.py
  regression-tests.recursor-dnssec/test_AggressiveNSECCache.py
  regression-tests.recursor-dnssec/test_AnyBind.py
  regression-tests.recursor-dnssec/test_Carbon.py
  regression-tests.recursor-dnssec/test_DNS64.py
  regression-tests.recursor-dnssec/test_EDNSBufferSize.py
  regression-tests.recursor-dnssec/test_Expired.py
  regression-tests.recursor-dnssec/test_ExtendedErrors.py
  regression-tests.recursor-dnssec/test_Interop.py
  regression-tests.recursor-dnssec/test_KeepOpenTCP.py
  regression-tests.recursor-dnssec/test_LockedCache.py
  regression-tests.recursor-dnssec/test_NTA.py
  regression-tests.recursor-dnssec/test_NamedForward.py
  regression-tests.recursor-dnssec/test_NoDS.py
  regression-tests.recursor-dnssec/test_NoDSYAML.py
  regression-tests.recursor-dnssec/test_NotYetValid.py
  regression-tests.recursor-dnssec/test_Notify.py
  regression-tests.recursor-dnssec/test_OOOTCP.py
  regression-tests.recursor-dnssec/test_PacketCache.py
  regression-tests.recursor-dnssec/test_Prometheus.py
  regression-tests.recursor-dnssec/test_ProxyByTable.py
  regression-tests.recursor-dnssec/test_ProxyProtocol.py
  regression-tests.recursor-dnssec/test_RoutingTag.py
  regression-tests.recursor-dnssec/test_SNMP.py
  regression-tests.recursor-dnssec/test_ServerNames.py
  regression-tests.recursor-dnssec/test_Simple.py
  regression-tests.recursor-dnssec/test_SimpleDoT.py
  regression-tests.recursor-dnssec/test_SimpleForwardOverDoT.py
  regression-tests.recursor-dnssec/test_SimpleTCP.py
  regression-tests.recursor-dnssec/test_SimpleYAML.py
  regression-tests.recursor-dnssec/test_Sortlist.py
  regression-tests.recursor-dnssec/test_TraceFail.py
  regression-tests.recursor-dnssec/test_ZTC.py
  regression-tests.recursor-dnssec/test_basicNSEC.py
  regression-tests.recursor-dnssec/test_basicNSEC3.py
Labels: rec

#14590 auth dnsproxy: document network ought to be trusted
  docs/settings.rst
Labels: auth, docs

#14576 ssqlite3: use "begin immediate" to avoid later fights over upgrading to write
  pdns/ssqlite3.cc
Labels: auth, defect, backport to auth-4.9.x?

#14509 auth docs: mark settings removed in 4.9.0
  docs/settings.rst
Labels: auth, docs

#14592 auth docs: reword LUA return paragraph
  docs/lua-records/index.rst
Labels: auth, docs

#14598 regression-tests.auth-py: allow running with meson, and on macOS
  regression-tests.auth-py/authtests.py
  regression-tests.auth-py/runtests
  regression-tests.auth-py/test_GSSTSIG.py
Labels: auth

#14599 regression-tests.auth-py: actually test ALIAS AAAA cases
  regression-tests.auth-py/test_ALIAS.py
Labels: auth

#14586 Let check-spelling check `.md` files
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/actions/spell-check/expect.txt
  .github/actions/spell-check/only.txt
  .github/actions/spell-check/patterns.txt
  BUILDING-PACKAGES.md
  CODE_COVERAGE.md
  CONTRIBUTING.md
  pdns/keyroller/README.md
  pdns/recursordist/settings/README.md
Labels: docs

#14570 dnsdist: Return a valid unix timestamp for Dynamic Block's `until`
  pdns/dnsdistdist/dnsdist-lua-inspection.cc
Labels: enhancement, dnsdist, backport to dnsdist-1.9.x

#14534 dnsdist: Add warnings about large values passed to `setMaxTCPClientThreads`
  pdns/dnsdistdist/dnsdist.cc
  pdns/dnsdistdist/docs/advanced/tuning.rst
  pdns/dnsdistdist/docs/reference/tuning.rst
Labels: enhancement, dnsdist, backport to dnsdist-1.9.x

#14607 rec docs: fix *.lua, * has special meaning
  pdns/recursordist/settings/table.py
Labels: docs, rec

#14573 dnsdist: Stop reporting timeouts in `topSlow()`, add `topTimeouts()`
  pdns/dnsdistdist/dnsdist-console.cc
  pdns/dnsdistdist/dnsdist-lua-inspection.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: enhancement, dnsdist, backport to dnsdist-1.9.x
