Repository PowerDNS/pdns, pull requests merged in 2024-12, with the labels that each got.

#14906 dnsdist 1.8.x: Backport 13679 - Update upload-artifact and download-artifact to version 4
  .github/workflows/build-and-test-all.yml
  .github/workflows/build-packages.yml
  .github/workflows/builder.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/formatting.yml
  .github/workflows/fuzz.yml
Labels: dnsdist, ci

#14909 re: followup to 14796: also call stop hook in 1 thread case
  pdns/recursordist/rec-main.cc
Labels: rec, defect

#14908 auth-4.7.x: Backport 13679 - Update upload-artifact and download-artifact to version 4
  .github/workflows/build-and-test-all.yml
  .github/workflows/builder-dispatch.yml
  .github/workflows/builder.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/formatting.yml
  .github/workflows/fuzz.yml
Labels: auth, ci

#14907 auth-4.8.x: Backport 13679 - Update upload-artifact and download-artifact to version 4
  .github/workflows/build-and-test-all.yml
  .github/workflows/builder-dispatch.yml
  .github/workflows/builder.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/formatting.yml
  .github/workflows/fuzz.yml
  .github/workflows/misc-dailies.yml
  .github/workflows/secpoll.yml
Labels: auth, ci

#14917 rec: sync Dockerfile build options with packages
  Dockerfile-recursor
Labels: rec, enhancement, backport to rec-5.1.x?

#14923 dnsdist: Fix addMaintenanceCallback example
  pdns/dnsdistdist/docs/reference/config.rst
Labels: docs, defect, dnsdist

#14934 GH workflow for building packages: change name so target isn't chopped off
  .github/workflows/build-packages.yml
Labels: auth, rec, dnsdist, ci

#14926 [feature] remove support for libdecaf
  .github/actions/spell-check/allow.txt
  .github/workflows/build-and-test-all.yml
  .github/workflows/codeql-analysis.yml
  configure.ac
  docs/appendices/compiling.rst
  m4/pdns_with_libdecaf.m4
  meson.build
  meson/libdecaf/meson.build
  meson_options.txt
  pdns/Makefile.am
  pdns/decafsigners.cc
  pdns/pdnsutil.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/configure.ac
  pdns/recursordist/docs/appendices/compiling.rst
  pdns/recursordist/m4/pdns_with_libdecaf.m4
  pdns/recursordist/meson.build
  pdns/recursordist/meson_options.txt
  pdns/test-signers.cc
  pdns/version.cc
  tasks.py
Labels: auth, rec

#14936 CI: Run the daily package building workflow only if requested
  .github/workflows/build-packages-daily-master.yml
Labels: enhancement, ci

#14913 [bugfix] Reject hexadecimal blobs with odd number of characters
  pdns/rcpgenerator.cc
  pdns/test-dnsrecords_cc.cc
Labels: auth, defect

#14930 dnsdist: Fix issues with the balancing factors
  pdns/dnsdistdist/dnsdist-lbpolicies.cc
  pdns/dnsdistdist/dnsdist-lua.cc
  regression-tests.dnsdist/test_Routing.py
Labels: defect, dnsdist

#14938 dnsdist: allow setting keyLogFile to DoT/DoH backends
  pdns/dnsdistdist/dnsdist-lua.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/doh.cc
  pdns/libssl.cc
  pdns/libssl.hh
  pdns/tcpiohandler.cc
  pdns/tcpiohandler.hh
  regression-tests.dnsdist/test_OutgoingDOH.py
  regression-tests.dnsdist/test_OutgoingTLS.py
Labels: enhancement, dnsdist

#14947 dnsdist: Document that `DNSQuestion::getElapsedUs` will be added in 1.9.8
  pdns/dnsdistdist/docs/reference/dq.rst
Labels: docs, dnsdist

#14942 rec: log only one line per protocol for listening sockets,
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-tcp.cc
Labels: rec, enhancement

#14950 web docs: Render search box on top.
  .github/actions/spell-check/expect.txt
  docs/conf.py
  pdns/dnsdistdist/docs/conf.py
  pdns/recursordist/docs/conf.py
Labels: docs

#14944 rec: minor doc fixes
  pdns/recursordist/docs/lua-scripting/dnsname.rst
  pdns/recursordist/docs/manpages/rec_control.1.rst
  pdns/recursordist/docs/running.rst
Labels: docs, rec

#14957 recursor udp-source-port-avoid default setting add 4791 port
  pdns/recursordist/settings/table.py
Labels: rec, needs review, backport to rec-5.2.x?

#14962 rec: backport 14957 to rec-5.2.x: Avoid local source port 4791
  pdns/recursordist/settings/table.py
Labels: rec, enhancement

#14964 rec: prep for rec-5.2.0-rc1
  .github/actions/spell-check/expect.txt
  build-scripts/changelog-from-pr.py
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/5.2.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#14887 dnsdist-1.9.x: Backport of #14850 - add elapsed time to dq object
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdistdist/docs/reference/dq.rst
Labels: enhancement, dnsdist

#14967 dnsdist: Fix ECS zero-scope with incoming DoH queries
  pdns/dnsdistdist/dnsdist-idstate.hh
  pdns/dnsdistdist/dnsdist.cc
  regression-tests.dnsdist/test_Caching.py
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#14935 rec: regression test markers
  regression-tests.recursor-dnssec/pytest.ini
  regression-tests.recursor-dnssec/runtests
  regression-tests.recursor-dnssec/test_Chain.py
  regression-tests.recursor-dnssec/test_ExtendedErrors.py
  regression-tests.recursor-dnssec/test_SimpleDoT.py
  regression-tests.recursor-dnssec/test_SimpleForwardOverDoT.py
  regression-tests.recursor-dnssec/test_WellKnown.py
Labels: rec, ci

#14978 dnsdist-1.9.x: Backport of 14888 - Custom metrics: better error messages, small doc improvements
  pdns/dnsdistdist/dnsdist-metrics.cc
  pdns/dnsdistdist/docs/reference/custommetrics.rst
Labels: enhancement, dnsdist

#14956 dnsdist: add support for labels on custom metrics
  pdns/dnsdistdist/dnsdist-carbon.cc
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/dnsdist-lua-ffi.hh
  pdns/dnsdistdist/dnsdist-lua-inspection.cc
  pdns/dnsdistdist/dnsdist-lua.cc
  pdns/dnsdistdist/dnsdist-metrics.cc
  pdns/dnsdistdist/dnsdist-metrics.hh
  pdns/dnsdistdist/dnsdist-web.cc
  pdns/dnsdistdist/docs/reference/custommetrics.rst
  regression-tests.dnsdist/test_API.py
  regression-tests.dnsdist/test_Prometheus.py
Labels: enhancement, dnsdist

#14980 dnsdist: Add ChangeLog and secpoll entry for DNSdist 1.9.8
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#14991 rec: zap dangling symlink, leftover of #14926
  pdns/recursordist/decafsigners.cc
Labels: rec, backport to rec-5.2.x?

#14955 Documentation spring cleanup (either three months early or nine months late, it's up to you)
  .github/actions/spell-check/expect.txt
  docs/appendices/backend-writers-guide.rst
  docs/appendices/compiling.rst
  docs/backends/bind.rst
  docs/backends/generic-sql.rst
  docs/backends/geoip.rst
  docs/backends/ldap.rst
  docs/backends/lmdb.rst
  docs/backends/remote.rst
  docs/backends/tinydns.rst
  docs/catalog.rst
  docs/common/secpoll.rst
  docs/dnssec/advice.rst
  docs/dnssec/migration.rst
  docs/dnssec/modes-of-operation.rst
  docs/dnssec/operational.rst
  docs/dnssec/pkcs11.rst
  docs/dnsupdate.rst
  docs/domainmetadata.rst
  docs/guides/basic-database.rst
  docs/http-api/index.rst
  docs/lua-records/functions.rst
  docs/lua-records/index.rst
  docs/lua-records/reference/comboaddress.rst
  docs/lua-records/reference/dnsheader.rst
  docs/lua-records/reference/dnsresourcerecord.rst
  docs/lua-records/reference/misc.rst
  docs/lua-records/reference/netmask.rst
  docs/manpages/calidns.1.rst
  docs/manpages/dnsbulktest.1.rst
  docs/manpages/dnspcap2calidns.1.rst
  docs/manpages/dnsreplay.1.rst
  docs/manpages/dnstcpbench.1.rst
  docs/manpages/dnswasher.1.rst
  docs/manpages/ixplore.1.rst
  docs/manpages/pdns_control.1.rst
  docs/manpages/pdns_server.1.rst
  docs/manpages/pdnsutil.1.rst
  docs/manpages/zone2json.1.rst
  docs/manpages/zone2sql.1.rst
  docs/migration.rst
  docs/modes-of-operation.rst
  docs/performance.rst
  docs/tsig.rst
Labels: auth, docs

#14997 dnsdist: Fix some small issues in the documentation for actions
  pdns/dnsdistdist/docs/reference/actions.rst
Labels: docs, defect, dnsdist
