Repository PowerDNS/pdns, pull requests merged in 2024-05, with the labels that each got.

#14061 GH actions - build-and-test-all: parameterize workflow to run different docker runner versions
  .github/workflows/build-and-test-all-releases-dispatch.yml
  .github/workflows/build-and-test-all.yml
Labels: github_actions, ci, backport to auth-4.9.x?, backport to dnsdist-1.9.x

#14036 GH Actions - Meson: Build auth using meson in `build-and-test-all`.
  .github/workflows/build-and-test-all.yml
  tasks.py
Labels: auth

#14138 rec: fix two doc examples missing a colon
  pdns/recursordist/settings/docs-new-preamble-in.rst
  pdns/recursordist/settings/table.py
Labels: docs, rec

#14132 rec-5.0.x: gh actions - use ubuntu-22.04 runners in build-and-test-all
  .github/workflows/build-and-test-all.yml
Labels: backport to rec-4.8.x?, backport to rec-4.9.x?

#14097 Tidy iputils.hh and iputils.cc
  .not-formatted
  pdns/iputils.cc
  pdns/iputils.hh
Labels: auth, rec, dnsdist

#14128 dnsdist: Reply to HTTP/2 PING frames immediately
  pdns/dnsdistdist/dnsdist-nghttp2-in.cc
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#14131 dnsdist: Log the correct amount of bytes sent for DoH w/ nghttp2
  pdns/dnsdistdist/dnsdist-nghttp2-in.cc
  pdns/dnsdistdist/dnsdist-tcp-upstream.hh
  pdns/dnsdistdist/dnsdist-tcp.cc
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#14090 rec: backport 14044 to rec-5.0.x: gh actions - replace yq snap in collect job build-and-test-all
  .github/workflows/build-and-test-all.yml
Labels: rec

#14092 rec: Backport 14044 to rec-4.9.x: gh actions - replace yq snap in collect job build-and-test-all
  .github/workflows/build-and-test-all.yml
Labels: rec

#14094 rec: Backport 14044 to rec-4.8.x: gh actions - replace yq snap in collect job build-and-test-all
  .github/workflows/build-and-test-all.yml
Labels: rec

#14139 rec: followup to 14097: missed OpenBSD specfic case
  pdns/iputils.cc
Labels: auth, rec, dnsdist

#14112 dnsdist: Update Quiche to 0.21.0
  builder-support/helpers/quiche.json
Labels: dnsdist

#14130 dnsdist: Fix TCP I/O timeout and callback being used for HTTP/2
  pdns/dnsdistdist/dnsdist-nghttp2-in.cc
  pdns/dnsdistdist/dnsdist-nghttp2-in.hh
  pdns/dnsdistdist/dnsdist-tcp-upstream.hh
  pdns/dnsdistdist/dnsdist-tcp.cc
Labels: enhancement, dnsdist

#13819 rec: add Lua config to YAML settings
  .github/actions/spell-check/expect.txt
  .not-formatted
  pdns/recursordist/Makefile.am
  pdns/recursordist/docs/lua-config/additionals.rst
  pdns/recursordist/docs/lua-config/dnssec.rst
  pdns/recursordist/docs/lua-config/index.rst
  pdns/recursordist/docs/lua-config/protobuf.rst
  pdns/recursordist/docs/lua-config/proxymapping.rst
  pdns/recursordist/docs/lua-config/rpz.rst
  pdns/recursordist/docs/lua-config/sortlist.rst
  pdns/recursordist/docs/lua-config/ztc.rst
  pdns/recursordist/filterpo.hh
  pdns/recursordist/rec-lua-conf.cc
  pdns/recursordist/rec-lua-conf.hh
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-zonetocache.cc
  pdns/recursordist/rec_channel.hh
  pdns/recursordist/rec_channel_rec.cc
  pdns/recursordist/rec_control.cc
  pdns/recursordist/rpzloader.cc
  pdns/recursordist/rpzloader.hh
  pdns/recursordist/settings/Makefile.am
  pdns/recursordist/settings/cxxsettings.hh
  pdns/recursordist/settings/cxxsupport.cc
  pdns/recursordist/settings/docs-new-preamble-in.rst
  pdns/recursordist/settings/generate.py
  pdns/recursordist/settings/rust-bridge-in.rs
  pdns/recursordist/settings/rust/Cargo.lock
  pdns/recursordist/settings/rust/Cargo.toml
  pdns/recursordist/settings/rust/build.rs
  pdns/recursordist/settings/rust/src/bridge.hh
  pdns/recursordist/settings/rust/src/bridge.rs
  pdns/recursordist/settings/rust/src/helpers.rs
  pdns/recursordist/settings/table.py
  pdns/recursordist/sortlist.cc
  pdns/recursordist/sortlist.hh
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
  pdns/recursordist/test-settings.cc
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/test-syncres_cc.hh
  pdns/recursordist/test-syncres_cc9.cc
  pdns/recursordist/validate-recursor.cc
  pdns/recursordist/validate-recursor.hh
  pdns/root-dnssec.hh
  pdns/sortlist.cc
  pdns/validate.cc
  pdns/validate.hh
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/runtests
  regression-tests.recursor-dnssec/test_Carbon.py
  regression-tests.recursor-dnssec/test_ECS.py
  regression-tests.recursor-dnssec/test_NTA.py
  regression-tests.recursor-dnssec/test_NoDSYAML.py
  regression-tests.recursor-dnssec/test_Protobuf.py
  regression-tests.recursor-dnssec/test_RPZIncomplete.py
  regression-tests.recursor-dnssec/test_RecDnstap.py
  regression-tests.recursor-dnssec/test_SimpleYAML.py
  regression-tests.recursor-dnssec/test_ZTC.py
Labels: rec, enhancement

#14024 auth docs: update primary/secondary terminology
  docs/modes-of-operation.rst
Labels: auth, docs

#14160 dnsdist: Update the secpoll zone and the ChangeLog for 1.9.4
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
  pdns/dnsdistdist/docs/security-advisories/powerdns-advisory-for-dnsdist-2024-03.rst
Labels: dnsdist

#14157 auth docs, clarify that dnsupdate-require-tsig is new in 5.0
  docs/dnsupdate.rst
  docs/settings.rst
Labels: auth, docs

#14158 rec: mention subnets are not allowed (yet) in query-local-address/outgoing.source_address
  pdns/recursordist/settings/table.py
Labels: docs, rec

#14152 dnsdist: Backport 14044 to dnsdist-1.7.x: gh actions - replace yq snap in collect job build-and-test-all
  .github/workflows/build-and-test-all.yml
Labels: dnsdist

#14151 dnsdist: Backport 14044 to dnsdist-1.8.x: gh actions - replace yq snap in collect job build-and-test-all
  .github/workflows/build-and-test-all.yml
Labels: dnsdist

#14150 dnsdist: Backport 14044 to dnsdist-1.9.x: gh actions - replace yq snap in collect job build-and-test-all
  .github/workflows/build-and-test-all.yml
Labels: dnsdist

#14156 dnsdist: Fix handling of XFR requests over DoH
  pdns/dnsdistdist/dnsdist-idstate.cc
  pdns/dnsdistdist/dnsdist-nghttp2-in.cc
  pdns/dnsdistdist/dnsdist.cc
  regression-tests.dnsdist/quictests.py
  regression-tests.dnsdist/test_DOH.py
  regression-tests.dnsdist/test_DOH3.py
  regression-tests.dnsdist/test_DOQ.py
Labels: defect, dnsdist

#14167 dnsdist: Prevent a race when calling `registerWebHandler` at runtime
  pdns/dnsdistdist/dnsdist-web.cc
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#14165 rec: prep for 20240514 releases
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/4.8.rst
  pdns/recursordist/docs/changelog/4.9.rst
  pdns/recursordist/docs/changelog/5.0.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#14058 Auth-4.9.x: Partial backport of #14057
  pdns/auth-primarycommunicator.cc
  pdns/backends/gsql/gsqlbackend.cc
Labels: auth, defect

#14172 rec: prep rec-5.1.0-alpha1
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/5.1.rst
  pdns/recursordist/docs/changelog/index.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#14111 rec: extra export types for protobuf messages
  contrib/ProtobufLogger.py
  pdns/recursordist/docs/lua-config/protobuf.rst
  pdns/recursordist/rec-protozero.cc
Labels: rec

#14176 `UeberBackend` cleanups
  pdns/ueberbackend.cc
Labels: auth

#14175 Meson: Move modules handling to `modules/` dir
  meson.build
  modules/bindbackend/meson.build
  modules/geoipbackend/meson.build
  modules/gmysqlbackend/meson.build
  modules/godbcbackend/meson.build
  modules/gpgsqlbackend/meson.build
  modules/gsqlite3backend/meson.build
  modules/ldapbackend/meson.build
  modules/lmdbbackend/meson.build
  modules/lua2backend/meson.build
  modules/meson.build
  modules/pipebackend/meson.build
  modules/remotebackend/meson.build
  modules/tinydnsbackend/meson.build
Labels: auth

#14162 dnsdist: Fix a warning when compiling the unit tests without XSK
  pdns/dnsdistdist/test-dnsdist_cc.cc
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#14174 Auth: Add debug logging to `UeberBackend` and `BackendMakerClass`
  pdns/dnsbackend.cc
  pdns/ueberbackend.cc
Labels: auth

#14169 rec: enable lsan in regression tests
  .github/workflows/build-and-test-all.yml
  pdns/dnsdistdist/dnsdist.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec_channel_rec.cc
  pdns/recursordist/recursor-lsan.supp
  pdns/recursordist/recursor-tsan.supp
  regression-tests.recursor-dnssec/recursortests.py
Labels: rec

#14194 auth 4.9: always pull runner image from powerdns for forks
  .github/workflows/build-and-test-all.yml
Labels: auth

#14193 auth 4.9: Generate Software Bill Of Materials (SBOMs) for our RPM packages
  builder-support/dockerfiles/Dockerfile.rpmsbom
  builder-support/dockerfiles/Dockerfile.rpmtest
  builder-support/dockerfiles/Dockerfile.target.amazon-2
  builder-support/dockerfiles/Dockerfile.target.amazon-2023
  builder-support/dockerfiles/Dockerfile.target.centos-7
  builder-support/dockerfiles/Dockerfile.target.centos-8
  builder-support/dockerfiles/Dockerfile.target.centos-9-stream
  builder-support/dockerfiles/Dockerfile.target.el-9
  builder-support/dockerfiles/Dockerfile.target.oraclelinux-8
  builder-support/helpers/generate-sbom-dnf.py
Labels: auth

#14187 auth 4.9: Wrap backend factories in smart pointers
  docs/appendices/backend-writers-guide.rst
  modules/bindbackend/bindbackend2.cc
  modules/geoipbackend/geoipbackend.cc
  modules/gmysqlbackend/gmysqlbackend.cc
  modules/godbcbackend/godbcbackend.cc
  modules/gpgsqlbackend/gpgsqlbackend.cc
  modules/gsqlite3backend/gsqlite3backend.cc
  modules/ldapbackend/ldapbackend.cc
  modules/lmdbbackend/lmdbbackend.cc
  modules/lua2backend/lua2backend.cc
  modules/pipebackend/pipebackend.cc
  modules/remotebackend/remotebackend.cc
  modules/tinydnsbackend/tinydnsbackend.cc
  pdns/dnsbackend.cc
  pdns/dnsbackend.hh
  pdns/test-ueberbackend_cc.cc
Labels: auth

#14190 auth-4.9: Properly finalize PKCS11 modules before releasing them
  pdns/pkcs11signers.cc
Labels: auth

#14154 auth: Backport 14044 to auth-4.7.x: gh actions - replace yq snap in collect job build-and-test-all
  .github/workflows/build-and-test-all.yml
Labels: auth

#14153 auth: Backport 14044 to auth-4.8.x: gh actions - replace yq snap in collect job build-and-test-all
  .github/workflows/build-and-test-all.yml
Labels: auth

#14163 dnsdist-1.9.x: Backport of 14128 - Reply to HTTP/2 PING frames immediately
  pdns/dnsdistdist/dnsdist-nghttp2-in.cc
Labels: defect, dnsdist

#14189 auth 4.9: pdnsutil check-zone: accept LUA A/AAAA as SVCB address targets
  pdns/pdnsutil.cc
Labels: auth

#14170 dnsdist-1.9.x: Backport of 14167 - Prevent a race when calling `registerWebHandler` at runtime
  pdns/dnsdist-web.cc
Labels: defect, dnsdist

#14191 auth 4.9: m4: Add option for 64-bit time_t on 32-bit systems with glibc-2.34
  m4/pdns_check_time_t.m4
Labels: auth

#14197 YaHTTP: Enforce max # of request fields and max request line size
  ext/yahttp/yahttp/utility.hpp
Labels: auth, rec, defect, dnsdist, backport to rec-5.0.x?, backport to auth-4.9.x?, backport to dnsdist-1.9.x

#14196 auth: Fix memory leaks in the bind file format parser
  pdns/bindparser.yy
  pdns/named.conf.parsertest
Labels: auth, defect, backport to auth-4.9.x?

#14186 auth 4.9 dnsproxy: fix build on s390x
  pdns/dnsproxy.cc
Labels: auth

#14200 auth: Enable LeakSanitizer while running the unit tests in CI
  .github/workflows/build-and-test-all.yml
Labels: auth, enhancement, ci

#14214 dnsdist-1.8.x: Partial backport of #14171 for fixing the build of arm64 images
  Dockerfile-auth
  Dockerfile-dnsdist
  Dockerfile-recursor
Labels: dnsdist

#14215 dnsdist-1.7.x: Partial backport of #14171 for fixing the build of arm64 images
  Dockerfile-auth
  Dockerfile-dnsdist
  Dockerfile-recursor
Labels: dnsdist

#14213 dnsdist-1.9.x: Partial backport of #14171 for fixing the build of arm64 images
  Dockerfile-auth
  Dockerfile-dnsdist
  Dockerfile-recursor
Labels: dnsdist

#14207 rec-5.0.x: Partial backport of #14171 for fixing the build of arm64 images
  Dockerfile-auth
  Dockerfile-dnsdist
  Dockerfile-recursor
Labels: rec

#14209 rec-4.9.x: Partial backport of #14171 for fixing the build of arm64 images
  Dockerfile-auth
  Dockerfile-dnsdist
  Dockerfile-recursor
Labels: rec

#14210 rec-4.8.x: Partial backport of #14171 for fixing the build of arm64 images
  Dockerfile-auth
  Dockerfile-dnsdist
  Dockerfile-recursor
Labels: rec

#14184 dnsdist: Remove XPF support
  builder-support/debian/authoritative/debian-buster/control
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/dnsdist-lua.cc
  pdns/dnsdistdist/dnsdist-tcp.cc
  pdns/dnsdistdist/dnsdist-xpf.cc
  pdns/dnsdistdist/dnsdist-xpf.hh
  pdns/dnsdistdist/dnsdist.cc
  pdns/dnsdistdist/dnsdist.hh
  pdns/dnsdistdist/docs/advanced/passing-source-address.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/doh.cc
  pdns/dnsdistdist/test-dnsdist-lua-ffi.cc
  pdns/dnsdistdist/test-dnsdist_cc.cc
  pdns/dnsdistdist/xpf.cc
  pdns/dnsdistdist/xpf.hh
  pdns/dnspacket.cc
  pdns/dnsparser.cc
  pdns/xpf.cc
  pdns/xpf.hh
  regression-tests.dnsdist/test_XPF.py
Labels: enhancement, dnsdist

#14195 dnsdist: Get rid of `assert()`
  pdns/dnsdistdist/dnsdist-ecs.cc
  pdns/ednsoptions.cc
  pdns/ipcipher.cc
Labels: enhancement, dnsdist

#14185 rec: log vm.max_map_count possibly being too low and log a few exceptions (with rate limiting)
  pdns/devpollmplexer.cc
  pdns/epollmplexer.cc
  pdns/kqueuemplexer.cc
  pdns/mplexer.hh
  pdns/pollmplexer.cc
  pdns/portsmplexer.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/docs/upgrade.rst
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/ratelimitedlog.hh
  pdns/recursordist/rec-main.cc
Labels: rec, enhancement, backport to rec-5.0.x?

#14205 dnsdist: Delint the DNSCrypt code base
  .not-formatted
  pdns/dnscrypt.cc
  pdns/dnscrypt.hh
  pdns/dnsdistdist/dnscrypt.cc
  pdns/dnsdistdist/dnscrypt.hh
  pdns/dnsdistdist/dnsdist-lua-bindings-dnscrypt.cc
  pdns/dnsdistdist/test-dnscrypt_cc.cc
  pdns/test-dnscrypt_cc.cc
Labels: enhancement, dnsdist

#14166 dnsdist-1.9.x: Backport of #14078 - Use the correct source IP for outgoing QUIC datagrams
  pdns/dnsdist.cc
  pdns/dnsdistdist/doh3.cc
  pdns/dnsdistdist/doq-common.cc
  pdns/dnsdistdist/doq-common.hh
  pdns/dnsdistdist/doq.cc
  pdns/iputils.cc
  pdns/iputils.hh
  regression-tests.dnsdist/quictests.py
  regression-tests.dnsdist/test_DOH3.py
  regression-tests.dnsdist/test_DOQ.py
Labels: defect, dnsdist

#14219 dnsdist: Clarify server status documentation
  pdns/dnsdistdist/docs/reference/config.rst
Labels: docs, defect, dnsdist

#14224 auth: Fix a memory leak report in the distributor unit tests
  pdns/test-distributor_hh.cc
Labels: auth

#14222 rec: Backport 14185 to rec 5.0.x: report error and adjust when linux map limit is too low
  pdns/devpollmplexer.cc
  pdns/epollmplexer.cc
  pdns/kqueuemplexer.cc
  pdns/mplexer.hh
  pdns/pollmplexer.cc
  pdns/portsmplexer.cc
  pdns/recursordist/Makefile.am
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/ratelimitedlog.hh
  pdns/recursordist/rec-main.cc
Labels: rec, enhancement

#14223 rec: Backport 14197 to rec 5.0.x: YaHTTP: Enforce max # of request fields and max request line size
  ext/yahttp/yahttp/utility.hpp
Labels: rec, enhancement

#14182 dnsdist: Add the ability to set tags from dynamic block rules
  pdns/dnsdistdist/dnsdist-dynblocks.cc
  pdns/dnsdistdist/dnsdist-dynblocks.hh
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/dnsdist-lua-inspection.cc
  pdns/dnsdistdist/dnsdist-lua-vars.cc
  pdns/dnsdistdist/dnsdist-lua.cc
  pdns/dnsdistdist/dnsdist.cc
  pdns/dnsdistdist/dnsdist.hh
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/constants.rst
  pdns/dnsdistdist/test-dnsdistdynblocks_hh.cc
  regression-tests.dnsdist/dnsdistDynBlockTests.py
  regression-tests.dnsdist/test_DynBlocksRatio.py
Labels: enhancement, dnsdist

#14212 auth-4.7.x: Partial backport of #14171 for fixing the build of arm64 images
  Dockerfile-auth
  Dockerfile-dnsdist
  Dockerfile-recursor
Labels: auth

#14211 auth-4.8.x: Partial backport of #14171 for fixing the build of arm64 images
  Dockerfile-auth
  Dockerfile-dnsdist
  Dockerfile-recursor
Labels: auth

#14227 rec: add a few more cases for the Protobuf tests wrt deviceID and friends
  regression-tests.recursor-dnssec/test_Protobuf.py
Labels: rec

#14249 rec: improve docs on gettag() and gettag_ffi()
  pdns/recursordist/docs/lua-scripting/dq.rst
  pdns/recursordist/docs/lua-scripting/hooks.rst
Labels: docs, rec

#14242 ixfrdist: Fix broken 'uid' and 'gid' parsing for non-numerical values
  pdns/ixfrdist.cc
Labels: defect, ixfrdist, backport to auth-4.9.x?

#14221 rec: handle auths slow to respond when load is high better
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/docs/metrics.rst
  pdns/recursordist/lwres.cc
  pdns/recursordist/lwres.hh
  pdns/recursordist/mtasker.hh
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-snmp.cc
  pdns/recursordist/rec-tcounters.hh
  pdns/recursordist/rec-tcp.cc
  pdns/recursordist/rec_channel_rec.cc
  pdns/recursordist/settings/table.py
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
  pdns/recursordist/test-syncres_cc.cc
  pdns/recursordist/ws-recursor.cc
  regression-tests.recursor-dnssec/test_SNMP.py
Labels: rec, enhancement

#14251 auth 4.9 ixfrdist: Fix brokn 'uid' and 'gid' parsing for non-numerical values
  pdns/ixfrdist.cc
Labels: auth, defect

#14253 auth 4.9 autoconf: allow prerelease systemd versions
  m4/systemd.m4
Labels: auth

#14239 auth-4.9.1: changelog&secpoll
  docs/changelog/4.9.rst
  docs/secpoll.zone
  docs/upgrading.rst
Labels: auth

#14252 rec: update to rust/cargo 1.78 and update dependencies
  builder-support/helpers/rust.json
  pdns/recursordist/settings/rust/Cargo.lock
  pdns/recursordist/settings/rust/Cargo.toml
Labels: rec

#14121 Allow setting notify_allowed in Recursor API for forwarded zones
  pdns/recursordist/docs/http-api/zone.rst
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/ws-recursor.cc
  regression-tests.api/test_Zones.py
Labels: rec

#14247 autoconf: allow prerelease systemd versions
  m4/systemd.m4
Labels: auth, rec, dnsdist, backport to rec-5.0.x?, backport to auth-4.9.x?, backport to dnsdist-1.9.x

#14257 rec: add a few more fields to the protobuf messages
  contrib/ProtobufLogger.py
  pdns/dnsmessage.proto
  pdns/protozero.hh
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  regression-tests.recursor-dnssec/test_Protobuf.py
Labels: rec, enhancement

#14260 rec: make clippy happy
  pdns/recursordist/settings/generate.py
  pdns/recursordist/settings/rust/src/bridge.rs
Labels: rec

#14259 rec: fix cases of copy instead of move, as reported by coverity
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec_channel_rec.cc
  pdns/recursordist/settings/cxxsupport.cc
Labels: rec

#14261 pdnsutil check-zone: make LUA records optional
  pdns/pdnsutil.cc
Labels: auth, defect, backport to auth-4.9.x?

#14258 rec: followup to #14221: fix timeout adjust case
  pdns/recursordist/syncres.cc
  pdns/recursordist/test-syncres_cc1.cc
Labels: rec

#14262 NetmaskTree: Improve the readability of `NetmaskTree::TreeNode::split()`
  pdns/iputils.hh
Labels: auth, rec, enhancement, dnsdist

#14264 GH Actions: enable again rootzone regression-tests for auth
  regression-tests.rootzone/tests/direct-ns/skip-unboundhost
  tasks.py
Labels: auth, github_actions, ci

#14254 dnsdist: Point the documentation to the correct FFI interface header
  pdns/dnsdistdist/docs/reference/actions.rst
  pdns/dnsdistdist/docs/reference/selectors.rst
Labels: docs, defect, dnsdist
