Repository PowerDNS/pdns, pull requests merged in 2025-06, with the labels that each got.

#15614 dnsdist: Explicitly use the versions present in `Cargo.lock` when building
  pdns/dnsdistdist/dnsdist-rust-lib/rust/Makefile.am
  pdns/dnsdistdist/dnsdist-rust-lib/rust/build_dnsdist_rust_library
Labels: enhancement, dnsdist

#15615 dnsdist: Update our Rust dependencies
  pdns/dnsdistdist/dnsdist-rust-lib/rust/Cargo.lock
Labels: enhancement, dnsdist

#15624 dnsdist-1.9.x: backport 14565 - gh actions - coveralls: avoid CI failure by setting fail-on-error: false
  .github/workflows/build-and-test-all.yml
Labels: dnsdist, ci

#15623 rec-5.0.x: backport 14565 - gh actions - coveralls: avoid CI failure by setting fail-on-error: false
  .github/workflows/build-and-test-all.yml
Labels: rec, ci

#15626 rec: build el-9 package with luajit on arm64
  builder-support/specs/pdns-recursor.spec
Labels: rec, ci

#15628 rec: meson packages followup
  .github/workflows/build-packages-daily-master.yml
  builder-support/specs/pdns-recursor.spec
  pdns/recursordist/meson.build
  pdns/recursordist/meson_options.txt
Labels: rec

#15581 Do not use system(3) in pdnsutil
  pdns/pdnsutil.cc
  pdns/utility.hh
Labels: auth, tools

#15607 Try harder matching command names in pdnsutil
  pdns/pdnsutil.cc
Labels: auth, tools

#15389 [tools] Honour default-ttl in pdnsutil load-zone
  pdns/pdnsutil.cc
  pdns/zoneparser-tng.cc
  pdns/zoneparser-tng.hh
Labels: tools

#15610 dnsdist: add SetEDNSOptionResponseAction
  pdns/dnsdistdist/dnsdist-actions-factory.cc
  pdns/dnsdistdist/dnsdist-console.cc
  pdns/dnsdistdist/dnsdist-ecs.cc
  pdns/dnsdistdist/dnsdist-ecs.hh
  pdns/dnsdistdist/dnsdist-lua-response-actions-generated.cc
  pdns/dnsdistdist/dnsdist-response-actions-definitions.yml
  pdns/dnsdistdist/dnsdist-response-actions-factory-generated.cc
  pdns/dnsdistdist/dnsdist-response-actions-factory-generated.hh
  pdns/dnsdistdist/dnsdist-rust-bridge-actions-generated.cc
  pdns/dnsdistdist/dnsdist-rust-bridge-actions-generated.hh
  pdns/dnsdistdist/dnsdist-rust-lib/rust/src/lib.rs
  pdns/dnsdistdist/docs/reference/actions.rst
  regression-tests.dnsdist/test_Responses.py
Labels: enhancement, dnsdist, backport to dnsdist-1.9.x

#15631 dnsdist: Fix a flaky Proxy Protocol regression test
  regression-tests.dnsdist/test_ProxyProtocol.py
Labels: defect, dnsdist

#15632 rec: Disable fortify on package builds, it is supplied db package build infra
  builder-support/debian/recursor/debian-buster/rules
  builder-support/debian/recursor/debian-trixie/rules
  builder-support/specs/pdns-recursor.spec
Labels: rec, ci

#15637 dnsdist docs: Place "Rule Selectors" in more appropriate place in TOC
  pdns/dnsdistdist/docs/reference/index.rst
  pdns/dnsdistdist/docs/reference/selectors.rst
Labels: docs, dnsdist

#15633 dnsdist settings docs: fix derailed sentence
  pdns/dnsdistdist/dnsdist-settings-definitions.yml
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/yaml-settings.rst
Labels: docs, dnsdist

#15635 dnsdist-1.9.x: backport 15610 - add SetEDNSOptionResponseAction
  pdns/dnsdist-console.cc
  pdns/dnsdist-lua-actions.cc
  pdns/dnsdistdist/docs/reference/actions.rst
  regression-tests.dnsdist/test_Responses.py
Labels: enhancement, dnsdist

#15650 dnsdist: YAML: Correct `enable_proxy_protocol` value for TCP/UDP binds
  pdns/dnsdistdist/dnsdist-configuration-yaml.cc
  pdns/dnsdistdist/dnsdist-settings-definitions.yml
  pdns/dnsdistdist/docs/reference/yaml-settings.rst
Labels: defect, dnsdist

#15532 dnsdist: add option to support cache sharing between different payload sizes
  pdns/dnsdistdist/dnsdist-cache.cc
  pdns/dnsdistdist/dnsdist-cache.hh
  pdns/dnsdistdist/dnsdist-configuration-yaml.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-packetcache.cc
  pdns/dnsdistdist/dnsdist-rust-lib/dnsdist-settings-generator.py
  pdns/dnsdistdist/dnsdist-settings-definitions.yml
  pdns/dnsdistdist/dnsdist.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/yaml-settings.rst
  pdns/packetcache.hh
  regression-tests.dnsdist/test_Caching.py
Labels: enhancement, dnsdist

#15656 Remove never used argument
  pdns/dnsdistdist/dnsdist-svc.cc
  pdns/dnsparser.hh
  pdns/dnsrecords.cc
  pdns/dnswriter.cc
  pdns/dnswriter.hh
  pdns/rcpgenerator.cc
  pdns/rcpgenerator.hh
Labels: auth, dnsdist, janitor

#15663 End sentences with dots, not commas.
  pdns/pdnsutil.cc
Labels: auth, easy, janitor

#15657 More domain ID love
  modules/bindbackend/bindbackend2.cc
  modules/ldapbackend/native.cc
  modules/lua2backend/lua2api2.hh
  modules/tinydnsbackend/tinydnsbackend.cc
  modules/tinydnsbackend/tinydnsbackend.hh
Labels: auth

#15659 Some spring paranoia
  modules/bindbackend/bindbackend2.cc
  pdns/dnsbackend.hh
  pdns/dnsseckeeper.hh
  pdns/packethandler.cc
  pdns/pdnsutil.cc
Labels: auth

#15664 Low-hanging signature cache hanging fruit
  pdns/dnssecsigner.cc
Labels: auth

#15602 dnsdist: Do not replace EDNS in answers self-generated from a packet
  pdns/dnsdistdist/dnsdist-self-answers.cc
  pdns/dnsdistdist/dnsdist.cc
  pdns/dnsdistdist/dnsdist.hh
  regression-tests.dnsdist/test_Spoofing.py
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#15221 Compute LOC text representation without using floating point for latitude and longitude
  docs/upgrading.rst
  pdns/sillyrecords.cc
  pdns/test-dnsrecords_cc.cc
Labels: auth

#15661 rec: fix negativetrustanchor.server CH TXT query processing (disabled by default)
  pdns/dnsparser.cc
  pdns/dnsparser.hh
  pdns/rcpgenerator.cc
  pdns/recursordist/syncres.cc
Labels: auth, rec

#15672 Stop listing the trusted keys at the end of tests
  regression-tests/start-test-stop
Labels: auth, easy, janitor

#15681 Lua GeoIPQueryAttribute documentation update
  docs/appendices/backend-writers-guide.rst
  docs/lua-records/functions.rst
Labels: auth, docs

#15670 dnsdist: add route policy of first ordered then weighted
  pdns/dnsdistdist/dnsdist-lbpolicies.cc
  pdns/dnsdistdist/dnsdist-lbpolicies.hh
  pdns/dnsdistdist/dnsdist-settings-definitions.yml
  pdns/dnsdistdist/docs/guides/serverselection.rst
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/yaml-settings.rst
  regression-tests.dnsdist/test_Routing.py
Labels: enhancement, dnsdist

#15676 dnsdist: add a count to track the number of query restarts
  pdns/dnsdistdist/dnsdist-idstate.hh
  pdns/dnsdistdist/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/docs/reference/dq.rst
  pdns/dnsdistdist/test-dnsdist-lua-ffi.cc
  regression-tests.dnsdist/test_RestartQuery.py
Labels: enhancement, dnsdist

#15685 meson: Pick -lcrypto up from the spot defined by dep_libcrypto
  meson/libcrypto/meson.build
  meson/libssl/meson.build
Labels: dnsdist

#15682 doc(dnsdist): remove superfluous code block in YAML config
  pdns/dnsdistdist/dnsdist-settings-documentation-generator.py
  pdns/dnsdistdist/docs/reference/yaml-settings.rst
Labels: docs, defect, dnsdist

#15687 dnsdist: Remove generated YAML documentation files
  pdns/dnsdistdist/.gitignore
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/docs/reference/yaml-actions.rst
  pdns/dnsdistdist/docs/reference/yaml-response-actions.rst
  pdns/dnsdistdist/docs/reference/yaml-selectors.rst
  pdns/dnsdistdist/docs/reference/yaml-settings.rst
  pdns/dnsdistdist/meson.build
Labels: docs, enhancement, dnsdist

#15689 auth: stop maintaining vector of ueberbackend instances
  pdns/ueberbackend.cc
  pdns/ueberbackend.hh
Labels: auth

#15652 rec: when using ZTC, do not store non-auth data if the name is subject to recursive forwarding
  pdns/recursordist/rec-zonetocache.cc
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
Labels: rec, backport to rec-5.0.x?, backport to rec-5.1.x?, backport to rec-5.2.x?

#15646 rec validate: use rfc1982 math for RRSIG timestamps
  pdns/misc.hh
  pdns/recursordist/test-syncres_cc4.cc
  pdns/validate.cc
Labels: rec

#15695 dnsdist meson: followup to #15685 to avoid compiler warnings
  pdns/dnsdistdist/meson/libcrypto/meson.build
Labels: dnsdist

#15690 dnsdist: Add Lua APIs to set Meta tags in protobuf messages
  pdns/dnsdistdist/dnsdist-actions-factory.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/dnsdist-lua-ffi.hh
  pdns/dnsdistdist/dnsdist.hh
  pdns/dnsdistdist/docs/reference/dq.rst
  pdns/dnsdistdist/meson.build
  pdns/dnsdistdist/test-dnsdist-lua-ffi.cc
  regression-tests.dnsdist/test_Protobuf.py
Labels: enhancement, dnsdist

#15705 auth: rename bswap64 to pdns_bswap64.
  ext/lmdb-safe/lmdb-safe.hh
Labels: auth

#15703 dnsdist: Fix the documentation workflow
  .github/workflows/documentation.yml
  tasks.py
Labels: docs, defect, dnsdist

#15706 rec: Prevent a crash in the ZoneToCache unit tests
  pdns/recursordist/test-rec-zonetocache.cc
Labels: rec, defect

#15711 dnsdist: Python with YAML is no longer optional to build dnsdist
  .github/actions/spell-check/expect.txt
  pdns/dnsdistdist/docs/install.rst
  pdns/dnsdistdist/docs/upgrade_guide.rst
Labels: docs, defect, dnsdist

#15696 better rm in LMDB #2
  ext/lmdb-safe/lmdb-safe.hh
  ext/lmdb-safe/lmdb-typed.hh
  modules/lmdbbackend/lmdbbackend.cc
Labels: auth, defect, backport to auth-4.9.x?

#15668 rec: generate trace data in OpenTelemetry format
  .github/actions/spell-check/expect.txt
  contrib/ProtobufLogger.py
  docs/manpages/sdig.1.rst
  pdns/Makefile.am
  pdns/dns_random.hh
  pdns/dnsmessage.proto
  pdns/ednsoptions.hh
  pdns/protozero-trace.cc
  pdns/protozero-trace.hh
  pdns/protozero.hh
  pdns/recursordist/Makefile.am
  pdns/recursordist/docs/lua-config/protobuf.rst
  pdns/recursordist/docs/performance.rst
  pdns/recursordist/lua-recursor4.cc
  pdns/recursordist/meson.build
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/protozero-trace.cc
  pdns/recursordist/protozero-trace.hh
  pdns/recursordist/rec-eventtrace.cc
  pdns/recursordist/rec-eventtrace.hh
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-rust-lib/table.py
  pdns/recursordist/rec-tcp.cc
  pdns/recursordist/rec_channel_rec.cc
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
  pdns/recursordist/test-protozero-trace.cc
  pdns/sdig.cc
Labels: rec, enhancement

#15671 Better LMDB error information
  ext/lmdb-safe/lmdb-safe.cc
  ext/lmdb-safe/lmdb-safe.hh
  ext/lmdb-safe/lmdb-typed.hh
  modules/lmdbbackend/lmdbbackend.cc
Labels: auth

#15724 rec: avoid curl during build if unnecessary
  pdns/recursordist/meson.build
Labels: rec

#15621 auth views REST: don't wrap list around single network
  docs/http-api/swagger/authoritative-api-swagger.yaml
  pdns/ws-auth.cc
  regression-tests.api/test_Views.py
Labels: auth

#15720 auth-4.9.x: backport lmdb lightning stream race fix
  modules/lmdbbackend/lmdbbackend.cc
Labels: auth

#15669 Increase zone serial number after zone key operations
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth

#15731 Add :getQueries() method to Server class
  pdns/dnsdistdist/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/docs/reference/config.rst
Labels: enhancement, dnsdist, backport to dnsdist-1.9.x, backport to dnsdist-2.0.x

#15739 lmdb-safe: Fix a small race in `getMDBEnv`
  ext/lmdb-safe/lmdb-safe.cc
Labels: auth, defect, dnsdist, backport to dnsdist-2.0.x

#15737 dnsdist-resolver: Fix a bug when we get new IPs for a server
  dockerdata/dnsdist-resolver.lua
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#15730 rec: Correct zonetocaches settings example
  pdns/recursordist/rec-rust-lib/docs-new-preamble-in.rst
Labels: docs, rec

#15746 rec: Fix sysconfdir in debian packages built by meson
  builder-support/debian/recursor/debian-buster/rules
  builder-support/debian/recursor/debian-trixie/rules
Labels: rec, defect

#15736 auth-4.9.x: backport lmdb mapsize fix
  ext/lmdb-safe/lmdb-safe.hh
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
Labels: auth

#15744 dnsdist: Mention compiling with meson
  .github/actions/spell-check/expect.txt
  pdns/dnsdistdist/docs/install.rst
Labels: docs, enhancement, dnsdist
