Repository PowerDNS/pdns, pull requests merged in 2025-03, with the labels that each got.

#15199 dnsdist: Use `65535` instead of `255` to block all types via eBPF
  contrib/xdp-filter.ebpf.src
  contrib/xdp.py
  pdns/dnsdistdist/bpf-filter.ebpf.src
  pdns/dnsdistdist/bpf-filter.hh
  pdns/dnsdistdist/bpf-filter.main.ebpf
  pdns/dnsdistdist/bpf-filter.qname.ebpf
  pdns/dnsdistdist/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/docs/advanced/ebpf.rst
  pdns/dnsdistdist/docs/reference/ebpf.rst
  pdns/dnsdistdist/docs/upgrade_guide.rst
  regression-tests.dnsdist/test_EBPF.py
Labels: enhancement, dnsdist

#15238 Fix list-all-zones in multi-backend configuration involving LMDB
  modules/lmdbbackend/lmdbbackend.cc
Labels: auth, defect, easy, needs review

#15229 auth 4.8.x: Backport "Damage control in Lua createForward() and createForward6()."
  .github/actions/spell-check/expect.txt
  .github/workflows/spelling3.yml
  pdns/lua-record.cc
  regression-tests.auth-py/test_LuaRecords.py
Labels: auth

#15243 GH Actions: upgrade version of Ubuntu runners to 24.04
  .github/workflows/build-and-test-all.yml
  .github/workflows/build-docker-images-dispatch.yml
  .github/workflows/build-docker-images-tags.yml
  .github/workflows/build-docker-images.yml
  .github/workflows/build-packages.yml
  .github/workflows/builder.yml
Labels: github_actions, ci

#15248 rec docs: elaborate on RPZ refresh parameter
  pdns/recursordist/docs/lua-config/rpz.rst
Labels: docs, rec

#15167 rec: reload proxy settings on rec_control reload-acls
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-rust-lib/cxxsupport.cc
  pdns/recursordist/rec-rust-lib/table.py
  regression-tests.recursor-dnssec/test_ProxyProtocol.py
Labels: rec, enhancement

#15217 Tidy of structured logging related files
  pdns/logging.hh
  pdns/recursordist/logging.cc
  pdns/recursordist/logr.hh
Labels: rec

#15090 Avoid LMDB exception during recursive lookup
  ext/lmdb-safe/lmdb-safe.cc
  regression-tests.auth-py/test_LuaRecordsLMDB.py
Labels: auth, needs review

#15133 [pdnsutil] Do not allow increase-serial on secondary zones
  pdns/pdnsutil.cc
Labels: auth, tools, needs review

#15170 [pdnsutil] dedup in add-record
  pdns/pdnsutil.cc
  regression-tests/backends/bind-master
  regression-tests/backends/geoip-master
  regression-tests/backends/gmysql-slave
  regression-tests/backends/godbc_mssql-slave
  regression-tests/backends/gpgsql-slave
  regression-tests/backends/gsqlite3-slave
  regression-tests/backends/ldap-master
  regression-tests/backends/lmdb-master
  regression-tests/backends/lmdb-slave
  regression-tests/backends/lua2-master
  regression-tests/backends/remote-master
  regression-tests/tests/pdnsutil-zone-handling/command
  regression-tests/tests/pdnsutil-zone-handling/description
  regression-tests/tests/pdnsutil-zone-handling/expected_result
  regression-tests/tests/pdnsutil-zone-handling/skip.bind
  regression-tests/tests/pdnsutil-zone-handling/skip.geoip
  regression-tests/tests/pdnsutil-zone-handling/skip.ldap-simple
  regression-tests/tests/pdnsutil-zone-handling/skip.ldap-strict
  regression-tests/tests/pdnsutil-zone-handling/skip.ldap-tree
  regression-tests/tests/pdnsutil-zone-handling/skip.tinydns
Labels: auth, tools, needs review

#15235 [auth] [janitor] Mop up some Lua records code
  pdns/lua-record.cc
  regression-tests.auth-py/test_LuaRecords.py
Labels: auth, janitor

#15127 auth lua records: new option to set the http status code to match in ifurlup function
  .github/actions/spell-check/expect.txt
  docs/lua-records/functions.rst
  pdns/lua-record.cc
  pdns/minicurl.cc
  pdns/minicurl.hh
  regression-tests.auth-py/test_LuaRecords.py
Labels: auth, needs review

#15098 Add a "failOnIncompleteCheck" option to if*up Lua functions
  docs/lua-records/functions.rst
  pdns/lua-record.cc
  regression-tests.auth-py/test_LuaRecords.py
Labels: auth, needs review

#15247 lua comboaddress: raw docs, cleanups, dnsdist add getRaw
  docs/lua-records/reference/comboaddress.rst
  pdns/dnsdistdist/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/docs/reference/comboaddress.rst
  pdns/lua-base4.cc
Labels: enhancement, dnsdist

#15253 Fix NAPTR processing
  modules/tinydnsbackend/data
  modules/tinydnsbackend/data.cdb
  pdns/packethandler.cc
  regression-tests.nobackend/tinydns-data-check/expected_result
  regression-tests/tests/ent-axfr/expected_result
  regression-tests/tests/ent-axfr/expected_result.nsec3
  regression-tests/tests/ent-axfr/expected_result.nsec3-optout
  regression-tests/tests/naptr/command
  regression-tests/tests/naptr/expected_result
  regression-tests/zones/test.com
Labels: auth, defect, needs review

#15260 Fix a few gcc warnings on trixie
  pdns/dnsdistdist/dnsdist-lua-bindings-kvs.cc
  pdns/dnsdistdist/dnsdist-rules-factory.hh
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-rust-lib/cxxsupport.cc
Labels: rec, dnsdist

#15261 rec: make sure t_tcpClientCounts is always initialized
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-tcp.cc
Labels: rec

#15158 dnsdist: Disable Lua configuration directives in YAML mode
  pdns/dnsdistdist/dnsdist-console.cc
  pdns/dnsdistdist/dnsdist-lua.cc
  pdns/dnsdistdist/dnsdist-lua.hh
  pdns/dnsdistdist/dnsdist-rust-lib/dnsdist-settings-documentation-generator.py
  pdns/dnsdistdist/dnsdist.cc
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/yaml-settings.rst
  regression-tests.dnsdist/dnsdisttests.py
  regression-tests.dnsdist/test_Yaml.py
Labels: enhancement, dnsdist

#15266 [auth] [doc] minor documentation updates
  docs/upgrading.rst
Labels: auth, docs

#15263 rec: comment on an issue encountered running asan on trixie and define HAVE_LEAK_SANITIZER_INTERFACE
  meson/sanitizers/meson.build
  pdns/recursordist/mtasker_context.cc
Labels: auth, rec, dnsdist

#15271 dnsdist: Use Lua on arm64 EL builds
  builder-support/specs/dnsdist.spec
Labels: defect, dnsdist

#15273 rec: more consistency in logging statements generated in web server code
  pdns/recursordist/rec-rust-lib/rust/src/web.rs
Labels: rec

#15254 rec: if we see a CNAME and an answer record, follow CNAME
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
  pdns/recursordist/test-syncres_cc1.cc
Labels: rec, enhancement

#15270 rec: make the chain test more reliable by using TCP
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_Chain.py
Labels: rec

#15272 rec: fix libsnmp define and make dnsdist's meson.build the only one
  meson/libsnmp/meson.build
  pdns/dnsdistdist/meson/libsnmp
  pdns/dnsdistdist/meson/libsnmp/meson.build
Labels: rec, dnsdist

#15282 rec: 5.2.x: Remove formatting and secpoll workflows, update fuzzing to ubuntu 24.04
  .github/workflows/formatting.yml
  .github/workflows/fuzz.yml
  .github/workflows/secpoll.yml
Labels: rec, ci

#15284 dnsdist: Fix the location of the dnsdist-quiche library in our Docker image
  Dockerfile-dnsdist
Labels: defect, dnsdist

#15289 dnsdist: Build the `dnsdist` of our Docker image with `meson`
  Dockerfile-dnsdist
Labels: dnsdist

#15297 dnsdist: Export only FFI symbols, regardless of visibility
  pdns/dnsdistdist/meson/lua/meson.build
Labels: enhancement, dnsdist

#15151 dnsdist: add support for dnstap new http_protocol field
  pdns/dnsdistdist/dnsdist-actions-factory.cc
  pdns/dnstap.cc
  pdns/dnstap.hh
  pdns/dnstap.proto
  regression-tests.dnsdist/test_Dnstap.py
Labels: enhancement, dnsdist

#15298 dnsdist: protobuf, support packetCacheHit and outgoingQueries fields
  pdns/dnsdistdist/dnsdist-idstate.hh
  pdns/dnsdistdist/dnsdist-protobuf.cc
  pdns/dnsdistdist/dnsdist.cc
  pdns/dnsdistdist/docs/reference/rules-management.rst
  regression-tests.dnsdist/test_Protobuf.py
Labels: enhancement, dnsdist

#15300 dnsdist: Allow `AF_NETLINK` and `AF_XDP` under `systemd`
  pdns/dnsdistdist/dnsdist.service.in
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#15288 rec-5.0.x: Stop formatting check and start using Ubuntu-24.04 for fuzzing
  .github/workflows/codeql-analysis.yml
  .github/workflows/formatting.yml
  .github/workflows/fuzz.yml
Labels: rec, ci

#15280 rec: Backport 15254 to 5.1.x: If we see both a CNAME and answer records, follow CNAME and discard the answer records
  pdns/recursordist/syncres.cc
  pdns/recursordist/test-syncres_cc1.cc
Labels: rec, enhancement

#15293 rec: meson: add libcap feature and sync build-and-test-all options with autotools variants
  meson/libcap/meson.build
  pdns/dnsdistdist/meson/libcap
  pdns/recursordist/meson.build
  pdns/recursordist/meson_options.txt
  tasks.py
Labels: rec, dnsdist, ci

#15303 dnsdist: Fix "missing declaration" warning for `ProtocolToDNSTap`
  pdns/dnsdistdist/dnsdist-actions-factory.cc
Labels: defect, dnsdist

#15304 Properly define `COVERAGE` when code coverage is enabled via `meson`
  meson/code-coverage/meson.build
Labels: auth, rec, defect, dnsdist

#15305 dnsdist: Fix a typo in the quickstart guide
  pdns/dnsdistdist/docs/quickstart.rst
Labels: docs, defect, dnsdist

#15307 rec, dnsdist: Fix symbol export on macos
  pdns/dnsdistdist/meson/lua/meson.build
  pdns/recursordist/meson.build
Labels: rec, dnsdist

#15315 dnsdist: Fix XSK mode detection when built with `meson`
  pdns/dnsdistdist/meson/xsk/meson.build
Labels: defect, dnsdist

#15313 dnsdist: Upgrade clang to 19 in our CI
  .github/workflows/build-and-test-all.yml
  tasks.py
Labels: dnsdist, ci

#15312 Add timeout config per UDP backend server
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/dnsdist-configuration-yaml.cc
  pdns/dnsdistdist/dnsdist-console.cc
  pdns/dnsdistdist/dnsdist-lua.cc
  pdns/dnsdistdist/dnsdist-rust-lib/rust/src/lib.rs
  pdns/dnsdistdist/dnsdist-settings-definitions.yml
  pdns/dnsdistdist/dnsdist.hh
  pdns/dnsdistdist/docs/reference/config.rst
  pdns/dnsdistdist/docs/reference/yaml-settings.rst
Labels: enhancement, dnsdist

#15318 dnsdist: Update secpoll and ChangeLog for 2.0.0-alpha1
  .github/actions/spell-check/expect.txt
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
  pdns/dnsdistdist/docs/upgrade_guide.rst
Labels: dnsdist

#15320 security polling: Fix the code for DNSdist 2.0.0 alpha1
  docs/secpoll.zone
Labels: defect

#15326 dnsdist: fix package build on trixie
  builder-support/debian/dnsdist/debian-bookworm/control
Labels: dnsdist, ci

#15329 Upgrade Rust to 1.85.0
  builder-support/helpers/rust.json
Labels: rec, enhancement, dnsdist, backport to dnsdist-1.9.x

#15330 dnsdist: Fix YAML configuration failure to build without CDB/LMDB
  pdns/dnsdistdist/dnsdist-configuration-yaml.cc
Labels: defect, dnsdist

#15332 rec: Prevent a crash when exiting nicely
  pdns/recursordist/rec-tcp.cc
Labels: rec, defect

#15336 rec: fix a race in the RPZ regression test and modify handling of auths
  regression-tests.recursor-dnssec/basicDNSSEC.py
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_API.py
  regression-tests.recursor-dnssec/test_Additionals.py
  regression-tests.recursor-dnssec/test_AggressiveNSECCache.py
  regression-tests.recursor-dnssec/test_AnyBind.py
  regression-tests.recursor-dnssec/test_Carbon.py
  regression-tests.recursor-dnssec/test_Chain.py
  regression-tests.recursor-dnssec/test_DNS64.py
  regression-tests.recursor-dnssec/test_ECS.py
  regression-tests.recursor-dnssec/test_EDNSPadding.py
  regression-tests.recursor-dnssec/test_Expired.py
  regression-tests.recursor-dnssec/test_ExtendedErrors.py
  regression-tests.recursor-dnssec/test_Flags.py
  regression-tests.recursor-dnssec/test_Interop.py
  regression-tests.recursor-dnssec/test_KeepOpenTCP.py
  regression-tests.recursor-dnssec/test_LockedCache.py
  regression-tests.recursor-dnssec/test_Lua.py
  regression-tests.recursor-dnssec/test_NTA.py
  regression-tests.recursor-dnssec/test_NamedForward.py
  regression-tests.recursor-dnssec/test_NoDS.py
  regression-tests.recursor-dnssec/test_NoDSYAML.py
  regression-tests.recursor-dnssec/test_OOOTCP.py
  regression-tests.recursor-dnssec/test_Prometheus.py
  regression-tests.recursor-dnssec/test_Protobuf.py
  regression-tests.recursor-dnssec/test_ProxyByTable.py
  regression-tests.recursor-dnssec/test_ProxyProtocol.py
  regression-tests.recursor-dnssec/test_RDFlag.py
  regression-tests.recursor-dnssec/test_RPZ.py
  regression-tests.recursor-dnssec/test_RootNXTrust.py
  regression-tests.recursor-dnssec/test_RoutingTag.py
  regression-tests.recursor-dnssec/test_ServerNames.py
  regression-tests.recursor-dnssec/test_Simple.py
  regression-tests.recursor-dnssec/test_SimpleDoT.py
  regression-tests.recursor-dnssec/test_SimpleForwardOverDoT.py
  regression-tests.recursor-dnssec/test_SimpleTCP.py
  regression-tests.recursor-dnssec/test_SimpleYAML.py
  regression-tests.recursor-dnssec/test_Sortlist.py
  regression-tests.recursor-dnssec/test_TTL.py
  regression-tests.recursor-dnssec/test_TraceFail.py
  regression-tests.recursor-dnssec/test_ZTC.py
  regression-tests.recursor-dnssec/test_basicNSEC.py
  regression-tests.recursor-dnssec/test_basicNSEC3.py
Labels: rec

#15338 dnsdist: Better handling of the `dlsym` missing symbol in our Rust lib
  builder-support/debian/dnsdist/debian-bookworm/rules
  builder-support/debian/dnsdist/debian-bullseye/rules
  builder-support/specs/dnsdist.spec
  pdns/dnsdistdist/meson.build
Labels: enhancement, dnsdist

#15339 [auth] lmdb: be more robust against marked-as-deleted items
  ext/lmdb-safe/lmdb-typed.hh
Labels: auth, defect, needs review, backport to auth-4.8.x?, backport to auth-4.9.x?

#15340 mysql: use MYSQL_TYPE_LONGLONG on 64bit platforms
  modules/gmysqlbackend/smysql.cc
Labels: auth, defect, backport to auth-4.9.x?

#15327 [autocconf] [auth] Build tsig-tests if --enable-tools
  pdns/Makefile.am
Labels: tools

#15344 auth-4.8.x: mysql: use MYSQL_TYPE_LONGLONG on 64bit platforms
  modules/gmysqlbackend/smysql.cc
Labels: auth

#15347 auth-4.9.x: Handle marked-as-deleted elements in ReadonlyOperations::get<>
  ext/lmdb-safe/lmdb-typed.hh
Labels: auth

#15352 rec: in test_SimpleDot.py make sure we have the root DNSKEY in cache, it might require TCP
  regression-tests.recursor-dnssec/test_SimpleDoT.py
Labels: rec, backport to rec-5.0.x?, backport to rec-5.1.x?, backport to rec-5.2.x?

#15353 auth: fix log string in case there are notifies needed
  pdns/auth-primarycommunicator.cc
Labels: auth

#15334 [geoip] Try and be more helpful in YAML error exceptions
  modules/geoipbackend/geoipbackend.cc
Labels: auth, enhancement, needs review

#15197 [pdnsutil] Suggest increase-serial after create-zone
  docs/settings.rst
  pdns/pdnsutil.cc
Labels: auth, tools, needs review

#15370 bye bye strcasestr
  configure.ac
  meson/various-functions/meson.build
  pdns/recursordist/configure.ac
  pdns/ws-api.cc
Labels: easy, janitor

#15357 dnsdist: Document how Lua functions can be called from YAML
  pdns/dnsdistdist/docs/advanced/luaaction.rst
Labels: docs, dnsdist

#15351 dnsdist: Load Lua bindings before parsing yaml configuration
  pdns/dnsdistdist/dnsdist.cc
  regression-tests.dnsdist/dnsdisttests.py
Labels: defect, dnsdist

#15331 Do not auto-enable disabled features when building with meson
  Dockerfile-dnsdist
  builder-support/debian/dnsdist/debian-bookworm/rules
  builder-support/debian/dnsdist/debian-bullseye/rules
  builder-support/specs/dnsdist.spec
  meson.build
  meson/dnstap/meson.build
  meson/dot/meson.build
  meson/hardening/meson.build
  meson/libsnmp/meson.build
  meson/libssl-engines/meson.build
  meson/libssl/meson.build
  meson/libsystemd/meson.build
  meson/systemd/meson.build
  meson_options.txt
  pdns/dnsdistdist/meson.build
  pdns/dnsdistdist/meson/cdb/meson.build
  pdns/dnsdistdist/meson/doh2/meson.build
  pdns/dnsdistdist/meson/doh3/meson.build
  pdns/dnsdistdist/meson/doq/meson.build
  pdns/dnsdistdist/meson/libssl-engines/meson.build
  pdns/dnsdistdist/meson/quiche/meson.build
  pdns/dnsdistdist/meson/re2/meson.build
  pdns/dnsdistdist/meson_options.txt
  pdns/recursordist/meson.build
  pdns/recursordist/meson_options.txt
  tasks.py
Labels: auth, rec, defect, dnsdist

#15356 dnsdist: Better handling of non-existent Lua function name in YAML
  pdns/dnsdistdist/dnsdist-configuration-yaml.cc
Labels: defect, dnsdist

#15368 rec: fix generation of recursor config if PDNS_RECURSOR_API_KEY is set
  dockerdata/startup.py
Labels: rec, defect, backport to rec-5.2.x?

#15369 When CARGO_TARGET_DIR is set the generated C++ files end up in a different location
  pdns/dnsdistdist/dnsdist-rust-lib/rust/build_dnsdist_rust_library
  pdns/recursordist/rec-rust-lib/rust/build_recrust
Labels: rec, dnsdist

#15361 dnsdist: followup to #15326 (fix build on trixie), package name typo crept in
  builder-support/debian/dnsdist/debian-bookworm/control
  builder-support/specs/dnsdist.spec
Labels: dnsdist

#15362 dnsdist: Do not register Xsk sockets on configuration check or client mode
  pdns/dnsdistdist/dnsdist-configuration-yaml.cc
  pdns/dnsdistdist/dnsdist-lua.cc
Labels: defect, dnsdist

#15290 Update actions.rst: `SpoofAction()`
  pdns/dnsdistdist/docs/reference/actions.rst
Labels: docs, enhancement

#15373 rec: [meson] make nod a feature instead of a boolean
  meson/nod/meson.build
  pdns/recursordist/meson_options.txt
  tasks.py
Labels: rec, ci

#15380 dnsdist: Fix a TOCTOU in the Async regression tests
  regression-tests.dnsdist/test_Async.py
Labels: defect, dnsdist
