Repository PowerDNS/pdns, pull requests merged in 2025-05, with the labels that each got.

#15514 dnsdist: Fix memory corruption when using `getAddressInfo`
  pdns/dnsdistdist/dnsdist-lua-bindings.cc
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#15474 [auth] Use a unique type for domain ids (to bind them all, etc)
  docs/appendices/backend-writers-guide.rst
  modules/bindbackend/bindbackend2.cc
  modules/bindbackend/bindbackend2.hh
  modules/geoipbackend/geoipbackend.cc
  modules/geoipbackend/geoipbackend.hh
  modules/ldapbackend/ldapbackend.hh
  modules/ldapbackend/native.cc
  modules/ldapbackend/primary.cc
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
  modules/lua2backend/lua2api2.hh
  modules/pipebackend/pipebackend.cc
  modules/pipebackend/pipebackend.hh
  modules/remotebackend/remotebackend.cc
  modules/remotebackend/remotebackend.hh
  modules/tinydnsbackend/tinydnsbackend.cc
  modules/tinydnsbackend/tinydnsbackend.hh
  pdns/auth-primarycommunicator.cc
  pdns/auth-secondarycommunicator.cc
  pdns/backends/gsql/gsqlbackend.cc
  pdns/backends/gsql/gsqlbackend.hh
  pdns/comment.hh
  pdns/dbdnsseckeeper.cc
  pdns/dns.hh
  pdns/dnsbackend.cc
  pdns/dnsbackend.hh
  pdns/dnsparser.hh
  pdns/dnsseckeeper.hh
  pdns/packethandler.cc
  pdns/pdnsutil.cc
  pdns/rfc2136handler.cc
  pdns/test-ueberbackend_cc.cc
  pdns/ws-auth.cc
Labels: auth

#15477 dnsdist: Provide runtime update API for some health check params
  pdns/dnsdistdist/dnsdist-backend.cc
  pdns/dnsdistdist/dnsdist-lua-bindings.cc
  pdns/dnsdistdist/dnsdist.hh
  pdns/dnsdistdist/docs/reference/config.rst
  regression-tests.dnsdist/test_HealthChecks.py
Labels: enhancement, dnsdist

#15520 Fix building with GCC 15.1: missing `cstdint` include
  pdns/noinitvector.hh
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#15522 dnsdist-1.9.x: Disable code coverage
  .github/workflows/build-and-test-all.yml
Labels: dnsdist, ci

#15521 dnsdist: Don't build with `libedit` if disabled via `meson`
  pdns/dnsdistdist/meson/libedit/meson.build
Labels: defect, dnsdist

#15519 dnsdist-1.9.x: Backport 15514 - Fix memory corruption when using `getAddressInfo`
  pdns/dnsdist-lua-bindings.cc
Labels: defect, dnsdist

#15518 TSIG payload: use canonical (lowercase) name format
  pdns/dnssecinfra.cc
  pdns/test-tsig.cc
Labels: auth, backport to auth-4.9.x?

#15525 Upgrade to protozero 1.8.0
  ext/protozero/CHANGELOG.md
  ext/protozero/LICENSE.md
  ext/protozero/include/protozero/basic_pbf_builder.hpp
  ext/protozero/include/protozero/basic_pbf_writer.hpp
  ext/protozero/include/protozero/buffer_string.hpp
  ext/protozero/include/protozero/data_view.hpp
  ext/protozero/include/protozero/pbf_message.hpp
  ext/protozero/include/protozero/pbf_reader.hpp
  ext/protozero/include/protozero/types.hpp
  ext/protozero/include/protozero/varint.hpp
  ext/protozero/include/protozero/version.hpp
Labels: rec, dnsdist

#15527 dnsdist: Fix outdated YAML settings documentation
  pdns/dnsdistdist/docs/reference/yaml-settings.rst
Labels: docs, defect, dnsdist

#15528 dnsdist: Fix references to 1.10 in the documentation: it's 2.0.0
  pdns/dnsdistdist/docs/reference/rules-management.rst
Labels: docs, defect, dnsdist

#15526 dnsdist: Deprecate the `options` parameter of `HTTPStatusAction`
  pdns/dnsdistdist/dnsdist-actions-definitions.yml
  pdns/dnsdistdist/docs/reference/actions.rst
  pdns/dnsdistdist/docs/reference/yaml-actions.rst
  pdns/dnsdistdist/docs/upgrade_guide.rst
Labels: docs, defect, dnsdist

#15530 auth-4.9.5 changelog & secpoll update
  docs/changelog/4.9.rst
  docs/secpoll.zone
Labels: auth

#15531 auth-4.8.x: move to ubuntu 22 for package building and ci
  .github/workflows/build-and-test-all.yml
  .github/workflows/builder-dispatch.yml
  .github/workflows/builder.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/formatting.yml
  .github/workflows/fuzz.yml
  .github/workflows/misc-dailies.yml
  .github/workflows/secpoll.yml
  .github/workflows/spelling.yml
  .github/workflows/spelling2.yml
  .github/workflows/spelling3.yml
  build-scripts/gh-actions-setup-inv
  build-scripts/gh-actions-setup-inv-no-dist-upgrade
  docs/requirements.txt
  regression-tests.auth-py/requirements.txt
  regression-tests.auth-py/runtests
  regression-tests.ixfrdist/requirements.txt
  regression-tests.ixfrdist/runtests
  tasks.py
Labels: auth, ci

#15535 auth-4.7.x: move to ubuntu 22 for package building and ci
  .github/workflows/build-and-test-all.yml
  .github/workflows/builder-dispatch.yml
  .github/workflows/builder.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/formatting.yml
  .github/workflows/fuzz.yml
  build-scripts/gh-actions-setup-inv
  docs/requirements.txt
  regression-tests.auth-py/requirements.txt
  regression-tests.auth-py/runtests
  regression-tests.ixfrdist/requirements.txt
  regression-tests.ixfrdist/runtests
  tasks.py
Labels: auth, ci

#15541 dnsdist: Gracefully handle missing v6 in backend discovery test
  regression-tests.dnsdist/test_BackendDiscovery.py
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#15554 dnsdist: Fix a crash in the TCP concurrent connections map
  pdns/dnsdistdist/dnsdist-concurrent-connections.cc
Labels: defect, dnsdist

#15558 dnsdist: Switch `eBPF` support to `auto` when building with `meson`
  builder-support/specs/dnsdist.spec
  pdns/dnsdistdist/meson_options.txt
Labels: dnsdist

#15561 dnsdist-1.9.x: Backport 15541 - Gracefully handle missing v6 in backend discovery test
  regression-tests.dnsdist/test_BackendDiscovery.py
Labels: defect, dnsdist, ci

#15559 dnsdist: Fix a flaky Proxy Protocol regression test
  regression-tests.dnsdist/test_ProxyProtocol.py
Labels: defect, dnsdist, ci

#15562 dnsdist-1.9.x: Backport 15534 - Only set the proxy protocol payload size when actually added
  pdns/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdist.cc
  pdns/dnsdistdist/dnsdist-proxy-protocol.cc
  pdns/dnsdistdist/dnsdist-proxy-protocol.hh
  regression-tests.dnsdist/proxyprotocolutils.py
  regression-tests.dnsdist/test_RestartQuery.py
Labels: defect, dnsdist

#15560 dnsdist-1.9.x: Backport 15520 - Fix building with GCC 15.1: missing `cstdint` include
  pdns/noinitvector.hh
Labels: defect, dnsdist

#15557 dnsdist: Fix backend discovery regression test on GH action (again)
  regression-tests.dnsdist/test_BackendDiscovery.py
Labels: defect, dnsdist, ci, backport to dnsdist-1.9.x

#15472 dnsdist: Reduce memory usage with fast-changing dynamic backends
  dockerdata/dnsdist-resolver.lua
Labels: enhancement, dnsdist, backport to dnsdist-1.9.x

#15566 build-and-test-all: Build DNSdist on Ubicloud runners when needed
  .github/workflows/build-and-test-all.yml
Labels: dnsdist, ci

#15565 dnsdist: Fix our `meson` build not reaching a stable state
  pdns/dnsdistdist/dnsdist-rust-lib/Makefile.am
  pdns/dnsdistdist/dnsdist-rust-lib/dnsdist-settings-generator.py
  pdns/dnsdistdist/dnsdist-rust-lib/meson.build
Labels: defect, dnsdist

#15524 dnsdist: Improve scalability of custom metrics
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/dnsdist-metrics.cc
  pdns/dnsdistdist/dnsdist-metrics.hh
Labels: enhancement, dnsdist

#15568 dnsdist: don't try creating symlink if it already exists
  pdns/dnsdistdist/dnsdist-rust-lib/dnsdist-settings-generator.py
  pdns/dnsdistdist/dnsdist-settings-definitions.yml
  pdns/dnsdistdist/docs/quickstart.rst
Labels: dnsdist

#15572 dnsdist-1.9.x: Backport 15571 - Fix a crash when TCP queries and responses keep coming
  pdns/dnsdist-tcp.cc
  pdns/dnsdistdist/dnsdist-tcp-upstream.hh
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
Labels: defect, dnsdist

#15574 dnsdist: Add ChangeLog and update security polling zone for 1.9.10
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
  pdns/dnsdistdist/docs/security-advisories/powerdns-advisory-for-dnsdist-2025-03.rst
Labels: dnsdist

#15573 dnsdist: Fix one potential issue and several false positives reported by Coverity
  pdns/dnsdistdist/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdistdist/dnsdist-metrics.cc
  pdns/dnsdistdist/dnsdist-tcp.cc
  pdns/dnsdistdist/dnsdist.hh
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#15571 dnsdist: Fix a crash when TCP queries and responses keep coming
  pdns/dnsdistdist/dnsdist-tcp-upstream.hh
  pdns/dnsdistdist/dnsdist-tcp.cc
  pdns/dnsdistdist/test-dnsdisttcp_cc.cc
Labels: defect, dnsdist, backport to dnsdist-1.9.x

#15580 dnsdist: Fix building on EL-8 (we now need Python 3.12 instead of 3.11)
  builder-support/dockerfiles/Dockerfile.rpmbuild
Labels: defect, dnsdist

#15583 dnsdist: Upgrade Quiche to 0.24.2 in our packages
  builder-support/helpers/quiche.json
Labels: dnsdist

#15585 dnsdist: Fix the behaviour of `TagRule` with an empty string as value
  pdns/dnsdistdist/dnsdist-lua-rules.cc
  pdns/dnsdistdist/dnsdist-lua-selectors-generated.cc
  pdns/dnsdistdist/dnsdist-rules-factory.hh
  pdns/dnsdistdist/dnsdist-rules-generator.py
  pdns/dnsdistdist/dnsdist-rust-bridge-selectors-generated.cc
  pdns/dnsdistdist/dnsdist-rust-lib/rust/src/lib.rs
  pdns/dnsdistdist/dnsdist-selectors-definitions.yml
  pdns/dnsdistdist/dnsdist-selectors-factory-generated.cc
  pdns/dnsdistdist/dnsdist-selectors-factory-generated.hh
  regression-tests.dnsdist/test_Tags.py
Labels: defect, dnsdist

#15584 Use Rust 1.87.0 when building our packages
  builder-support/helpers/rust.json
Labels: rec, dnsdist

#15586 install quiche helper: do not use -i without arg and add missing / on Darwin
  builder-support/helpers/install_quiche.sh
Labels: dnsdist

#15582 dnsdist: Add ChangeLog and update security polling zone for 2.0.0-alpha2
  .github/actions/spell-check/expect.txt
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
  pdns/dnsdistdist/docs/conf.py
Labels: dnsdist

#15570 Trust inet_pton to validate IPv6 addresses and nothing more
  pdns/pdnsutil.cc
  pdns/ws-auth.cc
Labels: auth, defect, needs review

#15598 auth: Fix `ignoring attributes on template argument` warning in the GeoIP backend
  modules/geoipbackend/geoipbackend.cc
Labels: auth
