Repository PowerDNS/pdns, pull requests merged in 2025-09, with the labels that each got.

#16050 Display SOA check timestamps in human-readable form
  pdns/auth-secondarycommunicator.cc
Labels: auth

#16024 Correctly handle dnsupdate reject by Lua policy
  pdns/packethandler.hh
  pdns/rfc2136handler.cc
  regression-tests.auth-py/test_GSSTSIG.py
Labels: auth

#15773 dnsdist: Clarify different webserver auths
  pdns/dnsdistdist/docs/guides/webserver.rst
  pdns/dnsdistdist/docs/reference/config.rst
Labels: docs, enhancement, dnsdist

#15945 rec pubsuffix: tidy and use C++ strings
  pdns/recursordist/mkpubsuffixcc
  pdns/recursordist/pubsuffix.hh
  pdns/recursordist/pubsuffixloader.cc
Labels: rec

#16075 auth: unbreak test.
  regression-tests.nobackend/gsqlite3-corrupted-record/command
Labels: auth

#16076 Backport 16058 to rec 5.3.x: rec/dnsdist: add (back) the line that sets the version in configure.ac
  pdns/dnsdistdist/meson-dist-script.sh
  pdns/recursordist/meson-dist-script.sh
Labels: rec, defect

#16035 auth: smarter bind zone file freshness check
  modules/bindbackend/bindbackend2.cc
  modules/bindbackend/bindbackend2.hh
  pdns/zoneparser-tng.cc
  pdns/zoneparser-tng.hh
Labels: auth

#16041 API: stricter record content validation
  pdns/rcpgenerator.cc
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, rest-api

#16080 dnsdist-2.0.x: Backport 16015 - Don't call `nghttp2_session_send` from a callback
  pdns/dnsdistdist/dnsdist-nghttp2-in.cc
  pdns/dnsdistdist/dnsdist-nghttp2.cc
  pdns/dnsdistdist/dnsdist-tcp.cc
  pdns/dnsdistdist/dnsdist-tcp.hh
  pdns/dnsdistdist/test-dnsdistnghttp2_cc.cc
Labels: defect, dnsdist

#16086 dnsdist-1.9.x: Backport 16015 - Don't call `nghttp2_session_send` from a callback
  pdns/dnsdist-tcp.cc
  pdns/dnsdistdist/dnsdist-nghttp2-in.cc
  pdns/dnsdistdist/dnsdist-nghttp2.cc
  pdns/dnsdistdist/dnsdist-tcp.hh
  pdns/dnsdistdist/test-dnsdistnghttp2_cc.cc
Labels: defect, dnsdist

#16078 Add a dispatch workflow to test package building for exotic distributions
  .github/workflows/build-exotic-distributions-packages-dispatch.yml
  .github/workflows/builder.yml
Labels: enhancement, ci

#16096 dnsdist-2.0.x: Backport #16082 - Fix the IO reentry guard in outgoing DoH
  pdns/dnsdistdist/dnsdist-nghttp2.cc
Labels: defect, dnsdist

#16065 dnsdist: Test that the configuration is correctly reloaded in various cases
  pdns/dnsdistdist/dnsdist.cc
  regression-tests.dnsdist/test_ConfigurationUpdates.py
Labels: enhancement, dnsdist, backport to dnsdist-2.0.x

#15994 REST API: normalize record contents received
  docs/upgrading.rst
  pdns/dnslabeltext.rl
  pdns/misc.hh
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth, rest-api

#16087 auth: record contents handling changes
  pdns/rcpgenerator.cc
  pdns/test-dnsrecords_cc.cc
Labels: auth, auth-txt

#16102 dnsdist-2.0.x: Backport 16065 - Test that the configuration is correctly reloaded in various cases
  pdns/dnsdistdist/dnsdist.cc
  regression-tests.dnsdist/test_ConfigurationUpdates.py
Labels: enhancement, dnsdist

#16107 auth: unbreak tests
  regression-tests.api/test_Zones.py
Labels: auth

#16103 rec: warn on passwordless webserver startup and extends docs
  .github/actions/spell-check/expect.txt
  pdns/recursordist/docs/http-api/index.rst
  pdns/recursordist/ws-recursor.cc
Labels: rec, enhancement

#16109 auth: memory corruption in ODBC
  modules/godbcbackend/sodbc.cc
Labels: auth

#16120 pdnsutil: allow spaces in EDITOR
  pdns/pdnsutil.cc
Labels: auth

#16126 dnsdist: Fix performance inefficiencies reported by Coverity
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
Labels: defect, dnsdist

#16131 rec: only store IP (and no port) as local address in cookie store
  pdns/recursordist/lwres.cc
Labels: rec, defect

#16130 rec docs: ComboAddress has no == operator, don't suggest it has
  pdns/recursordist/docs/lua-scripting/comboaddress.rst
Labels: docs, rec

#16135 dnsdist: Update security polling and changelog for 1.9.11, 2.0.1
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
  pdns/dnsdistdist/docs/security-advisories/powerdns-advisory-for-dnsdist-2025-05.rst
Labels: dnsdist

#16143 auth-5.0: backport "Fix Boost system lib dependency: it is no longer available since 1.89"
  m4/boost.m4
Labels: auth

#16147 auth 5.0: backport "lmdb: optional memory-only notification timestamps"
  docs/backends/lmdb.rst
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
Labels: auth

#16152 auth views: perform character set validation of view names
  docs/views.rst
  pdns/check-zone.cc
  pdns/check-zone.hh
  pdns/pdnsutil.cc
  pdns/ws-auth.cc
  regression-tests/tests/views-management/expected_result
Labels: auth

#16138 rec: add a few fields in protobuf logs: ede, edeText and OpenTelemetryTraceID
  contrib/ProtobufLogger.py
  pdns/dnsmessage.proto
  pdns/protozero-trace.hh
  pdns/protozero.hh
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-main.hh
  pdns/recursordist/rec-tcp.cc
  regression-tests.recursor-dnssec/test_Protobuf.py
Labels: rec, enhancement

#16172 Backport 16169 to rec 5.1.x: build-docker-images-tags: Grant enough permissions to sign images
  .github/workflows/build-docker-images-tags.yml
  .github/workflows/docker.yml
Labels: rec

#16162 documentation: Stop pushing to netlify
  .github/workflows/documentation.yml
  .gitignore
Labels: docs, ci

#16176 auth: some more lmdb polish
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
Labels: auth

#16180 dnsdist: Fix release builds by updating the locked Rust lib version
  builder-support/dockerfiles/Dockerfile.dnsdist
  pdns/dnsdistdist/meson-dist-script.sh
Labels: defect, dnsdist, backport to dnsdist-2.0.x

#16070 dnsdist: Skip EDNS padding content by default in the packet cache
  pdns/dnsdistdist/dnsdist-cache.hh
  pdns/dnsdistdist/dnsdist-configuration-yaml.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-packetcache.cc
  pdns/dnsdistdist/dnsdist-settings-definitions.yml
  pdns/dnsdistdist/docs/reference/config.rst
  regression-tests.dnsdist/paddingoption.py
  regression-tests.dnsdist/randompaddingoption.py
  regression-tests.dnsdist/test_CachePadding.py
  regression-tests.recursor-dnssec/paddingoption.py
Labels: enhancement, dnsdist

#16178 dnsdist: Fix setting meta keys on response, pass them from question to response
  pdns/dnsdistdist/dnsdist-actions-factory.cc
  pdns/dnsdistdist/dnsdist-idstate.cc
  pdns/dnsdistdist/dnsdist-idstate.hh
  pdns/dnsdistdist/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdistdist/dnsdist-lua-ffi-interface.h
  pdns/dnsdistdist/dnsdist-lua-ffi.cc
  pdns/dnsdistdist/dnsdist-lua-ffi.hh
  pdns/dnsdistdist/dnsdist.hh
  pdns/dnsdistdist/docs/reference/dq.rst
  pdns/dnsdistdist/test-dnsdist-lua-ffi.cc
  regression-tests.dnsdist/test_Protobuf.py
Labels: defect, dnsdist, backport to dnsdist-2.0.x

#16189 boring PR to move a single file
  pdns/logr.hh
  pdns/recursordist/logr.hh
Labels: auth, rec

#16193 lmdb: optional memory-only freshness check timestamp
  docs/backends/lmdb.rst
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
Labels: auth
