Repository PowerDNS/pdns, pull requests merged in 2025-07, with the labels that each got.

#15718 dnsdist: Return `nil` for non-existing Lua objects
  pdns/dnsdistdist/dnsdist-lua-bindings-dnscrypt.cc
  pdns/dnsdistdist/dnsdist-lua-bindings-dnsquestion.cc
  pdns/dnsdistdist/dnsdist-lua.cc
  regression-tests.dnsdist/test_Lua.py
Labels: defect, dnsdist, backport to dnsdist-1.9.x, backport to dnsdist-2.0.x

#15734 dnsdist-2.0.x: Backport 15729 - Enforce that additional addresses are DoT/DoH only
  pdns/dnsdistdist/dnsdist-configuration-yaml.cc
  pdns/dnsdistdist/dnsdist-settings-definitions.yml
Labels: defect, dnsdist

#15751 dnsdist: Error on unsupported backend protocols from YAML
  pdns/dnsdistdist/dnsdist-configuration-yaml.cc
Labels: defect, dnsdist, backport to dnsdist-2.0.x

#15747 dnsdist: Add a Lua binding to get objects declared in YAML
  pdns/dnsdistdist/dnsdist-configuration-yaml.cc
  pdns/dnsdistdist/dnsdist-configuration-yaml.hh
  pdns/dnsdistdist/dnsdist-console-completion.cc
  pdns/dnsdistdist/dnsdist-lua.cc
  pdns/dnsdistdist/dnsdist-settings-documentation-generator.py
  pdns/dnsdistdist/docs/reference/config.rst
  regression-tests.dnsdist/test_Console.py
Labels: defect, dnsdist

#15754 dnsdist: Error if backend certificate validation is enabled without a subject name
  pdns/dnsdistdist/dnsdist-configuration-yaml.cc
  pdns/dnsdistdist/dnsdist-lua.cc
  regression-tests.dnsdist/test_HealthChecks.py
Labels: defect, dnsdist, backport to dnsdist-1.9.x, backport to dnsdist-2.0.x

#15758 rec: start to listen on ::1 by default, but don't consider it an error if that fails
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-rust-lib/table.py
  pdns/recursordist/rec-tcp.cc
Labels: rec, enhancement

#15763 auth: Use arc4random(void *, size) in TSIG generation
  pdns/ednscookies.cc
  pdns/tsigutils.cc
Labels: auth, enhancement

#15764 fix coverity-reported stupid lmdb bug
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
Labels: auth, defect

#15760 dnsdist-2.0.x: Disable non-dnsdist workflows
  .github/workflows/build-and-test-all.yml
  .github/workflows/build-packages-daily-master.yml
  .github/workflows/builder.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/documentation.yml
  .github/workflows/formatting.yml
  .github/workflows/misc-dailies.yml
  .github/workflows/secpoll.yml
  .github/workflows/spelling.yml
  .github/workflows/spelling2.yml
  .github/workflows/spelling3.yml
Labels: dnsdist, ci

#15772 auth-4.9.x: backport crash on --version caused by doubly loaded modules
  Dockerfile-auth
Labels: auth

#15774 dnsdist-2.0.x: Backport 15707 - Prevent Lua bindings for backend from crashing on empty backend
  pdns/dnsdistdist/dnsdist-lua-bindings.cc
Labels: defect, dnsdist

#15777 dnsdist-2.0.x: Backport 15738 - Prevent users from opening the same LMDB twice
  pdns/dnsdistdist/dnsdist-kvs.cc
  pdns/dnsdistdist/dnsdist-kvs.hh
Labels: enhancement, dnsdist

#15767 lmdb NSEC3 record handling hygiene
  docs/appendices/backend-writers-guide.rst
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
  pdns/backends/gsql/gsqlbackend.cc
  pdns/backends/gsql/gsqlbackend.hh
  pdns/dbdnsseckeeper.cc
  pdns/dnsbackend.hh
  pdns/pdnsutil.cc
  pdns/rfc2136handler.cc
Labels: auth

#15791 lmdb NSEC3 record handling hygiene bugfix
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
Labels: auth, defect

#15792 auth-4.9.7 secpoll & changelog
  docs/changelog/4.9.rst
  docs/secpoll.zone
Labels: auth

#15784 dnsdist-2.0.x: Backport 15747 - Add a Lua binding to get objects declared in YAML
  pdns/dnsdistdist/dnsdist-configuration-yaml.cc
  pdns/dnsdistdist/dnsdist-configuration-yaml.hh
  pdns/dnsdistdist/dnsdist-console-completion.cc
  pdns/dnsdistdist/dnsdist-lua.cc
  pdns/dnsdistdist/dnsdist-settings-documentation-generator.py
  pdns/dnsdistdist/docs/reference/config.rst
  regression-tests.dnsdist/test_Console.py
Labels: dnsdist

#15801 dnsdist: Prepare ChangeLog and security polling zone for 2.0.0-rc1
  docs/secpoll.zone
  pdns/dnsdistdist/docs/changelog.rst
Labels: dnsdist

#15805 dnsdist-2.0.x: Backport 15639 - Add el-10 target
  builder-support/dockerfiles/Dockerfile.target.el-10
  builder-support/helpers/install_meson.sh
  builder-support/helpers/install_quiche.sh
  builder-support/helpers/install_rust.sh
Labels: dnsdist

#15798 lmdb NSEC3 record handling hygiene: return of the wrath of the seventh son of the phantom of the beast
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
  pdns/dbdnsseckeeper.cc
  pdns/pdnsutil.cc
  pdns/rfc2136handler.cc
Labels: auth

#15813 dnsdist: Properly link with `libdl` when building with `autotools`
  pdns/dnsdistdist/configure.ac
Labels: defect, dnsdist, backport to dnsdist-2.0.x

#15794 dnsdist: Add a selector to match the incoming protocol
  pdns/dnsdistdist/dnsdist-protocols.cc
  pdns/dnsdistdist/dnsdist-protocols.hh
  pdns/dnsdistdist/dnsdist-rules-factory.hh
  pdns/dnsdistdist/dnsdist-selectors-definitions.yml
  pdns/dnsdistdist/dnsdist-settings-documentation-generator.py
  pdns/dnsdistdist/docs/reference/selectors.rst
  regression-tests.dnsdist/test_IncomingProtocol.py
Labels: enhancement, dnsdist

#15825 Fewer mistakes in the auth documenation
  docs/domainmetadata.rst
  docs/guides/alias.rst
  docs/settings.rst
Labels: auth, docs

#15833 Fix narrowing conversion on 32-bit systems by using uint64_t instead …
  pdns/dnsdistdist/dnsdist-lua-configuration-items.cc
  pdns/dnsdistdist/dnsdist-lua.cc
  pdns/dnsdistdist/dnsdist-lua.hh
  pdns/dnsdistdist/test-dnsdistrules_cc.cc
Labels: defect, dnsdist, backport to dnsdist-2.0.x

#15827 Add record search capability to the LMDB backend
  docs/backends/lmdb.rst
  docs/upgrading.rst
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
  regression-tests.api/test_Zones.py
Labels: auth

#15839 dnsdist-2.0.x: Backport 15815 - Properly process the YAML source parameter for backends
  pdns/dnsdistdist/dnsdist-configuration-yaml.cc
Labels: defect, dnsdist

#15838 dnsdist-2.0.x: Backport 15819 - Handle named rcodes in the YAML configuration
  meson.build
  pdns/Makefile.am
  pdns/dns.cc
  pdns/dns.hh
  pdns/dnsdistdist/Makefile.am
  pdns/dnsdistdist/dnsdist-actions-definitions.yml
  pdns/dnsdistdist/dnsdist-configuration-yaml.cc
  pdns/dnsdistdist/dnsdist-rules-generator.py
  pdns/dnsdistdist/dnsdist-rust-lib/dnsdist-settings-generator.py
  pdns/dnsdistdist/dnsdist-selectors-definitions.yml
  pdns/dnsdistdist/dnsdist-settings-definitions.yml
  pdns/dnsdistdist/dnsdist-settings-documentation-generator.py
  pdns/dnsdistdist/meson.build
  pdns/dnsdistdist/test-dns_cc.cc
  pdns/test-dns_cc.cc
  regression-tests.dnsdist/test_DOH.py
  regression-tests.dnsdist/test_DOH3.py
  regression-tests.dnsdist/test_DOQ.py
  regression-tests.dnsdist/test_DynBlocksServFail.py
  regression-tests.dnsdist/test_Yaml.py
Labels: enhancement, dnsdist

#15826 dnsdist: Test accessing the rings via the console
  regression-tests.dnsdist/test_Console.py
Labels: enhancement, dnsdist

#14074 Auth feature: RFC9615 (authenticated DNSSEC bootstrapping)
  .github/actions/spell-check/expect.txt
  docs/dnssec/operational.rst
  docs/domainmetadata.rst
  docs/settings.rst
  pdns/dbdnsseckeeper.cc
  pdns/dnsseckeeper.hh
  pdns/packethandler.cc
  pdns/packethandler.hh
  pdns/pdnsutil.cc
  pdns/ws-auth.cc
  regression-tests.auth-py/test_AuthSignal.py
Labels: auth, feature request

#15822 dnsdist: Allow registering NMG objects from YAML
  pdns/dnsdistdist/dnsdist-configuration-yaml.cc
  pdns/dnsdistdist/dnsdist-rust-bridge.hh
  pdns/dnsdistdist/dnsdist-rust-lib/rust-middle-in.rs
  pdns/dnsdistdist/dnsdist-rust-lib/rust-post-in.rs
  pdns/dnsdistdist/dnsdist-settings-definitions.yml
  regression-tests.dnsdist/test_Yaml.py
Labels: defect, dnsdist

#15842 dnsdist-2.0.x: Backport 15823 - Bring back listening on multiple web server addresses
  pdns/dnsdistdist/dnsdist-configuration-yaml.cc
  pdns/dnsdistdist/dnsdist-configuration.hh
  pdns/dnsdistdist/dnsdist-lua.cc
  pdns/dnsdistdist/dnsdist-settings-definitions.yml
  pdns/dnsdistdist/dnsdist-web.cc
  pdns/dnsdistdist/dnsdist-web.hh
  pdns/dnsdistdist/dnsdist.cc
  regression-tests.dnsdist/test_API.py
  regression-tests.dnsdist/test_OutgoingDOH.py
  regression-tests.dnsdist/test_OutgoingTLS.py
  regression-tests.dnsdist/test_TLSSessionResumption.py
  regression-tests.dnsdist/test_Yaml.py
Labels: defect, dnsdist

#15848 rec: chain and harden ECS enabled queries
  pdns/dnsdistdist/dnsdist-ecs.cc
  pdns/dnsrecords.cc
  pdns/dnsrecords.hh
  pdns/ednsoptions.cc
  pdns/ednsoptions.hh
  pdns/iputils.hh
  pdns/recursordist/RECURSOR-MIB.in
  pdns/recursordist/RECURSOR-MIB.txt
  pdns/recursordist/lwres.cc
  pdns/recursordist/lwres.hh
  pdns/recursordist/metrics_table.py
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-rust-lib/table.py
  pdns/recursordist/rec-tcounters.hh
  pdns/recursordist/syncres.cc
  pdns/recursordist/syncres.hh
  regression-tests.recursor-dnssec/recursortests.py
  regression-tests.recursor-dnssec/test_Chain.py
  regression-tests.recursor-dnssec/test_ECS.py
  regression-tests.recursor-dnssec/test_SNMP.py
Labels: rec, defect

#15861 dnsdist: Fix out-of-tree builds with autotools
  pdns/dnsdistdist/Makefile.am
Labels: defect, dnsdist, backport to dnsdist-2.0.x

#15704 Rewrite pdnsutil in klingon
  docs/appendices/backend-writers-guide.rst
  docs/appendices/types.rst
  docs/backends/generic-sql.rst
  docs/backends/lmdb.rst
  docs/backends/pipe.rst
  docs/backends/remote.rst
  docs/catalog.rst
  docs/dnssec/advice.rst
  docs/dnssec/index.rst
  docs/dnssec/migration.rst
  docs/dnssec/modes-of-operation.rst
  docs/dnssec/operational.rst
  docs/dnssec/pdnsutil.rst
  docs/dnssec/pkcs11.rst
  docs/dnsupdate.rst
  docs/domainmetadata.rst
  docs/guides/algoroll.rst
  docs/guides/basic-database.rst
  docs/guides/kskroll.rst
  docs/guides/kskrollcdnskey.rst
  docs/guides/svcb.rst
  docs/guides/zskroll.rst
  docs/http-api/zone.rst
  docs/manpages/pdnsutil.1.rst
  docs/migration.rst
  docs/modes-of-operation.rst
  docs/running.rst
  docs/settings.rst
  docs/tsig.rst
  docs/upgrading.rst
  docs/views.rst
  pdns/pdnsutil.cc
  regression-tests.auth-py/test_AuthSignal.py
Labels: auth

#15868 dnsdist: Improve the scalability of the MAC address cache
  pdns/dnsdistdist/dnsdist-mac-address.cc
  pdns/dnsdistdist/dnsdist-mac-address.hh
Labels: enhancement, dnsdist, backport to dnsdist-2.0.x

#15870 dnsdist: Avoid constructing a DNSResponse object when not really needed
  pdns/dnsdistdist/dnsdist.cc
Labels: enhancement, dnsdist, backport to dnsdist-2.0.x

#15867 Provide record timestamps in the API
  docs/http-api/swagger/authoritative-api-swagger.yaml
  modules/lmdbbackend/lmdbbackend.cc
  modules/lmdbbackend/lmdbbackend.hh
  pdns/dns.hh
  pdns/ws-auth.cc
  regression-tests.api/test_Zones.py
Labels: auth

#15869 dnsdist: Small speedup for `getEDNSUDPPayloadSizeAndZ()`
  pdns/dnsparser.cc
  pdns/dnsparser.hh
Labels: enhancement, dnsdist, backport to dnsdist-2.0.x

#15872 dnsdist: Only parse EDNS Z once
  pdns/dnsdistdist/dnsdist-idstate.hh
  pdns/dnsdistdist/dnsdist-self-answers.cc
  pdns/dnsdistdist/dnsdist.cc
Labels: enhancement, dnsdist, backport to dnsdist-2.0.x

#15824 dnsdist: Test the built-in console client in our regression tests
  regression-tests.dnsdist/test_Console.py
Labels: enhancement, dnsdist

#15875 dnsdist-2.0.x: Backport 15861 - Fix out-of-tree builds with autotools
  pdns/dnsdistdist/Makefile.am
Labels: defect, dnsdist

#15877 dnsdist-2.0.x: Backport 15869 - Small speedup for getEDNSUDPPayloadSizeAndZ()
  pdns/dnsparser.cc
  pdns/dnsparser.hh
Labels: enhancement, dnsdist

#15880 dnsdist-2.0.x: Backport 15872 - Only parse EDNS Z once
  pdns/dnsdistdist/dnsdist-idstate.hh
  pdns/dnsdistdist/dnsdist-self-answers.cc
  pdns/dnsdistdist/dnsdist.cc
Labels: enhancement, dnsdist

#15879 dnsdist-2.0.x: Backport 15871 - Use an unordered map for pools
  pdns/dnsdistdist/dnsdist-configuration.hh
Labels: enhancement, dnsdist

#15887 rec: add version to edns record for OpenTelemetry data
  pdns/protozero-trace.cc
  pdns/protozero-trace.hh
  pdns/sdig.cc
Labels: rec, enhancement

#15888 rec: add a reserved/alignment byte in EDNS record
  pdns/protozero-trace.hh
Labels: rec, enhancement

#15889 rec-5.3.x: specialize branch workflows
  .github/workflows/build-and-test-all.yml
  .github/workflows/build-docker-images.yml
  .github/workflows/build-packages.yml
  .github/workflows/builder-dispatch.yml
  .github/workflows/builder-releases-dispatch.yml
  .github/workflows/builder.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverity-dispatch.yml
  .github/workflows/coverity.yml
  .github/workflows/docker.yml
  .github/workflows/documentation.yml
  .github/workflows/formatting.yml
  .github/workflows/misc-dailies.yml
  .github/workflows/secpoll.yml
  .github/workflows/spelling.yml
  .github/workflows/spelling2.yml
  .github/workflows/spelling3.yml
Labels: rec, ci

#15900 rec: prep for rec-5.3.0-beta1
  docs/secpoll.zone
  pdns/recursordist/docs/appendices/compiling.rst
  pdns/recursordist/docs/changelog/5.3.rst
  pdns/recursordist/docs/upgrade.rst
Labels: docs, rec

#15899 auth 5.0.0ß1 changelog + secpoll
  .github/actions/spell-check/expect.txt
  docs/changelog/5.0.rst
  docs/secpoll.zone
Labels: auth

#15890 LuaWrapper: Add support for `std::optional`
  ext/luawrapper/include/LuaContext.hpp
  pdns/test-luawrapper.cc
Labels: auth, rec, enhancement, dnsdist

#15909 Backport 15010 to rec-5.1.x: fix protobufServer(.. {taggedOnly=true}) logic for cache-returned responses
  pdns/recursordist/docs/lua-config/protobuf.rst
  pdns/recursordist/pdns_recursor.cc
  pdns/recursordist/rec-main.cc
  pdns/recursordist/rec-tcp.cc
  regression-tests.recursor-dnssec/test_Protobuf.py
Labels: rec, defect

#15920 dnsdist-2.0.x: Upgrade Cloudflare's Quiche to 0.24.4
  builder-support/helpers/quiche.json
Labels: enhancement, dnsdist

#15921 dnsdist-1.9.x: Upgrade Cloudflare's Quiche to 0.24.4
  builder-support/helpers/quiche.json
Labels: enhancement, dnsdist

#15923 dnsdist: Test netmask exclusions via YAML
  regression-tests.dnsdist/test_Yaml.py
Labels: enhancement, dnsdist

#15925 dnsdist-2.0.x: backport 15916 - Update rings' atomic counter without holding the lock
  pdns/dnsdistdist/dnsdist-rings.hh
Labels: enhancement, dnsdist

#15905 Backport 15368 to rec-5.2.x: fix generation of recursor config if PDNS_RECURSOR_API_KEY is set
  dockerdata/startup.py
Labels: rec, defect

#15906 Bacport 15435 to rec-5.2.x: add a Lua function to get the config dir and name
  pdns/recursordist/docs/lua-scripting/functions.rst
  pdns/recursordist/lua-recursor4.cc
Labels: rec, enhancement

#15908 Backport 15893 to rec-5.2.x: if a RPZ hit has a custom CNAME record, we should try harder to follow it
  pdns/recursordist/syncres.cc
  pdns/recursordist/test-syncres_cc1.cc
Labels: rec, defect

#15936 rec: Prep for 5.1.7 and 5.2.5
  docs/secpoll.zone
  pdns/recursordist/docs/changelog/5.1.rst
  pdns/recursordist/docs/changelog/5.2.rst
  pdns/recursordist/docs/lua-scripting/functions.rst
Labels: docs, rec

#15603 SVCB: allow parsing keys in generic format without value
  pdns/rcpgenerator.cc
  pdns/test-rcpgenerator_cc.cc
  pdns/test-svc_records_cc.cc
Labels: auth, needs review, backport to auth-5.0.x?

#15928 Make keyUnconv a bit less inefficient
  modules/lmdbbackend/lmdbbackend.cc
Labels: auth

#15948 auth: random edns cookies
  docs/settings.rst
  pdns/auth-main.cc
  regression-tests.auth-py/test_Cookies.py
Labels: auth

#15939 dnsdist: Increase the time granted for the "timeout then restart" test
  regression-tests.dnsdist/test_TimeoutResponse.py
Labels: defect, dnsdist, ci
